<div class="l-grid-row">
    <div class="l-col-12">
        <h2 class="c-h2">Pièce d'identité :
            {% if user.customValues.idattachment %}
                <a class="c-link" href="{{ user.customValues.idattachment }}" target="_blank">
                    <i class="fas fa-external-link-alt"></i>
                </a>
            {% endif %}
        </h2>
        <div class="c-form-group">
            <div class="u-relative">
                <input id="idattachment"
                       name="idattachment"
                       type="file"
                       class="c-form-control c-form-control--file js-file-input">
                <div class="c-addon-container">
                    <input class="c-form-control js-file-input-display"
                           placeholder="Parcourir..."
                           value="{{ user.customValues.idattachment }}">
                    <span class="c-icon icon-folder-open"></span>
                </div>
            </div>
            {% include 'main.partials.form-file-constraints' with config('somoney.form_constraints.file') %}
        </div>
    </div>
</div>

<hr class="u-mg-vt">

<h2 class="c-h2 u-mg-bottom">Informations personnelles</h2>

{% include 'framework.components.form.gender' %}
{% include 'framework.components.form.names' %}

<div class="l-grid-row">
    <div class="l-col-6">
        <div class="c-form-group u-mg-bottom-sm">
            {% include 'framework.components.form.fields.born-date' %}
        </div>
    </div>
    <div class="l-col-6">
        <div class="c-form-group u-mg-bottom-sm">
            <label class="c-form-label c-form-label--required" for="email">E-mail</label>
            <input type="email"
                   class="c-form-control js-form-control"
                   id="email"
                   name="user[email]"
                   placeholder="contact@mail.fr"
                   value="{{ old('user.email',user.email) }}">
        </div>
    </div>
</div>

<div class="l-grid-row">
    <div class="l-col-12">
        <div class="c-form-group u-mg-bottom-sm">
            {% include 'framework.components.form.fields.phone' %}
        </div>
    </div>
</div>

<hr class="u-mg-vt">

<h2 class="c-h2 u-mg-bottom">Adresse postale</h2>

{% include 'framework.components.form.address' with {forceHideAddressNotFound: true} %}

<hr />
<h2 class="c-h2 u-mg-bottom">Commentaire</h2>
<div class="l-grid-row">
    <div class="l-col-12">
        <div class="c-form-group u-mg-bottom-sm">
            <label class="c-form-label" for="comment">Commentaire</label>
            <textarea
                placeholder="Exemple : N° d'adhérent"
                rows="3"
                class="c-form-control c-form-control--textarea js-form-control"
                name="user[customValues][comment]"
            >{{ old('comment',user.customValues.comment) }}</textarea>
        </div>
    </div>
</div>

<hr />
