<div class="l-grid-table">
    <div class="l-grid-table__cell">
        <h2 class="c-h2">Pièce d'identité :</h2>
        {% if user.customValues.idattachment is not empty %}
            <a href="{{ user.customValues.idattachment }}" class="c-btn c-btn--secondary" download>Télécharger</a>
        {% else %}
            <button class="c-btn c-btn--secondary" disabled>Télécharger</button>
        {% endif %}
    </div>
    {# isOnNewUserShow defined in admin/users/show.twig #}
    {% if not isOnNewUserShow %}
        <div class="l-grid-table__cell u-right">
            <form action="{{ route('admin.users.delete',{userId: user.id}) }}" method="POST">
                {{ csrf_field() }}
                <input type="hidden" name="_method" value="DELETE">
                <button type="submit" class="c-btn c-btn--stroke c-btn--red c-btn--squeeze">
                    Souhaite quitter
                </button>
            </form>
        </div>
    {% endif %}
</div>

<hr class="u-mg-vt">

<h2 class="c-h2 u-mg-bottom">Informations personnelles</h2>
<div class="l-grid-row">
    <div class="l-col-6">
        <div class="c-form-group u-mg-bottom-sm">
            <label class="c-form-label">Civilité</label>
            <div class="c-addon-container">
                <select disabled class="c-form-control c-form-control--select js-form-control">
                    <option></option>
                    {% for gender in genders %}
                        <option value="{{ gender.id }}"
                                {% if user.customValues.gender.id == gender.id %}selected="selected"{% endif %}>{{ gender.value }}</option>
                    {% endfor %}
                </select>
                <span class="c-icon icon-chevron-down" aria-hidden="true"></span>
            </div>
        </div>
    </div>
    <div class="l-col-6">
        <div class="c-form-group u-mg-bottom-sm">
            <label class="c-form-label">Nom</label>
            <input disabled type="text" class="c-form-control js-form-control" value="{{ user.name }}">
        </div>
    </div>
</div>

<div class="l-grid-row">
    <div class="l-col-6">
        <div class="c-form-group u-mg-bottom-sm">
            <label class="c-form-label">Date de naissance</label>
            <div class="c-addon-container">
                <input disabled
                       class="c-form-control js-form-control c-form-control--date"
                       type="text"
                       value="{{ user.customValues.birthday | date('d/m/Y') }}">
            </div>
        </div>
    </div>
    <div class="l-col-6">
        <div class="c-form-group u-mg-bottom-sm">
            <label class="c-form-label">E-mail</label>
            <input disabled type="email" class="c-form-control js-form-control" value="{{ user.email }}">
        </div>
    </div>
</div>

<div class="l-grid-row">
    <div class="l-col-6">
        <div class="c-form-group u-mg-bottom-sm">
            <label class="c-form-label">Numéro de téléphone</label>
            <input disabled type="tel" class="c-form-control js-form-control" value="{{ user.phone }}">
        </div>
    </div>
</div>

<hr class="u-mg-vt">

<h2 class="c-h2 u-mg-bottom">Adresse postale</h2>
<div class="l-grid-row">
    <div class="l-col-12">
        <div class="c-form-group u-mg-bottom-sm">
            <label class="c-form-label">Adresse</label>
            <input disabled type="text" class="c-form-control js-form-control" value="{{ user.address.addressLine1 }}">
        </div>
    </div>
</div>

<div class="l-grid-row">
    <div class="l-col-6">
        <div class="c-form-group u-mg-bottom-sm">
            <label class="c-form-label">Code postal</label>
            <input disabled type="text" class="c-form-control js-form-control" value="{{ user.address.zip }}">
        </div>
    </div>
    <div class="l-col-6">
        <div class="c-form-group u-mg-bottom-sm">
            <label class="c-form-label">Ville</label>
            <input disabled type="text" class="c-form-control js-form-control" value="{{ user.address.city }}">
        </div>
    </div>
</div>

<hr class="u-mg-vt">

<h2 class="c-h2 u-mg-bottom">Commentaire</h2>
<div class="l-grid-row">
    <div class="l-col-12">
        <div class="c-form-group u-mg-bottom-sm">
            <label class="c-form-label">Commentaire</label>
            <textarea
                placeholder="Exemple : N° d'adhérent"
                disabled
                rows="3"
                class="c-form-control c-form-control--textarea js-form-control"
                name="user[customValues][comment]"
            >{{ old('comment',user.customValues.comment) }}</textarea>
        </div>
    </div>
</div>
