<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <style type="text/css">
            * {
                font-family: "Roboto Condensed", sans-serif;
                box-sizing: border-box;
            }

            img {
                display: inline-block;
                max-height: 100px;
                max-width: 200px;
            }

            h2 {
                display: inline-block;
                margin-left: 20px;
                text-transform: uppercase;
                font-weight: 300;
                line-height: 100px;
            }

            .text-right {
                text-align: right;
            }

            .text-left {
                text-align: left;
            }

            .text-center {
                text-align: center;
            }

            th {
                border-bottom: solid 1px gray;
                text-transform: uppercase;
            }

            .w-50 {
                width: 50%;
                display: inline-block;
                vertical-align: top;
            }

            .mt-20 {
                margin-top: 20px;
            }

            .mt-30 {
                margin-top: 30px;
            }

            .py-20 {
                padding: 20px 0;
            }

            .pl-20 {
                padding-left: 20px;
            }

            .pt-20 {
                padding-top: 20px;
            }

            table {
                width: 100%;
                border-collapse: collapse;
            }

            table th {
                text-align: left;
                font-weight: 300;
            }

            table td {
                padding: 5px 0;
            }

            .h2 {
                font-size: 20px;
            }

            .no-break {
                page-break-inside: avoid;
            }
        </style>
    </head>
    <body>
        <main>
            <div>
                <div class="pl-20 pt-20">
                    <img src="{{ public_path('assets/img/meta/favicon-196x196.png') }}">
                    <h2 class="py-20">Relevé mensuel d'opération</h2>
                </div>
            </div>
            <div class="mt-30">
                <div class="w-50">
                    <p class="h2">{{ month }}</p>
                </div>
                <div class="w-50">
                    <p class="text-right">
                        {{ user.name }}<br>
                        {{ user.address.addressLine1 }}<br>
                        {{ user.address.zip }}<br />
                        {{ user.address.city }}
                    </p>
                </div>
            </div>

            <div class="mt-20">
                <table>
                    <tr>
                        <th class="text-left">Solde au</th>
                        <th></th>
                    </tr>
                    <tr>
                        <td class="py-20 h2">{{ startDate }}</td>
                        <td class="py-20 text-right w-50 h2">{{ balanceMonthBegin | number_format(2, ',', '.') }} {{ config('somoney.money') }}</td>
                    </tr>
                </table>
            </div>

            <div class="mt-20">
                <table>
                    <tr>
                        <th>Date</th>
                        <th class="main">Description</th>
                        <th>Débit</th>
                        <th>Crédit</th>
                    </tr>
                    {% for transaction in transactions %}
                        <tr>
                            <td>{{ transaction.date }}</td>
                            <td>{{ transaction.description }}</td>
                            {% if transaction.amount < 0 %}
                                <td>{{ transaction.amount|number_format(2, ',', '.') }}</td>
                                <td>&nbsp;</td>
                            {% else %}
                                <td>&nbsp;</td>
                                <td>{{ transaction.amount|number_format(2, ',', '.') }}</td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </table>

                {% if transactions is empty %}
                    <p class="text-center">Aucune opérations enregistrées ce mois ci.</p>
                {% endif %}
            </div>

            <div class="mt-30">
                <table>
                    <tr>
                        <th class="text-left">Solde au</th>
                        <th></th>
                    </tr>
                    <tr>
                        <td class="py-20 h2">{{ endDate }}</td>
                        <td class="py-20 text-right w-50 h2">{{ balanceMonthEnd|number_format(2, ',', '.') }} {{ config('somoney.money') }}</td>
                    </tr>
                </table>
            </div>

            <div class="mt-30 no-break">
                <div class="w-50">
                    <p>
                        {{ config('somoney.contact.title') }}<br>
                        {{ config('somoney.contact.address') }}
                        {{ config('somoney.contact.zipcode') }}
                        {{ config('somoney.contact.city') }}<br>
                        {% if config('somoney.contact.phone') %}
                            {{ config('somoney.contact.phone') }} |
                        {% endif %}
                        {{ config('somoney.contact.email') }}<br>
                        <a href="{{ getProtocol() ~  config('somoney.domain.landing') }}">
                            {{ config('somoney.domain.landing') }}
                        </a>
                    </p>
                </div>
                <div class="w-50">
                    <p class="text-right">
                        {% if config('somoney.contact.siret') %}
                            {{ config('somoney.contact.siret') }}
                        {% endif %}
                        {% if config('somoney.contact.siret') and config('somoney.contact.naf') %} | {% endif %}
                        {% if config('somoney.contact.naf') %}
                            {{ config('somoney.contact.naf') }}
                        {% endif %}
                    </p>
                </div>
            </div>
        </main>
    </body>
</html>
