{% extends "main.templates.register.individual.layout" %}

{% set stepTitle = 'Identifiant et Mot de passe' %}
{% set pageStep = 1 %}

{% block formContent %}
    <form method="post"
          action="{{ route('register.individual.informations.account.post') }}"
          id="register-account-form">

        {{ csrf_field() }}

        <div class="c-form-group">
            <label class="c-form-label" for="email">E-mail</label>
            <input type="email"
                   class="c-form-control js-form-control"
                   id="email"
                   name="email"
                   placeholder="example@{{ config('somoney.domain.landing') }}"
                   value="{{ old('email',localUser.email) }}">
        </div>
        <div class="c-form-group">
            <label class="c-form-label" for="password">Mot de passe</label>
            <input type="password"
                   class="c-form-control js-form-control"
                   id="password"
                   name="password"
                   value="{{ old('password') }}">
            <span id="password-toggler" class="c-form-icon--clickable"><i class="fa fa-eye"></i></span>
            <div class="u-small u-grey60">
                Caractères autorisés : caractères alphanumériques + caractères spéciaux suivants : « <code>@!#%'*+-.:;<=>?</code>
                ».
            </div>
        </div>

        <button type="submit" class="c-btn c-btn--primary c-btn--full-width u-mg-top">Valider &amp; continuer</button>
    </form>

    {% include "main.partials.modals.registration" %}
{% endblock %}
