{% extends "main.templates.register.individual.layout" %}

{% set stepTitle = 'Informations personnelles' %}
{% set pageStep = 2 %}

{% block formContent %}
    <form method="post"
          action="{{ route('register.individual.informations.personal.post') }}"
          id="register-personal-form">

        {{ csrf_field() }}

        <div class="c-form-group">
            <label class="c-form-label" for="gender">Civilité</label>
            {% for gender in genders %}
                <input class="c-radio c-radio--btn u-inline-block u-mg-right"
                       type="radio"
                       id="radio-{{ gender.internalName }}"
                       name="gender"
                       value="{{ gender.id }}"
                    {% if old('gender', localUser.customValues.gender) == gender.id %}
                    checked="checked"
                    {% endif %}>
                <label for="radio-{{ gender.internalName }}"
                       class="c-btn-brick--thin {% if old('gender', localUser.customValues.gender) == gender.id %}is-active{% endif %}">
                    <i class="fa fa-2x fa-{{ gender.internalName == 'man' ? 'male' : 'female' }}"></i>
                </label>
            {% endfor %}
        </div>

        <div class="c-form-group">
            <label class="c-form-label" for="first_name">Prénom</label>
            <input type="text"
                   class="c-form-control js-form-control"
                   id="first_name"
                   name="firstname"
                   autocomplete="given-name"
                   placeholder="Jean"
                   value="{{ old('firstname', localUser.customValues.firstname) }}">
        </div>

        <div class="c-form-group">
            <label class="c-form-label" for="last_name">Nom</label>
            <input type="text"
                   class="c-form-control js-form-control"
                   id="last_name"
                   name="lastname"
                   autocomplete="family-name"
                   placeholder="Dupont"
                   value="{{ old('lastname', localUser.customValues.lastname) }}">
        </div>

        <div class="l-col-6 l-col-12-sm l-col-6-xs c-form-group c-form-group--half c-form-group--half_left">
            <label class="c-form-label" for="birthday">Date de naissance</label>
            <input type="text"
                   name="birthday"
                   id="birthday"
                   class="c-form-control c-form-control--date date-picker"
                   autocomplete="bday"
                   placeholder="12/02/1985"
                   value="{{ old('birthday', localUser.customValues.birthday | date('d/m/Y')) }}">
        </div>

        <div class="l-col-6 l-col-12-sm l-col-6-xs c-form-group c-form-group--half c-form-group--half_right u-mg-bottom">
            <label class="c-form-label" for="phone">Téléphone</label>
            <input type="tel"
                   class="c-form-control c-form-control--phone js-form-control js-phone"
                   id="phone"
                   name="phone"
                   placeholder="02 54 38 15 64"
                   value="{{ old('phone', localUser.phone) | replace({'+33':'0'}) }}">
        </div>

        {% if config('somoney.age.min') < 18 %}
            <div class="l-col-12 u-inline-center u-small u-mg-vt">
                Si vous avez entre {{ config('somoney.age.min') }} et 18 ans,<br>
                une autorisation parentale vous sera demandée
            </div>
        {% endif %}

        <button type="submit" class="c-btn c-btn--primary c-btn--full-width u-mg-top">Suivant</button>
    </form>
{% endblock %}
