// overrides
$datepickerBorderRadius: $border-radius;
$datepickerFontFamily: $font-family-base;
$datepickerFontSize: $font-size-base;
$datepickerTextColor: (
    button: $primary,
    otherMonth: $grey30,
    otherMonthInRange: $grey60,
    disabled: $grey60,
    currentDate: $primary,
    common: $text-color,
    dayNames: $primary,
    navArrows: $link-color
);
$datepickerBG: (
    selected: $primary,
    selectedHover: darken($primary, 5),
    inRange: rgba($grey30, .1),
    hover: $grey30
);

$datepickerBorderColor: (
    nav: $text-color,
    inline: $border-color,
    default: $border-color
);
// utils
@import "~air-datepicker/src/sass/cell";
@import "~air-datepicker/src/sass/navigation";
@import "~air-datepicker/src/sass/datepicker";
@import "~air-datepicker/src/sass/timepicker";
// sass
.datepicker--cell-day {
    width: calc(100% / 7);
}
