.c-addon-container {
    position: relative;

    > .c-icon {
        color: $grey25;
        font-size: $font-size-icon;
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        pointer-events: none;

        &--left {
            right: auto;
            left: 0;
        }
    }

    // Prevent text content to be in conflict with the icon
    .c-p {
        padding-right: 30px;
    }

    &--clickable {
        .c-icon {
            pointer-events: auto;
            transition: color $transition;

            &:hover,
            &:focus {
                color: $black;
            }
        }
    }
}
