.c-badge {
    @include badge();

    .c-img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        font-family: "object-fit: cover";
    }

    &--lg {
        width: $badge-size-lg;
        height: $badge-size-lg;

        .c-icon {
            font-size: 60px;
        }
    }

    &--stroke {
        border: 4px solid $grey30;
        background: none;

        &.c-badge--green {
            border-color: $green;
            color: $green;
        }

        &.c-badge--red {
            border-color: $red;
            color: $red;
        }

        &.c-badge--secondary {
            border-color: $blue;
            color: $blue;
        }
    }

    &--squared {
        border-radius: 0;
    }

}
