.c-img {
    width: 100%;
    height: auto;
    // see if it is not better to use rem here
    &--sm {
        height: 100px;
        @media (min-width: $main-breakpoint) {
            height: 200px;
        }
    }

    &--md {
        height: 200px;
        @media (min-width: $main-breakpoint) {
            height: 300px;
        }
    }

    &--lg {
        height: 300px;
        @media (min-width: $main-breakpoint) {
            height: 400px;
        }
    }
}

.c-full-img-container {
    position: fixed;
    // disable on mobile
    display: none;
    top: 0;
    bottom: 0;
    width: inherit;

    @media (min-width: $main-breakpoint) {
        display: block;
    }

    .c-img {
        height: 100%;
        margin-top: 50vh;
        transform: translateY(-50%);
    }
}

// Styles for broken image
img {
    line-height: 3;
    text-align: center;
    position: relative;
    display: block;

    &:before {
        content: "Oh mince, l'image ne semble pas être disponible :(";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        margin-bottom: 10px;
        color: $grey20;
        background: $grey50;
        border: 2px dotted $grey60;
    }
}

// Specific styles for responsive image standard with lazysizes
img[data-sizes="auto"] {
    display: block;
    width: 100%;
}

// Fade image in after load
.js-lazyload {

    &[data-loaded] {
        animation-name: fade;
        animation-duration: 500ms;
    }
}

// see what gradient / img we can load before img loading
