$tachometer-width: 220px;
$half-width: $tachometer-width / 2;

.c-tachometer {
    position: relative;
    display: inline-block;
    font-size: 0;
    min-width: $tachometer-width;

    &__center-bar {
        position: absolute;
        left: $half-width;
        transform: translateX(-50%);
        // tachometer stroke - center bar height for center vertical
        top: -2px;
        width: 2px;
        height: calc(#{$tachometer-width / 10});
        border-radius: 1.5px;
        background-color: $grey60;
        z-index: map-get($z-index, "tachometer-bar");
    }

    &__center-circle {
        position: absolute;
        left: $half-width;
        bottom: 0;
        transform: translate(-50%, 50%);
        border-radius: 50%;
        width: calc(#{$tachometer-width / 10});
        height: calc(#{$tachometer-width / 10});
        background-color: $grey60;
        z-index: map-get($z-index, "tachometer-bar");
    }

    &__hand {
        position: absolute;
        left: calc(#{$half-width} - 2px);
        bottom: 0;
        transform: rotate(0deg);
        transition: transform 2s;
        transform-origin: bottom;
        border-radius: 1.5px;
        width: 4px;
        height: calc(#{$tachometer-width / 4});
        background-color: $grey60;
        z-index: map-get($z-index, "tachometer-bar");
    }

    &__progress {
        width: $tachometer-width;
        height: $half-width;
        // border: 1px solid red;
    }

    &__progress-bar {
        fill: none;
        stroke: $grey20;
        stroke-width: 20;
        stroke-linecap: round;
    }

    &__progress-value {
        opacity: 0;
        stroke-dashoffset: 0;
        transition: stroke-dashoffset 2s;
        fill: none;
        stroke-width: 20;
        stroke-linecap: round;

        .l-view--individual & {
            stroke: $customer;
        }

        .l-view--professional & {
            stroke: $business;
        }
    }

    &__start,
    &__end {
        display: inline-block;
    }

    &--double {
        .c-tachometer {

            &__progress {
                transform: rotate(90deg);
                width: $half-width;
                height: $half-width;
            }

            &__end {
                .c-tachometer__progress {
                    transform: rotate(-90deg) scale(-1, 1);
                }
            }

        }
    }

}
