{% extends "framework.layout" %}

{% block content %}

    <div class="c-404 u-bg-grey u-pd-navbar">
        <h1 class="c-h1 u-grey60">403</h1>
        <p class="c-p u-large">{{  exception.getMessage() | default("Vous n'avez pas les droits pour accéder à cette page") }}</p>
        <a href="{{ session('auth.user.is_admin') ? route('admin.home') : route('home') }}"
           title=""
           alt=""
           class="c-btn c-btn--primary u-mg-top-lg">Retour au tableau de bord
        </a>
    </div>

{% endblock %}
