{% extends "framework.layout" %}
{% block content %}
    <div class="c-404 u-bg-grey u-pd-navbar">
        <h1 class="c-h1 u-grey60">404</h1>
        <p class="c-p u-large">Oups... cette page n'existe pas !</p>
        <a href="{{ session('auth.user.is_admin') ? route('admin.home') : route('home') }}"
           title="Retour au tableau de bord"
           class="c-btn c-btn--primary u-mg-top-lg">Retour au tableau de bord
        </a>
    </div>
{% endblock %}
