{% extends "framework.layout" %}

{% block content %}

<div class="c-404 u-bg-grey">
	<h1 class="c-h1 u-grey60">503</h1>
	<p class="c-p u-large">Une maintenance est en cours... Revenez dans quelques minutes !</p>
</div>

{% endblock %}
