{% extends "framework.layout" %}

{% block content %}

    <div class="c-404 u-bg-grey">
        <h1 class="c-h1 u-grey60">503</h1>
        <p class="c-p u-large">Le serveur est actuellement incapable de traiter la demande en raison d'une surcharge
                               temporaire ou d'une maintenance planifiée, qui sera probablement réduite après un certain
                               délai.
        </p>
        <a href="{{ session('auth.user.is_admin') ? route('admin.home') : route('home') }}"
           title=""
           alt=""
           class="c-btn c-btn--primary u-mg-top-lg">Retour au tableau de bord
        </a>
    </div>

{% endblock %}
