<label class="c-form-label c-form-label--required" for="birthday">Date de naissance</label>
<input id="birthday"
       name="birthday"
       type="text"
       class="c-form-control c-form-control--date date-picker"
       autocomplete="bday"
       placeholder="12/02/1985"
        {% if '/' in  old('birthday', user.customValues.birthday) %}
            value="{{ old('birthday', user.customValues.birthday) }}"
        {% else %}
            value="{{ old('birthday', user.customValues.birthday) | date('d/m/Y') }}"
        {% endif %}
>