<label class="c-form-label c-form-label--required" for="phone">Numéro de téléphone</label>
<input type="tel"
       class="c-form-control js-form-control js-phone"
       id="phone"
       name="phone"
       placeholder="02 54 38 15 64"
       value="{{ old('phone',user.phone) }}">