$modal-size: $modal-md;
$modal-margin-top: calc-rem(75px);
$modal-padding: calc-rem(120px) calc-rem(40px);

/*

NOTE:
- Element classes "modal", "modal-open" & "modal-backdrop",
	and state classes "fade" & "in" are hard coded in angular UI script,
	and cannot be changed.
- Styles are duplicated from Bootstrap framework.
*/

.modal-open {
    overflow: hidden;

    .modal {
        overflow-x: hidden;
        overflow-y: auto;
    }
}

// Container in which the modal scrolls
.modal {
    display: none;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: map-get($z-index, modal);
    outline: 0;

    // States
    &.fade {
        .modal-dialog {
            transform: translate(0, -25%);
            transition: transform $transition-time-default $transition-easing-default;
        }
    }

    &.in {
        .modal-dialog {
            transform: translate(0, 0);
        }
    }
}

.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: map-get($z-index, modal-backdrop);
    background-color: $black-opaque;
}

/*
	Proper framework style
*/

.c-modal-content {
    position: relative;
    width: auto;
    background-color: $white;
    border-radius: $border-radius-large;
    text-align: center;
    padding: $modal-padding;
    @media (min-width: $main-breakpoint) {
        width: $modal-size;
        margin: $modal-margin-top auto 0;
    }

    &__close-btn {
        font-size: calc-rem(30px);
        position: absolute;
        top: 20px;
        right: 20px;
        color: $grey25;
        line-height: 1;
    }
}
