// This is the container 'black box'
.c-tooltip-inner {
    border-radius: $border-radius-base;
    padding: calc-rem(10px) calc-rem(15px);
    font-size: $font-size-small;
}

.c-tooltip-trigger {
    &.c-icon {
        color: $grey25;
        transition: color $transition;

        &:hover,
        &:focus {
            outline: 0;
            color: $secondary;
            cursor: help;
        }
    }
}
