{% set title = title | default(config('somoney.money')~", la monnaie locale "~(config('somoney.occupant'))) %}
{% set description = description|default("Gérez votre  monnaie locale "~(config('somoney.occupant'))~" "~(config('somoney.money'))~" en ligne de façon simple !") %}

<title>{{ title }}</title>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<link rel="canonical" href="{{ url_current() }}">

<link rel="icon" type="image/png" href="/assets/img/meta/favicon-16x16.png" sizes="16x16">
<link rel="icon" type="image/png" href="/assets/img/meta/favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="/assets/img/meta/favicon-96x96.png" sizes="96x96">
<link rel="icon" type="image/png" href="/assets/img/meta/favicon-160x160.png" sizes="160x160">
<link rel="icon" type="image/png" href="/assets/img/meta/favicon-196x196.png" sizes="196x196">

<link rel="apple-touch-icon" href="/assets/img/meta/apple-touch-icon-57x57.png" sizes="57x57">
<link rel="apple-touch-icon" href="/assets/img/meta/apple-touch-icon-60x60.png" sizes="60x60">
<link rel="apple-touch-icon" href="/assets/img/meta/apple-touch-icon-72x72.png" sizes="72x72">
<link rel="apple-touch-icon" href="/assets/img/meta/apple-touch-icon-76x76.png" sizes="76x76">
<link rel="apple-touch-icon" href="/assets/img/meta/apple-touch-icon-114x114.png" sizes="114x114">
<link rel="apple-touch-icon" href="/assets/img/meta/apple-touch-icon-120x120.png" sizes="120x120">
<link rel="apple-touch-icon" href="/assets/img/meta/apple-touch-icon-144x144.png" sizes="144x144">
<link rel="apple-touch-icon" href="/assets/img/meta/apple-touch-icon-152x152.png" sizes="152x152">

<meta name="description" content="{{ description }}">

<meta property="og:title" content="{{ title }}">
<meta property="og:description" content="{{ description }}">
<meta property="og:type" content="website">
<meta property="og:url" content="{{ url_full() }}">

<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="{{ url_full() }}">
<meta name="twitter:title" content="{{ title }}">
<meta name="twitter:description" content="{{ description }}">
<meta name="twitter:creator" content="">
<meta name="twitter:image:src" content="">

{% if refreshUrl %}
<meta http-equiv="refresh" content="5; url={{ refreshUrl | default(route('home')) }}">
{% endif %}
