<section class="sg-section">

	<h2 class="c-h2 sg-h2">Autocomplete</h2>

	<p class="c-p u-mg-bottom-sm">The autocomplete component is a custom input which proposes results. It allows the browser to predict the value.</p>
	<p class="c-p u-mg-bottom-sm">The autocomplete component use the <a href="https://github.com/bassjobsen/Bootstrap-3-Typeahead" class="c-link" target="_blank">Bootstrap-3-Typeahead</a>.</p>

	<br>

	<div class="sample">
		<div class="c-form-group">
			<label class="c-form-label" for="form-name">Autocomplete</label>
			<input type="text" class="c-form-control" data-provide="typeahead" data-source='["array", "asset", "autocomplete"]'>
		</div>

		<div class="c-form-group c-form-group--inline">
			<label class="c-form-label" for="form-name">Autocomplete</label>
			<input type="text" class="c-form-control" data-provide="typeahead" data-source='["array", "asset", "autocomplete"]'>
		</div>
	</div>

	<br>

	<div class="code">
		<pre>
			<code class="language-markup">
				<div class="c-form-group">
					<label class="c-form-label" for="form-name">Autocomplete</label>
					<input type="text" class="c-form-control" data-provide="typeahead" data-source="">
				</div>

				<div class="c-form-group c-form-group--inline">
					<label class="c-form-label" for="form-name">Autocomplete</label>
					<input type="text" class="c-form-control" data-provide="typeahead" data-source="">
				</div>
			</code>
		</pre>
	</div>

</section>
