<section class="sg-section">

	<h2 class="c-h2">
		Checkboxes &amp; Radio button
	</h2>

	<br>

	<p class="c-p">
		Checkboxes and radio don't use the same class as the other inputs. Use the <code>c-checkbox</code> or <code>c-radio</code> classes. <br>
		Only the label is visible by users so don't forget to link the input (<code>id=""</code>) with the label (<code>for=""</code>)
	</p>

	<br>

	<h3 class="c-h3">
		Checkboxes
	</h3>

	<br>

	<div class="sample">
		<div class="c-form-group">
			<input class="c-checkbox" type="checkbox" id="checkbox-conditions" name="checkbox conditions" value="">
			<label for="checkbox-conditions">
				J’accepte les Conditions Générales d’Utilisation
			</label>
		</div>

		<div class="c-form-group">
			<input class="c-checkbox" checked type="checkbox" id="checkbox-newsletter" name="checkbox newsletter" value="">
			<label for="checkbox-newsletter">J’accepte les Conditions Générales d’Utilisation</label>
		</div>
	</div>

	<div class="code">
		<pre>
			<code class="language-markup">
				<div class="c-form-group">
					<input class="c-checkbox" type="checkbox" id="checkbox-conditions" name="checkbox conditions" value="">
					<label for="checkbox-conditions">
						J’accepte les Conditions Générales d’Utilisation
					</label>
				</div>

				<div class="c-form-group">
					<input class="c-checkbox" checked type="checkbox" id="checkbox-newsletter" name="checkbox newsletter" value="">
					<label for="checkbox-newsletter">J’accepte les Conditions Générales d’Utilisation</label>
				</div>
			</code>
		</pre>
	</div>

	<br>

	<h3 class="c-h3">
		Radio
	</h3>

	<br>

	<div class="sample">
		<div class="c-form-group">
			<input class="c-radio" type="radio" id="radio-pro" name="radio-profil" value="">
			<label for="radio-pro">
				Professionnel
			</label>
		</div>

		<div class="c-form-group">
			<input class="c-radio" type="radio" id="radio-customer" name="radio-profil" value="">
			<label for="radio-customer">
				Particulier
			</label>
		</div>
	</div>

	<div class="code">
		<pre>
			<code class="language-markup">
				<div class="c-form-group">
					<input class="c-radio" type="radio" id="radio-pro" name="radio-profil" value="">
					<label for="radio-pro">
						Professionnel
					</label>
				</div>

				<div class="c-form-group">
					<input class="c-radio" type="radio" id="radio-customer" name="radio-profil" value="">
					<label for="radio-customer">
						Particulier
					</label>
				</div>
			</code>
		</pre>
	</div>
</section>
