<section class="sg-section">
    <h2 class="c-h2 sg-h2">Forms</h2>

    <p class="c-p">
        Individual form controls automatically receive some global styling. All textual <code>input</code>, <code>textarea</code>, and <code>select</code> elements with <code>.c-form-control</code> are set to <code>width: 100%;</code> by default (use a container to constrain width). Wrap labels and controls in <code>.c-form-group</code> for optimum spacing.
    </p>

    <p class="c-p">
        If an input is required add the modifier <code>c-form-label--required</code> in the label tag. <br>
		Note that you can add a star to show a required input. To do so add class <code>c-form-label--required</code>
    </p>

    <p class="c-p">
        The <code>js-form-control</code> class allows to detect the focus and to add an <code>is-focused</code> class to the <code>c-form-group</code>.
    </p>

    <br>

    <div class="sample">
        <div class="c-form-group">
            <label class="c-form-label c-form-label--required" for="form-name">Nom</label>
            <input type="text" class="c-form-control js-form-control" id="form-name" placeholder="Votre nom">
        </div>
    </div>

    <br>

    <div class="code">
        <pre>
            <code class="language-markup">
                <div class="c-form-group">
                    <label class="c-form-label c-form-label--required" for="form-name">Nom</label>
                    <input type="text" class="c-form-control js-form-control" id="form-name" placeholder="Votre nom">
                </div>
            </code>
        </pre>
    </div>

    <br>
	<h3 class="c-h3 sg-h3">Form error</h3>

    <p class="c-p">
		Add the <code>has-error</code> class to the <code>c-form-group</code> to highlight your input in case of error.
    </p>
	<br>

    <div class="sample">
        <div class="c-form-group has-error">
            <label class="c-form-label c-form-label--required" for="form-name">Nom</label>
            <input type="text" class="c-form-control js-form-control" id="form-name" placeholder="Votre nom">
        </div>
    </div>

    <br>

    <div class="code">
        <pre>
 			<code class="language-markup">
                <div class="c-form-group has-error">
                    <label class="c-form-label c-form-label--required" for="form-name">Nom</label>
                    <input type="text" class="c-form-control js-form-control" id="form-name" placeholder="Votre nom">
                </div>
 			</code>
		</pre>
    </div>

    <br>
    <h3 class="c-h3">
        Password input
    </h3>

	<br>

	<p class="c-p">
        The password input uses jQuery to toggle the input type thanks to the <code>js-toggle-password</code> class.
    </p>

    <br>

    <div class="sample">
        <div class="c-form-group">
            <label class="c-form-label" for="form-password">Mot de passe</label>
			<div class="c-addon-container c-addon-container--clickable">
				<input type="password" class="c-form-control js-form-control" id="form-password" placeholder="Mot de passe">
				<button type="button" class="c-icon icon-preview js-toggle-password"></button>
			</div>
        </div>
    </div>

    <br>

    <div class="code">
        <pre>
 			<code class="language-markup">
                <div class="c-form-group">
                    <label class="c-form-label" for="form-password">Mot de passe</label>
        			<div class="c-addon-container c-addon-container--clickable">
        				<input type="password" class="c-form-control js-form-control" id="form-password" placeholder="Mot de passe">
        				<button type="button" class="c-icon icon-preview js-toggle-password"></button>
        			</div>
                </div>
 			</code>
		</pre>
    </div>

    <br>

    <h3 class="c-h3">
        Textarea
    </h3>

    <br>

    <p class="c-p">
        When implementing a textarea, add the <code>.c-form-control--textarea</code> class to the tag.
    </p>

    <br>

    <div class="sample">
        <form name="formTextarea">
	        <div class="c-form-group">
	            <label class="c-form-label" for="form-info">
	                Informations pratiques
	            </label>
	            <textarea rows="3" class="c-form-control c-form-control--textarea js-form-control" id="form-info" placeholder="Message..."></textarea>
	        </div>
	    </form>
    </div>

    <div class="code">
        <pre>
 			<code class="language-markup">
				<form name="formTextarea">
			        <div class="c-form-group">
						<label class="c-form-label" for="form-info">
			                Informations pratiques
			            </label>
			            <textarea rows="3" class="c-form-control c-form-control--textarea js-form-control" id="form-info" placeholder="Message..."></textarea>
			        </div>
			    </form>
 			</code>
		</pre>
    </div>

    <br>
    <h3 class="c-h3">
        Addon icon
    </h3>
    <br>

    <p class="c-p">
        You can add an icon to the right of the input to specified the type of value you are expecting. <br>
    </p>

    <br>

    <div class="sample">
        <div class="c-form-group">
            <label class="c-form-label" for="form-date">Date</label>
            <div class="c-addon-container">
                <input class="c-form-control js-form-control" placeholder="jj/mm/aaaa" type="text" name="form-date">
                <span class="c-icon icon-calendar" aria-hidden="true"></span>
            </div>
        </div>
    </div>

    <div class="code">
        <pre>
 			<code class="language-markup">
                <div class="c-form-group">
                    <label class="c-form-label" for="form-date">Date</label>
                    <div class="c-addon-container">
                        <input class="c-form-control js-form-control" placeholder="JJ/MM/AAAA" type="text" name="form-date">
                        <span class="c-icon icon-calendar" aria-hidden="true"></span>
                    </div>
                </div>
 			</code>
		</pre>
    </div>

    <br>
    <h3 class="c-h3">
        Selectbox
    </h3>
    <br>

    <p class="c-p">
        Add the <code>c-form-control--select</code> class to the the select tag.
    </p>

    <br>

    <div class="sample">
        <div class="c-form-group">
            <label class="c-form-label" for="form-birth">Année de naissance</label>
            <div class="c-addon-container">
                <select id="form-birth" class="c-form-control c-form-control--select js-form-control">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
                <span class="c-icon icon-chevron-down" aria-hidden="true"></span>
            </div>
        </div>
    </div>

    <div class="code">
        <pre>
 			<code class="language-markup">
                <div class="c-form-group">
                    <label class="c-form-label" for="form-birth">Année de naissance</label>
                    <div class="c-addon-container">
                        <select id="form-birth" class="c-form-control c-form-control--select js-form-control">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                        <span class="c-icon icon-chevron-down" aria-hidden="true"></span>
                    </div>
                </div>
 			</code>
		</pre>
    </div>

    <br>

    <h3 class="c-h3">
        Selectbox with placeholder value
    </h3>

    <br>

    <div class="sample">
        <div class="c-form-group">
            <label class="c-form-label" for="form-birth2">Année de naissance</label>
            <div class="c-addon-container">
                <select id="form-birth2" class="c-form-control c-form-control--select js-form-control">
                    <option disabled selected>Saisissez votre année de naissance</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
                <span class="c-icon icon-chevron-down" aria-hidden="true"></span>
            </div>
        </div>
    </div>

    <div class="code">
        <pre>
 			<code class="language-markup">
                <div class="c-form-group">
                    <label class="c-form-label" for="form-birth2">Année de naissance</label>
                    <div class="c-addon-container">
                        <select id="form-birth2" class="c-form-control c-form-control--select js-form-control">
                            <option disabled selected>Saisissez votre année de naissance</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                        <span class="c-icon icon-chevron-down" aria-hidden="true"></span>
                    </div>
                </div>
 			</code>
		</pre>
    </div>

    <br>

    <h3 class="c-h3">
        Form file
    </h3>
    <br>

    <p class="c-p">
        Input file use a <a href="https://www.quirksmode.org/dom/inputfile.html" target="_blank">hack</a> to display properly.
    </p>

    <br>

    <div class="sample">
		<div class="u-relative">
			<input type="file" class="c-form-control c-form-control--file js-file-input">
			<div class="c-addon-container">
				<input class="c-form-control js-file-input-display" placeholder="Parcourir...">
				<span class="c-icon icon-folder-open"></span>
			</div>
		</div>
    </div>

    <div class="code">
        <pre>
 			<code class="language-markup">
				<div class="u-relative">
					<input type="file" class="c-form-control c-form-control--file js-file-input">
					<div class="c-addon-container">
						<input class="c-form-control js-file-input-display" placeholder="Parcourir...">
						<span class="c-icon icon-folder-open"></span>
					</div>
				</div>
 			</code>
		</pre>
    </div>

    <br>

    <h3 class="c-h3">
        Form inline
    </h3>

    <br>

    <div class="sample">
		<div class="c-form-group c-form-group--inline">
            <label class="c-form-label c-form-label--required" for="form-name">Catégorie</label>
            <input type="text" class="c-form-control js-form-control" id="form-name" placeholder="Votre nom">
        </div>
    </div>

    <div class="code">
        <pre>
 			<code class="language-markup">
				<div class="c-form-group c-form-group--inline">
					<label class="c-form-label c-form-label--required" for="form-name">Catégorie</label>
					<input type="text" class="c-form-control js-form-control" id="form-name" placeholder="Votre nom">
				</div>
 			</code>
		</pre>
    </div>

</section>
