{% extends "main.layout" %}

{% set asideContext = 'operations.historic.index' %}
{% import 'main.partials.macros.tables' as tables %}

{% block main %}
    <div class="l-container u-pd">

        <h1 class="c-h1 u-grey25 u-normal-weight u-mg-bottom-sm">Historique des opérations</h1>

        <div class="c-card l-grid-table">
            <div class="l-grid-table__cell">
                <h2 class="c-h2">Solde du compte</h2>
            </div>
            <div class="l-grid-table__cell l-grid-table__cell--main u-inline-right">
                <p class="c-h1">
                    {{ session('auth.user.account.status.balance') | number_format(2, ',', ' ') }}
                    <span class="c-icon icon-money"></span>
                </p>
            </div>
        </div>

        <div class="c-card u-mg-vt u-pd-hz-reset">
            <h2 class="c-h2 u-pd-hz u-mg-bottom">Rechercher une opération</h2>

            <form class="u-pd-hz l-grid-row u-mg-bottom" method="GET" action="{{ route('operations.historic.index') }}">
                <div class="l-col-3 l-col-6-sm">
                    <div class="c-form-group u-mg-bottom-sm">
                        <label class="c-form-label" for="month">filtrer par mois</label>
                        <div class="c-addon-container">
                            <select id="month"
                                    class="c-form-control c-form-control--select js-form-control"
                                    name="filters[datePeriod]">
                                <option value="">12 derniers mois</option>
                                {% for month in months %}
                                    <option value="{{ month.interval }}"
                                            {% if filters.datePeriod == month.interval %}selected="selected"{% endif %}>
                                        {{ month.date.formatLocalized('%B %Y')  | capitalize }}
                                    </option>
                                {% endfor %}
                            </select>
                            <span class="c-icon icon-chevron-down" aria-hidden="true"></span>
                        </div>
                    </div>
                </div>
                <div class="l-col-3 l-col-6-sm">
                    <div class="c-form-group u-mg-bottom-sm">
                        <label class="c-form-label" for="payMod">mode de paiement</label>
                        <div class="c-addon-container">
                            <select id="payMod"
                                    class="c-form-control c-form-control--select js-form-control"
                                    name="filters[channels]">
                                <option value="">Tous les modes</option>
                                {% for canalKey, canalName in config('somoney.canals') %}
                                    {% set selected =  filters.channels == canalKey ? 'selected="selected"' : '' %}
                                    <option value="{{ canalKey }}" {{ selected }}>
                                        {{ canalName }}
                                    </option>
                                {% endfor %}
                            </select>
                            <span class="c-icon icon-chevron-down" aria-hidden="true"></span>
                        </div>
                    </div>
                </div>
                <div class="l-col-3 l-col-6-sm">
                    <div class="c-form-group u-mg-bottom-sm">
                        <label class="c-form-label" for="operation">Débits / crédits</label>
                        <div class="c-addon-container">
                            <select id="operation"
                                    class="c-form-control c-form-control--select js-form-control"
                                    name="filters[direction]">
                                <option value="">Toutes les opérations</option>
                                <option value="debit"
                                        {% if filters.direction == "debit" %}selected="selected"{% endif %}>Débits
                                </option>
                                <option value="credit"
                                        {% if filters.direction == "credit" %}selected="selected"{% endif %}>Crédits
                                </option>
                            </select>
                            <span class="c-icon icon-chevron-down" aria-hidden="true"></span>
                        </div>
                    </div>
                </div>
                <div class="l-col-3 l-col-6-sm u-vertical-bottom u-mg-bottom-sm">
                    <label class="c-form-label u-invisible" for="">validation</label>
                    <button type="submit" class="c-btn c-btn--primary c-btn--stroke c-btn--squeeze c-btn--full-width">
                        Filtrer
                    </button>
                </div>
            </form>

            <h2 class="c-h2 u-pd-hz u-mg-top-sm u-mg-bottom">Historique des opérations</h2>

            <div class="c-table">
                <div class="c-table__thead">
                    <div class="c-table__cell c-label">Date</div>
                    <div class="c-table__cell c-label">Opération</div>
                    <div class="c-table__cell c-label">Débiteur/Créditeur</div>
                    <div class="c-table__cell c-label u-inline-right">Montant</div>
                </div>

                <div class="c-table__tbody">
                    {% for operation in operations %}
                        <div class="c-table__row">
                            <div class="c-table__cell">{{ operation.date | date('d/m/Y') }}</div>
                            <div class="c-table__cell">{{ operation.description }}</div>
                            <div class="c-table__cell">
                                {% if operation.relatedAccount.kind == 'user' %}
                                    {{ operation.relatedAccount.user.display }}
                                {% elseif operation.relatedAccount.kind == 'system' %}
                                    {{ operation.relatedAccount.type.name }}
                                {% endif %}
                            </div>
                            <div class="c-table__cell u-inline-right u-bold {{ operation.amount > 0 ? 'u-green' : '' }}">
                                {{ operation.amount | number_format(2, ',', ' ') }}
                                &nbsp;<span class="c-icon icon-money"></span>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="l-grid-table u-pd-sm">
                <div class="l-grid-table__cell">
                    {% if transactions.currentPage > 1 %}
                        <a href="{{ route('operations.historic.index', {'filters' : filters} | merge({'page' : transactions.currentPage - 1})) }}"
                           class="c-label c-link u-uppercase">
                            <span class="c-icon icon-chevron-left"></span> Page précédente
                        </a>
                    {% endif %}
                </div>
                <div class="l-grid-table__cell u-inline-right">
                    {% if transactions.currentPage < transactions.lastPage %}
                        <a href="{{ route('operations.historic.index', {'filters' : filters} | merge({'page' : transactions.currentPage + 1})) }}"
                           class="c-link c-label u-uppercase">
                            Page suivante<span class="c-icon icon-chevron-right"></span>
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="c-card u-mg-vt">
            <h2 class="c-h2 u-mg-bottom-sm">Mes relevés mensuels d'opérations</h2>
            {% if errors.has(['filters']) %}
                <div class="c-alert c-alert--error u-mg-bottom">
                    <ul class="c-list">
                        {% for error in errors.all() %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            <form class="u-pd-hz l-grid-row u-mg-bottom" method="GET" action="{{ route('operations.historic.export.pdf') }}">
                <div class="l-grid-table l-grid-table--responsive">
                    <div class="l-grid-table__cell">
                        <div class="c-form-group">
                            <label class="c-form-label" for="form-birth">Mois</label>
                            <div class="c-addon-container">
                                <select id="month"
                                        class="c-form-control c-form-control--select js-form-control"
                                        name="filters[datePeriod]">
                                    {% for month in months %}
                                        <option value="{{ month.interval }}"
                                                {% if filters.datePeriod == month.interval %}selected="selected"{% endif %}>
                                            {{ month.date.formatLocalized('%B %Y') | capitalize }}
                                        </option>
                                    {% endfor %}
                                </select>
                                <span class="c-icon icon-chevron-down" aria-hidden="true"></span>
                            </div>
                        </div>
                    </div>
                    <div class="l-grid-table__cell u-inline-right u-vertical-bottom">
                        <button class="c-btn c-btn--stroke c-btn--squeze c-btn--primary">
                            Télécharger en PDF
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div class="c-card u-mg-vt">
            <h2 class="c-h2 u-mg-bottom-sm">Toutes les opérations</h2>
            <form class="u-pd-hz l-grid-row u-mg-bottom" method="GET" action="{{ route('operations.historic.export.xls') }}">
                <div class="l-grid-table l-grid-table--responsive">
                    <div class="l-grid-table__cell u-inline-center u-vertical-bottom">
                        <button class="c-btn c-btn--stroke c-btn--squeze c-btn--primary">
                            Télécharger
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
