{% extends "main.layout" %}

{% set asideContext = 'operations.request.index' %}

{% block main %}
    <div class="l-container u-pd">
        <div class="l-grid-row">
            <div class="l-col-8">

                <h1 class="c-h1 u-grey25 u-normal-weight u-mg-bottom-sm">Demande de paiement</h1>

                <div class="c-card">
                    <h2 class="c-h2 u-mg-bottom">Envoyer une demande de paiement</h2>

                    <form method="POST" action="{{ route('operations.request.store') }}">

                        {{ csrf_field() }}

                        {% include 'main.partials.form-errors' %}

                        <div class="recipientChooser">
                            <label class="c-form-label">Type de destinataire</label>
                            <div class="c-form-group u-inline-block u-mg-right">
                                <input class="c-radio"
                                       type="radio"
                                       id="radio-pro"
                                       name="profil"
                                       value="professional"
                                       checked="checked">
                                <label for="radio-pro">
                                    Professionnel
                                </label>
                            </div>

                            <div class="c-form-group u-inline-block u-mg-reset">
                                <input class="c-radio"
                                       type="radio"
                                       id="radio-individual"
                                       name="profil"
                                       value="individual">
                                <label for="radio-individual">
                                    Particulier
                                </label>
                            </div>

                            <div class="c-form-group u-mg-top u-mg-bottom-sm desc is-professional">
                                <label class="c-form-label" for="form-name">Nom du professionnel</label>
                                <select
                                    class="c-form-control autocomplete-professional-users select2"
                                    name="professional_email"
                                    id="form-name"
                                    data-exclude="{{ session('auth.user.id') }}">
                                </select>
                            </div>

                            <div class="c-form-group u-mg-top u-mg-bottom-sm desc is-individual">
                                <label class="c-form-label" for="form-name2">E-mail du particulier</label>
                                <select
                                    class="c-form-control autocomplete-individual-users select2"
                                    name="individual_email"
                                    id="form-name2"
                                    data-exclude="{{ session('auth.user.id') }}">
                                </select>
                            </div>
                        </div>

                        <div class="l-grid-row">
                            <div class="l-col-6 u-mg-bottom-sm">
                                <div class="c-form-group">
                                    <label class="c-form-label" for="transfer-value">Montant du virement</label>
                                    <div class="c-addon-container">
                                        <input name="amount" class="c-form-control" type="text" id="transfer-value">
                                        <span class="c-icon icon-money"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="l-col-6 u-mg-bottom-sm">
                                <div class="c-form-group">
                                    <label class="c-form-label" for="label">Libellé de l'opération</label>
                                    <input name="title"
                                           type="text"
                                           class="c-form-control js-form-control"
                                           id="label"
                                           value="Paiement en {{ config('somoney.money') }}">
                                </div>
                            </div>
                        </div>

                        <div class="u-inline-right u-mg-top">
                            <button type="submit" class="c-btn c-btn--stroke c-btn--green">envoyer</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>

{% endblock %}
