{% extends "main.layout" %}

{% set asideContext = 'operations.transfer' %}

{% block main %}
    <div class="l-container u-pd">
        <div class="l-grid-row">
            <div class="l-col-8">
                <h1 class="c-h1 u-grey25 u-normal-weight u-mg-bottom-sm">Effectuer un virement</h1>

                <div class="c-card">
                    {% if errors.any() %}
                        <div class="c-alert c-alert--error">
                            <ul class="c-list">
                                {% for error in errors.all() %}
                                    {% if error == 'userToNotFound' %}
                                        <li>Aucun utilisateur avec cet e-mail n'a été trouvé</li>
                                    {% else %}
                                        <li>{{ error }}</li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}

                    <form method="POST" action="{{ route('operations.transfer.store') }}">

                        {{ csrf_field() }}

                        <div class="recipientChooser">
                            <label class="c-form-label">Type de destinataire</label>
                            <div class="c-form-group u-inline-block u-mg-right">
                                <input class="c-radio"
                                       type="radio"
                                       id="radio-pro"
                                       name="profil"
                                       value="professional"
                                       {% if old('profil','professional') == 'professional' %}checked{% endif %}/>
                                <label for="radio-pro">
                                    Professionnel
                                </label>
                            </div>

                            <div class="c-form-group u-inline-block u-mg-reset">
                                <input class="c-radio"
                                       type="radio"
                                       id="radio-individual"
                                       name="profil"
                                       value="individual"
                                       {% if old('profil') == 'individual' %}checked{% endif %}/>
                                <label for="radio-individual">
                                    Particulier
                                </label>
                            </div>

                            <div class="c-form-group u-mg-top u-mg-bottom-sm desc is-professional">
                                <label class="c-form-label" for="professional-email">Nom du professionnel</label>
                                <select class="c-form-control autocomplete-professional-users select2"
                                        name="professional_email"
                                        id="professional-email"
                                        data-exclude="{{ session('auth.user.id') }}">
                                </select>
                                <input type="hidden"
                                       name="professional_email_old"
                                       value="{{ old('professional_email') }}"/>
                            </div>

                            <div class="c-form-group u-mg-top u-mg-bottom-sm desc is-individual">
                                <label class="c-form-label" for="individual-email">E-mail du particulier</label>
                                <select class="c-form-control autocomplete-individual-users select2"
                                        name="individual_email"
                                        id="individual-email"
                                        data-exclude="{{ session('auth.user.id') }}">
                                </select>
                                <input type="hidden"
                                       name="individual_email_old"
                                       value="{{ old('individual_email') }}"/>
                            </div>
                        </div>

                        <div class="l-grid-row">
                            <div class="l-col-6 u-mg-bottom-sm">
                                <div class="c-form-group">
                                    <label class="c-form-label" for="transfer-value">Montant du virement</label>
                                    <div class="c-addon-container">
                                        <input name="amount"
                                               class="c-form-control"
                                               type="number"
                                               step="0.01"
                                               min="0.01"
                                               id="transfer-value"
                                               placeholder="Votre solde est de {{ session('auth.user.account.status.balance') | number_format(2, ',', ' ') }}"
                                               autocomplete="off"
                                               value="{{ old('amount') }}">
                                        <span class="c-icon icon-money u-font-size-inherit"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="l-col-6 u-mg-bottom-sm">
                                <div class="c-form-group">
                                    <label class="c-form-label" for="comment">Commentaire
                                        <small>(Facultatif)</small>
                                    </label>
                                    <input name="comment"
                                           class="c-form-control js-form-control"
                                           id="comment"
                                           value="{{ old('comment','Paiement en '~config('somoney.money')) }}">
                                </div>
                            </div>
                            <div class="l-col-6 u-mg-bottom-sm">
                                <div class="c-form-group">
                                    <label class="c-form-label" for="transfer-date">
                                        Date
                                        <span id="transfer-permanent-date-suffix" class="u-hide">de début</span>
                                    </label>
                                    <input type="text"
                                           class="c-form-control c-form-control--date date-picker"
                                           id="transfer-date"
                                           name="date"
                                           value="{{ old('date', (today | date('d/m/Y'))) }}">
                                </div>
                            </div>
                            <div class="l-col-6 u-mg-bottom-sm u-mg-top">
                                <div class="c-form-group u-pd-vt-sm">
                                    <input class="c-checkbox"
                                           type="checkbox"
                                           id="checkbox-recurrent-transfer"
                                           name="recurrent"
                                           value="true"
                                           {% if old('recurrent') %}checked{% endif %}>
                                    <label for="checkbox-recurrent-transfer">
                                        <i class="fas fa-2x fa-sync-alt"></i>
                                        <span class="u-mg-left u-medium">
                                            Virement permanent ?
                                        </span>
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div id="transfer-permanent-params" class="l-grid-row {{ old('recurrent') ? '' : 'u-hide' }}">
                            <div class="l-col-6 u-mg-bottom-sm">
                                <div class="c-form-group">
                                    <label class="c-form-label" for="transfer-date-end">Date de fin</label>
                                    <input class="c-form-control c-form-control--date date-picker"
                                           type="text"
                                           id="transfer-date-end"
                                           name="date_end"
                                           value="{{ old('date_end', (today | date('d/m/Y'))) }}">

                                </div>
                            </div>
                            <div class="l-col-6">
                                <div class="l-col-12">
                                    <label class="c-form-label">Chaque</label>
                                </div>
                                <div class="l-col-4">
                                    <div class="c-form-group u-full-width">
                                        <input class="c-radio c-radio--btn c-radio--100 c-radio--round"
                                               type="radio"
                                               id="radio-frequency-weekly"
                                               name="frequency"
                                               value="weekly"
                                               {% if old('frequency') == 'weekly' %}checked{% endif %}/>
                                        <label for="radio-frequency-weekly"
                                               class="c-btn-brick {% if old('frequency') == 'weekly' %}is-active{% endif %}">
                                            Semaine
                                        </label>
                                    </div>
                                </div>

                                <div class="l-col-4">
                                    <div class="c-form-group u-full-width">
                                        <input class="c-radio c-radio--btn c-radio--100 c-radio--round"
                                               type="radio"
                                               id="radio-frequency-bi-monthly"
                                               name="frequency"
                                               value="bi-monthly"
                                               {% if old('frequency') == 'bi-monthly' %}checked{% endif %}/>
                                        <label for="radio-frequency-bi-monthly"
                                               class="c-btn-brick {% if old('frequency') == 'bi-monthly' %}is-active{% endif %}">
                                            Quinzaine
                                        </label>
                                    </div>
                                </div>

                                <div class="l-col-4">
                                    <div class="c-form-group u-full-width">
                                        <input class="c-radio c-radio--btn c-radio--100 c-radio--round"
                                               type="radio"
                                               id="radio-frequency-monthly"
                                               name="frequency"
                                               value="monthly"
                                               {% if old('frequency','monthly') == 'monthly' %}checked{% endif %}/>
                                        <label for="radio-frequency-monthly"
                                               class="c-btn-brick {% if old('frequency','monthly') == 'monthly' %}is-active{% endif %}">
                                            Mois
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="u-inline-right u-mg-top">
                            <button type="submit" class="c-btn c-btn--stroke c-btn--green">envoyer</button>
                        </div>
                    </form>
                </div>

                {% if transactions.planned | length %}
                    <div class="c-card u-mg-vt u-pd-hz-reset">
                        <h2 class="c-h2 u-pd-hz u-mg-bottom">Virements programmés</h2>
                        <div class="c-table">
                            <div class="c-table__thead">
                                <div class="c-table__cell c-label">Date</div>
                                <div class="c-table__cell c-label">Destinataire</div>
                                <div class="c-table__cell c-label">Libellé</div>
                                <div class="c-table__cell c-label u-inline-right">Montant</div>
                            </div>
                            <div class="c-table__tbody">
                                {% for transaction in transactions.planned %}
                                    <div class="c-table__row">
                                        <div class="c-table__cell">
                                            {{ transaction.date }}
                                        </div>
                                        <div class="c-table__cell">
                                            {{ transaction.toUser }}
                                        </div>
                                        <div class="c-table__cell">
                                            {{ transaction.description }}
                                        </div>
                                        <div class="c-table__cell u-inline-right u-bold">
                                            {{ transaction.amount }} <span class="c-icon icon-money"></span>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endif %}

                {% if transactions.recurrent | length %}
                    <div class="c-card u-mg-vt u-pd-hz-reset">
                        <h2 class="c-h2 u-pd-hz u-mg-bottom">Virements récurrent</h2>
                        <div class="c-table">
                            <div class="c-table__thead">
                                <div class="c-table__cell c-label">Destinataire</div>
                                <div class="c-table__cell c-label">Libellé</div>
                                <div class="c-table__cell c-label">Montant</div>
                                <div class="c-table__cell c-label">Prochain virement</div>
                                <div class="c-table__cell c-label">Annulable</div>
                            </div>
                            <div class="c-table__tbody">
                                {% for transaction in transactions.recurrent %}
                                    <div class="c-table__row">
                                        <div class="c-table__cell">
                                            {{ transaction.toUser }}
                                        </div>
                                        <div class="c-table__cell">
                                            {{ transaction.description }}
                                        </div>
                                        <div class="c-table__cell u-bold">
                                            {{ transaction.amount }} <span class="c-icon icon-money"></span>
                                        </div>
                                        <div class="c-table__cell">
                                            {{ transaction.nextOccurrenceDate }}
                                        </div>
                                        <div class="c-table__cell u-inline-center">
                                            {% if not transaction.canBeCanceled %}
                                                <span class="c-icon icon-cross"></span>
                                            {% else %}
                                                <span class="c-icon icon-checkmark"></span>
                                            {% endif %}
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
