{% extends "main.layout" %}

{% set asideContext = 'operations.request' %}

{% block main %}
	<div class="l-container u-pd u-mg-vt-lg">
		<div class="u-inline-center">
			<div class="c-badge c-badge--lg c-badge--green c-badge--stroke u-inline-block">
				<span class="c-icon icon-swap"></span>
			</div>

			<p class="c-p u-large u-mg-top-lg">Nous confirmons votre virement.</p>
			<p class="c-p u-mg-bottom-lg">Merci de patentier quelques instants avant de procéder à un nouveau virement.</p>
		</div>
	</div>

{% endblock %}
