{% extends "main.layout" %}

{% set asideContext = 'account.alerts' %}

{% block main %}
	<div class="l-container u-pd">

		<h1 class="c-h1 u-grey25 u-normal-weight u-mg-bottom-sm">Mes alertes</h1>

		<div class="l-grid-row">
			<div class="l-col-8">

				<div class="c-card">
					<h2 class="c-h2 u-mg-bottom">Alerte seuil</h2>
					<p class="c-p u-large">Vous recevrez un mail lorsque votre compte approchera d'un certain montant plafond ou plancher.</p>

					<div class="c-form-group u-mg-vt">
						<input class="c-checkbox" type="checkbox" id="alert-info" name="info alert" value="">
						<label for="alert-info">
							Activer l'envoi d'alertes lorsque j'atteint les montants renseignés pour mon compte.
						</label>
					</div>

					<div class="l-grid-row">
						<div class="l-col-6">
							<div class="c-form-group">
								<label class="c-form-label u-mg-bottom-sm" for="min">montant du plancher</label>
								<div class="c-addon-container">
									<input class="c-form-control js-form-control" placeholder="30" type="number" name="min">
									<span class="c-icon icon-money" aria-hidden="true"></span>
								</div>
							</div>
						</div>
						<div class="l-col-6">
							<div class="c-form-group">
								<label class="c-form-label u-mg-bottom-sm" for="max">montant du plafond</label>
								<div class="c-addon-container">
									<input class="c-form-control js-form-control" placeholder="200" type="number" name="max">
									<span class="c-icon icon-money" aria-hidden="true"></span>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>

	</div>

{% endblock %}
