{% extends "main.layout" %}

{% set asideContext = 'account.informations' %}

{% block main %}
    <div class="l-container u-pd">

        <h1 class="c-h1 u-grey25 u-normal-weight u-mg-bottom-sm">
            Mes informations
            {% if viewModifier == 'professional' and user.customValues.visible %}
                <a class="c-link c-label u-uppercase u-mg-bottom-sm"
                   target="blank"
                   href="{{ getProtocol() ~ config('somoney.domain.directory') ~ '/membre/' ~ str_slug(user.name) }}">
                    Voir la fiche de ma structure sur l'annuaire (Mis à jour entre 5 et 20 minutes)
                </a>
            {% endif %}
        </h1>

        {% if errors.any() %}
            <div class="l-grid-row">
                <div class="l-col-8">
                    <div class="c-card u-mg-bottom">
                        {% include 'main.partials.form-errors' %}
                    </div>
                </div>
            </div>
        {% endif %}

        <div class="l-grid-row">
            <div class="l-col-8">
                <div class="c-card u-mg-bottom">
                    <form method="POST"
                          action="{{ route('account.' ~ viewModifier ~ '.information.put') }}"
                          enctype="multipart/form-data">

                        {{ csrf_field() }}

                        <input type="hidden" name="_method" value="PUT">
                        <input type="hidden" name="group" value="{{ user.group }}" />
                        <div class="l-grid-table">
                            <div class="l-grid-table__cell">
                                <h2 class="c-h2 u-mg-bottom">Photo de profil</h2>
                                <label class="c-form-label" for="avatar">Modifier ma photo de profil</label>
                                <div class="u-relative">
                                    <input id="avatar"
                                           name="avatar"
                                           type="file"
                                           class="c-form-control c-form-control--file js-file-input">
                                    <div class="c-addon-container">
                                        <input class="c-form-control js-file-input-display" placeholder="Parcourir...">
                                        <span class="c-icon icon-folder-open"></span>
                                    </div>
                                </div>
                                {% include 'main.partials.form-file-constraints' with config('somoney.form_constraints.image') %}
                            </div>
                            <div class="l-grid-table__cell u-inline-right">
                                <div class="c-badge c-badge--squared c-badge--lg u-inline-block">
                                    <img src="{{ user.profile | default('/assets/img/user.jpg') }}"
                                         alt="image utilisateur"
                                         class="c-img js-lazyload">
                                </div>
                            </div>
                        </div>

                        <hr class="u-mg-vt">

                        {% include 'main.templates.' ~ user.group ~ '.accountForm' %}

                        <hr class="u-mg-vt">

                        {% if user.group == config('somoney.cyclos-internal-names.groups.individual')
                            and not user.customValues.idattachment %}

                            <h2 class="c-h2 u-mg-bottom">Pièce justificative</h2>
                            <div class="l-grid-row">
                                <div class="l-col-12">
                                    <div class="c-form-group u-mg-bottom-sm">
                                        <label class="c-form-label" for="idattachment">Pièce d'identité</label>
                                        <div class="u-relative">
                                            <input id="idattachment"
                                                   name="idattachment"
                                                   type="file"
                                                   class="c-form-control c-form-control--file js-file-input">
                                            <div class="c-addon-container">
                                                <input class="c-form-control js-file-input-display"
                                                       placeholder="Parcourir...">
                                                <span class="c-icon icon-folder-open"></span>
                                            </div>
                                        </div>
                                        {% include 'main.partials.form-file-constraints' with config('somoney.form_constraints.file') %}
                                    </div>
                                </div>
                            </div>

                            <hr class="u-mg-vt">

                        {% endif %}

                        <div class="c-form-group u-mg-bottom-sm">
                            <input class="c-checkbox"
                                   type="checkbox"
                                   id="commercialinfo"
                                   name="user[customValues][commercialinfo]"
                                   value="true"
                                   {% if user.customValues.commercialinfo %}checked{% endif %}>
                            <label for="commercialinfo">
                                J'accepte de recevoir des informations à caractère commerciales des adhérents
                                professionnels
                            </label>
                        </div>
                        <div class="c-form-group u-mg-bottom-sm">
                            <input class="c-checkbox"
                                   type="checkbox"
                                   id="optinnewsletter"
                                   name="user[customValues][optinnewsletter]"
                                   value="true"
                                   {% if user.customValues.optinnewsletter %}checked{% endif %}>
                            <label for="optinnewsletter">
                                Je souhaite recevoir la newsletter {{ config('somoney.money') }}
                            </label>
                        </div>

                        <div class="u-inline-right u-mg-top">
                            <button type="submit" class="c-btn c-btn--stroke c-btn--green">Enregistrer</button>
                        </div>

                    </form>
                </div>

            </div>

            <div class="l-col-4">
                {% if viewModifier == 'professional' %}
                    <div class="c-card u-mg-bottom">
                        <h2 class="c-h2 u-mg-bottom-sm">Proposer des bons plans</h2>
                        <p class="c-p">
                            Créer un Bon Plan en {{ config('somoney.money') }} pour développer vos échanges.
                        </p>
                        <a href="{{ route('ads.create') }}"
                           title=""
                           class="u-mg-top c-btn c-btn--full-width c-btn--stroke c-btn--green c-btn--squeeze">
                            Ajouter un bon plan
                        </a>
                    </div>
                {% endif %}

                <div class="c-card u-mg-bottom">
                    <h2 class="c-h2 u-mg-bottom-sm">Changer de mot de passe</h2>
                    <form method="POST" action="{{ route('account.password.change') }}" enctype="multipart/form-data">
                        <div class="c-form-group u-mg-bottom-sm">
                            <label class="c-form-label c-form-label--required" for="form-password">
                                Mot de passe actuel
                            </label>
                            <div class="c-addon-container c-addon-container--clickable">
                                <input type="password"
                                       class="c-form-control js-form-control"
                                       id="form-password"
                                       name="old_password">
                                <button type="button" class="c-icon icon-preview js-toggle-password"></button>
                            </div>
                        </div>
                        <div class="c-form-group u-mg-bottom-sm">
                            <label class="c-form-label c-form-label--required" for="passwordNew">
                                Nouveau mot de passe
                            </label>
                            <div class="c-addon-container c-addon-container--clickable">
                                <input type="password"
                                       class="c-form-control js-form-control"
                                       id="password"
                                       name="password">
                                <button type="button" class="c-icon icon-preview js-toggle-password"></button>
                            </div>
                        </div>
                        <div class="c-form-group u-mg-bottom-sm">
                            <label class="c-form-label c-form-label--required" for="passwordConfirm">
                                Confirmation mot de passe
                            </label>
                            <div class="c-addon-container c-addon-container--clickable">
                                <input type="password"
                                       class="c-form-control js-form-control"
                                       id="password_confirmation"
                                       name="password_confirmation">
                                <button type="button" class="c-icon icon-preview js-toggle-password"></button>
                            </div>
                        </div>
                        {{ csrf_field() }}
                        <button type="submit"
                                class="u-mg-top c-btn c-btn--full-width c-btn--stroke c-btn--current-color c-btn--squeeze">
                            Modifier
                        </button>
                    </form>
                </div>

                <div class="c-card u-mg-bottom">
                    <h2 class="c-h2 u-mg-bottom-sm">Abandonner {{ config('somoney.money') }}</h2>
                    <p class="c-p">
                        Souhaitez-vous abandonner {{ config('somoney.money') }} ?
                        <span class="c-icon icon-information js-tooltip-trigger c-tooltip-trigger"
                              tabindex="0"
                              aria-hidden="true"
                              title="Votre compte {{ config('somoney.money') }} n'existera plus"
                              data-original-title=""></span>
                    </p>
                    <button type="button"
                            data-toggle="modal"
                            data-target="#confirmDelete"
                            class="u-mg-top c-btn c-btn--full-width c-btn--stroke c-btn--current-color c-btn--squeeze"
                            {% if user.customValues.leavecall == 'true' %}disabled{% endif %}>Nous abandonner
                    </button>
                </div>

            </div>
        </div>
    </div>

    {% include "main.components.modal" with {
        message: 'Êtes vous certain de vouloir supprimer votre compte ?',
        color: 'red',
        icon: 'exit',
        id: 'confirmDelete',
        confirm: true,
        action: 'account.delete'
    } %}

    {% if session('notification.need_id_document') %}

        {% include "main.components.modal" with {
            'id' : 'needIdCardModal',
            'attributes' : 'data-show',
            'color' : 'secondary',
            'icon' : 'information',
            'message' : "<p class=\"c-p u-bold\">Vous devez fournir une pièce d'identité</p>
                <ul class=\"c-list\">
                    <li class=\"c-list__item\">Un Passeport avec Photo et signature </li>
                </ul>
                   <p class=\"c-p\">ou</p>
                <ul class=\"c-list\">
                    <li class=\"c-list__item\">Une Pièce nationale d'identité Recto/Verso sur un seul document</li>
                </ul><hr/>",
        } %}

    {% endif %}
{% endblock %}
