{% extends "main.layout" %}

{% set asideContext = 'account.widget' %}

{% block main %}
    <div class="l-container u-pd">

        <h1 class="c-h1 u-grey25 u-normal-weight u-mg-bottom-sm">Widget badge à intégrer</h1>

        <div class="l-grid-row">
            <div class="l-col-8">
                <div class="c-card">
                    <h2 class="c-h2 u-mg-bottom">Intégration</h2>
                    <p class="c-p">
                        Indiquez votre appartenance à {{ config('somoney.money') }} grâce à un widget en forme de badge
                        sur votre site internet!
                    </p>
                    <p class="c-p">
                        Cette page comprend votre description, vos activités, vos fils d’actualités Facebook et Twitter,
                        ainsi que votre localisation sur la carte, mais démontre également votre appartenance au réseau
                        de la monnaie locale {{ config('somoney.occupant') }}, votre sensibilité pour votre territoire
                        et le sens que vous donnez à vos échanges.
                    </p>
                    <p class="c-p">
                        Si vous aussi vous souhaitez insérer votre badge, suivez les instructions ci dessous :
                    </p>
                    <p class="c-p">
                        <b>1.</b> Copiez / collez le code suivant avant la fermeture de votre balise < /body > :
                    </p>
                    <form>
                        <div class="c-form-group u-mg-vt">
                            <textarea rows="8"
                                      class="c-form-control c-form-control--textarea js-form-control">{{ badgeSnippetPretty }}</textarea>
                        </div>
                        <button class='c-btn js-copytextbtn'
                                data-clipboard-action="copy"
                                data-clipboard-text='{{ badgeSnippetMinify }}'
                                type='button'>Copier
                        </button>
                        <br><br>
                    </form>
                    <p class="c-p">
                        <b>2.</b> Pour déterminer sa position (gauche ou droite), modifiez le contenu de <b>data-position</b>
                                  : <code>left</code> (gauche) ou <code>right</code> (droite)
                    </p>
                    <p class="c-p">
                        <b>3.</b> Pour déterminer sa position (hauteur), modifiez le contenu de <b>data-top</b> en
                                  indiquant la hauteur en <code>pixel</code> à partir du haut de la page à laquelle vous
                                  souhaitez
                                  qu’il apparaisse.
                    </p>
                    <p class="c-p">
                        <b>4.</b> Vous pouvez également déterminer sa taille en modifiant le contenu de
                        <b>data-width</b>.
                                  Indiquez-y la largeur en <code>pixel</code> souhaités, la hauteur du badge s’adaptera
                                  automatiquement.
                    </p>

                    <div class="u-inline-right u-mg-top-lg">
                        <a href="{{ directoryBaseUrl }}/widgets"
                           class="c-btn c-btn--stroke c-btn--secondary"
                           target="_blank">En savoir plus
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
