{% extends 'main.partials.aside.layout' %}

{% block content %}
    <div class="panel">
        <div role="tab" id="{{ preId }}headingAdminOperations">
            <a class="c-nav-aside__title {{ asideContext starts with 'admin.operations.' ? 'is-active' : '' }}"
               role="button"
               data-toggle="collapse"
               data-parent="#accordion"
               href="#{{ preId }}collapseAdminOperation"
               aria-expanded="false"
               aria-controls="{{ preId }}collapseAdminOperation">
                <span class="c-icon icon-swap"></span> Opérations
            </a>
        </div>
        <div id="{{ preId }}collapseAdminOperation"
             class="collapse {{ asideContext starts with 'admin.operations.' or  asideContext starts with 'operations.' ? 'in' : '' }}"
             role="tabpanel"
             aria-labelledby="{{ preId }}headingAdminOperations">
            <ul>
                <li class="c-nav-aside__item {{ asideContext == 'admin.operations.historic' ? 'is-active' : '' }}">
                    <a href="{{ route('admin.operations.historic') }}" title="" class="c-link">
                        Historique des opérations
                    </a>
                </li>
                {% if config('somoney.available.services.sepa-payment') %}
                    <li class="c-nav-aside__item {{ asideContext == 'admin.operations.sepas' ? 'is-active' : '' }}">
                        <a href="{{ route('admin.operations.sepas') }}" title="" class="c-link">
                            Prélèvements SEPA
                        </a>
                    </li>
                {% endif %}
                {% if config('somoney.available.services.admin-credit') %}
                    <li class="c-nav-aside__item {{ asideContext == 'admin.operations.user-credit' ? 'is-active' : '' }}">
                        <a href="{{ route('admin.operations.user-credit.index') }}" title="" class="c-link">
                            Créditer un utilisateur
                        </a>
                    </li>
                {% endif %}
                {% if config('somoney.available.services.reconversion-user') %}
                    <li class="c-nav-aside__item {{ asideContext == 'admin.operations.reconversion-user' ? 'is-active' : '' }}">
                        <a href="{{ route('admin.operations.reconversion-user.index') }}" title="" class="c-link">
                            Reconvertir un utilisateur
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>

    <div class="panel">
        <div role="tab" id="{{ preId }}headingAdminUsers">
            <a class="c-nav-aside__title {{ asideContext starts with 'admin.users' ? 'is-active' : '' }}"
               role="button"
               data-toggle="collapse"
               data-parent="#accordion"
               href="#{{ preId }}collapseAdminUsers"
               aria-expanded="false"
               aria-controls="{{ preId }}collapseAdminUsers">
                <span class="c-icon icon-user-group"></span> Utilisateurs
            </a>
        </div>
        <div id="{{ preId }}collapseAdminUsers"
             class="collapse {{ asideContext starts with 'admin.users' ? 'in' : '' }}"
             role="tabpanel"
             aria-labelledby="{{ preId }}headingAdminUsers">
            <ul>
                <li class="c-nav-aside__item {{ asideContext == 'admin.users' ? 'is-active' : '' }}">
                    <a href="{{ route('admin.users.index') }}" title="" class="c-link">
                        Liste des actifs
                    </a>
                </li>

                <li class="c-nav-aside__item {{ asideContext == 'admin.users.new.professional' ? 'is-active' : '' }}">
                    <a href="{{ route('admin.users.new.index',{userType: 'professionnel'}) }}"
                       title="Nouveaux utilisateurs professionnels"
                       class="c-link">
                        Nouveaux professionnels
                    </a>
                </li>
                <li class="c-nav-aside__item {{ asideContext == 'admin.users.new.individual' ? 'is-active' : '' }}">
                    <a href="{{ route('admin.users.new.index',{userType: 'particulier'}) }}"
                       title="Nouveaux utilisateurs particuliers"
                       class="c-link">
                        Nouveaux particuliers
                    </a>
                </li>
                <li class="c-nav-aside__item {{ asideContext == 'admin.users.leaving' ? 'is-active' : '' }}">
                    <a href="{{ route('admin.users.leaving.index') }}"
                       title="Nouveaux utilisateurs particulier"
                       class="c-link">
                        Souhaitent quitter
                    </a>
                </li>

            </ul>
        </div>
    </div>

    {% if config('somoney.available.services.membership') %}
        <div class="panel">
            <div role="tab" id="{{ preId }}headingAdminMembership">
                <a class="c-nav-aside__title {{ asideContext starts with 'admin.membership' ? 'is-active' : '' }}"
                   role="button"
                   data-toggle="collapse"
                   data-parent="#accordion"
                   href="#{{ preId }}collapseAdminMembership"
                   aria-expanded="false"
                   aria-controls="{{ preId }}collapseAdminMembership">
                    <span class="c-icon fas fa-file-signature"></span> Adhésions
                </a>
            </div>
            <div id="{{ preId }}collapseAdminMembership"
                 class="collapse {{ asideContext starts with 'admin.membership' ? 'in' : '' }}"
                 role="tabpanel"
                 aria-labelledby="{{ preId }}headingAdminMembership">
                <ul>
                    <li class="c-nav-aside__item {{ asideContext starts with 'admin.memberships.index' ? 'is-active' : '' }}">
                        <a href="{{ route('admin.memberships.index') }}" title="Liste des Adhésions" class="c-link">
                            Liste
                        </a>
                    </li>
                    <li class="c-nav-aside__item {{ asideContext starts with 'admin.memberships.operations' ? 'is-active' : '' }}">
                        <a href="{{ route('admin.memberships.operations') }}" title="Opération de Don ou paiements des adhésions" class="c-link">
                            Opérations
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    {% endif %}

    {% if config('somoney.available.services.counters') %}
        <div class="panel">
            <div role="tab" id="{{ preId }}headingAdminCounters">
                <a class="c-nav-aside__title {{ asideContext starts with 'admin.counter' or asideContext starts with 'counter.show' ? 'is-active' : '' }}"
                   role="button"
                   href="{{ route('admin.counters') }}">
                    <i class="c-icon fas fa-store"></i> Gestion des comptoirs
                </a>
            </div>
        </div>
    {% endif %}

    {% if config('somoney.payment-mode') == 'cev' %}
        <div class="panel">
            <div role="tab" id="{{ preId }}headingAdminCEV">
                <a class="c-nav-aside__title {{ asideContext starts with 'admin.cev' ? 'is-active' : '' }}"
                   role="button"
                   data-toggle="collapse"
                   data-parent="#accordion"
                   href="#{{ preId }}collapseAdminCEV"
                   aria-expanded="false"
                   aria-controls="{{ preId }}collapseAdminCEV">
                    <span class="c-icon icon-message "></span> CEV
                </a>
            </div>
            <div id="{{ preId }}collapseAdminCEV"
                 class="collapse {{ asideContext starts with 'admin.cev' ? 'in' : '' }}"
                 role="tabpanel"
                 aria-labelledby="{{ preId }}headingAdminCEV">
                <ul>
                    <li class="c-nav-aside__item {{ asideContext == 'admin.cev.index' ? 'is-active' : '' }}">
                        <a href="{{ route('admin.cev.index') }}" title="" class="c-link">Erreurs</a>
                    </li>
                </ul>
            </div>
        </div>
    {% endif %}

    {% if config('somoney.available.services.sdgs') %}
        <div class="panel">
            <div role="tab" id="{{ preId }}headingAdminSdgIndicators">
                <a class="c-nav-aside__title {{ asideContext == 'sdgs' ? 'is-active' : '' }}"
                   role="button"
                   href="{{ route('admin.sdgs.index') }}"
                >
                    <span class="c-icon fa fa-leaf"></span> Objectifs DD
                </a>
            </div>
        </div>
    {% endif %}

    <div class="panel">
        <div role="tab" id="{{ preId }}headingAdminNotifications">
            <a class="c-nav-aside__title {{ asideContext == 'admin.notifications.index' ? 'is-active' : '' }}"
               role="button"
               href="{{ route('admin.notification.index') }}">
                <span class="c-icon icon-swap"></span> Notifications
            </a>
        </div>
    </div>
{% endblock %}
