<div id="accordion" class="c-nav-aside" role="tablist" aria-multiselectable="true">
    <div class="c-nav-aside__container">
        <div class="panel">
            <div role="tab" id="{{ preId }}headingBoard">
                <a class="c-nav-aside__title {{ asideContext == 'home' ? 'is-active' : '' }}"
                   role="button"
                   href="{{ session('auth.user.is_admin') ? route('admin.home') : route('home') }}">
                    <span class="c-icon icon-preview"></span> Accueil
                </a>
            </div>
        </div>
        {% block content %}
        {% endblock %}
    </div>
</div>
