{% extends 'main.partials.aside.layout' %}

{% block content %}
    <div class="panel">
        <div role="tab" id="{{ preId }}headingOperation">
            <a class="c-nav-aside__title {{ asideContext starts with 'operations.' ? 'is-active' : '' }}"
               role="button"
               data-toggle="collapse"
               data-parent="#accordion"
               href="#{{ preId }}collapseOperation"
               aria-expanded="false"
               aria-controls="{{ preId }}collapseOperation">
                <span class="c-icon icon-swap"></span> Opérations
            </a>
        </div>
        <div id="{{ preId }}collapseOperation"
             class="collapse {{ asideContext starts with 'operations.' ? 'in' : '' }}"
             role="tabpanel"
             aria-labelledby="{{ preId }}headingOperation">
            <ul>
                <li class="c-nav-aside__item {{ asideContext starts with  'operations.transfer' ? 'is-active' : '' }}">
                    <a href="{{ route('operations.transfer.index') }}" title="" class="c-link">
                        Effectuer un virement
                    </a>
                </li>
                {% if config('somoney.available.services.show-credit') %}
                    <li class="c-nav-aside__item {{ asideContext starts with  'operations.credit' ? 'is-active' : '' }}">
                        <a href="{{ route('operations.credit.index') }}" title="" class="c-link">
                            Créditer mon compte
                        </a>
                    </li>
                {% endif %}
                <li class="c-nav-aside__item {{ asideContext == 'operations.request.index' ? 'is-active' : '' }}">
                    <a href="{{ route('operations.request.index') }}" title="" class="c-link">
                        Demande de paiement
                    </a>
                </li>
                <li class="c-nav-aside__item {{ asideContext == 'operations.historic.index' ? 'is-active' : '' }}">
                    <a href="{{ route('operations.historic.index') }}" title="" class="c-link">
                        Historique des opérations
                    </a>
                </li>
            </ul>
        </div>
    </div>

    {% if viewModifier == 'professional' %}
        <div class="panel">
            <div role="tab" id="{{ preId }}headingAccount">
                <a class="c-nav-aside__title {{ asideContext starts with 'account.' ? 'is-active' : '' }}"
                   role="button"
                   data-toggle="collapse"
                   data-parent="#accordion"
                   href="#{{ preId }}collapseAccount"
                   aria-expanded="false"
                   aria-controls="{{ preId }}collapseAccount">
                    <span class="c-icon icon-user"></span> Profil
                </a>
            </div>
            <div id="{{ preId }}collapseAccount"
                 class="collapse {{ asideContext starts with 'account.' ? 'in' : '' }}"
                 role="tabpanel"
                 aria-labelledby="{{ preId }}headingAccount">
                <ul>
                    <li class="c-nav-aside__item {{ asideContext == 'account.informations' ? 'is-active' : '' }}">
                        <a href="{{ route('account.information') }}" title="" class="c-link">Mes informations
                        </a>
                    </li>
                    <li class="c-nav-aside__item {{ asideContext == 'account.widget' ? 'is-active' : '' }}">
                        <a href="{{ route('account.widget') }}" title="" class="c-link">Widget badge</a>
                    </li>
                </ul>
            </div>
        </div>
    {% else %}
        <div class="panel">
            <div role="tab" id="{{ preId }}headingAccount">
                <a class="c-nav-aside__title {{ asideContext starts with 'account.' ? 'is-active' : '' }}"
                   role="button"
                   href="{{ route('account.information') }}">
                    <span class="c-icon icon-user"></span> Profil
                </a>
            </div>
        </div>
    {% endif %}

    {% if counters.count %}
        <div role="tab" id="{{ preId }}headingCounter">
            <a class="c-nav-aside__title {{ asideContext starts with 'counter' ? 'is-active' : '' }}"
               role="button"
               data-toggle="collapse"
               data-parent="#accordion"
               href="#{{ preId }}collapseCounter"
               aria-expanded="false"
               aria-controls="{{ preId }}collapseCounter">
                <i class="c-icon fa fa-store"></i> Mes Comptoirs
            </a>
        </div>
        <div id="{{ preId }}collapseCounter"
             class="collapse {{ asideContext starts with 'counter' ? 'in' : '' }}"
             role="tabpanel"
             aria-labelledby="{{ preId }}headingCounter">
            <ul>
                {% for counter in counters %}
                    {% if session('auth.user.id') in counter.operators %}
                        <li class="c-nav-aside__item {{ asideContext starts with 'counter.show.'~counter.id ? 'is-active' : '' }}">
                            <a href="{{ route('counter.show', {counter: counter.id}) }}"
                               title="{{ counter.name }}"
                               class="c-link">
                                {{ counter.name }}
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    {% if viewModifier == 'professional' %}

        <div class="panel">
            <div role="tab" id="{{ preId }}headingDeal">
                <a class="c-nav-aside__title {{ asideContext == 'ads' ? 'is-active' : '' }}"
                   role="button"
                   href="{{ route('ads.index') }}"
                   title="Voir mes bons-plans">
                    <span class="c-icon icon-tags"></span> Bons plans
                </a>
            </div>
        </div>

        {% if config('somoney.available.services.sdgs') %}
            <div class="panel">
                <div role="tab" id="{{ preId }}headingAdminSdgIndicators">
                    <a class="c-nav-aside__title {{ asideContext == 'sdgs' ? 'is-active' : '' }}"
                       role="button"
                       href="{{ route('sdgs.professional.index') }}"
                    >
                        <span class="c-icon fa fa-leaf"></span> Objectifs DD
                    </a>
                </div>
            </div>
        {% endif %}

    {% endif %}

    <div class="panel">
        <div role="tab" id="{{ preId }}headingFav">
            <a class="c-nav-aside__title {{ asideContext == 'favorite' ? 'is-active' : '' }}"
               role="button"
               href="{{ route('dashboard.favorites.index') }}">
                <span class="c-icon icon-star"></span> Favoris
            </a>
        </div>
    </div>
    <div class="panel">
        <div role="tab" id="{{ preId }}headingSponsor">
            <a class="c-nav-aside__title {{ asideContext == 'sponsor' ? 'is-active' : '' }}"
               role="button"
               href="{{ route('sponsor') }}">
                <span class="c-icon icon-user-group "></span> Parrainage
            </a>
        </div>
    </div>

    {% if viewModifier == 'professional' %}

        {% if config('somoney.available.services.fidelity') %}

            <div class="panel">
                <div role="tab" id="{{ preId }}headingSponsor">
                    <a class="c-nav-aside__title {{ asideContext == 'fidelity' ? 'is-active' : '' }}"
                       role="button"
                       href="{{ route('fidelity.show') }}">
                        <span class="c-icon"><i class="far fa-handshake"></i></span> Fidélité
                    </a>
                </div>
            </div>
        {% endif %}

        {% if config('somoney.available.services.newsletters') %}

            <div class="panel">
                <div role="tab" id="{{ preId }}headingSponsor">
                    <a class="c-nav-aside__title {{ asideContext == 'newsletter' ? 'is-active' : '' }}"
                       role="button"
                       href="{{ route('newsletter.index') }}">
                        <span class="c-icon"><i class="fas fa-envelope-open-text"></i></span> Newsletter
                    </a>
                </div>
            </div>

        {% endif %}

    {% endif %}

    <hr class="u-hide-up">

    {% for item in navbar %}
        <div class="panel u-hide-up">
            <div role="tab" id="{{ preId }}Nav{{ loop.index }}">
                <a class="c-nav-aside__title"
                   role="button"
                   href="{{ item.url }}"
                   aria-expanded="false"
                   aria-controls="collapseSponsor">
                    <span class="c-icon icon-chevron-right"></span> {{ item.name }}
                </a>
            </div>
        </div>
    {% endfor %}

{% endblock %}