<section class="sg-section badges">

	<h2 id="badges" class="c-h2 sg-h2">Badges</h2>

	<p class="c-p u-mg-bottom-sm">A badge is a special format for presenting specific content such as images, informative pictogram or even meaningful information.</p>
	<p class="c-p u-mg-bottom-sm">It should be used with <code>c-img</code>, <code>c-icon</code> or <code>c-p</code> components.</p>

	<br>

	<div class="sample">
		<div class="c-badge" style="margin: 0 10px 0 0; display: inline-block;">
			<img src="/assets/img/test/mango-sm.jpg" alt="" class="c-img lazyload">
		</div>
		<div class="c-badge" style="margin: 0 10px 0 0; display: inline-block;">
			<div class="icon-cross c-icon"></div>
		</div>
		<div class="c-badge" style="margin: 0 10px 0 0; display: inline-block;">
			<p class="c-p">100%</p>
		</div>
	</div>

	<br>

	<div class="code">
		<pre>
			<code class="language-markup">
				<div class="c-badge">
					<img src="/assets/img/test/mango-sm.jpg" alt="" class="c-img lazyload">
				</div>

				<div class="c-badge">
					<i class="icon-trophy c-icon"></i>
				</div>

				<div class="c-badge">
					<p class="c-p">100%</p>
				</div>
			</code>
		</pre>
	</div>

	<br>

	<p class="c-p u-mg-bottom-sm">You can apply variation with a set of modifiers :</p>

	<br>

	<div class="sample">
		<div class="c-badge c-badge--squared c-badge--lg" style="margin: 0 10px 0 0; display: inline-block;">
			<img src="/assets/img/test/mango-sm.jpg" alt="" class="c-img lazyload">
		</div>
		<div class="c-badge c-badge--lg" style="margin: 0 10px 0 0; display: inline-block;">
			<p class="c-p">large</p>
		</div>
		<div class="c-badge c-badge--lg c-badge--stroke c-badge--red" style="margin: 0 10px 0 0; display: inline-block;">
			<span class="c-icon icon-cross"></span>
		</div>
		<div class="c-badge c-badge--stroke c-badge--green" style="margin: 0 10px 0 0; display: inline-block;">
			<p class="c-p">ok</p>
		</div>
	</div>

	<br>

	<div class="code">
		<pre>
			<code class="language-markup">
				<div class="c-badge c-badge--squared c-badge--lg">
					<img src="/assets/img/test/mango-sm.jpg" alt="" class="c-img lazyload">
				</div>
				<div class="c-badge c-badge--lg">
					<p class="c-p">large</p>
				</div>
				<div class="c-badge c-badge--lg c-badge--stroke c-badge--red">
					<span class="c-icon icon-cross"></span>
				</div>
				<div class="c-badge c-badge--stroke c-badge--green">
					<p class="c-p">ok</p>
				</div>
			</code>
		</pre>
	</div>


</section>
