<section class="sg-section images">

	<h2 id="images" class="c-h2 sg-h2">Images</h2>

	<p class="c-p u-mg-bottom-sm">The images of the platform are managed with the <a href="https://github.com/aFarkas/lazysizes" target="_blank">lazysizes plugin</a>. It allows 3 useful but optional features :</p>
	<ul class="u-mg-left">
		<li><span class="u-bold">image responsivness</span>, thanks to polyfill to support <code>srcset</code> HTML attribute ;</li>
		<li><span class="u-bold">lazyloading</span> ;</li>
		<li><span class="u-bold">cover and contain behaviours</span>, thanls to polyfill to support <code>obect-fit</code> CSS property;</li>
	</ul>

	<br>

	<h3 class="c-h3 sg-h3">Non-responsive lazyload</h3>

	<p class="c-p u-mg-bottom-sm">An image with <code>lazyload</code> class goes throught 3 steps :</p>
	<ul class="u-mg-left">
		<li><code>lazyload</code> :  the image isn't loaded nor requested</li>
		<li><code>lazyloading</code> : the image is requested and loading</li>
		<li><code>lazyloaded</code> : the image is fully loaded.</li>
	</ul>

	<br>

	<div class="sample">
		<img src="/assets/img/test/mango-sm.jpg" alt="" class="c-img lazyload">
	</div>

	<div class="code">
		<pre>
			<code class="language-markup">
				<img src="/assets/img/test/mango-sm.jpg" alt="" class="c-img lazyload">
			</code>
		</pre>
	</div>

	<br>

	<h3 class="c-h3 sg-h3">Responsive image management with lazyload</h3>

	<p class="c-p u-mg-bottom-sm">Lazysizes is built upon the Responsive image standard. See the <a href="https://github.com/aFarkas/lazysizes#user-content-responsive-image-support-picture-andor-srcset" target="_blank">lazysizes docs on the subject</a>.</p>
	<p class="c-p u-mg-bottom-sm">Use the <code>data-srcset</code> attribute to define a set of images with different sizes and with a <code>width</code> descriptors so the browser can select the most appropriate image according to the size of the viewport.</p>
	<p class="c-p u-mg-bottom-sm">The <code>data-src</code> attribute is used here as a fallback for non-supporting browsers, even if it is not necessary with the respimg polyfill.</p>

	<br>

	<div class="sample">
		<img
			data-sizes="auto"
			data-src="/assets/img/test/mango-sm.jpg"
			data-srcset="/assets/img/test/mango-sm.jpg 500w,
				/assets/img/test/mango-md.jpg 640w,
				/assets/img/test/mango-lg.jpg 1024w"
			class="c-img lazyload"
			alt="">
	</div>

	<div class="code">
		<pre>
			<code class="language-markup">
				<img
					data-sizes="auto"
					data-src="/assets/img/test/mango-sm.jpg"
					data-srcset="/assets/img/test/mango-sm.jpg 500w,
						/assets/img/test/mango-md.jpg 640w,
						/assets/img/test/mango-lg.jpg 1024w"
					class="c-img lazyload"
					alt="">
			</code>
		</pre>
	</div>

	<br>

	<h3 class="c-h3 sg-h3">Responsive image management with lazyload and object-fit</h3>

	<p class="c-p u-mg-bottom-sm">It is also possible to use the power of the <code>object-fit</code> CSS property to tell an image to occupy all a given space (<code>cover</code>) or, given a specific size, to occupy the maximum space without cutting itself (<code>contain</code>).</p>
	<p class="c-p u-mg-bottom-sm">Use the utilities <code>.u-object-fit-cover</code> and <code>.u-object-fit-contain</code>.</p>
	<p class="c-p u-mg-bottom-sm">In order to use the property correctly, a height must be defined. if this height isn't given by the style of your view or of your component, you can use a modifier of the <code>c-img</code> component : <code>c-img--sm</code>, <code>c-img--md</code> or <code>c-img--lg</code>.</p>

	<br>

	<div class="sample">
		<div style="border: 1px dashed grey; margin-bottom: 10px;">
			<img
				data-sizes="auto"
				data-src="/assets/img/test/mango-sm.jpg"
				data-srcset="/assets/img/test/mango-sm.jpg 500w,
					/assets/img/test/mango-md.jpg 640w,
					/assets/img/test/mango-lg.jpg 1024w"
				class="c-img c-img--md lazyload u-object-fit-cover"
				alt="">
		</div>

		<div style="border: 1px dashed grey; margin-bottom: 10px;">
			<img
				data-sizes="auto"
				data-src="/assets/img/test/mango-sm.jpg"
				data-srcset="/assets/img/test/mango-sm.jpg 500w,
					/assets/img/test/mango-md.jpg 640w,
					/assets/img/test/mango-lg.jpg 1024w"
				class="c-img c-img--md lazyload u-object-fit-contain"
				alt="">
		</div>
	</div>

	<div class="code">
		<pre>
			<code class="language-markup">
				<img
					data-sizes="auto"
					data-src="/assets/img/test/mango-sm.jpg"
					data-srcset="/assets/img/test/mango-sm.jpg 500w,
						/assets/img/test/mango-md.jpg 640w,
						/assets/img/test/mango-lg.jpg 1024w"
					class="c-img c-img--md lazyload u-object-fit-cover"
					alt="">

				<img
					data-sizes="auto"
					data-src="/assets/img/test/mango-sm.jpg"
					data-srcset="/assets/img/test/mango-sm.jpg 500w,
						/assets/img/test/mango-md.jpg 640w,
						/assets/img/test/mango-lg.jpg 1024w"
					class="c-img c-img--md lazyload u-object-fit-contain"
					alt="">
			</code>
		</pre>
	</div>

</section>
