<section class="sg-section tachometer">

	<h2 id="Tachometer" class="c-h2 sg-h2">Tachometer</h2>

	<p class="c-p"><code>c-tachometer</code> is a component that uses svg and js.</p><br>
	<p class="c-p">Use <code>data-progress</code> on <code>js-tachometer</code> to set a value on the tachometer (from 0 to 100).</p>
	<p class="c-p">Use modifier <code>--double</code> to create a double tachometer ! (value from -100 to 100).</p>

	<br>

	<div class="sample">
		<div class="l-view--individual">

			<div class="c-tachometer js-tachometer u-mg" data-progress="80">
				<div class="c-tachometer__center-circle"></div>
				<div class="c-tachometer__hand"></div>
				<svg viewBox="-20 30 341 130.5" class="c-tachometer__progress">
					<path class="c-tachometer__main c-tachometer__progress-bar" d="M0,170 a1,1 0 0,1 300,0"/>
					<path class="c-tachometer__progress-value" d="M0,170 a1,1 0 0,1 300,0"/>
				</svg>
			</div>

		</div>
		<div class="l-view--professional">

			<div class="c-tachometer js-tachometer c-tachometer--double u-mg" data-progress="-40">
				<div class="c-tachometer__center-bar"></div>
				<div class="c-tachometer__center-circle"></div>
				<div class="c-tachometer__hand"></div>
				<div class="c-tachometer__start">
					<svg class="c-tachometer__progress" viewBox="-10 40 170.5 130.5">
						<path class="c-tachometer__main c-tachometer__progress-bar" stroke-linecap="round" d="M250,400A150,150,0,0,1,100,250V230" transform="translate(-99.5 -230)"/>
						<path class="c-tachometer__progress-value" d="M250,400A150,150,0,0,1,100,250V230" transform="translate(-99.5 -230)"/>
					</svg>
				</div>
				<div class="c-tachometer__end">
					<svg class="c-tachometer__progress" viewBox="-10 40 170.5 130.5">
						<path class="c-tachometer__progress-bar" stroke-linecap="round" d="M250,400A150,150,0,0,1,100,250V230" transform="translate(-99.5 -230)"/>
						<path class="c-tachometer__progress-value" d="M250,400A150,150,0,0,1,100,250V230" transform="translate(-99.5 -230)"/>
					</svg>
				</div>
			</div>

		</div>
	</div>

	<br>

	<div class="code">
		<pre>
			<code class="language-markup">

				<div class="l-view--customer">

					<div class="c-tachometer [js-tachometer] u-mg" data-progress="80">
						<div class="c-tachometer__center-circle"></div>
						<div class="c-tachometer__hand"></div>
						<svg viewBox="-20 30 341 130.5" class="c-tachometer__progress">
							<path class="c-tachometer__main c-tachometer__progress-bar" d="M0,170 a1,1 0 0,1 300,0"/>
							<path class="c-tachometer__progress-value" d="M0,170 a1,1 0 0,1 300,0"/>
						</svg>
					</div>

				</div>
				<div class="l-view--business">

					<div class="c-tachometer [js-tachometer] c-tachometer--double u-mg-" data-progress="40">
						<div class="c-tachometer__center-bar"></div>
						<div class="c-tachometer__center-circle"></div>
						<div class="c-tachometer__hand"></div>
						<div class="c-tachometer__start">
							<svg class="c-tachometer__progress" viewBox="-10 40 170.5 130.5">
								<path class="c-tachometer__progress-bar c-tachometer__main" d="M250,400A150,150,0,0,1,100,250V230" transform="translate(-99.5 -230)"/>
								<path class="c-tachometer__progress-value" d="M250,400A150,150,0,0,1,100,250V230" transform="translate(-99.5 -230)"/>
							</svg>
						</div>
						<div class="c-tachometer__end">
							<svg class="c-tachometer__progress" viewBox="-10 40 170.5 130.5">
								<path class="c-tachometer__progress-bar" d="M250,400A150,150,0,0,1,100,250V230" transform="translate(-99.5 -230)"/>
								<path class="c-tachometer__progress-value" d="M250,400A150,150,0,0,1,100,250V230" transform="translate(-99.5 -230)"/>
							</svg>
						</div>
					</div>

				</div>

			</code>
		</pre>
	</div>

	<hr>

</section>
