.c-table {

    position: relative;
    // shared style
    display: table;
    // takes border into account
    width: 100%;
    border-collapse: collapse;

    &--layout-fixed {
        table-layout: fixed;
    }

    // Elements

    &__cell {
        display: table-cell;
        position: relative;
        vertical-align: middle;
        // Table contain many informations here, so the padding be reduce
        padding: calc-rem(8px);
        // ellipsis
        text-overflow: ellipsis;
        overflow: hidden;
        max-width: 0;
        white-space: nowrap;

        &--main {
            width: 100%;
            white-space: normal;
        }
    }

    // Cell specific sizes
    @for $i from 1 through 12 {
        &__cell--#{$i} {
            width: calc(100% / 12 * (#{$i}));
        }
    }

    &__row {
        display: table-row;
        position: relative;
        background: $white;

        &:nth-child(even) {
            background: $grey10;
        }
    }

    &__tbody {
        display: table-row-group;
    }

    &__thead {
        display: table-header-group;
        border-bottom: 1px solid $grey20;

        > .c-table__cell + .c-table__cell:before {
            display: none;
        }
    }

    &--link:hover {
        box-shadow: inset 0 -1px 0 $grey30, inset 0 1px 0 $grey30;

        &,
        .c-table__cta {
            color: $secondary;
        }

    }

    // Non table elements

    &__cta {
        margin-right: 10px;
        color: $grey40;

        // fix for link
        white-space: nowrap;
        @media (min-width: $main-breakpoint) {
            position: absolute;
            top: 0;
            right: 0;
            @for $i from 1 through 3 {
                &:nth-child(#{$i}) {
                    // the `+ 1` is set to not apply the transform on the first child
                    // the `+ 10px` is set to apply a padding between element
                    transform: translate(calc((-#{$i} + 1) * (100% + 10px)), -50%);
                }
            }
        }
    }

}
