<section class="sg-section">

	<h2 class="c-h2 sg-h2">Table</h2>

	<p class="c-p u-mg-bottom-sm">Table components differ from the <code>table-grid</code>. While the grid is used to layout components and views, the <code>c-table</code> is used to display content in a specifc way.</p>
	<p class="c-p u-mg-bottom-sm">For semantic and esthetic reasons, do not use html table tags but the specific classes introduced below.</p>

	<br>

	<p class="c-p u-mg-bottom-sm"><code>.c-table</code> is mandatory and specifies the global container of a table. Beware when targeting a component : the CSS table layout is restrictive and you may need to you multiple <code>.c-table</code>.</p>

	<p class="c-p u-mg-bottom-sm"><code>.c-table__cell</code> are mandatory and are used to specifies the different cells / columns of a table. You may need to manage the widths of the cells as if they were column grid. Use the specific classes <code>c-table__cell--1</code>, <code>c-table__cell--2</code>, ..., each number indicating the number of columns it takes, on a scale from 1 tot 12 (bootstrap-grid-like).</p>
	<p class="c-p u-mg-bottom-sm"><code>.c-table__row</code> allows to isolate each row of the table.</p>

	<p class="c-p u-mg-bottom-sm"><code>.c-table__thead</code> is optional but can be used to specify the label of each column.</p>
	<p class="c-p u-mg-bottom-sm"><code>.c-table__tbody</code> is also optional but can be used to differenciate the header of the table from its content.</p>

	<p class="c-p u-mg-bottom-sm"><code>.c-table__cta</code> is used to indicate the button, link and clickable component in a row.</p>

	<br>

	<p class="c-p u-mg-bottom-sm">Using these different classes, you can create any table you want.</p>
	<p class="c-p u-mg-bottom-sm">Here are some samples.</p>

	<br>

	<p class="c-p u-mg-bottom-sm">For introducing basic informations in different columns :</p>

	<br>

	<div class="sample">

		<div class="c-table">
			<div class="c-table__thead">
				<div class="c-table__cell c-label">Date</div>
				<div class="c-table__cell c-label">Intitulé de la transaction</div>
				<div class="c-table__cell c-label u-inline-right">Montant</div>
			</div>
			<div class="c-table__tbody">
				<div class="c-table__row">
					<div class="c-table__cell">
						23/10/2016
					</div>
					<div class="c-table__cell">
						Lorem ipsum dolor sit amet.
					</div>
					<div class="c-table__cell u-inline-right">
						-1002 €
					</div>
				</div>
				<div class="c-table__row">
					<div class="c-table__cell">
						23/10/2016
					</div>
					<div class="c-table__cell">
						Nom du projet
					</div>
					<div class="c-table__cell u-inline-right">
						-1002 €
					</div>
				</div>
				<div class="c-table__row">
					<div class="c-table__cell">
						23/10/2016
					</div>
					<div class="c-table__cell">
						some text
					</div>
					<div class="c-table__cell u-inline-right">
						-1002 €
					</div>
				</div>
			</div>
		</div>
	</div>

	<br>

	<div class="code">
		<pre>
			<code class="language-markup">
				<div class="c-table">
					<div class="c-table__thead">
						<div class="c-table__cell c-label">Date</div>
						<div class="c-table__cell c-label">Intitulé de la transaction</div>
						<div class="c-table__cell c-label u-inline-right">Montant</div>
					</div>
					<div class="c-table__tbody">
						<div class="c-table__row">
							<div class="c-table__cell">
								23/10/2016
							</div>
							<div class="c-table__cell">
								Lorem ipsum dolor sit amet.
							</div>
							<div class="c-table__cell u-inline-right">
								-1002 €
							</div>
						</div>
						...
					</div>
				</div>
			</code>
		</pre>
	</div>

	<br>

	<p class="c-p u-mg-bottom-sm">For introducing a list of documents/links to access use <code>c-table--link</code> :</p>

	<div class="sample">

		<div class="c-table">
			<div class="c-table__thead">
				<div class="c-table__cell c-label">Document</div>
				<div class="c-table__cell c-label">Date</div>
				<div class="c-table__cell c-label">Type</div>
				<div class="c-table__cell c-label u-inline-right">Montant</div>
			</div>
			<div class="c-table__tbody">
				<a href="#" class="c-table__row c-table--link">
					<div class="c-table__cell">
						Nom du fichier
					</div>
					<div class="c-table__cell">
						20/10/2016
					</div>
					<div class="c-table__cell">
						PDF
					</div>
					<div class="c-table__cell u-inline-right u-bold">
						- 20 000$
					</div>
					<div class="c-table__cell c-table__cell--1">
						<div class="u-relative">
							<button type="button" class="c-table__cta"><span class="icon-cross c-icon"></span></button>
						</div>
					</div>
				</a>
				<a href="#" class="c-table__row c-table--link">
					<div class="c-table__cell">
						Nom du dossier
					</div>
					<div class="c-table__cell">
						20/10/2016
					</div>
					<div class="c-table__cell">
						Dossier
					</div>
					<div class="c-table__cell u-inline-right u-bold">
						- 20 000$
					</div>
					<div class="c-table__cell">
						<div class="u-relative">
							<button type="button" class="c-table__cta"><span class="icon-cross c-icon"></span></button>
						</div>
					</div>
				</a>
				<a href="#" class="c-table__row c-table--link">
					<div class="c-table__cell">
						Nom du fichier
					</div>
					<div class="c-table__cell">
						20/10/2016
					</div>
					<div class="c-table__cell">
						PDF
					</div>
					<div class="c-table__cell u-inline-right u-bold u-red">
						+ 100$
					</div>
					<div class="c-table__cell c-table__cell--1">
						<div class="u-relative">
							<button type="button" class="c-table__cta"><span class="icon-cross c-icon"></span></button>
						</div>
					</div>
				</a>
			</div>
		</div>
	</div>

	<br>

	<div class="code">
		<pre>
			<code class="language-markup">
				<div class="c-table">
					<div class="c-table__thead">
						<div class="c-table__cell c-label">Document</div>
						<div class="c-table__cell c-label">Date</div>
						<div class="c-table__cell c-label">Type</div>
						<div class="c-table__cell c-label u-inline-right">Montant</div>
					</div>
					<div class="c-table__tbody">
						<a href="#" class="c-table__row c-table--link">
							<div class="c-table__cell">
								Nom du fichier
							</div>
							<div class="c-table__cell">
								20/10/2016
							</div>
							<div class="c-table__cell">
								PDF
							</div>
							<div class="c-table__cell u-inline-right u-bold">
								- 20 000$
							</div>
							<div class="c-table__cell c-table__cell--1">
								<div class="u-relative">
									<button type="button" class="c-table__cta"><span class="icon-cross c-icon"></span></button>
								</div>
							</div>
						</a>
						...
					</div>
				</div>
			</code>
		</pre>
	</div>

</section>
