@mixin alert-color($background, $border, $color) {
    background: $background;
    border-color: $border;
    color: $color;

    .c-addon-container {
        .c-icon {
            color: $color;
        }
    }
}

.c-alert {
    @include alert-color($blue-lighten, $blue-light, $blue);
    padding: calc-rem(10px) calc-rem(15px);
    border-style: solid;
    border-width: 2px;
    border-radius: $border-radius-base;

    &--error {
        @include alert-color($red-lighten, $red-light, $red);

        .c-link {
            color: $red-dark;
        }
    }
}
