.c-band {
    position: fixed;
    height: $band-height;
    right: 0;
    left: 0;
    z-index: map-get($z-index, 'band');

    &--dashboard {
        @media (min-width: $main-breakpoint) {
            left: $aside-width;
        }
    }
}
