.c-card-report {
    display: block;
    background: $white;
    border-radius: $border-radius-small;
    box-shadow: $shadow-default;
    padding: $card-padding;

    .c-img {
        float: right;
        max-height: 100px;
        max-width: 30%;
        margin: 0 0 10px 10px;
        // see https://github.com/aFarkas/lazysizes/tree/gh-pages/plugins/object-fit
        // Note that dimensions are mandatory
        object-fit: contain;
        object-position: right;
        font-family: "object-fit: contain";

        @media (max-width: $main-breakpoint - 1) {
            position: relative;
            margin-left: 0;
            float: none;
            width: 100%;
            max-width: 100%;
            height: 100px;
            // see https://github.com/aFarkas/lazysizes/tree/gh-pages/plugins/object-fit
            // Note that dimensions are mandatory
            object-fit: cover;
            object-position: initial;
            font-family: "object-fit: cover";
        }
    }

    .c-tag {
        margin-bottom: 5px;
    }
}
