$ribbon-width: 40px;
$card-detailed-width: 220px;
$card-close-width: 20px;

.c-card-detailed {
    display: block;
    width: 100%;
    overflow: hidden;
    background-color: $white;
    position: relative;
    margin-bottom: 10px;
    transition: transform $transition, box-shadow $transition;

    @media (min-width: $main-breakpoint) {
        border-radius: $border-radius-base;
        width: $card-detailed-width;
        height: 290px;
        margin: 0 auto 20px;
    }

    &:hover,
    &:focus {
        transform: scale(1.02, 1.02);
        box-shadow: $shadow-default;
    }

    &__ribbon {
        position: absolute;
        top: 0;
        right: 0;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 $ribbon-width $ribbon-width 0;
        border-color: transparent $primary transparent transparent;
        z-index: map-get($z-index, 'card-detailed-ribbon');

        .c-icon {
            position: absolute;
            color: $white;
            font-size: 12px;
            // Note right has to be negative because icon is push by border-with
            top: calc((2 / 3) * (#{$ribbon-width} / 4));
            right: calc(((2 / 3) * (#{$ribbon-width} / 4)) - #{$ribbon-width});
        }
    }

    &__header {
        background-color: $grey20;
        overflow: hidden;
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100px;

        @media (min-width: $main-breakpoint) {
            position: relative;
            height: 145px;
            width: 100%;
        }

        .c-img {
            position: absolute;
            margin: auto;
            top: 0;
            bottom: 0;

            @media (min-width: $main-breakpoint) {
                position: relative;
                object-fit: cover;
                font-family: "object-fit: cover";
            }
        }
    }

    &__content {
        height: 115px;
        // left padding = __header width + padding
        padding: 10px 10px 10px 110px;
        @media (min-width: $main-breakpoint) {
            position: relative;
            padding: 10px;
        }
    }

    &__title {
        white-space: nowrap;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        height: 30px;
        margin: 0;
    }

    &__tags {
        border-top: 1px solid $grey20;
        background-color: $grey10;
        overflow: hidden;
        padding: 2px 0 2px 10px;
        white-space: nowrap;
        position: relative;
        display: none;

        @media (min-width: $main-breakpoint) {
            display: block;
        }

        &:before {
            content: "";
            box-shadow: inset -15px 0 15px $grey10;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: map-get($z-index, card-detailed-shadow);
        }

        .c-tag {
            display: inline-block;
            font-size: 12px;
            border: 2px solid $grey20;
            line-height: 20px;
            padding: 0 10px;
            border-radius: 20px;
            background: $white;
            height: inherit;
        }
    }
}

.c-card-close {
    position: absolute;
    top: 10px;
    right: 10px;
    transform: translateX(- 50%);
    width: $card-close-width;
    height: $card-close-width;
    border-radius: 50%;
    background-color: $red;
    color: $white;
    z-index: map-get($z-index, 'card-detailed-close');
    text-align: center;
    transform-origin: center;
    transition: $transition transform;

    &:hover,
    &:active,
    &:focus {
        transform: translateX(- 50%) rotate(90deg);
    }

    @media (min-width: $main-breakpoint) {
        right: auto;
        left: calc(50% + #{$card-detailed-width} / 2 - (#{$card-close-width} / 2 + 10px));
    }
}
