//
// Mixin to create different colored aside nav
//
@mixin nav-aside-variant($bg-color, $bg-item-color, $color-hover, $bg-color-hover: lighten($bg-item-color, 2%)) {

    background-color: $bg-color;

    &__title {

        &:hover,
        &:focus,
        &.is-active {
            background-color: $bg-color-hover;
        }

        .c-icon {
            color: $color-hover;
        }
    }

    &__item {
        background-color: $bg-item-color;

        &:hover,
        &:focus,
        &.is-active {
            background-color: $color-hover;
        }
    }
}

// c-nav-aside style
$aside-title-height: 60px;
$aside-item-height: 40px;
$offset-to-hide-scrollbar: 30px;

.c-nav-aside {
    @include reset-ul();
    height: 100%;
    width: 100%;
    overflow: hidden;
    font-family: $font-family-sans-serif;
    color: $white;
    background-color: $secondary;

    &__container {
        // To hide scrollbar
        width: calc(100% + #{$offset-to-hide-scrollbar});
        height: 100%;
        overflow-x: hidden;
    }

    &__title {
        display: block;
        height: $aside-title-height;
        line-height: $aside-title-height;
        padding-left: calc-rem(15px);
        padding-right: calc-rem(10px);
        text-transform: uppercase;
        cursor: pointer;
        transition: background-color $transition;

        .c-icon {
            color: $secondary-darkest;
            transition: color $transition;
            margin-right: calc-rem(15px);
        }

        &:hover,
        &:focus,
        &.is-active {
            background-color: $secondary-dark;

            .c-icon {
                color: $white !important;
            }
        }
    }

    &__item {
        height: $aside-item-height;
        line-height: $aside-item-height;
        background-color: $secondary-dark;
        transition: background-color $transition;
        cursor: pointer;

        &:hover,
        &:focus,
        &.is-active {
            background-color: $secondary-darkest;

            .c-link {
                text-decoration: none;
            }
        }

        .c-link {
            display: block;
            text-decoration: none;
            padding: 0 0 0 calc-rem(50px);
            width: 100%;
            height: 100%;
            color: $white;
            text-align: left;
        }
    }

    .l-view--professional & {
        @include nav-aside-variant($business, $business-dark, $business-darkest);
    }

    .l-view--individual & {
        @include nav-aside-variant($customer, $customer-dark, $customer-darkest);
    }

    .l-view--admin & {
        @include nav-aside-variant($admin, $admin-dark, $admin-darkest);
    }
}
