$card-padding: calc-rem(5px);

.c-sdg-card {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: $shadow-default;
    padding: $card-padding;
    width: 125px;
    height: 125px;
    margin-bottom: 1rem;
    margin-right: 1rem;
    margin-left: 1rem;
    font-weight: bold;
    text-align: center;

    &:hover {
        opacity: 0.9;
    }
}
