{% extends "main.templates.register.individual.layout" %}

{% set stepTitle = 'Pièce justificative' %}
{% set pageStep = 4 %}

{% block formContent %}
    <form method="POST"
          action="{{ route('register.individual.files.post') }}"
          enctype="multipart/form-data"
          id="register-files-form">

        {{ csrf_field() }}

        <div class="c-form-group">
            <label class="c-form-label" for="idattachment">
                Pièce d'identité
                {% if localUser.customValues.idattachment %}
                    <a class="c-link" href="{{ localUser.customValues.idattachment }}" target="_blank">
                        <i class="fas fa-external-link-alt"></i>
                    </a>
                {% endif %}
            </label>
            <div class="u-relative">
                <input id="idattachment"
                       name="idattachment"
                       type="file"
                       class="c-form-control c-form-control--file js-file-input">
                <div class="c-addon-container">
                    <input class="c-form-control js-file-input-display"
                           placeholder="Parcourir..."
                           name="idattachment_path"
                           value="{{ localUser.idattachment_path }}">
                    <span class="c-icon icon-folder-open"></span>
                </div>
            </div>
            {% include 'main.partials.form-file-constraints' with config('somoney.form_constraints.file') %}
        </div>

        <div class="c-alert u-mg-vt">
            <div class="c-addon-container">
                <p class="c-p u-bold">Pièce d'identité à fournir :</p>
                <ul class="c-list">
                    <li class="c-list__item">Un Passeport avec Photo et signature</li>
                    <li class="c-list__item">Ou une Pièce nationale d'identité Recto/Verso sur un seul document</li>
                </ul>
            </div>

        </div>

        <button type="submit" class="c-btn c-btn--primary c-btn--full-width u-mg-top">Suivant</button>
    </form>
{% endblock %}
