{% extends "framework.layout" %}

{% block content %}
    <div class="l-container-12 u-pd-navbar l-view l-view--individual">
        <div class="l-grid-row l-grid-row--no-gutter">

            <div class="l-col-6 u-mg-vt-lg">
                <div class="l-container-4 u-pd-hz u-inline-center">

                    <h1 class="c-h1 u-mg-bottom-lg">Adhésion Particulier</h1>

                    <div class="c-badge c-badge--lg c-badge--green c-badge--stroke u-inline-block  u-mg-vt-lg">
                        <span class="c-icon icon-checkmark"></span>
                    </div>

                    <p class="c-p u-large u-mg-bottom">
                        Félicitations !<br>
                        Votre avez complété le formulaire d'inscription avec succès.<br>
                    </p>

                    <p class="c-p u-large u-mg-bottom">
                        Vous devez désormais valider votre compte en cliquant sur le lien qui vient de vous être envoyé
                        par email
                    </p>

                    {% if config('registration.common.next_steps_infos') %}
                        <p class="c-p u-large u-mg-bottom">
                            {% if (config('somoney.available.services.membership')) %}
                                Vous recevrez ensuite une demande pour payer la cotisation de votre adhésion de qui
                                aboutira sur la création de votre compte.
                            {% else %}
                                Vous recevrez ensuite une confirmation de création de votre compte et pourrez y accéder
                                en vous connectant avec vos identifiants
                            {% endif %}
                        </p>
                    {% endif %}

                    {% if config('registration.common.directory_infos') %}
                        <a href="{{ getProtocol() ~ config('somoney.domain.directory') }}"
                           class="c-btn c-btn--primary c-btn--full-width u-mg-top-lg">
                            Accéder à l'annuaire
                        </a>
                    {% endif %}
                </div>
            </div>

            <div class="l-col-6">
                <div class=" u-pd-lg c-full-img-container u-bg-main">
                    <div class="l-container-5">
                        <img src="{{ asset('assets/img/signup.svg') }}" alt="" class="c-img u-object-fit-contain">
                    </div>
                </div>
            </div>

        </div>
    </div>

{% endblock %}
