{% extends "framework.layout" %}

{% block content %}
    <div class="l-container-12 u-pd-navbar l-view l-view--individual">
        <div class="l-grid-row l-grid-row--no-gutter">

            <div class="l-col-6 u-mg-vt-lg">
                <div class="l-container-4 u-pd-hz u-inline-center">

                    <h1 class="c-h1 u-inline-center u-mg-bottom-lg">Adhésion Particulier</h1>

                    <div class="c-badge c-badge--lg c-badge--green c-badge--stroke u-inline-block  u-mg-vt-lg">
                        <span class="c-icon icon-checkmark"></span>
                    </div>

                    <p class="c-p u-large">
                        Félicitations !<br>
                        Votre adresse e-mail a bien été validée.
                    </p>
                    {% if (config('somoney.available.services.membership')) %}
                        <p class="c-p u-large u-mg-bottom">
                            Pour finaliser votre inscription, vous devez régler votre adhésion
                        </p>
                        <a href="{{ route('register.individual.credit.membership') }}"
                           class="c-btn c-btn--secondary c-btn--full-width u-mg-top-lg">
                            Finaliser mon adhésion
                        </a>
                        {% if config('somoney.content.signup.individual.success_membership') %}
                            {{ config('somoney.content.signup.individual.success_membership') | raw }}
                        {% endif %}
                    {% else %}
                        <p class="c-p u-large u-mg-bottom">
                            Votre inscription est réussie, vous pouvez vous connecter à votre espace.
                        </p>
                        <a href="{{ route('auth.login') }}"
                           class="c-btn c-btn--primary c-btn--full-width u-mg-top-lg">
                            Se connecter
                        </a>
                    {% endif %}

                    {% if config('registration.common.directory_infos') %}
                        <hr class="u-mg-vt">

                        <a href="{{ getProtocol() ~ config('somoney.domain.directory') }}"
                           class="c-btn c-btn--primary c-btn--full-width u-mg-top-lg">
                            Accéder à l'annuaire
                        </a>
                    {% endif %}
                </div>
            </div>

            <div class="l-col-6">
                <div class=" u-pd-lg c-full-img-container u-bg-main">
                    <div class="l-container-5">
                        <img src="{{ asset('assets/img/signup.svg') }}" alt="" class="c-img u-object-fit-contain">
                    </div>
                </div>
            </div>

        </div>
    </div>

{% endblock %}

