<section class="sg-section">
	<h2 class="c-h2 sg-h2">Colors</h2>

	<div class="sample">

		<div class="l-grid-row">
			<div class="l-col-4">
				<h3 class="c-h3 sg-h3">Primary</h3>
				<p class="sg-color sg-color-bkg-primary">$primary <br>#e43439</p>
				<p class="sg-color sg-color-bkg-primary-dark">$primary-dark <br>#c6161b</p>
			</div>
			<div class="l-col-4">
				<h3 class="c-h3 sg-h3">Secondary</h3>
				<p class="sg-color sg-color-bkg-secondary">$secondary <br>#00a3b3</p>
				<p class="sg-color sg-color-bkg-secondary-dark">$secondary-dark <br>#018693</p>
			</div>
			<div class="l-col-4">
				<h3 class="c-h3 sg-h3">Tertiary</h3>
				<p class="sg-color sg-color-bkg-tertiary">$tertiary <br>#5e4383</p>
				<p class="sg-color sg-color-bkg-tertiary-dark">$tertiary-dark <br>#4a2f6f</p>
			</div>
		</div>
		<br>
		<br>
		<div class="l-grid-row">
			<h3 class="c-h3 sg-h3">Flashy</h3>
			<div class="l-col-4">
				<p class="sg-color sg-color-bkg-red">$red <br> #e43439</p>
			</div>
			<div class="l-col-4">
				<p class="sg-color sg-color-bkg-green">$green <br> #4caf50</p>
			</div>
		</div>
		<br>
		<br>
		<div class="l-grid-row">
			<h3 class="c-h3 sg-h3">Greys</h3>
			<div class="l-col-12">
				<p class="sg-color sg-color-bkg-grey10">$grey10 <br>#f4f4f4</p>
				<p class="sg-color sg-color-bkg-grey20">$grey20 <br>#eaeaea</p>
				<p class="sg-color sg-color-bkg-grey30">$grey30 <br>#ccc</p>
				<p class="sg-color sg-color-bkg-grey40">$grey40 <br>#adadad</p>
				<p class="sg-color sg-color-bkg-grey50">$grey50 <br>#888</p>
				<p class="sg-color sg-color-bkg-grey60">$grey60 <br>#444</p>
			</div>
		</div>
	</div>

</section>
