<section class="sg-section">

	<h2 class="c-h2 sg-h2">Icons</h2>

	<table class="sg-table">
		<tr>
			<td>
				<span class="icon-star-filled c-icon"></span>
			</td>
			<td>
				<code>icon-star-filled</code>
			</td>
		</tr>
		<tr>
			<td>
				<span class="icon-money c-icon"></span>
			</td>
			<td>
				<code>icon-money</code>
			</td>
		</tr>
		<tr>
			<td>
				<span class="icon-facebook c-icon"></span>
			</td>
			<td>
				<code>icon-facebook</code>
			</td>
		</tr>
		<tr>
			<td>
				<span class="icon-instagram c-icon"></span>
			</td>
			<td>
				<code>icon-instagram</code>
			</td>
		</tr>
		<tr>
			<td>
				<span class="icon-twitter c-icon"></span>
			</td>
			<td>
				<code>icon-twitter</code>
			</td>
		</tr>
		<tr>
			<td>
				<span class="icon-briefcase c-icon"></span>
			</td>
			<td>
				<code>icon-briefcase</code>
			</td>
		</tr>
		<tr>
			<td>
				<span class="icon-calendar c-icon"></span>
			</td>
			<td>
				<code>icon-calendar</code>
			</td>
		</tr>
		<tr>
			<td>
				<span class="icon-checkmark c-icon"></span>
			</td>
			<td>
				<code>icon-checkmark</code>
			</td>
		</tr>
		<tr>
			<td>
				<span class="icon-chevron-down c-icon"></span>
			</td>
			<td>
				<code>icon-chevron-down</code>
			</td>
		</tr>
		<tr>
			<td>
				<span class="icon-chevron-left c-icon"></span>
			</td>
			<td>
				<code>icon-chevron-left</code>
			</td>
		</tr>
		<tr>
			<td>
				<span class="icon-chevron-right c-icon"></span>
			</td>
			<td>
				<code>icon-chevron-right</code>
			</td>
		</tr>
		<tr>
			<td>
				<span class="icon-chevron-up c-icon"></span>
			</td>
			<td>
				<code>icon-chevron-up</code>
			</td>
		</tr>
		<tr>
			<td>
				<span class="icon-cross c-icon"></span>
			</td>
			<td>
				<code>icon-cross</code>
			</td>
		</tr>
		<tr>
			<td>
				<span class="icon-document-edit c-icon"></span>
			</td>
			<td>
				<code>icon-document-edit</code>
			</td>
		</tr>
		<tr>
			<td>
				<span class="icon-document c-icon"></span>
			</td>
			<td>
				<code>icon-document</code>
			</td>
		</tr>
		<tr>
			<td>
				<span class="icon-download c-icon"></span>
			</td>
			<td>
				<code>icon-download</code>
			</td>
		</tr>
		<tr>
			<td>
				<span class="icon-enter c-icon"></span>
			</td>
			<td>
				<code>icon-enter</code>
			</td>
		</tr>
		<tr>
			<td>
				<span class="icon-exit c-icon"></span>
			</td>
			<td>
				<code>icon-exit</code>
			</td>
		</tr>
		<tr>
			<td>
				<span class="icon-folder-open c-icon"></span>
			</td>
			<td>
				<code>icon-folder-open</code>
			</td>
		</tr>
		<tr>
			<td>
				<span class="icon-folder c-icon"></span>
			</td>
			<td>
				<code>icon-folder</code>
			</td>
		</tr>
		<tr>
			<td>
				<span class="icon-information c-icon"></span>
			</td>
			<td>
				<code>icon-information</code>
			</td>
		</tr>
		<tr>
			<td>
				<span class="icon-menu c-icon"></span>
			</td>
			<td>
				<code>icon-menu</code>
			</td>
		</tr>
		<tr>
			<td>
				<span class="icon-message c-icon"></span>
			</td>
			<td>
				<code>icon-message</code>
			</td>
		</tr>
		<tr>
			<td>
				<span class="icon-photo c-icon"></span>
			</td>
			<td>
				<code>icon-photo</code>
			</td>
		</tr>
		<tr>
			<td>
				<span class="icon-plus c-icon"></span>
			</td>
			<td>
				<code>icon-plus</code>
			</td>
		</tr>
		<tr>
			<td>
				<span class="icon-preview c-icon"></span>
			</td>
			<td>
				<code>icon-preview</code>
			</td>
		</tr>
		<tr>
			<td>
				<span class="icon-print c-icon"></span>
			</td>
			<td>
				<code>icon-print</code>
			</td>
		</tr>
		<tr>
			<td>
				<span class="icon-question c-icon"></span>
			</td>
			<td>
				<code>icon-question</code>
			</td>
		</tr>
		<tr>
			<td>
				<span class="icon-star c-icon"></span>
			</td>
			<td>
				<code>icon-star</code>
			</td>
		</tr>
		<tr>
			<td>
				<span class="icon-swap c-icon"></span>
			</td>
			<td>
				<code>icon-swap</code>
			</td>
		</tr>
		<tr>
			<td>
				<span class="icon-tags c-icon"></span>
			</td>
			<td>
				<code>icon-tags</code>
			</td>
		</tr>
		<tr>
			<td>
				<span class="icon-user-group c-icon"></span>
			</td>
			<td>
				<code>icon-user-group</code>
			</td>
		</tr>
		<tr>
			<td>
				<span class="icon-user c-icon"></span>
			</td>
			<td>
				<code>icon-user</code>
			</td>
		</tr>
	</table>

</section>
