<section class="sg-section  mixins">

	<h2 class="h2 sg-h2">Mixins</h2>

	<h3 id="container" class="h3 sg-h3">Container()</h3>

	<div class="code">
		<p class="c-p u-pd-bottom-sm">The <code>container</code> mixin is used to give an element the behavior of a container. The component will have the different container <code>width</code> according to the media queries breakpoints.</p>
		<pre>
			<code class="language-ruby">
				@include container($column);
			</code>
		</pre>
	</div>

	<br>

	<h3 id="debug" class="h3 sg-h3">Debug()</h3>

	<div class="code">
		<p class="c-p u-pd-bottom-sm">The <code>debug</code> mixin adds outline to each element in its scope. According to its tag name / type, the component will have a specific outline color, making it easily to debug its box model.</p>
		<p class="c-p u-pd-bottom-sm">The mixin can be used in 3 ways :</p>
		<ul class="u-pd-left">
			<li>Include the mixin in the component syle, in its <code>scss</code> file;</li>
			<li>Activate the <code>$debugBody</code> variable in the <code>./mixins/_debug.scss</code> file. The mixin will then apply to the body;</li>
			<li>Insert the <code>.debug</code> class in the component. This can be done directly in the developer mode for instance.</li>
		</ul>
		<pre>
			<code class="language-ruby">
				@include debug($pesticide-debug-outline: true, $pesticide-debug-depth: false);
			</code>
		</pre>
	</div>

	<br>

	<h3 id="placeholder" class="h3 sg-h3">Placeholder()</h3>

	<div class="code">
		<p class="c-p u-pd-bottom-sm">The <code>placeholder</code> mixin helps to easily choose the color of your input placeholder (and <code>invalid</code> state) regardless of the browser context.</p>
		<pre>
			<code class="language-ruby">
				@include placeholder($color);
			</code>
		</pre>
	</div>

</section>
