{% extends "framework.layout" %}

{% block content %}
    <div class="l-grid-row l-grid-row--no-gutter u-pd-navbar l-view--individual">
        <div class="l-col-6-sm u-mg-vt-lg">
            <div class="l-container-4">
                <h1 class="c-h1 u-inline-center u-mg-bottom-lg">
                    {% if session('auth.user.group.internalName') == config('cyclos.internal-names.groups.professional')%}
                        Réadhésion Professionnel : Entreprise et Association
                    {% else %}
                        Réadhésion Particulier
                    {% endif %}
                </h1>
                {% if errors.any() %}
                    <div class="c-alert c-alert--error">
                        <ul class="c-list">
                            {% for error in errors.all() %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
                <form method="POST"
                      action="{{ route('memberships.renew.payment', {membershipRenewToken: membershipRenewToken.id}) }}">
                    {{ csrf_field() }}
                    <div class="c-form-group">
                        <div class="c-form-group">
                            <label class="c-form-label" for="amount">
                                {{ config('somoney.content.signup.'~session('auth.user.group.internalName')~'.membership.membership_renewal_price_grid') | raw }}
                            </label>
                            <div class="c-addon-container">
                                <input type="number"
                                       class="c-form-control js-form-control"
                                       step="0.01"
                                       min="{{ config('somoney.credit.membership.min.renewal.'~session('auth.user.group.internalName')) }}"
                                       id="amount"
                                       name="amount"
                                       value="{{ config('somoney.credit.membership.min.renewal.'~session('auth.user.group.internalName')) }}">
                                <i class="c-icon fas fa-euro-sign"></i>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="c-btn c-btn--primary c-btn--full-width u-mg-top">
                        Régler la cotisation
                    </button>
                    {% if config('somoney.content.signup.'~session('auth.user.group.internalName')~'.membership.membership_renewal_price_grid_bottom_information') %}
                        {{ config('somoney.content.signup.'~session('auth.user.group.internalName')~'.membership.membership_renewal_price_grid_bottom_information') | raw }}
                    {% endif %}
                </form>
            </div>
        </div>
        <div class="l-col-6-sm">
            <div class=" u-pd-lg c-full-img-container u-bg-main">
                <div class="l-container-5">
                    <img src="{{ asset('/assets/img/signup.svg') }}" alt="" class="c-img u-object-fit-contain">
                </div>
            </div>
        </div>
    </div>
{% endblock %}

