{% extends "framework.layout" %}

{% block content %}
    <div class="l-grid-row l-grid-row--no-gutter u-pd-navbar l-view--individual">
        <div class="l-col-6-sm u-mg-vt-lg">
            <div class="l-container-4">
                <h1 class="c-h1 u-inline-center u-mg-bottom-lg">
                    {% if session('auth.user.group.internalName') == config('cyclos.internal-names.groups.professional')%}
                        Réadhésion Professionnel : Entreprise et Association
                    {% else %}
                        Réadhésion Particulier
                    {% endif %}
                </h1>
                <div class="u-pd-hz">
                    <h2 class="c-h2 u-inline-center u-mg-top">Régler mon adhésion à l’association</h2>
                    <hr class="u-mg-bottom-lg">
                    {% if(config('somoney.payment-gateway') == 'lemonway') %}
                        <iframe src="{{ initPayment }}"
                                class="u-full-width"
                                style="height: 1000px"
                                frameborder="0"></iframe>
                    {% elseif(config('somoney.payment-gateway') == 'system-pay') %}
                        <iframe src="{{ route('system_pay.form', [initPayment]) }}"
                                class="u-full-width"
                                style="height: 500px"
                                frameborder="0"></iframe>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="l-col-6-sm">
            <div class=" u-pd-lg c-full-img-container u-bg-main">
                <div class="l-container-5">
                    <img src="{{ asset('/assets/img/signup.svg') }}" alt="" class="c-img u-object-fit-contain">
                </div>
            </div>
        </div>
    </div>
    {% include "main.components.modal" with {
        id : 'payment-register-lock',
        color : 'red',
        icon : 'cross',
        message : "Le temps pour le paiment est dépasser!<br/>Veuillez faire une nouvelle demande de paiement.",
    } %}
{% endblock %}

