<!DOCTYPE html>
<html lang="fr">
    <head>
        {% include 'framework.partials.head' %}

        <link rel="stylesheet" href="{{ mix('assets/css/somoney-main.css') }}" media="screen" charset="utf-8">
        <!--[if lte IE 9 ]>
        <script src="{{ mix('assets/js/somoney-ieSupport.js') }}"></script>
        <![endif]-->
    </head>

    {% if session('auth.user.group.internalName', '') starts with config('cyclos.internal-names.admin') %}
        {% set viewModifier = config('cyclos.internal-names.admin') %}
    {% else %}
        {% set viewModifier = session('auth.user.group.internalName', '') %}
    {% endif %}

    <body class="l-view l-view--{{ viewModifier }}">

        {% include 'main.partials.header' %}

        <main class="l-main">
            {% block content %}
            {% endblock %}

            {% if session('success') %}
                {% include "main.components.modal" with {
                    'id' : 'successModal',
                    'attributes' : 'data-show',
                    'color' : 'green',
                    'icon' : 'checkmark',
                    'message' : session('success')
                } %}
            {% endif %}

            {% if session('error') %}
                {% include "main.components.modal" with {
                    'id' : 'errorModal',
                    'attributes' : 'data-show',
                    'color' : 'red',
                    'icon' : 'cross',
                    'message' : session('error')
                } %}
            {% endif %}
        </main>
        {# replace @shared directive, sent from ViewComposerServiceProvider #}
        {{ laravelSharedData | raw }}
        {% block scriptBefore %}{% endblock %}
        <script type="text/javascript" src="{{ mix('assets/js/manifest.js') }}"></script>
        <script type="text/javascript" src="{{ mix('assets/js/vendor.js') }}"></script>
        <script type="text/javascript" src="{{ mix('assets/js/somoney-main.js') }}"></script>

        <script>
            if (document.cookie.match(new RegExp('displayCookieConsent=([^;]+)'))) {
                {% if config('services.google.analytics.key') %}
                (
                    function (i, s, o, g, r, a, m) {
                        i['GoogleAnalyticsObject'] = r;
                        i[r] = i[r] || function () {
                            (
                                i[r].q = i[r].q || []
                            ).push(arguments);
                        }, i[r].l = 1 * new Date();
                        a = s.createElement(o),
                            m = s.getElementsByTagName(o)[0];
                        a.async = 1;
                        a.src = g;
                        m.parentNode.insertBefore(a, m);
                    }
                )(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

                ga('create', '{{ config('services.google.analytics.key') }}', 'auto');
                ga('send', 'pageview');
                {% endif %}
            }
        </script>

        {% block scriptAfter %}
        {% endblock %}

    </body>
</html>
