<div class="c-form-group u-mg-bottom-sm">
    <input class="c-checkbox"
           type="checkbox"
           id="commercialinfo"
           name="commercialinfo"
           value="true"
           {% if (old('commercialinfo',localUser.customValues.commercialinfo)) %}checked{% endif %}>
    <label for="commercialinfo">
        J'accepte de recevoir des informations à caractère commercial des adhérents professionnels
    </label>
</div>
