<div class="c-form-group">
    <input class="c-checkbox"
           type="checkbox"
           id="membershipsonantaise"
           name="membershipsonantaise"
           value="true"
           {% if old('membershipsonantaise', localUser.customValues.membershipsonantaise) %}checked{% endif %}>
    <label for="membershipsonantaise" class="c-p u-small">
        Je comprends que pour utiliser {{ config('somoney.money') }}, j’adhère à
        l’association {{ config('somoney.asso') }} et à la charte des valeurs de {{ config('somoney.money') }}
        {% if config('somoney.available.services.membership') %}
            <span class="u-red">*</span>
        {% endif %}
        <span class="c-icon icon-information js-tooltip-trigger c-tooltip-trigger"
              tabindex="0"
              data-original-title="L'association {{ config('somoney.asso') }} porte la monnaie locale {{ config('somoney.money') }}."></span>
    </label>
</div>
