<div class="c-form-group">
    <input class="c-checkbox"
           type="checkbox"
           id="optinnewsletter"
           name="optinnewsletter"
           value="true"
           {% if (old('optinnewsletter',localUser.customValues.optinnewsletter)) %}checked{% endif %}>
    <label for="optinnewsletter" class="c-p u-small">
        Je souhaite être informé des actualités de {{ config('somoney.money') }}
        <span class="c-icon icon-information js-tooltip-trigger c-tooltip-trigger"
              tabindex="0"
              data-original-title="Lettre d'actualité mensuelle, évènements organisés, bons plans du moment"></span>
    </label>
</div>