<h2 class="c-h2 u-mg-bottom">Structure</h2>
<div class="l-grid-row">
    <div class="l-col-6">
        <div class="c-form-group u-mg-bottom-sm">
            <label class="c-form-label c-form-label--required" for="name">Raison sociale ou identifiant</label>
            <input type="text"
                   class="c-form-control js-form-control"
                   id="name"
                   name="user[name]"
                   placeholder="Raison sociale"
                   value="{{ old('user.name',user.name) }}">
        </div>
    </div>
    <div class="l-col-6">
        <div class="c-form-group u-mg-bottom-sm">
            <label class="c-form-label" for="website">Site web</label>
            <input type="text"
                   class="c-form-control js-form-control"
                   id="website"
                   name="user[customValues][website]"
                   placeholder="http://www.monsiteweb.fr/"
                   value="{{ old('user.customValues.website',user.customValues.website) }}">
        </div>
    </div>
    <div class="l-col-6">
        <div class="c-form-group u-mg-bottom-sm">
            <label class="c-form-label c-form-label--required" for="mailpro">E-mail de la structure</label>
            <input type="email"
                   class="c-form-control js-form-control"
                   id="mailpro"
                   name="user[customValues][mailpro]"
                   placeholder="contact@monentreprise.fr"
                   value="{{ old('user.customValues.mailpro',user.customValues.mailpro) }}">
        </div>
    </div>
    <div class="l-col-3">
        <div class="c-form-group">
            <label class="c-form-label" for="organisationattachmenttype">Type du document relatif à la structure</label>
            <div class="c-addon-container">
                <select id="organisationattachmenttype"
                        class="c-form-control c-form-control--select js-form-control"
                        name="user[customValues][organisationattachmenttype]">
                    {% for organisationattachmenttype in organisationAttachmentTypes %}
                        <option value="{{ organisationattachmenttype.id }}"
                                {% if user.customValues.organisationattachmenttype.id == organisationattachmenttype.id %}selected="selected"{% endif %}>{{ organisationattachmenttype.value }}</option>
                    {% endfor %}
                </select>
                <span class="c-icon icon-chevron-down" aria-hidden="true"></span>
            </div>
        </div>
        <div class="c-form-group">
            <label class="c-form-label" for="organisationattachment">Document relatif à la structure</label>
            <div class="u-relative">
                <input id="organisationattachment"
                       name="organisationattachment"
                       type="file"
                       class="c-form-control c-form-control--file js-file-input">
                <div class="c-addon-container">
                    <input class="c-form-control js-file-input-display"
                           placeholder="Parcourir..."
                           value="{{ user.customValues.organisationattachment }}">
                    <span class="c-icon icon-folder-open"></span>
                </div>
            </div>
            {% include 'main.partials.form-file-constraints' with config('somoney.form_constraints.file') %}
        </div>
    </div>

    <div class="l-col-3">
        <div class="c-form-group">
            <label class="c-form-label" for="ribattachment">Rib Associée à la structure</label>
            <div class="u-relative">
                <input id="ribattachment"
                       name="ribattachment"
                       type="file"
                       class="c-form-control c-form-control--file js-file-input">
                <div class="c-addon-container">
                    <input class="c-form-control js-file-input-display"
                           placeholder="Parcourir..."
                           value="{{ user.customValues.ribattachment }}">
                    <span class="c-icon icon-folder-open"></span>
                </div>
            </div>
            {% include 'main.partials.form-file-constraints' with config('somoney.form_constraints.file') %}
        </div>
    </div>

    <div class="l-col-6">
        <input class="c-checkbox"
               type="checkbox"
               id="field-visible"
               name="visible"
               value="true"
            {{ user.customValues.visible ? 'checked' : '' }}>
        <label for="field-visible" class="c-form-label">
            Visible dans l'annuaire et dans les destinataires de virements.
        </label>
    </div>
</div>

<hr class="u-mg-vt">

<h2 class="c-h2 u-mg-bottom">Référent</h2>

{% include 'framework.components.form.gender' %}
{% include 'framework.components.form.names' %}

<div class="l-grid-row">
    <div class="l-col-6">
        <div class="c-form-group u-mg-bottom-sm">
            {% include 'framework.components.form.fields.born-date' %}
        </div>
    </div>
    <div class="l-col-3">
        <div class="c-form-group">
            <label class="c-form-label" for="idattachment">Pièce d'identité du dirigeant</label>
            <div class="u-relative">
                <input id="idattachment"
                       name="idattachment"
                       type="file"
                       class="c-form-control c-form-control--file js-file-input">
                <div class="c-addon-container">
                    <input class="c-form-control js-file-input-display"
                           placeholder="Parcourir..."
                           value="{{ old('user.customValues.idattachment',user.customValues.idattachment) }}">
                    <span class="c-icon icon-folder-open"></span>
                </div>
            </div>
            {% include 'main.partials.form-file-constraints' with config('somoney.form_constraints.file') %}
        </div>
    </div>
</div>

<div class="l-grid-row">
    <div class="l-col-6">
        <div class="c-form-group u-mg-bottom-sm">
            <label class="c-form-label c-form-label--required" for="email">E-mail</label>
            <input type="email"
                   class="c-form-control js-form-control"
                   id="email"
                   name="user[email]"
                   placeholder="contact@monentreprise.fr"
                   value="{{ old('user.email',user.email) }}">
        </div>
    </div>
    <div class="l-col-6">
        <div class="c-form-group u-mg-bottom-sm">
            {% include 'framework.components.form.fields.phone' %}
        </div>
    </div>
</div>

<hr class="u-mg-vt">

<h2 class="c-h2 u-mg-bottom">Adresse postale</h2>

{% include 'framework.components.form.address' with {forceHideAddressNotFound: true} %}

<hr class="u-mg-vt">

<h2 class="c-h2 u-mg-bottom">Activité</h2>
<div class="c-form-group">
    <label class="c-form-label" for="category">Catégorie *</label>
    <div class="c-addon-container">
        <select id="category"
                name="user[customValues][catpro]"
                class="c-form-control c-form-control--select js-form-control">
            <option disabled>Choix de la catégorie</option>
            {% for category in professionalCategories %}
                <option value="{{ category.id }}"
                        {% if user.customValues.catpro[0].id == category.id %}selected="selected"{% endif %}>{{ category.value }}</option>
            {% endfor %}
        </select>
        <span class="c-icon icon-chevron-down" aria-hidden="true"></span>
    </div>
</div>
<div class="c-form-group u-mg-bottom-sm">
    <label class="c-form-label" for="aboutMe">Descriptif du professionnel</label>
    <textarea rows="3"
              class="c-form-control c-form-control--textarea js-form-control"
              id="aboutMe"
              name="user[customValues][aboutMe]">{{ old('user.customValues.aboutMe',user.customValues.aboutMe) }}</textarea>
</div>
<div class="c-form-group u-mg-bottom-sm">
    <label class="c-form-label" for="keyword">Mots clés
        <span class="c-icon icon-information js-tooltip-trigger c-tooltip-trigger"
              tabindex="0"
              aria-hidden="true"
              title=""
              data-original-title="séparé par une virgule"></span></label>
    <input type="text"
           class="c-form-control js-form-control"
           id="keyword"
           name="user[customValues][keywords]"
           value="{{ old('user.customValues.keywords',user.customValues.keywords) }}"
           placeholder="Tag1, Tag2, Tag3">
</div>
<div class="c-form-group u-mg-bottom-sm">
    {% for tag in user.customValues.keywords|split(',') %}
        <div class="c-tag">#{{ tag }}</div>
    {% endfor %}
</div>

<hr class="u-mg-vt">

<h2 class="c-h2 u-mg-bottom">Réseaux sociaux</h2>
<div class="l-grid-row">
    <div class="l-col-6">
        <div class="c-form-group u-mg-bottom-sm">
            <label class="c-form-label" for="facebookurl">Facebook</label>
            <input type="url"
                   class="c-form-control js-form-control"
                   id="facebookurl"
                   name="user[customValues][facebookurl]"
                   value="{{ old('user.customValues.facebookurl',user.customValues.facebookurl) }}"
                   placeholder="https://facebook.com/nompage">
        </div>
    </div>
    <div class="l-col-6">
        <div class="c-form-group u-mg-bottom-sm">
            <label class="c-form-label" for="twitterurl">Twitter</label>
            <input type="url"
                   class="c-form-control js-form-control"
                   id="twitterurl"
                   name="user[customValues][twitterurl]"
                   value="{{ old('user.customValues.twitterurl',user.customValues.twitterurl) }}"
                   placeholder="https://twitter.com/nompage">
        </div>
    </div>
</div>

<h2 class="c-h2 u-mg-bottom">Commentaire</h2>
<div class="l-grid-row">
    <div class="l-col-12">
        <div class="c-form-group u-mg-bottom-sm">
            <label class="c-form-label" for="comment">Commentaire</label>
            <textarea
                placeholder="Exemple : N° d'adhérent"
                rows="3"
                class="c-form-control c-form-control--textarea js-form-control"
                name="user[customValues][comment]"
            >{{ old('comment',user.customValues.comment) }}</textarea>
        </div>
    </div>
</div>

<hr/>