<h2 class="c-h2 u-mg-bottom">Structure</h2>
<div class="l-grid-row">
    <div class="l-col-6">
        <div class="c-form-group u-mg-bottom-sm">
            <label class="c-form-label">Raison sociale ou identifiant</label>
            <input disabled type="text" class="c-form-control js-form-control" value="{{ user.name }}">
        </div>
    </div>
    <div class="l-col-6">
        <div class="c-form-group u-mg-bottom-sm">
            <label class="c-form-label">Site web</label>
            <input disabled type="text" class="c-form-control js-form-control" value="{{ user.customValues.website }}">
        </div>
    </div>
    <div class="l-col-6">
        <div class="c-form-group u-mg-bottom-sm">
            <label class="c-form-label">E-mail de la structure</label>
            <input disabled type="email" class="c-form-control js-form-control" value="{{ user.customValues.mailpro }}">
        </div>
    </div>
    <div class="l-col-6-sm l-col-3-md">
        <div class="c-form-group u-mg-bottom-sm">
            <label class="c-form-label">Fichier lié à la structure</label>
            {% if user.customValues.organisationattachment is not empty %}
                <a href="{{ user.customValues.organisationattachment }}"
                   class="c-btn c-btn--secondary c-btn--max-width"
                   download>
                    Télécharger
                </a>
            {% else %}
                <button class="c-btn c-btn--secondary c-btn--max-width" disabled>
                    Télécharger
                </button>
            {% endif %}
        </div>
    </div>
    <div class="l-col-6-sm l-col-3-md">
        <div class="c-form-group u-mg-bottom-sm">
            <label class="c-form-label">IBAN</label>
            {% if user.customValues.ribattachment is not empty %}
                <a href="{{ user.customValues.ribattachment }}"
                   class="c-btn c-btn--secondary  c-btn--max-width"
                   download>
                    Télécharger
                </a>
            {% else %}
                <button class="c-btn c-btn--secondary c-btn--max-width" disabled>
                    Télécharger
                </button>
            {% endif %}
        </div>
    </div>
    <div class="l-col-6">
        <input disabled
               class="c-checkbox"
               type="checkbox"
               value="1"
            {{ user.customValues.visible ? 'checked' : '' }}>
        <label class="c-form-label">
            Visible dans l'annuaire et dans les destinataires de virements.
        </label>
    </div>
</div>

<hr class="u-mg-vt">

<h2 class="c-h2 u-mg-bottom">Référent</h2>
<div class="l-grid-row">
    <div class="l-col-6">
        <div class="c-form-group u-mg-bottom-sm">
            <label class="c-form-label">Civilité</label>
            <div class="c-addon-container">
                <select disabled class="c-form-control c-form-control--select js-form-control">
                    <option></option>
                    {% for gender in genders %}
                        <option value="{{ gender.id }}"
                                {% if user.customValues.gender.id == gender.id %}selected="selected"{% endif %}>{{ gender.value }}</option>
                    {% endfor %}
                </select>
                <span class="c-icon icon-chevron-down" aria-hidden="true"></span>
            </div>
        </div>
    </div>
    <div class="l-col-6">
        <div class="c-form-group u-mg-bottom-sm">
            <label class="c-form-label">Nom du référent</label>
            <input disabled
                   type="text"
                   class="c-form-control js-form-control"
                   value="{{ user.customValues.firstname }} {{ user.customValues.lastname }}">
        </div>
    </div>
</div>
<div class="l-grid-row">
    <div class="l-col-6">
        <div class="c-form-group u-mg-bottom-sm">
            <label class="c-form-label">Date de naissance du référent</label>
            <div class="c-addon-container">
                <input disabled
                       class="c-form-control js-form-control"
                       type="text"
                       value="{{ user.customValues.birthday | date('d/m/Y') }}">
                <span class="c-icon icon-calendar" aria-hidden="true"></span>
            </div>
        </div>
    </div>
    <div class="l-col-6">
        <div class="c-form-group u-mg-bottom-sm">
            <label class="c-form-label">Pièce d'identité du référent</label>
            {% if user.customValues.idattachment is not empty %}
                <a href="{{ user.customValues.idattachment }}" class="c-btn c-btn--secondary" download>Télécharger</a>
            {% else %}
                <button class="c-btn c-btn--secondary" disabled>Télécharger</button>
            {% endif %}
        </div>
    </div>
</div>

<div class="l-grid-row">
    <div class="l-col-6">
        <div class="c-form-group u-mg-bottom-sm">
            <label class="c-form-label">E-mail du référent</label>
            <input disabled type="email" class="c-form-control js-form-control" value="{{ user.email }}">
        </div>
    </div>
    <div class="l-col-6">
        <div class="c-form-group u-mg-bottom-sm">
            <label class="c-form-label">Numéro de téléphone de la structure</label>
            <input disabled type="tel" class="c-form-control js-form-control" value="{{ user.phone }}">
        </div>
    </div>
</div>

<hr class="u-mg-vt">

<h2 class="c-h2 u-mg-bottom">Adresse postale</h2>
<div class="l-grid-row">
    <div class="l-col-12">
        <div class="c-form-group u-mg-bottom-sm">
            <label class="c-form-label">Adresse</label>
            <input disabled type="text" class="c-form-control js-form-control" value="{{ user.address.addressLine1 }}">
        </div>
    </div>
</div>

<div class="l-grid-row">
    <div class="l-col-6">
        <div class="c-form-group u-mg-bottom-sm">
            <label class="c-form-label">Code postal</label>
            <input disabled type="text" class="c-form-control js-form-control" value="{{ user.address.zip }}">
        </div>
    </div>
    <div class="l-col-6">
        <div class="c-form-group u-mg-bottom-sm">
            <label class="c-form-label">Ville</label>
            <input disabled type="text" class="c-form-control js-form-control"
                   value="{{ user.address.city }}">
        </div>
    </div>
</div>

<hr class="u-mg-vt">

<h2 class="c-h2 u-mg-bottom">Activité</h2>
<div class="c-form-group">
    <label class="c-form-label" for="category">Catégorie *</label>
    <div class="c-addon-container">
        <select id="category"
                name="user[customValues][catpro]"
                class="c-form-control c-form-control--select js-form-control"
                disabled>
            <option>Choix de la catégorie</option>
            {% for category in professionalCategories %}
                <option value="{{ category.id }}"
                        {% if user.customValues.catpro[0].id == category.id %}selected="selected"{% endif %}>{{ category.value }}</option>
            {% endfor %}
        </select>
        <span class="c-icon icon-chevron-down" aria-hidden="true"></span>
    </div>
</div>
<div class="c-form-group u-mg-bottom-sm">
    <label class="c-form-label">
        Descriptif du professionnel
    </label>
    <textarea rows="3"
              class="c-form-control c-form-control--textarea js-form-control"
              disabled>{{ user.customValues.aboutMe }}</textarea>
</div>
<div class="c-form-group u-mg-bottom-sm">
    <label class="c-form-label">Mots clés <span class="c-icon icon-information js-tooltip-trigger c-tooltip-trigger"
                                                tabindex="0"
                                                aria-hidden="true"
                                                title=""
                                                data-original-title="séparé par une virgule"></span></label>
    <div class="c-form-group u-mg-bottom-sm">
        {% for tag in user.customValues.keywords|split(',') %}
            <div class="c-tag">#{{ tag }}</div>
        {% endfor %}
    </div>
</div>

<hr class="u-mg-vt">

<h2 class="c-h2 u-mg-bottom">Réseaux sociaux</h2>
<div class="l-grid-row">
    <div class="l-col-6">
        <div class="c-form-group u-mg-bottom-sm">
            <label class="c-form-label">Facebook</label>
            <input disabled
                   type="url"
                   class="c-form-control js-form-control"
                   value="{{ user.customValues.facebookurl }}">
        </div>
    </div>
    <div class="l-col-6">
        <div class="c-form-group u-mg-bottom-sm">
            <label class="c-form-label">Twitter</label>
            <input disabled
                   type="url"
                   class="c-form-control js-form-control"
                   value="{{ user.customValues.twitterurl }}">
        </div>
    </div>
</div>

<hr class="u-mg-vt">

<h2 class="c-h2 u-mg-bottom">Commentaire</h2>
<div class="l-grid-row">
    <div class="l-col-12">
        <div class="c-form-group u-mg-bottom-sm">
            <label class="c-form-label">Commentaire</label>
            <textarea
                placeholder="Exemple : N° d'adhérent"
                rows="3"
                class="c-form-control c-form-control--textarea js-form-control"
                name="user[customValues][comment]"
                disabled
            >{{ user.customValues.comment }}</textarea>
        </div>
    </div>
</div>

