{% extends "main.layout" %}

{% set title = 'Gestion comptoir '~counter.name %}
{% set asideContext = 'counter.show.'~counter.id %}

{% block main %}
    <div class="l-container u-pd">

        <h1 class="c-h1 u-grey25 u-normal-weight u-mg-bottom-sm">Gestion des comptoirs</h1>

        <div class="c-card u-mg-bottom">
            <h2 class="c-h2 u-mg-bottom">{{ counter.name }}</h2>

            <div class="l-container">
                <form class="u-pd-hz l-grid-row u-mg-bottom"
                      method="POST"
                      action="{{ route('counter.transfer',{counter: counter.id}) }}"
                      data-user-selected="{{ old('user') }}">
                    {{ csrf_field() }}
                    {% include 'main.partials.form-errors-filtered' with {fields: ['user','type','amount','banknotes']} %}
                    <div class="l-grid-row">
                        <div class="l-col-12 l-col-4-sm">
                            <div class="c-form-group">
                                <div class="c-form-group">
                                    <label class="c-form-label c-form-label--required" for="user">
                                        Utilisateur
                                    </label>
                                    <select
                                        class="c-form-control autocomplete-users select2"
                                        name="user"
                                        id="user"
                                        data-exclude="{{ session('auth.user.id') }}"
                                        data-event-on-balance-null
                                        data-event-disable="#radio-in + label"
                                        data-only-members
                                    >
                                    </select>
                                </div>
                            </div>
                            <div class="c-form-group u-mg-bottom-sm">
                                <label class="c-form-label c-form-label--required" for="gender">Type</label>
                                {# Only admin users can do return cash #}
                                {% if session('auth.user.group.internalName') starts with config('cyclos.internal-names.admin') %}
                                    <div class="c-form-group u-inline-block u-mg-right">
                                        <input class="c-radio c-radio--btn"
                                               type="radio"
                                               id="radio-in"
                                               name="type"
                                               value="in"
                                            {% if old('type') == 'in' %}
                                            checked="checked"
                                            {% endif %}>
                                        <label for="radio-in"
                                               class="c-btn-brick--thin {% if old('type') == 'in' %}is-active{% endif %}">
                                            <i class="fa fa-2x fa-sign-in-alt"></i>
                                            {{ config('somoney.counters-cash-in', 'Retour') }}s
                                        </label>
                                    </div>
                                {% endif %}
                                <div class="c-form-group u-inline-block u-mg-right">
                                    <input class="c-radio c-radio--btn"
                                           type="radio"
                                           id="radio-out"
                                           name="type"
                                           value="out"
                                        {% if old('type') == 'out' or old('type') is null %}
                                        checked="checked"
                                        {% endif %}>
                                    <label for="radio-out"
                                           class="c-btn-brick--thin {% if old('type') == 'out' or old('type') is null %}is-active{% endif %}">
                                        <i class="fa fa-2x fa-sign-out-alt"></i>
                                        {{ config('somoney.counters-cash-out', 'Sortie') }}
                                    </label>
                                </div>
                            </div>
                            <div class="c-form-group u-mg-bottom-sm">
                                <div class="c-form-group">
                                    <label class="c-form-label" for="amount">
                                        Montant
                                    </label>
                                    <div class="c-addon-container u-large">
                                        <input type="number"
                                               class="c-form-control c-form-control--disabled js-form-control"
                                               readonly
                                               id="amount"
                                               name="amount">
                                        <span class="c-icon icon-money u-font-size-inherit"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="l-col-12 l-col-8-sm">

                            <div class="c-form-group u-mg-bottom-sm">
                                <div class="c-form-group">
                                    <label class="c-form-label">
                                        Billets ({{ config('somoney.money') }})
                                    </label>
                                    <div class="c-table">
                                        {% for banknote in config('somoney.banknotes') %}
                                            <div class="c-table__cell u-inline-center">
                                                <div class="c-form-group">
                                                    <label class="c-form-label u-large" for="banknote-{{ banknote }}">
                                                        {{ banknote }} <i class="c-icon icon-money"></i>
                                                    </label>
                                                    <div class="c-form-input c-form-input--banknote">
                                                        <span class="btn-sub">-</span>
                                                        <input type="number"
                                                               name="banknotes[{{ banknote }}]"
                                                               id="banknote-{{ banknote }}"
                                                               data-amount="{{ banknote }}"
                                                               value="{{ old('banknotes.'~banknote,0) }}"
                                                               class="c-form-control js-form-control c-form-control--banknote u-inline-center u-w-20px"
                                                        />
                                                        <span class="btn-add">+</span>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="c-btn c-btn--green u-right u-mg-top">Valider</button>
                </form>
            </div>
        </div>

        <div class="c-card u-mg-bottom">
            <div class="l-container">
                <div class="l-grid-row">
                    <form method="POST" action="{{ route('counter.stock',{counter: counter.id}) }}">
                        {{ csrf_field() }}
                        {% include 'main.partials.form-errors-filtered' with {fields: ['stock']} %}
                        <div class="l-col-12 l-col-4-sm">
                            <div class="c-form-group">
                                <label class="c-form-label" for="field-stock">
                                    Stock ({{ counter.last_stock.stock | default(0) }}
                                    <span class="c-icon icon-money u-font-size-inherit"></span>)- Actualisé
                                    le {{ now | date('d/m/Y') }}
                                </label>
                                <div class="c-input-group">
                                    <input type="number"
                                           id="field-stock"
                                           name="stock"
                                           value="{{ old('stock') }}"
                                           class="c-form-control js-form-control"/>
                                    <button type="submit" class="c-btn c-btn--secondary c-btn--thin">
                                        <i class="c-icon fa fa-sync"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="l-col-12 l-col-4-sm u-pd-hz">
                        <div class="c-form-group u-mg-bottom-sm">
                            <div class="c-form-group">
                                <label class="c-form-label" for="stock-out">
                                    {{ config('somoney.counters-cash-out', 'Sortie') }}
                                    <i class="c-icon icon-information js-tooltip-trigger c-tooltip-trigger"
                                       tabindex="0"
                                       data-original-title="Sommes des {{ config('somoney.counters-cash-out', 'Sortie') | lower }}s depuis la dernière actualisation du stock"></i>
                                </label>
                                <div class="c-addon-container u-large">
                                    <input id="stock-out"
                                           value="{{ counter.sum_stock | default(0) }}"
                                           disabled
                                           class="c-form-control js-form-control"/>
                                    <span class="c-icon icon-money u-font-size-inherit"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="l-col-12 l-col-4-sm u-pd-hz">
                        <div class="c-form-group u-mg-bottom-sm">
                            <div class="c-form-group">
                                <label class="c-form-label" for="stock-in">
                                    Solde
                                    <i class="c-icon icon-information js-tooltip-trigger c-tooltip-trigger"
                                       tabindex="0"
                                       data-original-title="Valeurs des billets restants en stock"></i>
                                </label>
                                <div class="c-addon-container u-large">
                                    <input id="stock-in"
                                           value="{{ counter.stock_balance | default(0) }}"
                                           disabled
                                           class="c-form-control js-form-control"/>
                                    <span class="c-icon icon-money u-font-size-inherit"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% if session('banknote-transfer-succeed') %}
        {% include "main.components.modal" with {
            'id' : 'banknote-transfer-succeed-modal',
            'attributes' : 'data-show',
            'color' : 'green',
            'icon' : 'checkmark',
            'message' : session('banknote-transfer-succeed'),
        } %}
    {% endif %}
{% endblock %}
