{% extends "main.layout" %}

{% set asideContext = 'admin.users' %}

{% block main %}
    <div class="l-container u-pd">

        <a href="{{ route('admin.users.show', {id: user.id}) }}" class="c-btn c-btn--stroke">Retour</a>

        {% if errors.any() %}
            <div class="c-alert c-alert--error">
                <ul class="c-list">
                    {% for error in errors.all() %}
                        {% if error == 'userToNotFound' %}
                            <li>Aucun utilisateur avec cet e-mail n'a été trouvé</li>
                        {% else %}
                            <li>{{ error }}</li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        <div class="c-card u-mg-top">
            <form method="POST" action="{{ route('admin.users.update', {id: user.id}) }}" enctype="multipart/form-data">
                {{ csrf_field() }}
                <input type="hidden" name="group" value="{{ user.group }}"/>
                <div class="l-grid-table">
                    <div class="l-grid-table__cell">
                        <h1 class="c-h1 u-grey25 u-normal-weight u-mg-bottom-sm">{{ user.name }}</h1>
                        <h2 class="c-h2 u-mg-bottom">Photo de profil</h2>
                        <label class="c-form-label" for="profile">Modifier la photo de profil</label>
                        <div class="u-relative">
                            <input id="profile"
                                   name="user[profile]"
                                   type="file"
                                   class="c-form-control c-form-control--file js-file-input">
                            <div class="c-addon-container">
                                <input class="c-form-control js-file-input-display"
                                       placeholder="Parcourir..."
                                       value="{{ user.profileName }}">
                                <span class="c-icon icon-folder-open"></span>
                            </div>
                        </div>
                        {% include 'main.partials.form-file-constraints' with config('somoney.form_constraints.image') %}
                    </div>
                    <div class="l-grid-table__cell u-inline-right">
                        <div class="c-badge c-badge--squared c-badge--lg u-inline-block">
                            <img src="{{ user.profile | default(asset('assets/img/user.jpg')) }}"
                                 alt="image utilisateur"
                                 class="c-img js-lazyload">
                        </div>
                    </div>
                </div>

                <hr class="u-mg-vt">

                {% include 'main.templates.admin.users.' ~ user.group ~ '.edit' %}

                <hr class="u-mg-vt">

                <div class="c-form-group u-mg-bottom-sm">
                    <input class="c-checkbox"
                           type="checkbox"
                           id="commercialinfo"
                           name="user[customValues][commercialinfo]"
                           value="true"
                           {% if user.customValues.commercialinfo %}checked{% endif %}>
                    <label for="commercialinfo" class="c-form-label">
                        Accepte de recevoir des informations à caractère commerciales des adhérents professionnels
                    </label>
                </div>
                <div class="c-form-group u-mg-bottom-sm">
                    <input class="c-checkbox"
                           type="checkbox"
                           id="optinnewsletter"
                           name="user[customValues][optinnewsletter]"
                           value="true"
                           {% if user.customValues.optinnewsletter %}checked{% endif %}>
                    <label for="optinnewsletter" class="c-form-label">
                        Souhaite recevoir la newsletter {{ config('somoney.money') }}
                    </label>
                </div>

                <div class="u-inline-right u-mg-top">
                    <button type="submit" class="c-btn c-btn--stroke c-btn--green">Enregistrer</button>
                </div>

            </form>
        </div>
    </div>
{% endblock %}
