{% extends "main.layout" %}

{% set asideContext = 'admin.users' %}

{% block main %}
    <div class="l-container u-pd">
        <h1 class="c-h1 u-grey25 u-normal-weight u-mg-bottom-sm">Liste des utilisateurs</h1>

        <div class="c-card u-mg-bottom">
            <h2 class="c-h2 u-mg-bottom">Consulter</h2>
            <form class="u-pd-hz l-grid-row u-mg-bottom" method="GET" action="{{ route('admin.users.index') }}">
                <div class="l-col-3 l-col-6-sm">
                    <div class="c-form-group u-mg-bottom-sm">
                        <label class="c-form-label" for="group">Type</label>
                        <div class="c-addon-container">
                            <select id="group"
                                    class="c-form-control c-form-control--select js-form-control"
                                    name="filters[groups]">
                                <option value="{{ config('cyclos.internal-names.groups') | join(',') }}"
                                        {% if filters.groups == config('cyclos.internal-names.groups') | join(',') %}selected="selected"{% endif %}>
                                    Professionnels / Particuliers
                                </option>
                                <option value="{{ config('cyclos.internal-names.groups.professional') }}"
                                        {% if filters.groups == config('cyclos.internal-names.groups.professional') %}selected="selected"{% endif %}>
                                    Professionnels
                                </option>
                                <option value="{{ config('cyclos.internal-names.groups.individual') }}"
                                        {% if filters.groups == config('cyclos.internal-names.groups.individual') %}selected="selected"{% endif %}>
                                    Particuliers
                                </option>
                            </select>
                            <span class="c-icon icon-chevron-down" aria-hidden="true"></span>
                        </div>
                    </div>
                </div>

                <div class="l-col-3 l-col-6-sm">
                    <div class="c-form-group u-mg-bottom-sm">
                        <label class="c-form-label" for="group">Statut</label>
                        <div class="c-addon-container">
                            <select id="group"
                                    class="c-form-control c-form-control--select js-form-control"
                                    name="status">
                                <option value="active"
                                        {% if not filters.profileFields.accountlock or not filters.profileFields.leavecall %}selected="selected"{% endif %}>
                                    Actif
                                </option>
                                <option value="accountlock"
                                        {% if filters.profileFields.accountlock %}selected="selected"{% endif %}>
                                    Bloqué
                                </option>
                                <option value="leavecall"
                                        {% if filters.profileFields.leavecall %}selected="selected"{% endif %}>
                                    Demande à quitter {{ config('somoney.money') }}
                                </option>
                            </select>
                            <span class="c-icon icon-chevron-down" aria-hidden="true"></span>
                        </div>
                    </div>
                </div>

                <div class="l-col-3 l-col-6-sm">
                    <div class="c-form-group u-mg-bottom-sm">
                        <label class="c-form-label" for="form-name">Utilisateurs</label>
                        <select
                            class="c-form-control autocomplete-users select2"
                            name="filters[usersIdsToInclude]"
                            id="form-name">
                        </select>
                    </div>
                </div>

                <div class="l-col-3 l-col-6-sm u-vertical-bottom u-mg-bottom-sm">
                    <label class="c-form-label u-invisible" for="">validation</label>
                    <button type="submit" class="c-btn c-btn--primary c-btn--stroke c-btn--squeeze c-btn--full-width">
                        Filtrer
                    </button>
                </div>
            </form>

            <div class="l-container">
                {% for row in users.items|batch(3) %}
                    <div class="l-grid-row">
                        {% for user in row %}
                            {% set isProfessional = user.group.internalName == config('cyclos.internal-names.groups.professional') %}
                            <div class="l-col-4 u-inline-center">
                                <a href="{{ route('admin.users.show', [user.id]) }}"
                                   title="user.name"
                                   class="c-card u-mg-bottom u-inline-center">
                                    <div class="c-badge c-badge--lg u-inline-block u-mg-bottom">
                                        {% if user.image %}
                                            <img src="{{ user.image.url }}" alt="" class="c-img js-lazyload">
                                        {% else %}
                                            <span class="c-icon {% if isProfessional %}icon-briefcase{% else %}icon-user{% endif %}"
                                                  aria-hidden="true"></span>
                                        {% endif %}
                                    </div>
                                    <p class="c-p">
                                        <span class="c-icon {% if isProfessional %}icon-briefcase{% else %}icon-user{% endif %}"
                                              aria-hidden="true"></span> {{ user.name }}</p>
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>

            <div class="l-grid-table u-pd-sm">
                <div class="l-grid-table__cell">
                    {% if operations.currentPage > 1 %}
                        <a href="{{ route('admin.operations.index', {'filters' : filters} | merge({'page' : operations.currentPage - 1})) }}"
                           class="c-label c-link u-uppercase">
                            <span class="c-icon icon-chevron-left"></span> Page précédente
                        </a>
                    {% endif %}
                </div>
                <div class="l-grid-table__cell u-inline-right">
                    {% if operations.currentPage < operations.lastPage %}
                        <a href="{{ route('admin.operations.index', {'filters' : filters} | merge({'page' : operations.currentPage + 1})) }}"
                           class="c-link c-label u-uppercase">
                            Page suivante<span class="c-icon icon-chevron-right"></span>
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="c-card u-mg-bottom">
            <h2 class="c-h2 u-mg-bottom">Export des membres</h2>
            <a href="{{ route('admin.users.xls') }}" class="c-btn c-btn--green">
                <span class="c-icon icon-download"></span> Classique (XLS)
            </a>
            <a href="{{ route('admin.exports.data_studio.members') }}" class="c-btn c-btn--green">
                <span class="c-icon icon-download"></span> Data Studio (JSON)
            </a>
            <div class="c-card u-mg-top u-bg-grey">
                <h3 class="u-mg-bottom">Récupération en API</h3>
                <div class="u-mg-bottom">
                    <div class="u-bold">Url</div>
                    <code class="u-pd-left-sm">{{ route('api.exports.data_studio.members') }}</code>
                </div>
                <div class="u-mg-bottom">
                    <div class="u-mg-bottom">
                        <div class="u-bold">
                            <a href="https://developer.mozilla.org/fr/docs/Web/HTTP/Headers" class="c-link">En-tête
                                                                                                            HTTP
                            </a>
                        </div>
                        <code class="u-pd-left-sm">
                            {"Authorization": "{{ config('services.google.data_studio.api.key') }}"}
                        </code>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
