{% extends "framework.layout" %}

{% set title = 'Utilisateurs quittant - '~config('somoney.money') %}

{% set asideContext = 'admin.users.leaving' %}

{% import 'main.partials.macros.tables' as tables %}

{% block content %}
    <div class="l-dashboard">
        <div class="l-dashboard__aside">
            {% include 'main.partials.aside.admin' %}
        </div>
        <div class="l-dashboard__main u-bg-grey u-pd-navbar">
            <div class="l-container u-pd">
                <div class="l-grid-row">
                    <div class="l-col-12">
                        <div class="c-card u-mg-vt u-pd-hz-reset">
                            <h1 class="c-h2 u-pd-hz u-mg-bottom u-inline-block">
                                Utilisateurs souhaitant quitter {{ config('somoney.money') }}
                            </h1>
                            {% if users.count() %}
                                <div class="c-table">
                                    <div class="c-table__thead">
                                        <div class="c-table__cell c-label">Nom</div>
                                        <div class="c-table__cell c-label u-inline-center">Statut</div>
                                        <div class="c-table__cell c-label u-inline-center">Actions</div>
                                    </div>
                                    <div class="c-table__tbody">
                                        {% for user in users.items() %}
                                            <div class="c-table__row">
                                                <div class="c-table__cell">
                                                    <a href="{{ route('admin.users.show', {id: user.id}) }}"
                                                       title="Voir le profil de {{ user.name }}">
                                                        {{ user.name }}
                                                    </a>
                                                </div>
                                                <div class="c-table__cell">
                                                    <div class="u-inline-center">
                                                        {% if user.need_reconversion %}
                                                            Doit être reconverti
                                                        {% else %}
                                                            Prêt à supprimer
                                                        {% endif %}
                                                    </div>
                                                </div>
                                                <div class="c-table__cell">
                                                    <div class="u-inline-center">
                                                        {% if not user.need_reconversion %}
                                                            <div class="u-inline-block">
                                                                <form method="POST"
                                                                      action="{{ route('admin.users.leaving.destroy', {userId: user.id}) }}">
                                                                    {{ csrf_field() }}
                                                                    <input type="hidden" name="_method" value="delete">
                                                                    <button type="submit"
                                                                            title="Valider la suppression de {{ user.name }}"
                                                                            class="c-btn c-btn--thin c-btn--stroke c-btn--green u-mg-bottom-xs u-large">
                                                                        <span class="c-icon fa fa-trash"></span>
                                                                    </button>
                                                                </form>
                                                            </div>
                                                        {% endif %}
                                                        {% if user.need_reconversion %}
                                                            <div class="u-inline-block u-vertical-top">
                                                                <a href="{{ route('admin.operations.reconversion-user.index',{user: user.id} ) }}"
                                                                   title="Reconvertir {{ user.name }}"
                                                                   class="c-btn c-btn--thin c-btn--stroke  c-btn--secondary u-mg-bottom-xs u-large">
                                                                    <span class="c-icon fa fa-piggy-bank"></span>
                                                                </a>
                                                            </div>
                                                        {% endif %}
                                                        <div class="u-inline-block u-vertical-center">
                                                            <form method="POST"
                                                                  action="{{ route('admin.users.leaving.cancel', {userId: user.id}) }}">
                                                                {{ csrf_field() }}
                                                                <button type="submit"
                                                                        title="Annuler la suppression de {{ user.name }}"
                                                                        class="c-btn c-btn--thin c-btn--stroke  c-btn--red u-mg-bottom-xs u-large">
                                                                    <span class="c-icon fa fa-ban"></span>
                                                                </button>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% else %}
                                <div class="u-inline-center">
                                    <p class="c-label">Aucun utilisateur en souhaitant quitter</p>
                                </div>
                            {% endif %}

                            <div class="l-grid-table u-pd-sm">
                                <div class="l-grid-table__cell">
                                    {% if users.currentPage > 1 %}
                                        <a href="{{ route('admin.users.leaving.index', {'page' : users.currentPage - 1}) }}"
                                           class="c-label c-link u-uppercase">
                                            <span class="c-icon icon-chevron-left"></span>
                                            Page précédente
                                        </a>
                                    {% endif %}
                                </div>
                                <div class="l-grid-table__cell u-inline-right">
                                    {% if users.currentPage < users.lastPage %}
                                        <a href="{{ route('admin.users.leaving.index', {'page' : users.currentPage + 1}) }}"
                                           class="c-link c-label u-uppercase">
                                            Page suivante
                                            <span class="c-icon icon-chevron-right"></span>
                                        </a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
