{% extends "framework.layout" %}

{% set title = 'Nouveau Utilisateurs '~((('validation.attributes.'~userType) | trans~'s') | capitalize) %}
{% set asideContext = 'admin.users.new.'~userType %}

{% import 'main.partials.macros.tables' as tables %}

{% block content %}
    <div class="l-dashboard">
        <div class="l-dashboard__aside">
            {% if viewModifier == config('cyclos.internal-names.admin') %}
                {% include 'main.partials.aside.admin' %}
            {% else %}
                {% include 'main.partials.aside.user' %}
            {% endif %}
        </div>
        <div class="l-dashboard__main u-bg-grey u-pd-navbar">
            <div class="l-container u-pd">
                <div class="l-grid-row">
                    <div class="l-col-12">
                        <div class="c-card u-mg-vt u-pd-hz-reset">
                            <h1 class="c-h2 u-pd-hz u-mg-bottom u-inline-block">
                                {{ (('validation.attributes.'~userType) | trans~'s') | capitalize }}
                                en attente de validation
                            </h1>
                            {% if config('somoney.available.services.email-status') %}
                                <div class="u-right u-inline-block u-mg-right">
                                    <a href="{{ route('admin.users.new.email.refresh',{userType: (__('validation.attributes.'~userType) | trans | lower)}) }}"
                                       class="c-btn c-btn--primary"
                                       data-child-spin
                                       title="Rafraichir le statut des emails">
                                        <i class="fa fa-sync"></i>
                                    </a>
                                </div>
                                {% include 'main.partials.form-errors' %}
                            {% endif %}
                            {% if users.count() or (localUsers and localUsers.count()) %}
                                <div class="c-table">
                                    <div class="c-table__thead">
                                        <div class="c-table__cell c-label">Nom</div>
                                        {% if config('somoney.available.services.email-status') %}
                                            <div class="c-table__cell c-label u-inline-center">Étape en cours</div>
                                            <div class="c-table__cell c-label u-inline-center">Statut de l'email</div>
                                        {% endif %}
                                        <div class="c-table__cell c-label u-inline-center">Actions</div>
                                    </div>

                                    <div class="c-table__tbody">
                                        {% if users.count() %}
                                            {% for user in users.items() %}
                                                <div class="c-table__row">
                                                    <div class="c-table__cell">
                                                        {{ user.name }}
                                                    </div>
                                                    {% if config('somoney.available.services.email-status') %}
                                                        <div class="c-table__cell">
                                                            <div class="u-inline-center">
                                                                -
                                                            </div>
                                                        </div>
                                                        <div class="c-table__cell">
                                                            <div class="u-inline-center {{ user.emailStatusClass }}">
                                                                <i class="fa fa-2x fa-square"
                                                                   title="{{ user.emailStatusLabel }}"></i>
                                                            </div>
                                                        </div>
                                                    {% endif %}
                                                    <div class="c-table__cell">
                                                        <div class="u-inline-center">
                                                            <div class="u-inline-block u-vertical-center">
                                                                <form method="POST"
                                                                      action="{{ route('admin.users.new.valid', {userId: user.id}) }}">
                                                                    {{ csrf_field() }}
                                                                    <input type="hidden" name="_method" value="put">
                                                                    <button type="submit"
                                                                            title="Valider l'inscription de {{ user.name }}"
                                                                            class="c-btn c-btn--thin c-btn--stroke c-btn--current-color u-mg-bottom-xs u-large">
                                                                        <span class="c-icon icon-checkmark"></span>
                                                                    </button>
                                                                </form>
                                                            </div>
                                                            <div class="u-inline-block u-vertical-center">
                                                                <a href="{{ route('admin.users.show', {id: user.id}) }}"
                                                                   title="Éditer le profil de {{ user.name }}"
                                                                   class="c-btn c-btn--thin c-btn--stroke c-btn--current-color u-mg-left-sm u-large">
                                                                    <i class="c-icon icon-document-edit"></i>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        {% endif %}
                                        {% if config('somoney.available.services.email-status') and localUsers.count() %}
                                            {% for localUser in localUsers %}
                                                <div class="c-table__row">
                                                    <div class="c-table__cell">
                                                        <a href="#" class="c-link" data-disabled="true">
                                                            {{ localUser.name }}
                                                        </a>
                                                    </div>
                                                    {% if config('somoney.available.services.email-status') %}
                                                        <div class="c-table__cell">
                                                            <div class="u-inline-center u-bold"
                                                                 title="{{ localUser.updated_at | date('d/m/Y G:i') }}">
                                                                {{ __('registration.steps.'~config('registration.steps.'~localUser.group~'.id_slug')[localUser.step]) }}
                                                            </div>
                                                        </div>
                                                        <div class="c-table__cell">
                                                            {% if localUser.email_step_reached and not localUser.cyclos_id %}
                                                                <form action="{{ route('admin.users.new.email.resend',{localUser: localUser.id}) }}"
                                                                      method="post">
                                                                    {{ csrf_field() }}
                                                                    <div class="u-inline-center {{ localUser.validation_user.email_status_class }}">
                                                                        <i class="fa fa-2x fa-square"
                                                                           title="{{ localUser.validation_user.email_status_label }}"></i>
                                                                    </div>
                                                                    {% if localUser.validation_user.email_status == [
                                                                        constant('App\\Models\\ValidationUser::NO_EMAIL'),
                                                                        constant('App\\Models\\ValidationUser::SPAM'),
                                                                        constant('App\\Models\\ValidationUser::NOT_OPENED'),
                                                                        constant('App\\Models\\ValidationUser::OPENED'),
                                                                    ] %}
                                                                        <hr/>
                                                                        <div class="c-form-group">
                                                                            <div class="c-input-group">
                                                                                <input type="email"
                                                                                       name="email"
                                                                                       value="{{ localUser.email }}"
                                                                                       class="c-form-control">
                                                                                <button type="submit"
                                                                                        class="c-btn c-btn--primary c-btn--thin"
                                                                                        title="Renvoyer l'email">
                                                                                    <i class="fas fa-paper-plane"></i>
                                                                                </button>
                                                                            </div>
                                                                        </div>
                                                                    {% endif %}
                                                                </form>
                                                            {% endif %}
                                                        </div>
                                                    {% endif %}
                                                    <div class="c-table__cell">
                                                        <div class="u-inline-center">
                                                            {% if  localUser.cyclos_id %}
                                                                <div class="u-inline-block u-vertical-top u-mg-right-xs">
                                                                    <a href="{{ route('admin.users.show',{id: localUser.cyclos_id}) }}"
                                                                       title="Voir le profil de {{ localUser.name }}"
                                                                       class="c-btn c-btn--thin c-btn--stroke c-btn--primary u-large"
                                                                    >
                                                                        <i class="c-icon fas fa-eye"></i>
                                                                    </a>
                                                                </div>
                                                            {% endif %}
                                                            <div class="u-inline-block">
                                                                <a href="{{ route('admin.users.new.show', {localUser: localUser.id}) }}">
                                                                    <button title="Voir des détails de {{ localUser.name }}"
                                                                            class="c-btn c-btn--thin c-btn--stroke c-btn--current-color u-large">
                                                                        <i class="c-icon fas fa-fw fa-eye"></i>
                                                                    </button>
                                                                </a>
                                                            </div>
                                                            <div class="u-inline-block">
                                                                <form method="POST"
                                                                      action="{{ route('admin.users.new.destroy', {localUser: localUser.id}) }}">
                                                                    {{ csrf_field() }}
                                                                    <input type="hidden" name="_method" value="delete">
                                                                    <button type="submit"
                                                                            title="Supprimer l'inscription en cours de {{ localUser.name }}"
                                                                            class="c-btn c-btn--thin c-btn--stroke c-btn--red u-large">
                                                                        <i class="c-icon fas fa-fw fa-trash"></i>
                                                                    </button>
                                                                </form>
                                                            </div>
                                                            {% if (localUser.email_step_reached or localUser.credit_step_reached) and config('somoney.available.services.admin-valid-new') and not localUser.cyclos_id %}
                                                                <hr/>
                                                                <div class="u-mg-bottom-sm">
                                                                    <label class="c-label">Forcer la validation de l'inscription</label>
                                                                </div>
                                                                <div class="u-inline-block">
                                                                    <button type="submit"
                                                                            title="Forcer la validation de {{ localUser.name }} avec son adhésion expiré"
                                                                            class="c-btn c-btn--thin c-btn--stroke c-btn--primary u-large"
                                                                            data-toggle="modal"
                                                                            data-target="#confirmForceValidSimple-{{ localUser.id }}">
                                                                        <i class="c-icon fas fa-fw fa-clipboard-check"></i>
                                                                        +
                                                                        <i class="c-icon fas fa-fw fa-user-times"></i>
                                                                    </button>
                                                                </div>
                                                                <div class="u-inline-block">
                                                                    <button type="submit"
                                                                            title="Forcer la validation de {{ localUser.name }} avec son adhésion valide"
                                                                            class="c-btn c-btn--thin c-btn--stroke c-btn--primary u-large"
                                                                            data-toggle="modal"
                                                                            data-target="#confirmForceValidMembership-{{ localUser.id }}">
                                                                        <i class="c-icon fas fa-fw fa-clipboard-check"></i>
                                                                        +
                                                                        <i class="c-icon fas fa-fw fa-user-check"></i>
                                                                    </button>
                                                                </div>
                                                                {% include "main.components.modal" with {
                                                                    id: 'confirmForceValidSimple-'~localUser.id,
                                                                    color: 'secondary',
                                                                    icon: 'question',
                                                                    message: "Êtes-vous certains de vouloir valider l'inscription de<br/> <b>"~localUser.name~"</b> ?<br/><small>Adhésion expiré</small>",
                                                                    confirm: true,
                                                                    action: 'admin.users.new.forceValidation',
                                                                    actionMethod: 'POST',
                                                                    actionParam: {
                                                                        userType: ((('validation.attributes.'~userType) | trans)| lower),
                                                                        localUser: localUser.id,
                                                                        type: constant('App\\Http\\Controllers\\Admin\\NewUsersController::FORCE_SIMPLE'),
                                                                    }
                                                                } %}
                                                                {% include "main.components.modal" with {
                                                                    id: 'confirmForceValidMembership-'~localUser.id,
                                                                    color: 'secondary',
                                                                    icon: 'question',
                                                                    message: "Êtes-vous certains de vouloir valider l'inscription de<br/> <b> "~localUser.name~"</b> ?<br/><small>Adhésion valide</small>",
                                                                    confirm: true,
                                                                    action: 'admin.users.new.forceValidation',
                                                                    actionMethod: 'POST',
                                                                    actionParam: {
                                                                        userType: ((('validation.attributes.'~userType) | trans)| lower),
                                                                        localUser: localUser.id,
                                                                        type: constant('App\\Http\\Controllers\\Admin\\NewUsersController::FORCE_MEMBERSHIPS'),
                                                                    }
                                                                } %}
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                </div>
                            {% else %}
                                <div class="u-inline-center">
                                    <p class="c-label">Aucun utilisateur en attente de validation</p>
                                </div>
                            {% endif %}

                            <div class="l-grid-table u-pd-sm">
                                <div class="l-grid-table__cell">
                                    {% if users.currentPage > 1 %}
                                        <a href="{{ route('admin.users.new.index', {'page' : users.currentPage - 1}) }}"
                                           class="c-label c-link u-uppercase">
                                            <span class="c-icon icon-chevron-left"></span> Page précédente
                                        </a>
                                    {% endif %}
                                </div>
                                <div class="l-grid-table__cell u-inline-right">
                                    {% if users.currentPage < users.lastPage %}
                                        <a href="{{ route('admin.users.new.index', {'page' : users.currentPage + 1}) }}"
                                           class="c-link c-label u-uppercase">
                                            Page suivante<span class="c-icon icon-chevron-right"></span>
                                        </a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% if session('email-resend-succeed') %}
        {% include "main.components.modal" with {
            'id' : 'email-resend-succeed-modal',
            'attributes' : 'data-show',
            'color' : 'green',
            'icon' : 'checkmark',
            'message' : session('email-resend-succeed'),
        } %}
    {% endif %}

    {% if session('user-validated') %}
        {% include "main.components.modal" with {
            'id' : 'user-validated-modal',
            'attributes' : 'data-show',
            'color' : 'green',
            'icon' : 'checkmark',
            'message' : session('user-validated'),
        } %}
    {% endif %}

    {% if session('user-error') %}
        {% include "main.components.modal" with {
            'id' : 'user-error-modal',
            'attributes' : 'data-show',
            'color' : 'red',
            'icon' : 'cross',
            'message' : session('user-error'),
        } %}
    {% endif %}

    {% if session('registration-deleted') %}
        {% include "main.components.modal" with {
            'id' : 'registration-deleted-modal',
            'attributes' : 'data-show',
            'color' : 'green',
            'icon' : 'checkmark',
            'message' : session('registration-deleted'),
        } %}
    {% endif %}

    {% if session('registration-delete') %}
        {% set localUser = session('registration-delete') %}
        {% include "main.components.modal" with {
            id: 'confirmDelete',
            attributes : 'data-show',
            color: 'red',
            icon: 'cross',
            message: "Êtes-vous certains de vouloir supprimer l'inscription en cours de <b>"~localUser.name~"<b/> ?",
            confirm: true,
            action: 'admin.users.new.destroy',
            actionMethod: 'DELETE',
            actionParam: {
                localUser: localUser.id,
                confirm: session('registration-delete-token')
            }
        } %}
    {% endif %}
{% endblock %}
