{% extends "main.layout" %}

{% set asideContext = isLocalUser is defined ? 'admin.users.new.' ~user.group : 'admin.users' %}

{% block main %}
    <div class="l-container u-mg-navbar u-pd">
        <div class="c-card">
            <div class="l-grid-table">
                <div class="l-grid-table__cell">
                    <h1 class="c-h1 u-grey25 u-normal-weight u-mg-bottom-sm u-inline-block">{{ user.name }}</h1>
                    {% if isLocalUser is not defined %}
                        {% if config('somoney.available.services.email-status') %}
                            <div class="u-inline-block u-mg-left">
                                <div class="u-inline-center {{ user.emailStatusClass }}">
                                    <i class="fa fa-2x fa-square"
                                       title="{{ user.emailStatusLabel }}"></i>
                                </div>
                            </div>
                        {% endif %}
                        <div class="u-inline-block u-vertical-top">
                            <a href="{{ route('admin.users.email-status.refresh', {id: user.id}) }}"
                               class="c-btn c-btn--primary c-btn--thin"
                               data-child-spin
                               title="Rafraichir le statut de l'email de validation">
                                <i class="fa fa-sync"></i>
                            </a>
                        </div>
                        <div class="u-inline-block u-vertical-top">
                            <form action="{{ route('admin.operations.historic') }}">
                                <input type="hidden" name="filters[user]" value="{{ user.id }}">
                                <button class="c-btn c-btn--green c-btn--squeeze">Dernières opérations</button>
                            </form>
                        </div>
                        {% if config('somoney.available.services.membership') %}
                            <div class=" u-inline-block u-vertical-top">
                                <a href="{{ route('admin.memberships.show', {userId: user.id}) }}"
                                   class="c-btn c-btn--green c-btn--thin"
                                   data-child-spin
                                   title="Voir l'historique des adhésions de {{ user.name }}">
                                    adhésions
                                </a>
                            </div>
                        {% endif %}
                    {% endif %}
                    <h2 class="c-h2">Groupe : {{ trans('users.'~user.group) }}</h2>
                    {% if isLocalUser is not defined %}
                        <h2 class="c-h2">Solde : {{ balance }}</h2>
                        <h2 class="c-h2">
                            Date d'inscription&nbsp;:
                            {{ user.registerDate == null ? 'pas encore inscrit' : user.registerDate|date('d/m/Y - H:i:s') }}
                        </h2>
                        <h2 class="c-h2">
                            Dernière connexion
                            : {{ user.lastLogin == null ? 'jamais' : user.lastLogin|date('d/m/Y - H:i:s') }}
                        </h2>
                    {% endif %}

                </div>
                {% if qrCodeImage %}
                    <div class="l-grid-table__cell u-hide--md u-hide--lg">
                        <button type="button"
                                class="c-btn c-btn--stroke c-btn--secondary c-btn--thin"
                                data-toggle="modal"
                                data-target="#qr-code-{{ user.id }}-modal">
                            <i class="fas fa-qrcode u-large"></i>
                        </button>
                    </div>
                    <div class="l-grid-table__cell u-hide--xs u-hide--sm u-inline-right">
                        <a href="#" data-toggle="modal" data-target="#qr-code-{{ user.id }}-modal">
                            <img src="{{ qrCodeImage | raw }}" class="u-max-h-150px" alt="Qr code - {{ user.name }}"/>
                        </a>
                    </div>
                {% endif %}
                <div class="l-grid-table__cell u-inline-right u-hide--xs">
                    <div class="c-badge c-badge--lg u-inline-block">
                        {% set isProfessional = user.group.internalName == config('cyclos.internal-names.groups.professional') %}
                        {% if user.profile %}
                            <img src="{{ user.profile }}" class="c-img js-lazyload">
                        {% else %}
                            <span class="c-icon {% if isProfessional %}icon-briefcase{% else %}icon-user{% endif %}"
                                  aria-hidden="true"></span>
                        {% endif %}
                    </div>
                </div>
            </div>

            <hr class="u-mg-vt">

            {% include 'main.templates.admin.users.' ~ user.group ~ '.show' %}

            <hr class="u-mg-vt">

            <div class="c-form-group u-mg-bottom-sm">
                <input disabled
                       class="c-checkbox"
                       type="checkbox"
                       value="1"
                       {% if user.customValues.commercialinfo %}checked{% endif %}>
                <label class="c-form-label">
                    {% if user.customValues.commercialinfo %}
                        Accepte de recevoir des informations à caractère commerciales des adhérents professionnels
                    {% else %}
                        N'accepte pas de recevoir des informations à caractère commerciales des adhérents professionnels
                    {% endif %}
                </label>
            </div>
            <div class="c-form-group u-mg-bottom-sm">
                <input disabled
                       class="c-checkbox"
                       type="checkbox"
                       value="1"
                       {% if user.customValues.optinnewsletter %}checked{% endif %}>
                <label class="c-form-label">
                    {% if user.customValues.optinnewsletter %}
                        Souhaite recevoir la newsletter {{ config('somoney.money') }}
                    {% else %}
                        Ne souhaite pas recevoir la newsletter {{ config('somoney.money') }}
                    {% endif %}
                </label>
            </div>
            {% if isLocalUser is not defined %}
                <div class="u-inline-right u-mg-top-sm">
                    <a href="{{ route('admin.users.edit', {id: user.id}) }}" class="c-btn c-btn--secondary">
                        Éditer
                    </a>
                </div>
            {% endif %}
        </div>
    </div>

    {% if isLocalUser is not defined and qrCodeImage and qrCodePoster %}
        {% include "main.partials.modals.qr-code" with {
            id: 'qr-code-'~user.id~'-modal',
            label: 'Qr Code - '~ user.name,
            userQrCodeImage: qrCodeImage,
            userQrCodePoster: qrCodePoster
        } %}
    {% endif %}
{% endblock %}
