<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>{{ config('somoney.money') }} {% if title is not empty %} - {{ title }}{% endif %}</title>
        <link rel="stylesheet" href="{{ mix('assets/css/somoney-main.css') }}" media="screen" charset="utf-8">
        <!--[if lte IE 9 ]>
        <script src="{{  mix('assets/js/somoney-ieSupport.js') }}"></script>
        <![endif]-->
    </head>
    <body onload="redirect()">

        <div class="u-inline-center">
            <div class="c-badge c-badge--lg c-badge--{{ params.color }} c-badge--stroke u-inline-block">
                <span class="c-icon {{ params.icon }}"></span>
            </div>

            <p class="c-p u-large u-mg-vt-lg">{{ params.message }}</p>
            <p class="c-p u-large u-mg-vt-lg">Redirection en cours...</p>
        </div>
        <script>
            function redirect() {
                window.setTimeout(function() {
                    window.parent.location.href = "{{ params.redirection }}";
                }, 3000);
            }
        </script>
    </body>
</html>
