<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>{{ config('somoney.money') }} {% if title is not empty %} - {{ title }}{% endif %}</title>
        <link rel="stylesheet" href="{{ mix('assets/css/somoney-main.css') }}" media="screen" charset="utf-8">
        <!--[if lte IE 9 ]>
        <script src="{{ mix('assets/js/somoney-ieSupport.js') }}"></script>
        <![endif]-->
    </head>
    <body onload="redirect()">

        {% if initPayment is defined %}
            <script src="{{ config('system-pay.endpoint') }}/static/js/krypton-client/V4.0/stable/kr-payment-form.min.js"
                    kr-public-key="{{ config('system-pay.public_key') }}"
                    kr-post-url-success="{{ route('system_pay.feedback') }}"
                    kr-language="fr-FR">
            </script>
            <link rel="stylesheet"
                  href="{{ config('system-pay.endpoint') }}/static/js/krypton-client/V4.0/ext/classic-reset.css">
            <script src="{{ config('system-pay.endpoint') }}/static/js/krypton-client/V4.0/ext/classic.js"></script>

            <div class="kr-embedded u-mg-left-auto u-mg-right-auto" kr-form-token="{{ initPayment }}">
                <!-- payment form fields -->
                <div class="kr-pan"></div>
                <div class="kr-expiry"></div>
                <div class="kr-security-code"></div>
                <!-- payment form submit button -->
                <button class="kr-payment-button"></button>
                <!-- error zone -->
                <div class="kr-form-error"></div>
            </div>
        {% else %}
            <div class="u-inline-center">
                <div class="c-badge c-badge--lg c-badge--{{ params.color }} c-badge--stroke u-inline-block">
                    <span class="c-icon {{ params.icon }}"></span>
                </div>

                <p class="c-p u-large u-mg-vt-lg">{{ params.message }}</p>
                <p class="c-p u-large u-mg-vt-lg">Redirection en cours...</p>
            </div>
            <script>
                function redirect() {
                    window.setTimeout(function () {
                        window.parent.location.href = "{{ params.redirection }}";
                    }, 3000);
                }
            </script>
        {% endif %}
    </body>
</html>
