<section class="sg-section">

	<h2 class="c-h2 sg-h2">Alerts</h2>

	<p class="c-p u-mg-bottom-sm">The alert components provide contextual feedback messages for some specific user actions and to alert the user on required actions.</p>

	<p class="c-p u-mg-bottom-sm">The alert message can be inserted in the flow of a grid.</p>

	<br>

	<div class="sample">
		<div class="c-alert">
			<p class="c-p u-bold">This is an alert</p>
			<ul class="c-list">
				<li>Lorem ipsum dolor sit amet 2</li>
				<li>Lorem ipsum dolor sit amet 2</li>
				<li>Lorem ipsum item 3</li>
			</ul>
		</div>

		<br>

		<div class="c-alert c-alert--red">
			<p class="c-p u-bold">This is an alert</p>
			<ul class="c-list">
				<li>Lorem ipsum dolor sit amet 2</li>
				<li>Lorem ipsum dolor sit amet 2</li>
				<li>Lorem ipsum item 3</li>
			</ul>
		</div>
	</div>

	<br>

	<div class="code">
		<pre>
			<code class="language-markup">
				<div class="c-alert">
					<p class="c-p u-bold">This is an alert</p>
					<ul class="c-list">
						<li>Lorem ipsum 1...</li>
						<li>Lorem ipsum dolor sit amet 2</li>
						<li>Lorem ipsum item 3</li>
					</ul>
				</div>

				<div class="c-alert c-alert--red">
					...
				</div>
			</code>
		</pre>
	</div>

	<br>

	<h3 class="c-h3 sg-h3">Alerts with addon container</h3>

	<p class="c-p u-mg-bottom-sm">You can add an icon to the left of the component, add a div with the class <code>c-addon-container</code> which surrounds the content of the alert box and place an icon for example <code>c-icon icon-information</code></p>

	<br>

	<div class="sample">
		<div class="c-alert">
			<div class="c-addon-container">
				<span class="c-icon icon-information"></span>

				<p class="c-p"> Le compte doit être crédité de 20 € minimum pour être activé. Merci </p>
			</div>
		</div>
	</div>

	<br>

	<div class="code">
		<pre>
			<code class="language-markup">
				<div class="c-alert">
					<div class="c-addon-container">
						<span class="c-icon icon-information"></span>

						<p class="c-p"> Le compte doit être crédité de 20 € minimum pour être activé. Merci </p>
					</div>
				</div>
			</code>
		</pre>
	</div>
</section>
