<section class="sg-section">

	<h2 class="c-h2 sg-h2">Band</h2>

	<p class="c-p u-mg-bottom-sm">The <code>c-band</code> component adds a fixed band.</p>
	<p class="c-p u-mg-bottom-sm">You can use the <code>--dashboard</code> modifier to set the band into the main part of a dashboard.</p>
	<p class="c-p u-mg-bottom-sm">Note that the <code>c-band</code> has a default height.</p>

	<br>

	<div class="sample" style="transform: translate(0,0)">
		<div class="c-band c-band--dashboard" style="background: #eee;">
			Lorem ipsum
		</div>
	</div>

	<br>

	<div class="code u-mg-band">
		<pre>
			<code class="language-markup">
				<div class="u-pd u-mg-band">
					<div class="c-band c-band--dashboard">
						...
					</div>
				</div>
			</code>
		</pre>
	</div>

</section>
