<section class="sg-section">

	<h2 class="c-h2 sg-h2">Card</h2>

	<h3 class="sg-h3 c-h3">Empty card</h3>

	<p class="c-p u-mg-bottom-sm">The <code>c-card</code> component add a white <code>background</code> and a <code>box-shadow</code> to convey a visual coherence accross the platform and to demarcate areas of information.</p>
	<p class="c-p u-mg-bottom-sm">You can add any other component inside a card.</p>
	<p class="c-p u-mg-bottom-sm">Note that cards has a default padding</p>

	<br>

	<div class="sample">
		<div class="u-pd-hz">
			<article class="c-card">
				<div style="width: 100%; height: 200px;"></div>
			</article>
		</div>
	</div>

	<br>

	<div class="code">
		<pre>
			<code class="language-markup">
				<article class="c-card">
					<!-- white background and shadow -->
				</article>
			</code>
		</pre>
	</div>

	<br>

	<h3 class="c-h3 sg-h3">Basic cards</h3>

	<br>

	<div class="sample">
		<article class="c-card">
			<h1 class="c-h1">Titre administrable lorem ipsum</h1>
			<p class="c-p u-mg-bottom-sm">Lorem ipsum dolor sit amet...</p>
			<a href="#" title="" class="c-link">Lien Lorem</a>
		</article>
	</div>

	<br>

	<div class="code">
		<pre>
			<code class="language-markup">
				<article class="c-card">
					<h1 class="c-h1">Titre administrable lorem ipsum</h1>
					<p class="c-p u-mg-bottom-sm">Lorem ipsum dolor sit amet...</p>
					<a href="#" title="" class="c-link">Lien Lorem</a>
				</article>
			</code>
		</pre>
	</div>

	<br>

	<hr class="u-mg-vt">

	<br>

	<div class="sample">
		<div class="l-grid-row">
			<div class="l-col-4">
				<a href="#" title="" class="c-card">
					<img src="/assets/img/test/mango-sm.jpg" alt="" class="c-img lazyload">
					<div class=" u-inline-center">
						<h3 class="c-h3">John Doe</h3>
						<p class="c-p u-mg-bottom-sm">Media card text</p>
					</div>
				</a>
			</div>
		</div>
	</div>

	<br>

	<div class="code">
		<pre>
			<code class="language-markup">
				<a href="#" title="" class="c-card">
					<img src="/assets/img/test/mango-sm.jpg" alt="" class="c-img lazyload">
					<div class=" u-inline-center">
						<h3 class="c-h3">John Doe</h3>
						<p class="c-p">Media card text</p>
					</div>
				</a>
			</code>
		</pre>
	</div>
</section>
