<section class="sg-section">

	<h2 class="c-h2 sg-h2">Card detailed</h2>

	<p class="c-p u-mg-bottom-sm">The <code>c-card-detailed</code> is a more complex card, used for instance for introducing projects and articles.</p>
	<p class="c-p u-mg-bottom-sm">The whole card is a link (with hover effect) and contain various components with its own style, such as the image header, tags, etc.</p>

	<br>

	<div class="sample">
		<a class="c-card-detailed" href="#">
			<div class="c-card-detailed__ribbon">
				<span class="c-icon icon-star-filled"></span>
			</div>
			<header class="c-card-detailed__header">
				<img src="/assets/img/test/mango-sm.jpg" alt="" class="c-img lazyload">
			</header>

			<div class="c-card-detailed__content">
				<h2 class="c-card-detailed__title">Hello there</h2>
				<p> lorem ipsum dolor sit amet<br> lorem ipsum dolor sit amet... </p>
			</div>

			<p class="c-card-detailed__tags">
				<span class="c-tag">#tag</span>
				<span class="c-tag">#Lorem ipsum dolor sit long tag</span>
			</p>
		</a>
	</div>

	<br>

	<div class="code">
		<pre>
			<code class="language-markup">
				<a class="c-card-detailed" href="#">
					<div class="c-card-detailed__ribbon">
						<span class="c-icon icon-star-filled"></span>
					</div>
					<header class="c-card-detailed__header">
						<img src="/assets/img/test/mango-sm.jpg" alt="" class="c-img c-card-detailed__img lazyload">
					</header>

					<div class="c-card-detailed__content">
						<h2 class="c-card-detailed__title">Hello there</h2>
						<p> lorem ipsum dolor sit amet<br> lorem ipsum dolor sit amet... </p>

					</div>

					<p class="c-card-detailed__tags">
						<span class="c-tag">#tag</span>
						<span class="c-tag">#Lorem ipsum dolor sit long tag</span>
					</p>
				</a>
			</code>
		</pre>
	</div>

</section>
