<section class="sg-section">

	<h2 class="c-h2 sg-h2">Nav aside</h2>

	<p class="c-p u-mg-bottom-sm">The nav-aside component is used in the layout of most view, inside the l-dashboard in <code>.l-dashboard__aside</code>.</p>

	<p class="c-p u-mg-bottom-sm">The aside nav takes the color of the l-view modifier, such as <code>l-view--professional</code>.</p>


	<br>

	<div class="sample">

		<div class="l-dashboard">
			<div class="l-dashboard__aside" style="position: relative; height: auto; top:0;">

				<div class="l-view--individual">
					<div class="c-nav-aside">
						<div class="c-nav-aside__container">
							<div class="c-nav-aside__title">
								<span class="c-icon icon-photo"></span> Title
							</div>
							<ul>
								<li class="c-nav-aside__item"><a href="#" title="" class="c-link">item 1</a></li>
								<li class="c-nav-aside__item"><a href="#" title="" class="c-link">item 2</a></li>
								<li class="c-nav-aside__item"><a href="#" title="" class="c-link">item 3</a></li>
							</ul>
						</div>
					</div>
				</div>

				<div class="l-view--professional u-mg-top-sm">
					<div class="c-nav-aside">
						<div class="c-nav-aside__container">
							<div class="c-nav-aside__title">
								<span class="c-icon icon-print"></span> Title
							</div>
							<ul>
								<li class="c-nav-aside__item"><a href="#" title="" class="c-link">item 4</a></li>
								<li class="c-nav-aside__item"><a href="#" title="" class="c-link">item 5</a></li>
								<li class="c-nav-aside__item"><a href="#" title="" class="c-link">item 6</a></li>
							</ul>
						</div>
					</div>
				</div>

			</div>

		</div>

	</div>

	<br>

	<div class="code">
		<pre>
			<code class="language-markup">
				<div class="l-dashboard">
					<div class="l-dashboard__aside">

						<div class="l-view--individual">

							<div class="c-nav-aside">
								<div class="c-nav-aside__container">
									<div class="c-nav-aside__title">
										<span class="c-icon icon-photo"></span> Title
									</div>
									<ul>
										<li class="c-nav-aside__item"><a href="#" title="" class="c-link">item 1</a></li>
										<li class="c-nav-aside__item"><a href="#" title="" class="c-link">item 2</a></li>
										<li class="c-nav-aside__item"><a href="#" title="" class="c-link">item 3</a></li>
									</ul>
								</div>
							</div>
						</div>

						<div class="l-view--professional">
							<div class="c-nav-aside">
								...
							</div>
						</div>

					</div>
				</div>
			</code>
		</pre>
	</div>

</section>
