{% extends "main.layout" %}

{% set asideContext = 'operations.credit.automatic' %}

{% block main %}
    <div class="l-container u-pd">
        <div class="l-grid-row">
            <div class="l-col-8">
                <div class="l-grid-row--no-gutter">
                    <div class="l-col-8 u-mg-top u-pd-bottom">
                        <h1 class="c-h1 u-grey25 u-normal-weight u-mg-bottom-sm">
                            Créditer automatique
                        </h1>
                        <p class="c-h4 u-grey20">Créditer tous les mois mon compte automatiquement</p>
                    </div>
                    <div class="l-col-4">
                        <img src="{{ asset('assets/img/logo-sepa.png') }}"
                             alt="logo SEPA"
                             height="100"
                             class="c-img u-object-fit-contain">
                    </div>
                    <div class="u-clear"></div>
                </div>

                <div class="c-card">
                    {% if not user.hasAutoCreditInProgress() %}
                        <form method="POST" action="{{ route('operations.credit.automatic.store') }}">

                            {{ csrf_field() }}

                            {% include 'main.partials.form-errors' %}
                            <input type="hidden" name="max_amount" value="{{ maxAmount }}"/>

                            {% include 'main.components.form-amount-converted' with {type: 'auto.minimal'} %}

                            <div class="c-form-group u-mg-top">
                                <label class="c-form-label" for="transfer-value">
                                    Durée
                                    <span class="c-icon icon-information js-tooltip-trigger c-tooltip-trigger"
                                          tabindex="0"
                                          aria-hidden="true"
                                          title=""
                                          data-original-title="La durée minimum est de {{ config('somoney.credit.auto.minimal-length') }} mois">
                                    </span>
                                </label>
                                <div class="c-addon-container">
                                    <input type="number"
                                           class="c-form-control js-form-control"
                                           step="1"
                                           min="{{ config('somoney.credit.auto.minimal-length') }}"
                                           id="transfer-length"
                                           name="duration_month"
                                           value="{{ old('duration_month', config('somoney.credit.auto.minimal-length')) }}"
                                           placeholder="Saisir une durée d’au moins {{ config('somoney.credit.auto.minimal-length') }} mois">
                                    <span class="c-icon">mois</span>
                                </div>
                            </div>

                            {% include 'main.components.form-sepa' %}

                            <div class="u-inline-right u-mg-top">
                                <button type="submit" class="c-btn c-btn--stroke c-btn--green">valider</button>
                            </div>
                        </form>
                    {% else %}
                        <h2>Un crédit automatique est en cours ...</h2>
                        <p class="c-h4 u-grey25">On ne peut réaliser qu'un seul crédit automatique en même temps</p>
                    {% endif %}
                </div>

                <div class="l-grid-row--no-gutter">
                    <div class="l-col-12">
                        <div class="c-card u-mg-vt u-pd-hz-reset">
                            <h2 class="c-h2 u-pd-hz">Historique des crédit automatique</h2>

                            <div class="c-table u-mg-top">
                                <div class="c-table__thead">
                                    <div class="c-table__cell c-label">Début</div>
                                    <div class="c-table__cell c-label">Fin</div>
                                    <div class="c-table__cell c-label">Montant (&euro;)</div>
                                    <div class="c-table__cell c-label">Statut</div>
                                </div>

                                <div class="c-table__tbody">
                                    {% if creditsAuto is not empty %}
                                        {% for creditAuto in creditsAuto %}
                                            <div class="c-table__row">
                                                <div class="c-table__cell">{{ creditAuto.start_date | date('d/m/Y') }}</div>
                                                <div class="c-table__cell">{{ creditAuto.end_date | date('d/m/Y') }}</div>
                                                <div class="c-table__cell">{{ creditAuto.amount }}</div>
                                                <div class="c-table__cell">{{ creditAuto.status_label }}</div>
                                            </div>
                                        {% endfor %}
                                    {% else %}
                                        <div class="c-table__row">
                                            <span class="u-pd-left">
                                                Vous n'avez fait aucune demande de crédit automatique
                                            </span>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
