{% extends "main.layout" %}

{% set asideContext = 'operations.credit.index' %}

{% block main %}
    <div class="l-container u-pd">
        <div class="l-grid-row">
            <div class="l-col-8">

                <h1 class="c-h1 u-grey25 u-normal-weight u-mg-bottom-sm">Créditer mon compte</h1>

                <div class="c-card">

                    {% autoescape false %}
                        {% if notification.message is defined %}
                            <div class="l-grid-row--no-gutter mx-15--xs">
                                <div class="c-card l-grid-table u-pd-reset u-pd-hz l-col-12 u-mg-bottom">
                                    <div class="l-grid-table__cell l-grid-table__cell--main u-pd-vt">
                                        <p class="u-sans-serif u-pd-left">{{ notification.message | raw }}</p>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endautoescape %}

                    <form id="credit-form" method="POST" action="{{ route('operations.credit.store') }}">
                        {{ csrf_field() }}
                        <input type="hidden" name="max_amount" value="{{ maxAmount }}" />
                        <input id="field-payment-type" type="hidden" name="type" value="cb" />

                        {% include 'main.partials.form-errors' %}

                        <div class="l-grid-row">
                            <div class="l-col-5">
                                <div class="c-form-group">
                                    <label class="c-form-label" for="transfer-value-euro">
                                        Montant (euro)
                                    </label>
                                    <div class="c-addon-container u-large">
                                        <input type="number"
                                               class="c-form-control js-form-control u-pd-left"
                                               step="0.01"
                                               autocomplete="off"
                                               min="{{ config('somoney.credit.simple.minimal') }}"
                                               id="transfer-value-euro"
                                               name="amount"
                                               value="{{ old('amount', config('somoney.credit.simple.minimal')) }}"
                                               placeholder="Saisir un montant d’au moins {{ config('somoney.credit.simple.minimal') }} euros">
                                        <i class="c-icon fas fa-euro-sign"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="l-col-2 u-inline-center u-color--primary">
                                <div class="c-icon u-mg-bottom-sm icon-information js-tooltip-trigger c-tooltip-trigger"
                                     tabindex="0"
                                     aria-hidden="true"
                                     title=""
                                     data-original-title="Le crédit minimum en {{ config('somoney.money') }} est de {{ config('somoney.credit.simple.minimal') }} € et vous ne pouvez avoir plus de 1000 {{ config('somoney.money') }} sur votre compte"></div>
                                <i class="fas fa-2x fa-arrow-right"></i>
                            </div>
                            <div class="l-col-5">
                                <div class="c-form-group">
                                    <label class="c-form-label" for="transfer-value-money">
                                        Montant ({{ config('somoney.money') }})
                                    </label>
                                    <div class="c-addon-container u-large">
                                        <input type="number"
                                               class="c-form-control c-form-control--computed js-form-control js-input-computed u-pd-left"
                                               data-target-input="transfer-value-euro"
                                               data-compute-ratio="1"
                                               id="transfer-value-money"
                                               name="amount_money"
                                               disabled>
                                        <span class="c-icon icon-money u-font-size-inherit"></span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        {% if config('somoney.available.services.sepa-payment') %}
                            <div class="l-grid-row">
                                <div class="l-col-12 u-inline-right">
                                    <div class="c-form-group u-mg-bottom-sm u-mg-top">
                                        <input class="c-checkbox"
                                               type="checkbox"
                                               id="checkbox-automatic"
                                               name="automatic"
                                               value="true"
                                               {% if old('automatic') %}checked{% endif %}>
                                        <label for="checkbox-automatic">
                                            Créditer cette somme tous les mois
                                        </label>
                                    </div>
                                </div>
                            </div>
                        {% endif %}

                        <div class="u-inline-right u-mg-top-lg">
                            {% if config('somoney.available.services.sepa-payment') and isProfessional %}
                                <div class="u-full-width u-large u-inline-left u-mg-bottom-sm">Créditer par</div>
                                <button type="button"
                                        id="btn-bank-card-payment"
                                        class="c-btn c-btn--green btn-payment-method"
                                        data-payment-type="cb">
                                    Carte Bancaire
                                </button>
                                {% if (config('somoney.available.services.sepa-payment') and isProfessional) %}
                                    <button type="button"
                                            class="c-btn c-btn--green btn-payment-method"
                                            data-payment-type="sepa">
                                        SEPA
                                    </button>
                                {% endif %}
                            {% else %}
                                <button type="submit" class="c-btn c-btn--green">
                                    Créditer
                                </button>
                            {% endif %}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
