<?xml version="1.0" ?>
<wsdl:definitions name="payment" targetNamespace="http://payments.webservices.cyclos.strohalm.nl/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://payments.webservices.cyclos.strohalm.nl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
    <xs:schema elementFormDefault="unqualified" targetNamespace="http://payments.webservices.cyclos.strohalm.nl/" version="1.0" xmlns:tns="http://payments.webservices.cyclos.strohalm.nl/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="chargeback" type="tns:chargeback"></xs:element>
      <xs:element name="chargebackResponse" type="tns:chargebackResponse"></xs:element>
      <xs:element name="confirmPayment" type="tns:confirmPayment"></xs:element>
      <xs:element name="confirmPaymentResponse" type="tns:confirmPaymentResponse"></xs:element>
      <xs:element name="doBulkChargeback" type="tns:doBulkChargeback"></xs:element>
      <xs:element name="doBulkChargebackResponse" type="tns:doBulkChargebackResponse"></xs:element>
      <xs:element name="doBulkPayment" type="tns:doBulkPayment"></xs:element>
      <xs:element name="doBulkPaymentResponse" type="tns:doBulkPaymentResponse"></xs:element>
      <xs:element name="doBulkReverse" type="tns:doBulkReverse"></xs:element>
      <xs:element name="doBulkReverseResponse" type="tns:doBulkReverseResponse"></xs:element>
      <xs:element name="doPayment" type="tns:doPayment"></xs:element>
      <xs:element name="doPaymentResponse" type="tns:doPaymentResponse"></xs:element>
      <xs:element name="expireTicket" type="tns:expireTicket"></xs:element>
      <xs:element name="expireTicketResponse" type="tns:expireTicketResponse"></xs:element>
      <xs:element name="requestPaymentConfirmation" type="tns:requestPaymentConfirmation"></xs:element>
      <xs:element name="requestPaymentConfirmationResponse" type="tns:requestPaymentConfirmationResponse"></xs:element>
      <xs:element name="reverse" type="tns:reverse"></xs:element>
      <xs:element name="reverseResponse" type="tns:reverseResponse"></xs:element>
      <xs:element name="simulatePayment" type="tns:simulatePayment"></xs:element>
      <xs:element name="simulatePaymentResponse" type="tns:simulatePaymentResponse"></xs:element>
      <xs:complexType name="confirmPayment">
        <xs:sequence>
          <xs:element minOccurs="0" name="params" type="tns:confirmPaymentParameters"></xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="confirmPaymentParameters">
        <xs:sequence>
          <xs:element minOccurs="0" name="ticket" type="xs:string"></xs:element>
          <xs:element minOccurs="0" name="credentials" type="xs:string"></xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="confirmPaymentResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:paymentResult"></xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="paymentResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="status" type="tns:paymentStatus"></xs:element>
          <xs:element minOccurs="0" name="transfer" type="tns:transfer"></xs:element>
          <xs:element minOccurs="0" name="fromAccountStatus" type="tns:accountStatus"></xs:element>
          <xs:element minOccurs="0" name="toAccountStatus" type="tns:accountStatus"></xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="transfer">
        <xs:complexContent>
          <xs:extension base="tns:basePaymentVO">
            <xs:sequence>
              <xs:element minOccurs="0" name="transactionNumber" type="xs:string"></xs:element>
              <xs:element minOccurs="0" name="traceNumber" type="xs:string"></xs:element>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType abstract="true" name="basePaymentVO">
        <xs:complexContent>
          <xs:extension base="tns:basePaymentDataVO">
            <xs:sequence>
              <xs:element minOccurs="0" name="transferType" type="tns:transferType"></xs:element>
              <xs:element minOccurs="0" name="description" type="xs:string"></xs:element>
              <xs:element minOccurs="0" name="fromMember" type="tns:member"></xs:element>
              <xs:element minOccurs="0" name="member" type="tns:member"></xs:element>
              <xs:element minOccurs="0" name="fromSystemAccountName" type="xs:string"></xs:element>
              <xs:element minOccurs="0" name="systemAccountName" type="xs:string"></xs:element>
              <xs:element maxOccurs="unbounded" minOccurs="0" name="fields" nillable="true" type="tns:fieldValue"></xs:element>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType abstract="true" name="basePaymentDataVO">
        <xs:complexContent>
          <xs:extension base="tns:entityVO">
            <xs:sequence>
              <xs:element minOccurs="0" name="date" type="xs:dateTime"></xs:element>
              <xs:element minOccurs="0" name="formattedDate" type="xs:string"></xs:element>
              <xs:element minOccurs="0" name="processDate" type="xs:dateTime"></xs:element>
              <xs:element minOccurs="0" name="formattedProcessDate" type="xs:string"></xs:element>
              <xs:element minOccurs="0" name="amount" type="xs:decimal"></xs:element>
              <xs:element minOccurs="0" name="formattedAmount" type="xs:string"></xs:element>
              <xs:element minOccurs="0" name="status" type="tns:paymentStatusVO"></xs:element>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType abstract="true" name="entityVO">
        <xs:sequence>
          <xs:element minOccurs="0" name="id" type="xs:long"></xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="transferType">
        <xs:complexContent>
          <xs:extension base="tns:entityVO">
            <xs:sequence>
              <xs:element minOccurs="0" name="name" type="xs:string"></xs:element>
              <xs:element minOccurs="0" name="from" type="tns:accountType"></xs:element>
              <xs:element minOccurs="0" name="to" type="tns:accountType"></xs:element>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="accountType">
        <xs:complexContent>
          <xs:extension base="tns:entityVO">
            <xs:sequence>
              <xs:element minOccurs="0" name="name" type="xs:string"></xs:element>
              <xs:element minOccurs="0" name="currency" type="tns:currency"></xs:element>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="currency">
        <xs:complexContent>
          <xs:extension base="tns:entityVO">
            <xs:sequence>
              <xs:element minOccurs="0" name="symbol" type="xs:string"></xs:element>
              <xs:element minOccurs="0" name="name" type="xs:string"></xs:element>
              <xs:element minOccurs="0" name="pattern" type="xs:string"></xs:element>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="member">
        <xs:complexContent>
          <xs:extension base="tns:entityWithCustomFieldsVO">
            <xs:sequence>
              <xs:element minOccurs="0" name="name" type="xs:string"></xs:element>
              <xs:element minOccurs="0" name="username" type="xs:string"></xs:element>
              <xs:element minOccurs="0" name="email" type="xs:string"></xs:element>
              <xs:element minOccurs="0" name="groupId" type="xs:long"></xs:element>
              <xs:element maxOccurs="unbounded" minOccurs="0" name="images" nillable="true" type="tns:image"></xs:element>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType abstract="true" name="entityWithCustomFieldsVO">
        <xs:complexContent>
          <xs:extension base="tns:entityVO">
            <xs:sequence>
              <xs:element maxOccurs="unbounded" minOccurs="0" name="fields" nillable="true" type="tns:fieldValue"></xs:element>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="image">
        <xs:complexContent>
          <xs:extension base="tns:entityVO">
            <xs:sequence>
              <xs:element minOccurs="0" name="caption" type="xs:string"></xs:element>
              <xs:element minOccurs="0" name="thumbnailUrl" type="xs:string"></xs:element>
              <xs:element minOccurs="0" name="fullUrl" type="xs:string"></xs:element>
              <xs:element minOccurs="0" name="lastModified" type="xs:dateTime"></xs:element>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="fieldValue">
        <xs:sequence>
          <xs:element minOccurs="0" name="internalName" type="xs:string"></xs:element>
          <xs:element minOccurs="0" name="fieldId" type="xs:long"></xs:element>
          <xs:element minOccurs="0" name="displayName" type="xs:string"></xs:element>
          <xs:element minOccurs="0" name="value" type="xs:string"></xs:element>
          <xs:element minOccurs="0" name="possibleValueId" type="xs:long"></xs:element>
          <xs:element minOccurs="0" name="memberValueId" type="xs:long"></xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="accountStatus">
        <xs:sequence>
          <xs:element minOccurs="0" name="balance" type="xs:decimal"></xs:element>
          <xs:element minOccurs="0" name="formattedBalance" type="xs:string"></xs:element>
          <xs:element minOccurs="0" name="availableBalance" type="xs:decimal"></xs:element>
          <xs:element minOccurs="0" name="formattedAvailableBalance" type="xs:string"></xs:element>
          <xs:element minOccurs="0" name="reservedAmount" type="xs:decimal"></xs:element>
          <xs:element minOccurs="0" name="formattedReservedAmount" type="xs:string"></xs:element>
          <xs:element minOccurs="0" name="creditLimit" type="xs:decimal"></xs:element>
          <xs:element minOccurs="0" name="formattedCreditLimit" type="xs:string"></xs:element>
          <xs:element minOccurs="0" name="upperCreditLimit" type="xs:decimal"></xs:element>
          <xs:element minOccurs="0" name="formattedUpperCreditLimit" type="xs:string"></xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="requestPaymentConfirmation">
        <xs:sequence>
          <xs:element minOccurs="0" name="params" type="tns:requestPaymentParameters"></xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="requestPaymentParameters">
        <xs:complexContent>
          <xs:extension base="tns:abstractPaymentParameters">
            <xs:sequence>
              <xs:element minOccurs="0" name="destinationChannel" type="xs:string"></xs:element>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType abstract="true" name="abstractPaymentParameters">
        <xs:sequence>
          <xs:element minOccurs="0" name="fromMemberPrincipalType" type="xs:string"></xs:element>
          <xs:element minOccurs="0" name="fromMember" type="xs:string"></xs:element>
          <xs:element minOccurs="0" name="toMemberPrincipalType" type="xs:string"></xs:element>
          <xs:element minOccurs="0" name="toMember" type="xs:string"></xs:element>
          <xs:element minOccurs="0" name="amount" type="xs:decimal"></xs:element>
          <xs:element minOccurs="0" name="description" type="xs:string"></xs:element>
          <xs:element minOccurs="0" name="currency" type="xs:string"></xs:element>
          <xs:element minOccurs="0" name="traceNumber" type="xs:string"></xs:element>
          <xs:element minOccurs="0" name="traceData" type="xs:string"></xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="requestPaymentConfirmationResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:requestPaymentResult"></xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="requestPaymentResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="status" type="tns:paymentRequestStatus"></xs:element>
          <xs:element minOccurs="0" name="ticket" type="xs:string"></xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="doPayment">
        <xs:sequence>
          <xs:element minOccurs="0" name="params" type="tns:paymentParameters"></xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="paymentParameters">
        <xs:complexContent>
          <xs:extension base="tns:abstractPaymentParameters">
            <xs:sequence>
              <xs:element minOccurs="0" name="transferTypeId" type="xs:long"></xs:element>
              <xs:element minOccurs="0" name="fromSystem" type="xs:boolean"></xs:element>
              <xs:element minOccurs="0" name="toSystem" type="xs:boolean"></xs:element>
              <xs:element minOccurs="0" name="credentials" type="xs:string"></xs:element>
              <xs:element minOccurs="0" name="futureDate" type="xs:dateTime"></xs:element>
              <xs:element maxOccurs="unbounded" minOccurs="0" name="customValues" nillable="true" type="tns:fieldValue"></xs:element>
              <xs:element maxOccurs="unbounded" minOccurs="0" name="fromMemberFieldsToReturn" nillable="true" type="xs:string"></xs:element>
              <xs:element maxOccurs="unbounded" minOccurs="0" name="toMemberFieldsToReturn" nillable="true" type="xs:string"></xs:element>
              <xs:element minOccurs="0" name="returnStatus" type="xs:boolean"></xs:element>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="doPaymentResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:paymentResult"></xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="doBulkReverse">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="traceNumber" type="xs:string"></xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="doBulkReverseResponse">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:chargebackResult"></xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="chargebackResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="status" type="tns:chargebackStatus"></xs:element>
          <xs:element minOccurs="0" name="originalTransfer" type="tns:transfer"></xs:element>
          <xs:element minOccurs="0" name="chargebackTransfer" type="tns:transfer"></xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="expireTicket">
        <xs:sequence>
          <xs:element minOccurs="0" name="ticket" type="xs:string"></xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="expireTicketResponse">
        <xs:sequence>
          <xs:element name="return" type="xs:boolean"></xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="doBulkChargeback">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="transferId" type="xs:long"></xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="doBulkChargebackResponse">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:chargebackResult"></xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="simulatePayment">
        <xs:sequence>
          <xs:element minOccurs="0" name="params" type="tns:paymentParameters"></xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="simulatePaymentResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:paymentStatus"></xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="reverse">
        <xs:sequence>
          <xs:element minOccurs="0" name="traceNumber" type="xs:string"></xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="reverseResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:chargebackResult"></xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="chargeback">
        <xs:sequence>
          <xs:element minOccurs="0" name="transferId" type="xs:long"></xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="chargebackResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:chargebackResult"></xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="doBulkPayment">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="params" type="tns:paymentParameters"></xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="doBulkPaymentResponse">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:paymentResult"></xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:simpleType name="paymentStatus">
        <xs:restriction base="xs:string">
          <xs:enumeration value="PROCESSED"></xs:enumeration>
          <xs:enumeration value="PENDING_AUTHORIZATION"></xs:enumeration>
          <xs:enumeration value="INVALID_CREDENTIALS"></xs:enumeration>
          <xs:enumeration value="BLOCKED_CREDENTIALS"></xs:enumeration>
          <xs:enumeration value="INVALID_CHANNEL"></xs:enumeration>
          <xs:enumeration value="INVALID_PARAMETERS"></xs:enumeration>
          <xs:enumeration value="FROM_NOT_FOUND"></xs:enumeration>
          <xs:enumeration value="TO_NOT_FOUND"></xs:enumeration>
          <xs:enumeration value="NOT_ENOUGH_CREDITS"></xs:enumeration>
          <xs:enumeration value="MAX_DAILY_AMOUNT_EXCEEDED"></xs:enumeration>
          <xs:enumeration value="RECEIVER_UPPER_CREDIT_LIMIT_REACHED"></xs:enumeration>
          <xs:enumeration value="NOT_PERFORMED"></xs:enumeration>
          <xs:enumeration value="UNKNOWN_ERROR"></xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="paymentStatusVO">
        <xs:restriction base="xs:string">
          <xs:enumeration value="PENDING"></xs:enumeration>
          <xs:enumeration value="PROCESSED"></xs:enumeration>
          <xs:enumeration value="DENIED"></xs:enumeration>
          <xs:enumeration value="CANCELED"></xs:enumeration>
          <xs:enumeration value="SCHEDULED"></xs:enumeration>
          <xs:enumeration value="FAILED"></xs:enumeration>
          <xs:enumeration value="BLOCKED"></xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="paymentRequestStatus">
        <xs:restriction base="xs:string">
          <xs:enumeration value="REQUEST_RECEIVED"></xs:enumeration>
          <xs:enumeration value="FROM_INVALID_CHANNEL"></xs:enumeration>
          <xs:enumeration value="TO_INVALID_CHANNEL"></xs:enumeration>
          <xs:enumeration value="INVALID_PARAMETERS"></xs:enumeration>
          <xs:enumeration value="FROM_NOT_FOUND"></xs:enumeration>
          <xs:enumeration value="TO_NOT_FOUND"></xs:enumeration>
          <xs:enumeration value="NOT_ENOUGH_CREDITS"></xs:enumeration>
          <xs:enumeration value="MAX_DAILY_AMOUNT_EXCEEDED"></xs:enumeration>
          <xs:enumeration value="RECEIVER_UPPER_CREDIT_LIMIT_REACHED"></xs:enumeration>
          <xs:enumeration value="UNKNOWN_ERROR"></xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="chargebackStatus">
        <xs:restriction base="xs:string">
          <xs:enumeration value="SUCCESS"></xs:enumeration>
          <xs:enumeration value="TRANSFER_NOT_FOUND"></xs:enumeration>
          <xs:enumeration value="TRANSFER_ALREADY_CHARGEDBACK"></xs:enumeration>
          <xs:enumeration value="INVALID_PARAMETERS"></xs:enumeration>
          <xs:enumeration value="TRANSFER_CANNOT_BE_CHARGEDBACK"></xs:enumeration>
          <xs:enumeration value="NOT_PERFORMED"></xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="doBulkChargebackResponse">
    <wsdl:part element="tns:doBulkChargebackResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="doBulkReverseResponse">
    <wsdl:part element="tns:doBulkReverseResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="doBulkChargeback">
    <wsdl:part element="tns:doBulkChargeback" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="requestPaymentConfirmation">
    <wsdl:part element="tns:requestPaymentConfirmation" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="reverseResponse">
    <wsdl:part element="tns:reverseResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="confirmPaymentResponse">
    <wsdl:part element="tns:confirmPaymentResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="doBulkPaymentResponse">
    <wsdl:part element="tns:doBulkPaymentResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="doPayment">
    <wsdl:part element="tns:doPayment" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="chargeback">
    <wsdl:part element="tns:chargeback" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="doPaymentResponse">
    <wsdl:part element="tns:doPaymentResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="doBulkReverse">
    <wsdl:part element="tns:doBulkReverse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="reverse">
    <wsdl:part element="tns:reverse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="simulatePayment">
    <wsdl:part element="tns:simulatePayment" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="confirmPayment">
    <wsdl:part element="tns:confirmPayment" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="simulatePaymentResponse">
    <wsdl:part element="tns:simulatePaymentResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="requestPaymentConfirmationResponse">
    <wsdl:part element="tns:requestPaymentConfirmationResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="expireTicket">
    <wsdl:part element="tns:expireTicket" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="doBulkPayment">
    <wsdl:part element="tns:doBulkPayment" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="expireTicketResponse">
    <wsdl:part element="tns:expireTicketResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="chargebackResponse">
    <wsdl:part element="tns:chargebackResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="PaymentWebService">
    <wsdl:operation name="confirmPayment">
      <wsdl:input message="tns:confirmPayment" name="confirmPayment">
      </wsdl:input>
      <wsdl:output message="tns:confirmPaymentResponse" name="confirmPaymentResponse">
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="requestPaymentConfirmation">
      <wsdl:input message="tns:requestPaymentConfirmation" name="requestPaymentConfirmation">
      </wsdl:input>
      <wsdl:output message="tns:requestPaymentConfirmationResponse" name="requestPaymentConfirmationResponse">
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="doPayment">
      <wsdl:input message="tns:doPayment" name="doPayment">
      </wsdl:input>
      <wsdl:output message="tns:doPaymentResponse" name="doPaymentResponse">
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="doBulkReverse">
      <wsdl:input message="tns:doBulkReverse" name="doBulkReverse">
      </wsdl:input>
      <wsdl:output message="tns:doBulkReverseResponse" name="doBulkReverseResponse">
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="expireTicket">
      <wsdl:input message="tns:expireTicket" name="expireTicket">
      </wsdl:input>
      <wsdl:output message="tns:expireTicketResponse" name="expireTicketResponse">
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="doBulkChargeback">
      <wsdl:input message="tns:doBulkChargeback" name="doBulkChargeback">
      </wsdl:input>
      <wsdl:output message="tns:doBulkChargebackResponse" name="doBulkChargebackResponse">
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="simulatePayment">
      <wsdl:input message="tns:simulatePayment" name="simulatePayment">
      </wsdl:input>
      <wsdl:output message="tns:simulatePaymentResponse" name="simulatePaymentResponse">
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="reverse">
      <wsdl:input message="tns:reverse" name="reverse">
      </wsdl:input>
      <wsdl:output message="tns:reverseResponse" name="reverseResponse">
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="chargeback">
      <wsdl:input message="tns:chargeback" name="chargeback">
      </wsdl:input>
      <wsdl:output message="tns:chargebackResponse" name="chargebackResponse">
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="doBulkPayment">
      <wsdl:input message="tns:doBulkPayment" name="doBulkPayment">
      </wsdl:input>
      <wsdl:output message="tns:doBulkPaymentResponse" name="doBulkPaymentResponse">
      </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="paymentSoapBinding" type="tns:PaymentWebService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"></soap:binding>
    <wsdl:operation name="confirmPayment">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="confirmPayment">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="confirmPaymentResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="doPayment">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="doPayment">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="doPaymentResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="requestPaymentConfirmation">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="requestPaymentConfirmation">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="requestPaymentConfirmationResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="doBulkReverse">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="doBulkReverse">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="doBulkReverseResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="expireTicket">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="expireTicket">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="expireTicketResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="doBulkChargeback">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="doBulkChargeback">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="doBulkChargebackResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="chargeback">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="chargeback">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="chargebackResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="reverse">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="reverse">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="reverseResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="simulatePayment">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="simulatePayment">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="simulatePaymentResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="doBulkPayment">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="doBulkPayment">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="doBulkPaymentResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="payment">
    <wsdl:port binding="tns:paymentSoapBinding" name="paymentPort">
      <soap:address location="{{ url('/') }}/api/webhooks/payment"></soap:address>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
