{% extends "main.layout" %}

{% set asideContext = 'newsletter' %}

{% block main %}
    <div class="l-container u-pd">

        <h1 class="c-h1 u-grey25 u-normal-weight u-mg-bottom-sm">
            Newsletter
        </h1>
        <div class="l-grid-row">
            <div class="l-col-8">

                {% set formErrors = errors.bags.default.messages %}
                <div class="c-card">
                    <form id="newsletter-form"
                          method="POST"
                          action="{{ newsletter ? route('newsletter.update', newsletter.id) : route('newsletter.store') }}"
                          enctype="multipart/form-data">
                        {{ csrf_field() }}
                        {% if newsletter %}
                            <input type="hidden" name="_method" value="PUT">
                        {% endif %}
                        <div class="c-form-group {{ formErrors['title'] != null ? 'has-error' : '' }}">
                            <label class="c-form-label c-form-label--required" for="title">Titre</label>
                            <input type="text"
                                   class="c-form-control js-form-control"
                                   id="title"
                                   name="title"
                                   placeholder="Titre de la newsletter"
                                   value="{{ old('title', newsletter ? newsletter.title : '') }}">
                            {% for error in formErrors['title'] %}
                                <small>{{ error }}</small>
                            {% endfor %}
                        </div>

                        <div class="c-form-group {{ formErrors['content'] != null ? 'has-error' : '' }}">
                            <label class="c-form-label c-form-label--required" for="content">
                                Contenu
                            </label>
                            <textarea rows="10"
                                      class="c-form-control c-form-control--textarea js-form-control"
                                      id="content"
                                      name="content"
                                      placeholder="Votre texte...">{{ old('content', newsletter ? newsletter.content : '') }}</textarea>
                            {% for error in formErrors['content'] %}
                                <small>{{ error }}</small>
                            {% endfor %}
                        </div>

                        <div class="u-mg-top">
                            {% if newsletter.getFirstMedia('newsletterImage') %}
                                {{ newsletter.getFirstMedia('newsletterImage').img('thumb') | raw }}
                            {% endif %}
                        </div>
                        <label class="c-form-label c-form-label--required">Image</label>
                        <div class="u-relative c-form-group {{ formErrors['newsletter_image'] != null ? 'has-error' : '' }}">
                            <input type="file" class="c-form-control c-form-control--file js-file-input"
                                   name="newsletter_image">
                            <div class="c-addon-container">
                                <input class="c-form-control js-file-input-display"
                                       placeholder="{{ newsletter ? newsletter.getFirstMedia('newsletterImage').file_name : 'Parcourir...' }}">
                                <span class="c-icon icon-folder-open"></span>
                            </div>
                            <small>{{ newsletter.getMediaCaption('newsletterImage') }}</small>
                            {% for error in formErrors['newsletter_image'] %}
                                <small>{{ error }}</small>
                            {% endfor %}
                        </div>

                        <div class="c-form-group u-relative {{ formErrors['send_date'] != null ? 'has-error' : '' }}">
                            <label class="c-form-label c-form-label--required"
                                   for="send_date">Date de diffusion</label>
                            <input id="send_date"
                                   name="send_date"
                                   type="text"
                                   class="c-form-control c-form-control--date date-picker"
                                   placeholder="12/02/2019"
                                   value="{{ old('send_date',newsletter ? newsletter.send_date | date('d/m/Y')) }}">
                            {% for error in formErrors['send_date'] %}
                                <small>{{ error }}</small>
                            {% endfor %}
                        </div>

                        <div class="c-form-group {{ formErrors['hour'] != null ? 'has-error' : '' }}">
                            <label class="c-form-label c-form-label--required" for="hour">Heure</label>
                            <input type="text"
                                   class="c-form-control js-form-control"
                                   id="hour"
                                   name="hour"
                                   placeholder="Heure de diffusion"
                                   value="{{ old('hour',newsletter ? newsletter.send_date | date('H')) }}">
                            {% for error in formErrors['hour'] %}
                                <small>{{ error }}</small>
                            {% endfor %}
                        </div>

                        <div class="c-form-group">
                            <label class="c-form-label c-form-label--required" for="minutes">Minutes</label>
                            <div class="c-addon-container">
                                <select id="minutes" name="minutes"
                                        class="c-form-control c-form-control--select js-form-control">
                                    {% set minutesValue = old('minutes', newsletter.send_date | date('i')) %}
                                    <option {{ minutesValue == 0 ? 'selected' : '' }}>0</option>
                                    <option {{ minutesValue == 15 ? 'selected' : '' }}>15</option>
                                    <option {{ minutesValue == 30 ? 'selected' : '' }}>30</option>
                                    <option {{ minutesValue == 45 ? 'selected' : '' }}>45</option>
                                </select>
                                <span class="c-icon icon-chevron-down" aria-hidden="true"></span>
                            </div>
                            {% for error in formErrors['minutes'] %}
                                <small>{{ error }}</small>
                            {% endfor %}
                        </div>

                        <div class="u-inline-right u-mg-top-lg">
                            <a href="{{ route('newsletter.index') }}"
                               class="c-btn c-btn--stroke c-btn--red">
                                Annuler
                            </a>
                            <button type="submit" class="u-vertical-top c-btn c-btn--stroke c-btn--green">
                                {{ newsletter ? 'Mettre à jour' : 'Créer' }}
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
