{% extends "main.layout" %}

{% set asideContext = 'newsletter' %}

{% block main %}
    <div class="l-container u-pd">

        <h1 class="c-h1 u-grey25 u-normal-weight u-mg-bottom-sm">
            Newsletter
        </h1>
        <div class="l-grid-row">
            <div class="l-col-10">

                <div class="c-card">
                    {% if newsletters|last.sent or newsletters is empty %}
                        <a class="c-btn c-btn--green" href="{{ route('newsletter.create') }}">
                            Créer une Newsletter
                        </a>
                    {% endif %}

                    <div class="c-table">
                        <div class="c-table__thead">
                            <div class="c-table__cell c-label">Titre</div>
                            <div class="c-table__cell c-label">Contenu</div>
                            <div class="c-table__cell c-label">Date d'envoi</div>
                            <div class="c-table__cell c-label">Statut</div>
                            <div class="c-table__cell c-label"></div>
                            <div class="c-table__cell c-label"></div>
                        </div>
                        <div class="c-table__tbody">
                            {% for newsletter in newsletters %}
                                <div class="c-table__row">
                                    <div class="c-table__cell">
                                        {{ newsletter.title }}
                                    </div>
                                    <div class="c-table__cell">
                                        {{ newsletter.content }}
                                    </div>
                                    <div class="c-table__cell u-bold">
                                        {{ newsletter.send_date | date('d/m/Y - G\\hi') }}
                                    </div>
                                    <div class="c-table__cell">
                                        {{ newsletter.sent ? 'Envoyée' : 'En attente' }}
                                    </div>
                                    <div class="c-table__cell c-table__cell--1">
                                        <div class="u-relative">
                                            {% if loop.index == (newsletters|length) and not newsletter.sent %}
                                                <a class="c-btn c-btn--thin c-btn--stroke c-btn--green u-small"
                                                   title="Modifier"
                                                   href="{{ route('newsletter.edit', newsletter.id) }}">
                                                    <i class="c-icon fas fa-fw fa-edit"></i>
                                                </a>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="c-table__cell c-table__cell--1">
                                        <div class="u-relative">
                                            {% if loop.index == (newsletters|length) and not newsletter.sent %}
                                                <button class="c-btn c-btn--thin c-btn--stroke c-btn--red u-small"
                                                        title="Supprimer"
                                                        type="button"
                                                        data-toggle="modal"
                                                        data-target="#confirmDeleteNewsletter-{{ newsletter.id }}">
                                                    <i class="c-icon fas fa-fw fa-trash"></i>
                                                </button>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                {% include "main.components.modal" with {
                                    id: 'confirmDeleteNewsletter-'~newsletter.id,
                                    color: 'red',
                                    icon: 'cross',
                                    message: "Êtes-vous certains de vouloir supprimer cette newsletter ?",
                                    confirm: true,
                                    action: 'newsletter.delete',
                                    actionMethod: 'DELETE',
                                    actionParam: {
                                        newsletter: newsletter.id,
                                    }
                                } %}
                            {% endfor %}
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
