// sass-lint:disable-all
/*
--------------------------------
TOC
--------------------------------

1. Display
2. Background
3. Color
4. Padding
5. Margin
6. Alignment
7. Position
8. Typography styles
9. Images
10. iframe
11. google map
12. width / height
13. Flex

*/

.u {

    // 1. Display
    &-block {
        display: block;
    }

    &-inline {
        display: inline;
    }

    &-inline-block {
        display: inline-block !important;
    }

    &-vertical-middle {
        vertical-align: middle;
    }

    &-vertical-top {
        vertical-align: top;
    }

    &-relative {
        position: relative;
    }

    &-hide-down {
        @media (max-width: $grid-float-breakpoint - 1) {
            display: none;
        }
    }

    &-hide-up {
        @media (min-width: $grid-float-breakpoint) {
            display: none;
        }
    }

    &-hide {
        display: none;

        &--xs {
            @media (max-width: $screen-xs-max) {
                display: none !important;
            }
        }

        &--sm {
            @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
                display: none !important;
            }
        }

        &--md {
            @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
                display: none !important;
            }
        }

        &--lg {
            @media (min-width: $screen-lg-min) {
                display: none !important;
            }
        }
    }

    &-clear {
        clear: both;
    }

    &-absolute {
        position: absolute;
    }

    // Visibility

    &-invisible {
        visibility: hidden;
    }

    // 2. Background
    &-bg-white {
        background: $white;
    }

    &-bg-grey {
        background: $grey20;
    }

    &-bg-grey55 {
        background: $grey55;
    }

    &-bg-grey60 {
        background: $grey60;
    }

    &-bg-main {
        background: $secondary;

        .l-view--individual & {
            background: $customer;
        }

        .l-view--professional & {
            background: $business;
        }
    }

    &-bg-transparent {
        background-color: transparent !important;
    }

    // 3. Color
    &-white {
        color: $white;
    }

    &-grey20 {
        color: lighten($grey25, 10%);
    }

    &-grey25 {
        color: $grey25;
    }

    &-grey60 {
        color: $grey60;
    }

    &-red {
        color: $red;
    }

    &-green {
        color: $green;
    }

    &-orange {
        color: $orange;
    }

    &-blue {
        color: $blue;
    }

    &-current-color {
        color: $secondary;

        .l-view--individual & {
            color: $customer !important;
        }

        .l-view--professional & {
            color: $business !important;
        }
    }

    &-color {
        &--primary {
            color: $primary
        }

        &--secondary {
            color: $secondary;
        }

        &--tertiary {
            color: $tertiary;
        }
    }

    // 4. Padding
    $padding-sm: calc-rem(10px);
    $padding: calc-rem(20px);

    &-pd-reset {
        padding: 0 !important;
    }

    &-pd-hz-reset {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    &-pd-top-sm {
        padding-top: $padding-sm !important;
    }

    &-pd-bottom-sm {
        padding-bottom: $padding-sm !important;
    }

    &-pd-left-sm {
        padding-left: $padding-sm !important;
    }

    &-pd-right-sm {
        padding-right: $padding-sm !important;
    }

    &-pd-vt-sm {
        padding-top: $padding-sm !important;
        padding-bottom: $padding-sm !important;
    }

    &-pd-hz-sm {
        padding-left: $padding-sm !important;
        padding-right: $padding-sm !important;
    }

    &-pd-sm {
        padding: $padding-sm !important;
    }

    &-pd-top {
        padding-top: $padding !important;
    }

    &-pd-bottom {
        padding-bottom: $padding !important;
    }

    &-pd-left {
        padding-left: $padding !important;
    }

    &-pd-right {
        padding-right: $padding !important;
    }

    &-pd-vt {
        padding-top: $padding !important;
        padding-bottom: $padding !important;
    }

    &-pd-hz {
        padding-left: $padding !important;
        padding-right: $padding !important;
    }

    &-pd {
        padding: $padding !important;
    }

    &-pd-navbar {
        padding-top: $navbar-height;
    }

    &-pd-hz-mobile {
        @media (max-width: $main-breakpoint - 1) {
            padding-left: $padding-sm !important;
            padding-right: $padding-sm !important;
        }
    }

    // 5. Margin
    $margin-xs: calc-rem(5px);
    $margin-sm: calc-rem(10px);
    $margin: calc-rem(20px);
    $margin-lg: calc-rem(40px);

    &-mg-reset {
        margin: 0 !important;
    }

    &-mg-top-reset {
        margin-top: 0 !important;
    }

    &-mg-top-auto {
        margin-top: auto !important;
    }

    &-mg-top-xs {
        margin-top: $margin-xs !important;
    }

    &-mg-bottom-xs {
        margin-bottom: $margin-xs !important;
    }

    &-mg-left-xs {
        margin-left: $margin-xs !important;
    }

    &-mg-right-xs {
        margin-right: $margin-xs !important;
    }

    &-mg-vt-xs {
        margin-top: $margin-xs !important;
        margin-bottom: $margin-xs !important;
    }

    &-mg-hz-xs {
        margin-left: $margin-xs !important;
        margin-right: $margin-xs !important;
    }

    &-mg-xs {
        margin: $margin-xs !important;
    }

    &-mg-top-sm {
        margin-top: $margin-sm !important;
    }

    &-mg-bottom-sm {
        margin-bottom: $margin-sm !important;
    }

    &-mg-left-sm {
        margin-left: $margin-sm !important;
    }

    &-mg-right-sm {
        margin-right: $margin-sm !important;
    }

    &-mg-vt-sm {
        margin-top: $margin-sm !important;
        margin-bottom: $margin-sm !important;
    }

    &-mg-hz-sm {
        margin-left: $margin-sm !important;
        margin-right: $margin-sm !important;
    }

    &-mg-sm {
        margin: $margin-sm !important;
    }

    &-mg-top {
        margin-top: $margin !important;
    }

    &-mg-bottom {
        margin-bottom: $margin !important;
    }

    &-mg-left {
        margin-left: $margin !important;
    }

    &-mg-left-auto {
        margin-left: auto !important;
    }

    &-mg-right {
        margin-right: $margin !important;
    }

    &-mg-right-auto {
        margin-right: auto !important;
    }

    &-mg-vt {
        margin-top: $margin !important;
        margin-bottom: $margin !important;
    }

    &-mg-hz {
        margin-left: $margin !important;
        margin-right: $margin !important;
    }

    &-mg {
        margin: $margin !important;
    }

    &-mg-top-lg {
        margin-top: $margin-lg !important;
    }

    &-mg-bottom-lg {
        margin-bottom: $margin-lg !important;
    }

    &-mg-left-lg {
        margin-left: $margin-lg !important;
    }

    &-mg-right-lg {
        margin-right: $margin-lg !important;
    }

    &-mg-vt-lg {
        margin-top: $margin-lg !important;
        margin-bottom: $margin-lg !important;
    }

    &-mg-hz-lg {
        margin-left: $margin-lg !important;
        margin-right: $margin-lg !important;
    }

    &-mg-lg {
        margin: $margin-lg !important;
    }

    &-mg-navbar {
        margin-top: $navbar-height-mobile !important;
        @media (min-width: $grid-float-breakpoint) {
            margin-top: $navbar-height !important;
        }
    }

    &-mg-band {
        margin-top: $band-height !important;
    }

    &-mg-hz-auto {
        margin-left: auto;
        margin-right: auto;
    }

    // 6. Alignment
    &-inline-center {
        text-align: center;
    }

    &-inline-right {
        text-align: right;
    }

    &-inline-left {
        text-align: left;
    }

    &-flex-center {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &-vertical-bottom {
        vertical-align: bottom !important;
    }

    &-vertical-center {
        vertical-align: middle !important;
    }

    // 7. Position
    &-full-height {
        min-height: 100%;
        height: 100%;
    }

    &-full-width {
        width: 100%;
    }

    &-width-250 {
        width: 250px !important;
    }

    &-max-width {
        max-width: 100%;
    }

    &-justify {
        // This is a way to justify elements
        // In order to have equals space between them
        // More info : https://kyusuf.com/post/almost-complete-guide-to-flexbox-without-flexbox
        // "Note: This method only works with uncompressed HTML and requires a fixed height on the container"
        text-align: justify;

        // :after below create an item with 100% width.
        // text-align property takes it into consideration and create equal space between items in the entire width of parent
        &:after {
            content: '';
            display: inline-block;
            width: 100%;
        }
    }

    &-right {
        float: right !important;
    }

    // 8. Typography styles
    &-small {
        font-size: calc-rem($font-size-small);
    }

    &-medium {
        font-size: calc-rem($font-size-base);
    }

    &-large {
        font-size: calc-rem($font-size-large);

        &--important {
            font-size: calc-rem($font-size-large) !important;
        }
    }

    &-normal-weight {
        font-weight: normal;
    }

    &-bold {
        font-weight: bold;
    }

    &-italic {
        font-style: italic;
    }

    &-uppercase {
        text-transform: uppercase;
    }

    &-serif {
        font-family: $font-family-serif;
    }

    &-sans-serif {
        font-family: $font-family-sans-serif;
    }

    &-line-height-reset {
        line-height: initial;
    }

    &-vertical-separator {
        position: relative;

        &:before {
            content: '';
            height: 50%;
            top: 25%;
            width: 1px;
            position: absolute;
            left: 0;
            background: $grey30;
            display: block;
        }
    }

    &-font-size-inherit {
        font-size: inherit;
    }

    // 9. Images
    &-object-fit-cover {
        // see https://github.com/aFarkas/lazysizes/tree/gh-pages/plugins/object-fit
        // Note that dimensions are mandatory
        object-fit: cover;
        font-family: "object-fit: cover";
    }

    &-object-fit-contain {
        // see https://github.com/aFarkas/lazysizes/tree/gh-pages/plugins/object-fit
        // Note that dimensions are mandatory
        object-fit: contain;
        font-family: "object-fit: contain";
        background: 0;
    }

    &-wb-img-filter {
        filter: grayscale(100%) invert(100%);
        -webkit-filter: grayscale(100%) invert(100%);
    }

    // 10. iframe
    &-iframe-pdf {
        width: 100%;
        height: 80vh;
    }

    // 11. google map
    &-google-map {
        height: 300px;
    }

    // 12. width / height

    &-h-2r {
        height: 2rem !important;
    }

    &-h-6r {
        height: 6rem !important;
    }

    &-max-w-100 {
        max-width: 100% !important;
    }

    &-w-20px {
        width: 20px !important;
    }

    &-w-auto {
        width: auto !important;
    }

    &-w-80px {
        width: 80px !important;
    }

    &-w-100px {
        width: 100px !important;
    }

    &-w-220px {
        width: 220px !important;
    }

    &-w-800px {
        width: 800px !important;
    }

    &-w-50p {
        width: 50% !important;
    }

    &-max-h-150px {
        max-height: 150px !important;
    }

    // 13. flex

    &-flex {
        display: flex;

        &-wrap {
            flex-wrap: wrap !important;
        }

        &-grow-1 {
            flex-grow: 1 !important;
        }
    }
}

