{% extends "framework.layout" %}

{% set asideContext = 'admin.counter.'~ (counter.id ? 'edit' : 'create') %}

{% block content %}
    <div class="l-dashboard">
        <div class="l-dashboard__aside">
            {% include 'main.partials.aside.admin' %}
        </div>
        <div class="l-dashboard__main u-bg-grey u-pd-navbar">
            <div class="l-container u-pd">
                <h1 class="c-h1 u-grey25 u-mg-bottom u-normal-weight">
                    {% if counter.id %}
                        Modifier
                    {% else %}
                        Créer
                    {% endif %}
                    un comptoir
                </h1>

                <div class="l-grid-row">
                    <div class="c-card-report">
                        {% if counter.id %}
                            <h2 class="c-h2 u-mg-bottom u-inline-block">{{ counter.name }}</h2>
                            <div class="u-right">
                                <form method="POST" action="{{ route('admin.counter.destroy',{counter: counter.id}) }}">
                                    {{ csrf_field() }}
                                    <input type="hidden" name="_method" value="DELETE">
                                    <button type="submit" class="c-btn c-btn--stroke c-btn--red c-btn--squeeze">
                                        Supprimer
                                    </button>
                                </form>
                            </div>
                        {% endif %}
                        <form method="POST"
                              action="{{ route('admin.counter.'~(counter.id ? 'update': 'store'), (counter.id ? {counter: counter.id }: {})) }}"
                            {% if counter is defined %}
                        data-users-selected={{ old('operators', counter.operators) | json_encode }}
                            {% endif %}>
                            {{ csrf_field() }}
                            {% if counter.id %}
                                <input type="hidden" name="_method" value="PUT">
                            {% endif %}
                            {% include 'main.partials.form-errors' %}

                            <div class="l-col-12 u-mg-bottom-sm ">
                                <div class="c-form-group">
                                    <label class="c-form-label c-form-label--required" for="name">Nom</label>
                                    <input type="text"
                                           class="c-form-control js-form-control"
                                           id="name"
                                           placeholder="Comptoir de {{ config('somoney.contact.city') }}"
                                           name="name"
                                           value="{{ old('name', counter.name) }}">
                                </div>
                            </div>
                            <div class="l-col-6 u-mg-bottom-sm">
                                <div class="c-form-group">
                                    <label class="c-form-label c-form-label--required" for="zipcode">
                                        Code postal
                                    </label>
                                    <input id="zipcode"
                                           name="zipcode"
                                           type="text"
                                           class="c-form-control js-form-control"
                                           placeholder="{{ config('somoney.contact.zipcode') }}"
                                           value="{{ old('zipcode', counter.zipcode) }}">
                                </div>
                            </div>
                            <div class="l-col-6 u-mg-bottom-sm">
                                <div class="c-form-group">
                                    <label class="c-form-label c-form-label--required" for="city">
                                        Ville
                                    </label>
                                    <input id="city"
                                           name="city"
                                           type="text"
                                           class="c-form-control js-form-control"
                                           placeholder="{{ config('somoney.contact.city') }}"
                                           value="{{ old('city', counter.city) }}">
                                </div>
                            </div>

                            <div class="l-col-12 u-mg-bottom-sm ">
                                <div class="c-form-group u-mg-bottom-sm">
                                    <label class="c-form-label c-form-label--required"
                                           for="operators">Opérateurs</label>
                                    <select class="c-form-control autocomplete-users select2"
                                            name="operators[]"
                                            multiple
                                            id="operators">
                                    </select>
                                </div>
                            </div>

                            <div class="u-inline-right u-mg-top-lg">
                                <a href="{{ route('admin.counters') }}"
                                   class="c-btn c-btn--stroke c-btn--red u-mg-top-sm u-vertical-middle">
                                    Annuler
                                </a>
                                <button type="submit"
                                        class="c-btn c-btn--stroke c-btn--green u-mg-top-sm u-vertical-middle">
                                    Valider
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
