{% extends "main.layout" %}

{% set asideContext = 'admin.counter.index' %}

{% block main %}
    <div class="l-container u-pd">
        <h1 class="c-h1 u-grey25 u-normal-weight u-mg-bottom-sm">Gestion des comptoirs</h1>

        <div class="c-card u-mg-bottom">
            <h2 class="c-h2 u-mg-bottom">Liste des comptoirs</h2>

            <div class="l-container">
                {% for row in counters|batch(4) %}
                    <div class="l-grid-row">
                        {% for counter in row %}
                            <div class="l-col-3 u-inline-center">
                                <div class="c-card u-mg-bottom u-inline-center">
                                    <div class="c-badge c-badge--lg u-inline-block u-mg-bottom">
                                        <i class="c-icon fas fa-store" aria-hidden="true"></i>
                                    </div>
                                    <p class="c-p c-h4">
                                        {{ counter.name }}
                                    </p>
                                    <p class="c-p c-h6">
                                        Solde <b>{{ counter.stock_balance }}</b> <i class="c-icon icon-money"></i>
                                    </p>
                                    <div class="u-full-width u-mg-top">
                                        <a href="{{ route('counter.show', {counter: counter.id}) }}"
                                           title="Gérer le comptoir"
                                           class="c-btn c-btn--secondary c-btn--thin u-mg-right">
                                            <i class="c-icon fa fa-eye"></i>
                                        </a>
                                        <a href="{{ route('admin.counter.edit', {counter: counter.id}) }}"
                                           title="Éditer le comptoir"
                                           class="c-btn c-btn--secondary c-btn--thin">
                                            <i class="c-icon fa fa-edit"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>

            <div class="l-container u-inline-right">
                <a href="{{ route('admin.counter.create') }}" class="c-btn c-btn--primary">
                    Créer un comptoir
                </a>
            </div>
        </div>

        <div class="c-card u-mg-bottom">
            <h2 class="c-h2 u-mg-bottom">Opérations des comptoirs</h2>

            <div class="l-container">
                <form class="u-pd-hz l-grid-row u-mg-bottom" method="GET" action="{{ route('admin.counters') }}">
                    <div class="l-grid-row">
                        <div class="l-col-3">
                            <div class="c-form-group">
                                <label class="c-form-label" for="city">Ville</label>
                                <div class="c-addon-container">
                                    <select id="city"
                                            class="c-form-control c-form-control--select js-form-control"
                                            data-submit
                                            name="city">
                                        <option></option>
                                        {% for city in cities %}
                                            <option value="{{ city }}"
                                                {% if old('city',request().city) == city %}
                                            selected
                                                {% endif %}>
                                                {{ city }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                    <span class="c-icon icon-chevron-down" aria-hidden="true"></span>
                                </div>
                            </div>
                        </div>
                        <div class="l-col-4">
                            <div class="c-form-group">
                                <label class="c-form-label" for="counter">Comptoir</label>
                                <div class="c-addon-container">
                                    <select id="counter"
                                            class="c-form-control c-form-control--select js-form-control"
                                            data-submit
                                            name="counter">
                                        <option></option>
                                        {% for counter in counters %}
                                            <option value="{{ counter.id }}"
                                                {% if old('counter',request().counter) == counter.id %}
                                            selected
                                                {% endif %}>
                                                {{ counter.name }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                    <span class="c-icon icon-chevron-down" aria-hidden="true"></span>
                                </div>
                            </div>
                        </div>
                        <div class="l-col-2">
                            <div class=" c-form-group">
                                <label class="c-form-label" for="begin">Date de début</label>
                                <input type="text"
                                       name="begin"
                                       id="begin"
                                       class="c-form-control c-form-control--date date-picker"
                                       value="{{ old('begin',request().begin) }}">
                            </div>
                        </div>
                        <div class="l-col-2">
                            <div class=" c-form-group">
                                <label class="c-form-label" for="end">Date de fin</label>
                                <input type="text"
                                       name="end"
                                       id="end"
                                       class="c-form-control c-form-control--date date-picker"
                                       value="{{ old('end',request().end) }}">
                            </div>
                        </div>
                        <div class="l-col-1 u-mg-top">
                            <button type="submit"
                                    class="c-btn--brick c-btn--green c-btn--thin u-pd-hz u-mg-top-auto">
                                <i class="c-icon fa fa-sync-alt"></i>
                            </button>
                        </div>
                    </div>
                </form>

                <div class="l-grid-row">
                    <div class="c-table">
                        <div class="c-table__thead">
                            <div class="c-table__cell c-label">Date</div>
                            <div class="c-table__cell c-label">Opérateur</div>
                            <div class="c-table__cell c-label">Type</div>
                            <div class="c-table__cell c-label">Montant ( <span class="c-icon icon-money"></span> )</div>
                            <div class="c-table__cell c-label">Utilisateur</div>
                            <div class="c-table__cell c-label">Comptoir</div>
                            {% for banknote in config('somoney.banknotes') %}
                                <div class="c-table__cell c-label u-inline-center">
                                    {{ banknote }} <span class="c-icon icon-money"></span>
                                </div>
                            {% endfor %}
                        </div>

                        <div class="c-table__tbody">
                            {% for transaction in transactions.items() %}
                                <div class="c-table__row">
                                    <div class="c-table__cell">{{ transaction.created_at | date('d/m/Y') }}</div>
                                    <div class="c-table__cell">{{ transaction.operator_user.name }}</div>
                                    <div class="c-table__cell">{{ transaction.txt_type }}</div>
                                    <div class="c-table__cell u-bold">
                                        {{ transaction.amount | number_format(2, ',', ' ') }}
                                    </div>
                                    <div class="c-table__cell u-bold">{{ transaction.cyclos_user.name }}</div>
                                    <div class="c-table__cell">
                                        <a href="{{ route('admin.counters', {counter: transaction.counter.id}) }}"
                                           class="c-link">{{ transaction.counter.city }}</a>
                                    </div>
                                    {% for banknote in config('somoney.banknotes') %}
                                        <div class="c-table__cell u-inline-center">
                                            {{ data_get(transaction.details,banknote,0) }}
                                        </div>
                                    {% endfor %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="l-grid-table u-pd-sm">
                        <div class="l-grid-table__cell">
                            {% if transactions.previousPageUrl() %}
                                <a href="{{ transactions.previousPageUrl() }}"
                                   class="c-label c-link u-uppercase">
                                    <span class="c-icon icon-chevron-left"></span> Page précédente
                                </a>
                            {% endif %}
                        </div>
                        <div class="l-grid-table__cell u-inline-right">
                            {% if transactions.nextPageUrl() %}
                                <a href="{{ transactions.nextPageUrl()  }}"
                                   class="c-link c-label u-uppercase">
                                    Page suivante<span class="c-icon icon-chevron-right"></span>
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="l-container u-mg-top">
                <div class="l-grid-row u-inline-center">
                    <h3>
                        Total des comptoirs {{ total | number_format(2, ',', ' ') }}
                        <span class="c-icon icon-money"></span>
                    </h3>
                </div>
            </div>
        </div>

        <div class="c-card u-mg-bottom">
            <h2 class="c-h2 u-mg-bottom">Export des opérations</h2>

            <div class="l-grid-row u-inline-center">
                <a href="{{ route('admin.counter.export') }}" class="c-btn c-btn--green">
                    <span class="c-icon icon-download"></span> Télécharger
                </a>
            </div>
        </div>
    </div>

{% endblock %}
