{% extends "main.layout" %}

{% set asideContext = 'admin.operations.historic' %}

{% block main %}
    <div class="l-container u-pd">
        <h1 class="c-h1 u-grey25 u-normal-weight u-mg-bottom-sm">Liste des opérations</h1>

        <div class="c-card u-mg-bottom">
            <h2 class="c-h2 u-mg-bottom">Equation : {{ equation }}</h2>
        </div>

        <div class="c-card u-mg-bottom">
            <h2 class="c-h2 u-pd-hz u-mg-bottom">Rechercher une opération</h2>

            <form class="u-pd-hz l-grid-row u-mg-bottom" method="GET" action="{{ route('admin.operations.historic') }}"
                {{ request('filters.user') ? 'data-user-selected='~request('filters.user')~'' : '' }}
            >
                <div class="l-col-3 l-col-6-sm">
                    <div class="c-form-group u-mg-bottom-sm">
                        <label class="c-form-label" for="month">filtrer par mois</label>
                        <div class="c-addon-container">
                            <select id="month"
                                    class="c-form-control c-form-control--select js-form-control"
                                    name="filters[datePeriod]">
                                <option value="">12 derniers mois</option>
                                {% for month in months %}
                                    <option value="{{ month.interval }}"
                                            {% if filters.datePeriod == month.interval %}selected="selected"{% endif %}>
                                        {{ month.date.formatLocalized('%B %Y') | capitalize }}
                                    </option>
                                {% endfor %}
                            </select>
                            <span class="c-icon icon-chevron-down" aria-hidden="true"></span>
                        </div>
                    </div>
                </div>

                <div class="l-col-3 l-col-6-sm">
                    <div class="c-form-group u-mg-bottom-sm">
                        <label class="c-form-label" for="form-name">Utilisateurs</label>
                        <select
                            class="c-form-control autocomplete-users select2"
                            name="filters[user]"
                            id="form-name">
                        </select>
                    </div>
                </div>
                <div class="l-col-3 l-col-6-sm u-vertical-bottom u-mg-bottom-sm">
                    <label class="c-form-label u-invisible" for="">validation</label>
                    <button type="submit" class="c-btn c-btn--primary c-btn--stroke c-btn--squeeze c-btn--full-width">
                        Filtrer
                    </button>
                </div>
            </form>

            <h2 class="c-h2 u-mg-bottom">Consulter</h2>
            <div class="l-container">
                <div class="c-table">
                    <div class="c-table__thead">
                        <div class="c-table__cell c-label">Date</div>
                        <div class="c-table__cell c-label">Depuis</div>
                        <div class="c-table__cell c-label">Vers</div>
                        <div class="c-table__cell c-label">Description</div>
                        <div class="c-table__cell c-label">Montant</div>
                    </div>
                    <div class="c-table__tbody">
                        {% for operation in operations.items() %}
                            <div class="c-table__row">
                                <div class="c-table__cell">{{ operation.date|date('d/m/Y H:i:s') }}</div>
                                <div class="c-table__cell">
                                    {% if operation.from.kind == 'system' %}
                                        {{ operation.from.type.name }}
                                    {% else %}
                                        <a href="{{ route('admin.users.show', {id: operation.from.user.id}) }}">
                                            {{ operation.from.user.display }}
                                        </a>
                                    {% endif %}
                                </div>
                                <div class="c-table__cell">
                                    {% if operation.to.kind == 'system' %}
                                        {{ operation.to.type.name }}
                                    {% else %}
                                        <a href="{{ route('admin.users.show', {id: operation.to.user.id}) }}">
                                            {{ operation.to.user.display }}
                                        </a>
                                    {% endif %}
                                </div>
                                <div class="c-table__cell">{{ operation.type.name }}</div>
                                <div class="c-table__cell">{{ operation.amount }} {{ operation.currency.symbol }}</div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="l-grid-table u-pd-sm">
                <div class="l-grid-table__cell">
                    {% if operations.currentPage > 1 %}
                        <a href="{{ route('admin.operations.historic', {'filters' : filters} | merge({'page' : operations.currentPage - 1})) }}"
                           class="c-label c-link u-uppercase">
                            <span class="c-icon icon-chevron-left"></span> Page précédente
                        </a>
                    {% endif %}
                </div>
                <div class="l-grid-table__cell u-inline-right">
                    {% if operations.currentPage < operations.lastPage %}
                        <a href="{{ route('admin.operations.historic', {'filters' : filters} | merge({'page' : operations.currentPage + 1})) }}"
                           class="c-link c-label u-uppercase">
                            Page suivante<span class="c-icon icon-chevron-right"></span>
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="c-card u-mg-bottom">
            <h2 class="c-h2 u-mg-bottom">Export des opérations</h2>
            <a href="{{ route('admin.operations.historic.export') }}" class="c-btn c-btn--green">
                <span class="c-icon icon-download"></span> Classique (XLS)
            </a>
            <a href="{{ route('admin.exports.data_studio.operations') }}" class="c-btn c-btn--green">
                <span class="c-icon icon-download"></span> Data Studio (JSON)
            </a>
            <div class="c-card u-mg-top u-bg-grey">
                <h3 class="u-mg-bottom">Récupération en API</h3>
                <div class="u-mg-bottom">
                    <div class="u-bold">Url</div>
                    <code class="u-pd-left-sm">{{ route('api.exports.data_studio.operations') }}</code>
                </div>
                <div class="u-mg-bottom">
                    <div class="u-mg-bottom">
                        <div class="u-bold">
                            <a href="https://developer.mozilla.org/fr/docs/Web/HTTP/Headers" class="c-link">En-tête
                                                                                                            HTTP
                            </a>
                        </div>
                        <code class="u-pd-left-sm">
                            {"Authorization": "{{ config('services.google.data_studio.api.key') }}"}
                        </code>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
