{% extends "main.layout" %}

{% set title = 'Reconversion Utilisateur - '~config('somoney.money') %}
{% set asideContext = 'admin.operations.reconversion-user' %}

{% block main %}
    <div class="l-container u-pd">
        <h1 class="c-h1 u-grey25 u-normal-weight u-mg-bottom-sm">Reconvertir un utilisateur</h1>

        <div class="c-card u-mg-bottom">
            <h2 class="u-mg-bottom">Choisir un utilisateur</h2>
            <form class="u-pd-hz l-grid-row u-mg-bottom"
                  method="GET"
                  action="{{ route('admin.operations.reconversion-user.index') }}"
                {% if user %}
                    data-user-selected="{{ user.id }}"
                {% endif %}
            >
                <div class="c-form-group u-mg-bottom-sm">
                    <label class="c-form-label" for="form-name">Utilisateurs</label>
                    <select
                        class="c-form-control autocomplete-users select2"
                        name="user"
                        data-submit
                        {% if user %}
                        data-except="{{ user.id }}"
                    {% endif %}"
                               id="form-name">
                    </select>
                </div>
            </form>
        </div> {% if user %}
            <div class="c-card u-mg-bottom">
                <h2 class="u-mg-bottom">Vous allez reconvertir {{ user.name }} (max: {{ maxAmount }}
                    <span class="c-icon icon-money"></span>)
                </h2>
                <form id="submit-from-modal"
                      method="POST"
                      action="{{ route('admin.operations.reconversion-user.store',{user: user.id}) }}">
                    {{ csrf_field() }}
                    <input type="hidden" name="maxAmount" value="{{ maxAmount }}"/>
                    <div class="l-grid-row">
                        <div class="c-form-group">
                            <label class="c-form-label" for="amount">
                                Montant
                            </label>
                            <input type="number"
                                   class="c-form-control js-form-control"
                                   step="0.01"
                                   autocomplete="off"
                                   min="0"
                                   id="amount"
                                   name="amount"
                                   value="{{ old('amount', 0) }}">
                        </div>
                    </div>
                    <button
                        id="to-confirm-modal"
                        type="submit"
                        class="c-btn c-btn--primary c-btn--full-width u-mg-top"
                        data-toggle="modal"
                        data-target="#confirmReconversion"
                    >Reconvertir
                    </button>
                </form>
            </div>
        {% endif %}
    </div>

    {% if session('reconversion-user-succeed') %}
        {% include "main.components.modal" with {
            'id' : 'reconversion-user-succeed-modal',
            'attributes' : 'data-show',
            'color' : 'green',
            'icon' : 'checkmark',
            'message' : session('reconversion-user-succeed'),
        } %}
    {% endif %}

    {% if session('reconversion-user-failed') %}
        {% include "main.components.modal" with {
            'id' : 'reconversion-user-failed-modal',
            'attributes' : 'data-show',
            'color' : 'red',
            'icon' : 'cross',
            'message' : session('reconversion-user-failed'),
        } %}
    {% endif %}

    <div class="modal fade"
         id="confirmReconversion"
         tabindex="-1"
         role="dialog"
         aria-labelledby="{{ id|default('modal') }}">
        <div class="modal-dialog" role="document">
            <div class="modal-content c-modal-content">
                <button type="button" class="c-modal-content__close-btn" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">×</span></button>
                <div class="u-inline-center">
                    <div class="c-badge c-badge--lg c-badge--red c-badge--stroke u-inline-block">
                        <span class="c-icon icon-information"></span>
                    </div>
                    <p class="c-p u-large u-mg-vt-lg">Vous allez reconvertir {{ user.name }} de
                        <b><span id="reconversion-amount"></span></b> <span class="c-icon icon-money"></span><br>
                                                      avec un taux de reconversion de
                        <b><span id="reconversion-substract"></span> %</b><br>
                                                      il sera donc rendu
                        <b><span id="final-amount"></span></b> <span class="c-icon icon-money"></span>

                    </p>
                    <button type="button"
                            class="c-btn c-btn--red c-btn--stroke u-vertical-center"
                            data-dismiss="modal"
                            aria-label="Close">Annuler
                    </button>
                    <button id="modal-submit-form"
                            class="c-btn c-btn--red u-vertical-center">
                        Confirmer
                    </button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}


