{% extends "main.layout" %}

{% set asideContext = 'admin.operations.sepas' %}

{% block main %}
    <div class="l-container u-pd">
        <h1 class="c-h1 u-grey25 u-normal-weight u-mg-bottom-sm">Prélèvements SEPA</h1>

        <div class="c-card u-mg-bottom">
            <h2 class="c-h2 u-mg-bottom">Export des enregistrements SEPA</h2>
            <a href="{{ route('admin.operations.sepa.xls') }}" class="c-btn c-btn--green">
                <span class="c-icon icon-download"></span> Télécharger
            </a>
        </div>

        <div class="c-card u-mg-bottom">
            <a href="#sepas-awaiting" class="c-btn c-btn--secondary">
                {{ 'sepas.status.label.waiting' | trans }}
            </a>
            <a href="#sepas-done" class="c-btn c-btn--secondary">
                {{ 'sepas.status.label.done' | trans }}
            </a>
            <a href="#sepas-in-progress" class="c-btn c-btn--secondary">
                {{ 'sepas.status.label.in-progress' | trans }}
            </a>
            <a href="#sepas-stopped" class="c-btn c-btn--secondary">
                {{ 'sepas.status.label.ended' | trans }}
            </a>
            <a href="#sepas-canceled" class="c-btn c-btn--secondary">
                {{ 'sepas.status.label.canceled' | trans }}
            </a>
        </div>

        {# list of awaiting sepas #}
        <div id="sepas-awaiting" class="c-card u-mg-bottom">
            <h2 class="c-h2 u-mg-bottom u-uppercase">En attente</h2>
            <div class="l-container">
                <div class="c-table">
                    <div class="c-table__thead">
                        <div class="c-table__cell c-label">Utilisateur</div>
                        <div class="c-table__cell c-label">Montant {{ config('somoney.money') }}</div>
                        <div class="c-table__cell c-label">Récurrent</div>
                        <div class="c-table__cell c-label">Coordonnées</div>
                        <div class="c-table__cell c-label">Prélèvement le</div>
                        <div class="c-table__cell c-label">Actions</div>
                    </div>
                    <div class="c-table__tbody">
                        {% if sepasAwaiting is not empty %}
                            {% for sepa in sepasAwaiting %}
                                {% set isPro =  users[sepa.user_id].group.internalName == 'professional' %}
                                <div class="c-table__row">
                                    <div class="c-table__cell u-pd-right">
                                        <a href="{{ route('admin.users.show',{id: sepa.user_id}) }}"
                                           title="lien vers son profil">
                                            <span class="c-icon {{ isPro ? 'icon-briefcase' : 'icon-user' }}"
                                                  aria-hidden="true"></span>
                                            {{ users[sepa.user_id].name }}
                                        </a>
                                    </div>
                                    <div class="c-table__cell" align="center">
                                        {{ sepa.amount }}
                                    </div>
                                    <div class="c-table__cell" align="center">
                                        {% if not sepa.is_recurrent %}
                                            <span class="c-icon icon-cross"></span>
                                        {% else %}
                                            <span class="c-icon icon-checkmark"
                                                  tabindex="0"
                                                  aria-hidden="true"
                                                  title="Fini le {{ sepa.end_date | date('d/m/Y') }}"></span>

                                        {% endif %}
                                    </div>
                                    <div class="c-table__cell">
                                        <button type="button"
                                           title="Coordonné bancaire pour le prélèvement SEPA"
                                           data-toggle="modal"
                                           data-target="#sepaInfoModal-{{ sepa.id }}"
                                           class="c-btn c-btn--stroke c-btn--squeeze">
                                            <span class="c-icon icon-menu" aria-hidden="true"></span>
                                        </button>
                                    </div>
                                    <div class="c-table__cell">
                                        <form method="POST"
                                              action="{{ route('admin.operations.sepa.updateStartDate',{sepa: sepa.id}) }}">
                                            {{ csrf_field() }}
                                            <input type="hidden" name="_method" value="PUT">
                                            <div class="c-input-group">
                                                <input type="text"
                                                       name="start_date"
                                                       class="c-form-control  c-form-control--date date-picker"
                                                       value="{{ sepa.start_date_txt | date('d/m/Y') }}"
                                                />
                                                <button type="submit"
                                                        class="c-btn c-btn--stroke c-btn--secondary c-btn--thin">
                                                    <i class="c-icon fa fa-sync"></i>
                                                </button>
                                            </div>
                                    </div>
                                    <div class="c-table__cell">
                                        {% if not sepa.is_recurrent %}
                                            <a href="{{ route('admin.operations.sepa.done',{sepa: sepa.id}) }}"
                                               title="Marquer comme validé"
                                               class="c-btn c-btn--stroke c-btn--squeeze c-btn--green">
                                                <span class="c-icon icon-checkmark" aria-hidden="true"></span>
                                            </a>
                                        {% else %}
                                            <a href="{{ route('admin.operations.sepa.active',{sepa: sepa.id}) }}"
                                               title="Marquer comme activé"
                                               class="c-btn c-btn--stroke c-btn--squeeze c-btn--green">
                                                <span class="c-icon icon-checkmark" aria-hidden="true"></span>
                                            </a>
                                        {% endif %}
                                        <a href="{{ route('admin.operations.sepa.canceled',{sepa: sepa.id}) }}"
                                           title="Marquer comme annuler"
                                           class="c-btn c-btn--stroke c-btn--squeeze c-btn--red">
                                            <span class="c-icon icon-cross" aria-hidden="true"></span>
                                        </a>
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            <div class="c-table__row c-label">
                                Aucun prélèvement SEPA n'est en attente
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        {# list of validated sepas #}
        <div id="sepas-done" class="c-card u-mg-bottom">
            <h2 class="c-h2 u-mg-bottom u-uppercase">Validé</h2>
            <div class="l-container">
                <div class="c-table">
                    <div class="c-table__thead">
                        <div class="c-table__cell c-label">Utilisateur</div>
                        <div class="c-table__cell c-label">Montant {{ config('somoney.money') }}</div>
                        <div class="c-table__cell c-label">Validé le</div>
                    </div>
                    <div class="c-table__tbody">
                        {% if sepasDone is not empty %}
                            {% for sepa in sepasDone %}
                                {% set isPro =  users[sepa.user_id].group.internalName == 'professional' %}
                                <div class="c-table__row">
                                    <div class="c-table__cell u-pd-right">
                                        <a href="{{ route('admin.users.show',{id: sepa.user_id}) }}"
                                           title="lien vers son profil">
                                            <span class="c-icon {{ isPro ? 'icon-briefcase' : 'icon-user' }}"
                                                  aria-hidden="true"></span>
                                            {{ users[sepa.user_id].name }}
                                        </a>
                                    </div>
                                    <div class="c-table__cell" align="center">
                                        {{ sepa.amount }}
                                    </div>
                                    <div class="c-table__cell" title="{{ sepa.updated_at }}">
                                        {{ sepa.updated_at | date('d/m/Y') }}
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            <div class="c-table__row c-label">
                                Aucun prélèvement SEPA n'est validé
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        {# list of in progress sepas #}
        <div id="sepas-in-progress" class="c-card u-mg-bottom">
            <h2 class="c-h2 u-mg-bottom u-uppercase">En cours</h2>
            <div class="l-container">
                <div class="c-table">
                    <div class="c-table__thead">
                        <div class="c-table__cell c-label">Utilisateur</div>
                        <div class="c-table__cell c-label">Montant {{ config('somoney.money') }}</div>
                        <div class="c-table__cell c-label">Premier prélevement le</div>
                        <div class="c-table__cell c-label">Termine le</div>
                        <div class="c-table__cell c-label">Actions</div>
                    </div>
                    <div class="c-table__tbody">
                        {% if sepasActive is not empty %}
                            {% for sepa in sepasActive %}
                                {% set isPro =  users[sepa.user_id].group.internalName == 'professional' %}
                                <div class="c-table__row">
                                    <div class="c-table__cell u-pd-right">
                                        <a href="{{ route('admin.users.show',{id: sepa.user_id}) }}"
                                           title="lien vers son profil">
                                            <span class="c-icon {{ isPro ? 'icon-briefcase' : 'icon-user' }}"
                                                  aria-hidden="true"></span>
                                            {{ users[sepa.user_id].name }}
                                        </a>
                                    </div>
                                    <div class="c-table__cell" align="center">
                                        {{ sepa.amount }}
                                    </div>
                                    <div class="c-table__cell" title="{{ sepa.start_date | date('d/m/Y à H:i') }}">
                                        {{ sepa.start_date | date('d/m/Y') }}
                                    </div>
                                    <div class="c-table__cell" title="{{ sepa.updated_at }}">
                                        <span class="{{ sepa.is_duration_exceeded  ? 'u-red' : '' }}">{{ sepa.end_date | date('d/m/Y') }}</span>
                                    </div>
                                    <div class="c-table__cell">
                                        <a href="{{ route('admin.operations.sepa.stopped',{sepa: sepa.id}) }}"
                                           title="Marquer comme terminer"
                                           class="c-btn c-btn--stroke c-btn--squeeze">
                                            <span class="c-icon icon-cross" aria-hidden="true"></span>
                                        </a>
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            <div class="c-table__row c-label">
                                Aucun prélèvement SEPA n'est en cours
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        {# list of stopped sepas #}
        <div id="sepas-stopped" class="c-card u-mg-bottom">
            <h2 class="c-h2 u-mg-bottom u-uppercase">Terminé</h2>
            <div class="l-container">
                <div class="c-table">
                    <div class="c-table__thead">
                        <div class="c-table__cell c-label">Utilisateur</div>
                        <div class="c-table__cell c-label">Montant {{ config('somoney.money') }}</div>
                        <div class="c-table__cell c-label">Terminé le</div>
                    </div>
                    <div class="c-table__tbody">
                        {% if sepasStopped is not empty %}
                            {% for sepa in sepasStopped %}
                                {% set isPro =  users[sepa.user_id].group.internalName == 'professional' %}
                                <div class="c-table__row">
                                    <div class="c-table__cell u-pd-right">
                                        <a href="{{ route('admin.users.show',{id: sepa.user_id}) }}"
                                           title="lien vers son profil">
                                            <span class="c-icon {{ isPro ? 'icon-briefcase' : 'icon-user' }}"
                                                  aria-hidden="true"></span>
                                            {{ users[sepa.user_id].name }}
                                        </a>
                                    </div>
                                    <div class="c-table__cell" align="center">
                                        {{ sepa.amount }}
                                    </div>
                                    <div class="c-table__cell" title="{{ sepa.updated_at }}">
                                        {{ sepa.updated_at | date('d/m/Y') }}
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            <div class="c-table__row c-label">
                                Aucun prélèvement SEPA n'est terminé
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        {# list of canceled sepas #}
        <div id="sepas-canceled" class="c-card u-mg-bottom">
            <h2 class="c-h2 u-mg-bottom u-uppercase">Annulé</h2>
            <div class="l-container">
                <div class="c-table">
                    <div class="c-table__thead">
                        <div class="c-table__cell c-label">Utilisateur</div>
                        <div class="c-table__cell c-label">Montant {{ config('somoney.money') }}</div>
                        <div class="c-table__cell c-label">Récurrent</div>
                        <div class="c-table__cell c-label">Annulé le</div>
                    </div>
                    <div class="c-table__tbody">
                        {% if sepasCanceled is not empty %}
                            {% for sepa in sepasCanceled %}
                                {% set isPro =  users[sepa.user_id].group.internalName == 'professional' %}
                                <div class="c-table__row">
                                    <div class="c-table__cell u-pd-right">
                                        <a href="{{ route('admin.users.show',{id: sepa.user_id}) }}"
                                           title="lien vers son profil">
                                            <span class="c-icon {{ isPro ? 'icon-briefcase' : 'icon-user' }}"
                                                  aria-hidden="true"></span>
                                            {{ users[sepa.user_id].name }}
                                        </a>
                                    </div>
                                    <div class="c-table__cell" align="center">
                                        {{ sepa.amount }}
                                    </div>
                                    <div class="c-table__cell" align="center">
                                        {% if not sepa.is_recurrent %}
                                            <span class="c-icon icon-cross"></span>
                                        {% else %}
                                            <span class="c-icon icon-checkmark"></span>
                                        {% endif %}
                                    </div>
                                    <div class="c-table__cell" title="{{ sepa.updated_at | date('d/m/Y à H:i') }}">
                                        {{ sepa.updated_at | date('d/m/Y') }}
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            <div class="c-table__row c-label">
                                Aucun prélèvement SEPA n'est annulé
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    {# modal SEPA informations #}
    {% for sepa in sepasAwaiting %}
        {% include "main.components.modal" with {
            'id' : 'sepaInfoModal-'~sepa.id,
            'color' : 'blue',
            'noIcon' : true,
            'message' : ""~(sepa.gender == 'h' ? 'M.' : 'Mme')~" "~sepa.first_name~" "~sepa.last_name~"<br><br>"~sepa.email~(sepa.company ? " - "~sepa.company : '')~"<br><br><span class='iban-label'>"~sepa.iban~"</span><br>"
        } %}
    {% endfor %}

{% endblock %}
