{% extends "main.layout" %}

{% set asideContext = 'admin.operations.user-credit' %}

{% block main %}
    <div class="l-container u-pd">
        <h1 class="c-h1 u-grey25 u-normal-weight u-mg-bottom-sm">Créditer un utilisateur</h1>

        <div class="c-card u-mg-bottom">
            <h2 class="u-mg-bottom">Choisir un utilisateur</h2>
            <form class="u-pd-hz l-grid-row u-mg-bottom"
                  method="GET"
                  action="{{ route('admin.operations.user-credit.index') }}"
                {% if user %}
                    data-user-selected="{{ user.id }}"
                {% endif %}

            >
                <div class="c-form-group u-mg-bottom-sm">
                    <label class="c-form-label" for="form-name">Utilisateurs</label>
                    <select
                        class="c-form-control autocomplete-users select2"
                        name="user"
                        data-submit
                        {% if user %}
                            data-except="{{ user.id }}"
                        {% endif %}
                        id="form-name">
                    </select>
                </div>
            </form>
        </div>

        {% if user %}
            <div class="c-card u-mg-bottom">
                <h2 class="u-mg-bottom">Vous allez créditer {{ user.name }}</h2>
                <form id="submit-from-modal" method="POST" action="{{ route('admin.operations.user-credit.store',{user: user.id}) }}">
                    {{ csrf_field() }}
                    <input type="hidden" name="maxAmount" value="{{ maxAmount }}" />
                    <div class="l-grid-row">
                        <div class="l-col-5">
                            <div class="c-form-group">
                                <label class="c-form-label" for="transfer-value-euro">
                                    Montant (euro)
                                </label>
                                <div class="c-addon-container u-large">
                                    <input type="number"
                                           class="c-form-control js-form-control u-pd-left"
                                           step="0.01"
                                           autocomplete="off"
                                           min="0"
                                           id="transfer-value-euro"
                                           name="amount"
                                           value="{{ old('amount') }}">
                                    <i class="c-icon fas fa-euro-sign"></i>
                                </div>
                            </div>
                        </div>
                        <div class="l-col-2 u-inline-center u-color--primary">
                            <div class="c-icon u-mg-bottom-sm icon-information js-tooltip-trigger c-tooltip-trigger"
                                 tabindex="0"
                                 aria-hidden="true"
                                 title=""
                                 data-original-title="Vous ne pouvez mettre plus de {{ maxAmount }} {{ config('somoney.money') }} le compte de {{ user.name }}"></div>
                            <i class="fas fa-2x fa-arrow-right"></i>
                        </div>
                        <div class="l-col-5">
                            <div class="c-form-group">
                                <label class="c-form-label" for="transfer-value-money">
                                    Montant ({{ config('somoney.money') }})
                                </label>
                                <div class="c-addon-container u-large">
                                    <input type="number"
                                           class="c-form-control c-form-control--computed js-form-control js-input-computed u-pd-left"
                                           data-target-input="transfer-value-euro"
                                           data-compute-ratio="1"
                                           id="transfer-value-money"
                                           name="amount_money"
                                           disabled>
                                    <span class="c-icon icon-money u-font-size-inherit"></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <button
                        id="to-confirm-modal"
                        type="submit"
                        class="c-btn c-btn--primary c-btn--full-width u-mg-top"
                        data-toggle="modal"
                        data-target="#confirmCredit">Créditer</button>
                </form>
            </div>
        {% endif %}
    </div>

    {% if session('admin-user-credit-succeed') %}
        {% include "main.components.modal" with {
            'id' : 'admin-user-credit-succeed-modal',
            'attributes' : 'data-show',
            'color' : 'green',
            'icon' : 'checkmark',
            'message' : session('admin-user-credit-succeed'),
        } %}
    {% endif %}

    <div class="modal fade"
         id="confirmCredit"
         tabindex="-1"
         role="dialog"
         aria-labelledby="{{ id|default('modal') }}">
        <div class="modal-dialog" role="document">
            <div class="modal-content c-modal-content">
                <button type="button" class="c-modal-content__close-btn" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">×</span></button>
                <div class="u-inline-center">
                    <div class="c-badge c-badge--lg c-badge--red c-badge--stroke u-inline-block">
                        <span class="c-icon icon-information"></span>
                    </div>
                    <p class="c-p u-large u-mg-vt-lg">Vous allez créditer un utilisateur, continuer ?</p>
                    <button type="button"
                            class="c-btn c-btn--red c-btn--stroke u-vertical-center"
                            data-dismiss="modal"
                            aria-label="Close">Annuler
                    </button>
                    <button id="modal-submit-form"
                            class="c-btn c-btn--red u-vertical-center">
                        Confirmer
                    </button>
                </div>

            </div>
        </div>
    </div>

{% endblock %}


