{% set showAddressNotFound = not forceHideAddressNotFound and session('address_not_found_show') %}

<div class="l-grid-row">
    <div class="l-col-12">
        <input type="hidden"
               name="gmap[addressLine1]"
               value="{{ old('gmap.addressLine1',user.address.addressLine1) }}"/>
        <input type="hidden"
               name="gmap[zip]"
               value="{{ old('gmap.zip',user.address.zip) }}"/>
        <input type="hidden"
               name="gmap[city]"
               value="{{ old('gmap.city',user.address.city ) }}"/>
        <input type="hidden"
               name="gmap[latitude]"
               value="{{ old('gmap.latitude',user.address.location.latitude) }}"/>
        <input type="hidden"
               name="gmap[longitude]"
               value="{{ old('gmap.longitude',user.address.location.longitude) }}"/>

        <div id="address-not-found-block" class="{{ showAddressNotFound ? '' : 'u-hide' }}">
            <div class="l-col-12 u-pd-reset">
                <div class="c-form-group u-mg-bottom-sm">
                    <label class="c-form-label" for="addressLine1">Adresse</label>
                    <input type="text"
                           class="c-form-control js-form-control"
                           id="addressLine1"
                           name="addressLine1"
                           placeholder="5 Rue des Lilas"
                           value="{{ old('addressLine1', user.address.addressLine1) }}">
                </div>
            </div>

            <div class="l-col-12 u-pd-reset u-mg-bottom">
                <div class="c-form-group">
                    <label class="c-form-label" for="additional-address">
                        Complément d'adresse
                        <span class="c-icon icon-information js-tooltip-trigger c-tooltip-trigger"
                              tabindex="0"
                              aria-hidden="true"
                              title="Penser à ajouter les bis, escalier, boite postale"
                              data-original-title=""></span>
                    </label>
                    <textarea name="addressLine2"
                              id="additional-address"
                              class="c-form-control"
                              rows="5"
                              cols="10">{{ old('addressLine2', user.address.addressLine2) }}</textarea>
                </div>
            </div>

            <div class="u-clear"></div>
        </div>

        <div class="c-form-group">
            <label class="c-form-label" for="address">
                <span class="label-gmap {{ showAddressNotFound ? 'u-hide' : '' }}">Adresse complète</span>
                <span class="label-gmap {{ showAddressNotFound ? '' : 'u-hide' }}">Ville</span>
            </label>
            <input type="text"
                   class="c-form-control js-form-control"
                   id="address-search"
                   name="address_gmap"
                   autocomplete="street-address"
                   data-placeholder-address="{{ config('somoney.contact.address','5 rue des lilas') }}, {{ config('somoney.contact.city','Pau') }}"
                   data-placeholder-city="{{ config('somoney.contact.city','Pau') }}"
                   value="{{ old('address_gmap', (not showAddressNotFound ? user.address.addressLine1 : '')~' '~user.address.city) }}">
        </div>

        <hr/>

        <div class="c-form-group">
            <div id="map" class="u-google-map"></div>
        </div>

        <div class="c-form-group">
            <button type="button" id="address-not-found-link" class="c-link u-small">
                Vous ne trouvez pas votre adresse ?
            </button>
        </div>
    </div>
</div>

<script>
    var GOOGLE_MAP = JSON.parse(
        '{{ config('services.google.map') | merge(config('somoney.map')) | json_encode | raw }}'
    );
</script>