<div class="l-grid-row">
    <div class="l-col-6">
        <div class="c-form-group u-mg-bottom-sm">
            <label class="c-form-label" for="gender">Civilité *</label>
            {% for gender in genders %}
                <div class="c-form-group u-inline-block u-mg-right">
                    <input class="c-radio c-radio--btn"
                           type="radio"
                           id="radio-{{ gender.internalName }}"
                           name="user[customValues][gender]"
                           value="{{ gender.id }}"
                        {% if old('user.customValues.gender', user.customValues.gender.id) == gender.id %}
                        checked="checked"
                        {% endif %}>
                    <label for="radio-{{ gender.internalName }}"
                           class="c-btn-brick--thin {% if old('user.customValues.gender', user.customValues.gender.id) == gender.id %}is-active{% endif %}">
                        <i class="fa fa-2x fa-{{ gender.internalName == 'man' ? 'male' : 'female' }}"></i>
                    </label>
                </div>
            {% endfor %}
        </div>
    </div>
</div>