<div class="l-grid-row">
    <div class="l-col-6">
        <div class="c-form-group u-mg-bottom-sm">
            <label class="c-form-label c-form-label--required" for="lastname">Nom</label>
            <input type="text"
                   class="c-form-control js-form-control"
                   id="lastname"
                   name="user[customValues][lastname]"
                   placeholder="Nom"
                   value="{{ old('user.customValues.lastname',user.customValues.lastname) }}">
        </div>
    </div>
    <div class="l-col-6">
        <div class="c-form-group u-mg-bottom-sm">
            <label class="c-form-label c-form-label--required" for="firstname">Prénom</label>
            <input type="text"
                   class="c-form-control js-form-control"
                   id="firstname"
                   name="user[customValues][firstname]"
                   placeholder="Prénom"
                   value="{{ old('user.customValues.firstname',user.customValues.firstname) }}">
        </div>
    </div>
</div>