{% extends "framework.layout" %}

{% block content %}

    <div class="l-grid-row l-grid-row--no-gutter u-full-height u-pd-navbar">
        <div class="l-col-6 u-full-height">
            <div class="l-container-flex">
                <div class="l-container-flex__center">
                    <div class="l-container-4 u-inline-center">

                        <h1 class="c-h1 u-mg-bottom-lg">Modifiez votre mot de passe</h1>

                        <form method="post" action="{{ route('password.change', {resetToken: resetToken.id}) }}">

                            {% include 'main.partials.form-errors' %}

                            <div class="c-form-group u-inline-left u-mg-vt">
                                <label class="c-form-label" for="password">Nouveau mot de passe</label>
                                <input type="password"
                                       class="c-form-control js-form-control"
                                       id="password"
                                       name="password">
                            </div>

                            <div class="c-form-group u-inline-left u-mg-vt">
                                <label class="c-form-label" for="password-confirm">Confirmation</label>
							<input type="password" class="c-form-control js-form-control" id="password-confirm" name="password_confirmation">
						</div>
						{{ csrf_field() }}

						<button type="submit" class="c-btn c-btn--primary">
							valider
						</button>
					</form>

				</div>
			</div>
		</div>
	</div>

	<div class="l-col-6">
		<div class="c-full-img-container">
			<img src="/assets/img/background2.jpg" alt="" class="c-img u-object-fit-cover">
		</div>
	</div>
</div>
{% endblock %}
