{% extends "framework.layout" %}

{% block content %}

    <div class="l-grid-row l-grid-row--no-gutter u-full-height u-pd-navbar">
        <div class="l-col-6 u-full-height">
            <div class="l-container-flex">
                <div class="l-container-flex__center">
                    <div class="l-container-4 u-inline-center">
                        {% if config('auth.passwords.reset.forgot') == type %}
                            <h1 class="c-h1 u-mg-bottom-lg">Vous avez égaré votre mot de passe ?</h1>
                        {% else %}
                            <h1 class="c-h1 u-mg-bottom-lg">Votre mot de passe à expiré ?</h1>
                        {% endif %}

                        <p class="c-p u-large">
                            Pour pouvoir de nouveau accéder à votre compte {{ config('somoney.money') }} , saisissez
                            votre adresse e-mail ci-dessous.
                        </p>
                        <p class="c-p u-large">
                            Vous recevrez un e-mail vous indiquant la marche à suivre pour réinitialiser votre mot de
                            passe :
                        </p>

                        <form method="POST" action="{{ route('password.request',{type: type}) }}">
                            {{ csrf_field() }}
                            {% include 'main.partials.form-errors' %}

                            <div class="c-form-group u-inline-left u-mg-vt">
                                <label class="c-form-label c-form-label--required" for="email">E-mail</label>
                                <input name="email"
                                       type="text"
                                       class="c-form-control js-form-control"
                                       id="email"
                                       placeholder="{{ config('somoney.contact.email') }}">
                            </div>

                            <button type="submit" class="c-btn c-btn--primary">
                                Envoyer
                            </button>
                        </form>

                    </div>
                </div>
            </div>
        </div>

        <div class="l-col-6">
            <div class="c-full-img-container">
                <img src="{{ asset('assets/img/background2.jpg') }}" alt="" class="c-img u-object-fit-cover">
            </div>
        </div>
    </div>
{% endblock %}
