<section class="sg-section">

	<h2 class="c-h2 sg-h2">Accordion</h2>

	<p class="c-p u-mg-bottom-sm">Flexible accordion that utilizes a handful of classes for easy toggle behavior, using <a class="c-link" alt="accordion documentation" href="http://getbootstrap.com/javascript/#collapse-example-accordion" target="blank">Bootstrap</a>.</p>

	<br>

	<div class="sample">
		<div id="accordion" role="tablist" aria-multiselectable="true">
			<div class="panel">
				<div  class="u-pd-vt-sm" role="tab" id="headingOne">
					<a class="c-label" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
						Collapsible Group Item #1
					</a>
				</div>
				<div id="collapseOne" class="collapse in" role="tabpanel" aria-labelledby="headingOne">
					<p class="c-p">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
				</div>
			</div>
			<div class="panel">
				<div class="u-pd-vt-sm" role="tab" id="headingTwo">
					<a class="c-label" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
						Collapsible Group Item #2
					</a>
				</div>
				<div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
					<p class="c-p">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
				</div>
			</div>
			<div class="panel">
				<div class="u-pd-vt-sm" role="tab" id="headingThree">
					<a class="c-label" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
						Collapsible Group Item #3
					</a>
				</div>
				<div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
					<p class="c-p">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
				</div>
			</div>
		</div>

	</div>

	<br>

	<div class="code">
		<pre>
			<code class="language-markup">
				<div id="accordion" role="tablist" aria-multiselectable="true">
					<div class="panel">
						<div  class="u-pd-vt-sm" role="tab" id="headingOne">
							<a class="c-label" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
								Collapsible Group Item #1
							</a>
						</div>
						<div id="collapseOne" class="collapse in" role="tabpanel" aria-labelledby="headingOne">
							<p class="c-p">Anim pariatur cliche ...</p>
						</div>
					</div>
					<div class="panel">
						<div class="u-pd-vt-sm" role="tab" id="headingTwo">
							<a class="c-label" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
								Collapsible Group Item #2
							</a>
						</div>
						<div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
							<p class="c-p">Anim pariatur ...</p>
						</div>
					</div>
					...
				</div>
			</code>
		</pre>
	</div>

</section>
