<section class="sg-section">

	<h2 class="c-h2">Modal</h2>

	<br>

	<p class="c-p u-mg-bottom-sm">Modals are dialog prompts.</p>
	<p class="c-p u-mg-bottom-sm">The modal component uses the <a class="c-link sg-link" href="http://getbootstrap.com/javascript/#modals" target="_blank">Bootstrap modal</a>.</p>
	<p class="c-p u-mg-bottom-sm">To display the modal when the page loads you can use the <code>modalOptions: 'data-show'</code> in the include.</p>

	<br>

	<div class="sample">
		<button type="button" class="c-btn c-btn--primary" data-toggle="modal" data-target="#myModal">
			Launch demo modal
		</button>

		<br>

		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content c-modal-content">
						<button type="button" class="c-modal-content__close-btn" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

				<div class="u-inline-center">
					<div class="c-badge c-badge--lg c-badge--stroke c-badge--green u-inline-block">
						<span class="c-icon icon-cross"></span>
					</div>

					<p class="c-p u-large u-mg-top-lg">Votre virement a été effectué avec succès.</p>
				</div>

				</div>
			</div>
		</div>
	</div>

	<div class="code">
		<pre>
			<code class="language-markup">
				<button type="button" class="c-btn c-btn--primary" data-toggle="modal" data-target="#myModal">
					Launch demo modal
				</button>

				<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
					<div class="modal-dialog" role="document">
						<div class="modal-content c-modal-content">
							<button type="button" class="c-modal-content__close-btn" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

							<div class="u-inline-center">
								<div class="c-badge c-badge--lg c-badge--stroke c-badge--red u-inline-block">
									<img src="/assets/img/test/mango-sm.jpg" alt="" class="c-img lazyload">
								</div>

								<p class="c-p u-large u-mg-top-lg">Votre virement a été effectué avec succès.</p>
							</div>
						</div>
					</div>
				</div>
			</code>
		</pre>
	</div>

	<br>

	<p class="c-p u-mg-bottom-sm">This is the code to include a modal with Twig. This use a modal template, a content, a status and a modalOptions.</p>

	<div class="code">
		<pre>
			<code class="language-markup">
				{ % include "main.partials.modal" with { content: 'Votre message a été envoyé avec succès.', icon: 'icon-checkmark', modalOptions: 'data-show'} % }
			</code>
		</pre>
	</div>

</section>
