<section class="sg-section">
	<h2 class="c-h2 sg-h2">Tooltip</h2>

	<p class="c-p u-mg-bottom-sm">
		Tooltip can be used in any element, mainly in an icon as you can see below.
	</p>
	<p class="c-p u-mg-bottom-sm">Steps:</p>
	<ul class="c-list">
		<li>Add class <code>.js-tooltip-trigger</code> </li>
		<li>Add attribute <code>data-original-title="fill"</code> to complete the text that need to be in the tooltip</li>
		<li>To define specific style when an icon is used as a trigger add <code>.c-tooltip-trigger</code> </li>
	</ul>

	<br>

	<p class="c-p u-mg-bottom-sm">
		Note that elements like <code>span</code> or <code>p</code> can't be focus with tab key so to correct that you have to add attribute <code>tabindex="0"</code>
	</p>

	<br>

	<div class="sample">
		<span class="c-icon icon-information js-tooltip-trigger c-tooltip-trigger" tabindex="0" aria-hidden="true" title="Lorem ipsum dolor sit amet consectetur adipiscing elit."></span>

		<br>

		<p class="c-p js-tooltip-trigger u-inline-block" tabindex="0" title="Lorem ipsum dolor sit amet consectetur adipiscing elit.">
			Tooltip inside a paragraph
		</p>

		<br>

		<button class="c-btn c-btn--primary js-tooltip-trigger" title="Lorem ipsum dolor sit amet consectetur adipiscing elit.">Tooltip</button>
	</div>

	<br>

	<div class="code">
		<pre>
 			<code class="language-markup">
                <span class="c-icon icon-information js-tooltip-trigger c-tooltip-trigger" tabindex="0" aria-hidden="true" title="Non-visible sur le site"></span>

                <p class="c-p js-tooltip-trigger u-inline-block" tabindex="0" title="Non-visible sur le site">
                    Tooltip inside a paragraph
                </p>

                <button class="c-button c-button--primary js-tooltip-trigger" title="Non-visible sur le site">Tooltip</button>
 			</code>
		</pre>
	</div>

</section>
