<div class="l-grid-row">
    <div class="l-col-12">
        <h2 class="c-h2 u-mg-top">Coordonnées bancaires du compte à prélever</h2>
        <p class="c-label u-mg-bottom">
            Vous devez être titulaire de ce compte, ou disposer des autorisations nécessaires
            pour agir en son nom
        </p>
    </div>
    <div class="l-col-2">
        <div class="c-form-group">
            <label class="c-form-label c-form-label--required" for="gender">Civilité</label>
            <div class="c-addon-container">
                <select id="gender"
                        name="gender"
                        class="c-form-control c-form-control--select js-form-control">
                    <option></option>
                    {% for key, gender in genders %}
                        <option value="{{ key }}"
                                {% if old('gender',config('cyclos.internal-names.genders.'~user.customValues.gender.internalName) ) == key %}selected="selected"{% endif %}>{{ gender }}</option>
                    {% endfor %}
                </select>
                <span class="c-icon icon-chevron-down" aria-hidden="true"></span>
            </div>
        </div>
    </div>
    <div class="l-col-5">
        <div class="c-form-group u-mg-bottom-sm">
            <label class="c-form-label c-form-label--required" for="last_name">Nom</label>
            <input type="text"
                   class="c-form-control js-form-control"
                   id="last_name"
                   name="last_name"
                   placeholder="Nom"
                   value="{{ old('last_name',user.customValues.lastname) }}">
        </div>
    </div>
    <div class="l-col-5">
        <div class="c-form-group u-mg-bottom-sm">
            <label class="c-form-label c-form-label--required" for="first_name">Prénom</label>
            <input type="text"
                   class="c-form-control js-form-control"
                   id="first_name"
                   name="first_name"
                   placeholder="Prénom"
                   value="{{ old('first_name',user.customValues.firstname) }}">
        </div>
    </div>
    <div class="l-col-6">
        <div class="c-form-group u-mg-bottom-sm">
            <label class="c-form-label c-form-label--required" for="email">Email</label>
            <input type="text"
                   class="c-form-control js-form-control"
                   id="email"
                   name="email"
                   placeholder="Email"
                   value="{{ old('email',user.email) }}">
        </div>
    </div>
    <div class="l-col-6">
        <div class="c-form-group u-mg-bottom-sm">
            <label class="c-form-label" for="company">
                Raison sociale
            </label>
            <input type="text"
                   class="c-form-control js-form-control"
                   id="company"
                   name="company"
                   placeholder="Raison sociale"
                   value="{{ old('company',user.group == config('cyclos.internal-names.groups.professional') ? user.name : '') }}">
        </div>
    </div>
    <div class="l-col-12">
        <div class="c-form-group u-mg-bottom-sm">
            <label class="c-form-label c-form-label--required" for="name">
                IBAN
            </label>
            <input type="text"
                   class="c-form-control js-form-control iban-field"
                   id="iban"
                   name="iban"
                   placeholder="FRxx xxxx xxxx xxxx xxxx xxxx xxx"
                   value="{{ old('iban') }}">
        </div>
    </div>
</div>