
<div class="l-grid-row">
    <div class="l-col-5">
        <div class="c-form-group">
            <label class="c-form-label" for="transfer-value-euro">
                Montant (euro)
            </label>
            <div class="c-addon-container u-large">
                <input type="number"
                       class="c-form-control js-form-control u-pd-left"
                       step="0.01"
                       autocomplete="off"
                       min="{{ config('somoney.credit.'~type) }}"
                       id="transfer-value-euro"
                       name="amount"
                       value="{{ old('amount', config('somoney.credit.'~type)) }}"
                       placeholder="Saisir un montant d’au moins {{ config('somoney.credit.'~type) }} euros">
                <i class="c-icon fas fa-euro-sign"></i>
            </div>
        </div>
    </div>
    <div class="l-col-2 u-inline-center u-color--primary">
        <div class="c-icon u-mg-bottom-sm icon-information js-tooltip-trigger c-tooltip-trigger"
             tabindex="0"
             aria-hidden="true"
             title=""
             data-original-title="Le crédit minimum en {{ config('somoney.money') }} est de {{ config('somoney.credit.'~type) }} € et vous ne pouvez avoir plus de 1000 {{ config('somoney.money') }} sur votre compte"></div>
        <i class="fas fa-2x fa-arrow-right"></i>
    </div>
    <div class="l-col-5">
        <div class="c-form-group">
            <label class="c-form-label" for="transfer-value-money">
                Montant ({{ config('somoney.money') }})
            </label>
            <div class="c-addon-container u-large">
                <input type="number"
                       class="c-form-control c-form-control--computed js-form-control js-input-computed u-pd-left"
                       data-target-input="transfer-value-euro"
                       data-compute-ratio="1"
                       id="transfer-value-money"
                       name="amount_money"
                       disabled>
                <span class="c-icon icon-money u-font-size-inherit"></span>
            </div>
        </div>
    </div>
</div>
