<div class="modal fade"
     id="{{ id|default('modal') }}" {{ attributes }}
     tabindex="-1"
     role="dialog"
     aria-labelledby="{{ id|default('modal') }}">
    <div class="modal-dialog" role="document">
        <div class="modal-content c-modal-content">
            <button type="button" class="c-modal-content__close-btn" data-dismiss="modal" aria-label="Close"><span
                    aria-hidden="true">×</span></button>

            <div class="u-inline-center">
                {% if not noIcon %}
                    <div class="c-badge c-badge--lg c-badge--{{ color|default('green') }} c-badge--stroke u-inline-block">
                        <span class="c-icon icon-{{ icon|default('checkmark') }}"></span>
                    </div>
                {% endif %}

                <p class="c-p u-large u-mg-vt-lg">{{ message | raw }}</p>
                {% if confirm %}
                    <button type="button"
                            class="c-btn c-btn--{{ color|default('green') }} c-btn--stroke u-vertical-center"
                            data-dismiss="modal"
                            aria-label="Close">Annuler
                    </button>
                    {% if actionMethod %}
                        <form method="POST"
                              class="u-inline-block"
                              action="{{ route(action, actionParam) }}">
                            {{ csrf_field() }}
                            <input type="hidden" name="_method" value="{{ actionMethod }}">
                            <button type="submit"
                                    class="c-btn c-btn--{{ color|default('green') }} u-vertical-center">
                                Confirmer
                            </button>
                        </form>
                    {% else %}
                        <a href="{{ route(action,actionParam) }}"
                           class="c-btn c-btn--{{ color|default('green') }} u-vertical-center">
                            Confirmer
                        </a>
                    {% endif %}
                {% else %}
                    <button type="button"
                            class="c-btn c-btn--{{ color|default('green') }} c-btn--stroke u-vertical-center"
                            data-dismiss="modal"
                            aria-label="Close">Ok
                    </button>
                {% endif %}
            </div>

        </div>
    </div>
</div>
