<div class="l-grid-table u-pd-sm">
    <div class="l-grid-table__cell">
        <a href="{{ linkPrev }}"
           {% if conditionPrev %}data-disabled='true'{% endif %}
           class="c-label c-link u-uppercase">
            <span class="c-icon icon-chevron-left"></span> Page précédente
        </a>
    </div>
    <div class="l-grid-table__cell u-inline-right">
        <a href="{{ linkNext }}"
           {% if conditionNext %}data-disabled='true'{% endif %}
           class="c-link c-label u-uppercase">
            Page suivante<span class="c-icon icon-chevron-right"></span>
        </a>
    </div>
</div>