$checkbox-radio-size: 16px;

@mixin checkbox-radio() {
    position: absolute;
    // checkbox hack https://css-tricks.com/the-checkbox-hack/
    left: -9999px;

    & + label {
        position: relative;
        display: inline-block;
        min-height: $checkbox-radio-size;
        cursor: pointer;
        font-size: calc-rem($font-size-small);
    }
}

.c-checkbox {
    @include checkbox-radio();

    & + label {
        width: 100%;
        padding-right: 25px;

        &:after {
            position: absolute;
            top: 50%;
            right: 0;
            content: ' ';
            background-color: $white;
            width: $checkbox-radio-size;
            height: $checkbox-radio-size;
            border: 1px solid $grey30;
            transition: background-color $transition;
            transform: translateY(-50%);
        }
    }

    &:checked + label {

        &:after {
            @extend .u-medium;
            text-align: center;
            color: $primary;
            content: "\e91a";
            font-family: $font-icon !important;
            speak: none;
            font-style: normal;
            font-weight: bold;
            font-variant: normal;
            text-transform: none;
            // Icon and checkbox style is handle in the before, so we can't use
            // position absolute to center it
            padding-top: 2px;
            line-height: calc(#{$checkbox-radio-size} - 2px);
        }

        svg {
            color: $primary;
        }

    }

    &--btn {

        & + label {
            width: 100%;
            padding: 10px 10px 10px 25px;

            &:after {
                content: ' ';
                background: none;
                font-size: 15px;
                line-height: 15px;
                border-radius: 4px;
                margin-right: 20px;
                color: #333;
                border-color: #333;
                transition: color $transition, background-color $transition, border $transition;
            }

            &:hover:after {
                color: #fff;
                border-color: #fff;
            }

            &.is-active:after {
                content: '✔️';
                color: #fff;
                border-color: #fff;
            }

            &:after {
                content: none;
            }
        }
    }

    &--bigger {
        & + label {
            font-size: 1.2rem;

            &:after {
                font-size: 3rem;
                width: 25px;
                height: 25px;
            }
        }

        &:checked + label {
            &:after {
                font-size: 2.2rem!important;
            }
        }
    }
}

.c-radio {
    @include checkbox-radio();

    & + label {
        padding-left: 25px;

        &:before {
            position: absolute;
            top: 50%;
            left: 0;
            content: ' ';
            background-color: $grey20;
            box-shadow: $shadow-inset $grey30;
            width: $checkbox-radio-size;
            height: $checkbox-radio-size;
            border: 1px solid $grey30;
            border-radius: 50%;
            transition: background-color $transition;
            transform: translateY(-50%);
        }

        &:after {
            display: block;
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            // Icon and radio style is handle in the before, so we can't use
            // position absolute to center it
            margin-top: 3px;
            margin-left: 3px;
            width: calc(#{$checkbox-radio-size} - 6px);
            height: calc(#{$checkbox-radio-size} - 6px);
            border-radius: 50%;
            opacity: 0;
            transition: opacity $transition;
        }
    }

    &:checked + label:after {
        background-color: $secondary;
        opacity: 1;

        .l-view--professional & {
            background-color: $business;
        }

        .l-view--individual & {
            background-color: $customer;
        }
    }

    &--btn {

        & + label {
            padding: 10px;
            width: 70px;

            &:before {
                content: none;
            }

            &:after {
                content: none;
            }
        }
    }

    &--100 {

        & + label {
            width: 100%;

        }

    }

    &--round {

        & + label {
            border-radius: 100px;
        }
    }
}
