.c-form-group {
    position: relative;

    & + & {
        margin-top: 10px;
    }

    &--inline {
        .c-form-control {
            display: inline-block;
            vertical-align: middle;
            max-width: 220px;
        }

        .c-form-label {
            display: inline-block;
            margin-right: 10px;
        }

        .c-addon-container {
            display: inline-block;
        }
    }

    &--minwidth {
        .c-form-control {
            min-width: 100px;
            @media (min-width: $main-breakpoint) {
                min-width: 200px;
            }
        }
    }

    &--half {

        input {
            width: 100%;
        }

        &_left {
            padding-right: 5px;

            &.l-col-6 {
                padding-left: 0;
            }
        }

        &_right {
            padding-left: 5px;

            &.l-col-6 {
                padding-right: 0;
            }
        }
    }

    & .c-form-icon {

        &--clickable {
            position: absolute;
            right: 10px;
            top: 32px;

            &:hover {
                cursor: pointer;
            }
        }
    }
}

.c-input-group {

    .c-form-control {
        display: inline-block;
        width: calc(100% - 55px);
        max-width: unset;
    }

    .c-btn {
        display: inline-block;
        width: 50px;
        min-width: unset;
        border-radius: 0;
        text-align: center;
        padding: unset;
    }
}

.c-input-message {

    &.error {
        color: $red;
    }
}

.c-form-control {
    display: block;
    width: 100%;
    background-color: $input-bg;
    box-shadow: $shadow-inset $grey30;
    border: 0;
    height: $input-height-base;
    line-height: $line-height-base;
    padding-left: calc-rem(10px);
    padding-right: calc-rem(10px);
    transition: background-color $transition, box-shadow $transition;

    @include placeholder($grey50);

    &:focus {
        box-shadow: $shadow-inset $secondary;
        background-color: $grey10;
        outline: 0;

        .l-view--professional & {
            box-shadow: $shadow-inset $business;
        }

        .l-view--individual & {
            box-shadow: $shadow-inset $customer;
        }
    }

    &[aria-invalid=true] {
        color: $red;
    }

    .has-error & {
        box-shadow: $shadow-inset $red !important;
    }

    .has-success & {
        box-shadow: $shadow-inset $green !important;
    }

    &--computed {
        background: transparent;

        .l-view--professional & {
            border: 1px solid $business;
            color: $business;
        }

        .l-view--individual & {
            box-shadow: 1px solid $customer;
            color: $customer;
        }
    }

    &--date {
        display: inline-block;

        & + button {
            display: inline-block;
            padding: 10px;
            background-color: $grey30;

            .l-view--professional & {
                color: $business;
            }

            .l-view--individual & {
                color: $customer;
            }
        }
    }

    &--phone {
        width: 120px;
    }

    & + .select2-container--default .select2-selection--single {
        @extend .c-form-control;
        border-radius: 0;

        .select2-selection__rendered {
            padding: 0;
            line-height: $input-height-base;

            .select2-selection__placeholder {
                line-height: $input-height-base;

                @include placeholder($grey50);
            }
        }
    }
}

.c-form-label {
    display: block;
    color: $grey50;
    font-size: calc-rem($font-size-small);
    font-weight: bold;
    text-transform: uppercase;
    transition: color $transition;
    margin-bottom: 5px;

    &--required {
        &::after {
            content: ' *';
            color: $red;
        }
    }

    .c-form-group.is-focused & {
        color: $secondary;

        .l-view--professional & {
            color: $business;
        }

        .l-view--individual & {
            color: $customer;
        }
    }

    .has-error & {
        color: $red !important;

        &::after {
            margin-left: 5px;
            @extend [class^="icon-"];
            content: "\e926";
        }
    }

    .has-success & {
        color: $green !important;

        &::after {
            margin-left: 5px;
            @extend [class^="icon-"];
            content: "\e91a";
        }
    }
}

.c-form-input {
    display: flex;

    .btn-sub {
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
    }

    .btn-add {
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
    }

    .btn-sub, .btn-add {
        display: inline-block;
        line-height: 40px;
        flex-basis: 10px;
        flex-grow: 1;

        @extend .c-btn;
        @extend .c-btn-brick;
        @extend .c-btn--secondary;
        min-width: unset;
        padding: 0;
        box-shadow: unset;
    }

    input {
        display: inline-block;
        width: 50px;
        flex-grow: 2;
    }
}
