.l-container-flex {
    @supports (display: flex) {
        display: flex;
        flex-direction: column;
        min-height: 100%;
    }
}

.l-container-flex__center {
    margin-top: 100px;

    @supports (display: flex) {
        display: flex;
        flex: 1;
        margin: auto;
        align-items: center;
    }
}
