.l-grid-row {
    @include make-row($grid-gutter-width);
    max-width: 100%;

    &--no-gutter {
        margin-left: 0;
        margin-right: 0;

        > [class^="l-col-"],
        > [class*=" l-col-"] {
            padding-left: 0;
            padding-right: 0;
        }
    }
}

@for $i from 1 through 12 {
    .l-col-#{$i} {
        @include make-md-column($i, $grid-gutter-width);
    }
}

@for $i from 1 through 12 {
    .l-col-#{$i}-lg {
        @include make-lg-column($i, $grid-gutter-width);
    }
}

@for $i from 1 through 12 {
    .l-col-#{$i}-sm {
        @include make-sm-column($i, $grid-gutter-width);
    }
}

@for $i from 1 through 12 {
    .l-col-#{$i}-md {
        @include make-md-column($i, $grid-gutter-width);
    }
}

@for $i from 1 through 12 {
    .l-col-#{$i}-xs {
        @include make-xs-column($i, $grid-gutter-width);
    }
}

@for $i from 1 through 12 {
    .l-push-#{$i}-md {
        @include make-md-column-push($i);
    }
}

@for $i from 1 through 12 {
    .l-pull-#{$i}-md {
        @include make-md-column-pull($i);
    }
}
