.l-dashboard {
    position: relative;
    min-height: 100%;
    height: 100%;

    &__main {
        @media (min-width: $main-breakpoint) {
            min-height: 100%;
            padding-left: $aside-width;
        }
    }

    &__aside {
        display: none;
        top: $navbar-height-mobile;

        @media (min-width: $grid-float-breakpoint) {
            top: $navbar-height;
        }

        @media (min-width: $main-breakpoint) {
            display: block;
            position: fixed;
            left: 0;
            bottom: 0;
            width: $aside-width;
            z-index: map-get($z-index, 'aside');
        }
    }
}
