// -----------------------------
// Header Variables
// -----------------------------
$logo-width: 250px;
$logo-height: 80px;
$logo-width-mobile: 180px;
$logo-height-mobile: 40px;

.c-header {
    position: fixed;
    background: $white;
    top: 0;
    right: 0;
    left: 0;
    font-size: $font-size-base;
    box-shadow: $shadow-large;
    z-index: map-get($z-index, 'header');

    &__head {
        background-color: $white;
        padding: 0 10px;
        height: $navbar-height-mobile;

        @media (min-width: $grid-float-breakpoint) {
            float: left;
            height: $navbar-height;
            padding-left: 0;
        }

        .u-hide-up {
            @media (min-width: $main-breakpoint) {
                display: inherit;
            }
            @media (min-width: $grid-float-breakpoint) {
                display: none !important;
            }
        }
    }

    &__nav {
        display: inline-block;
        @media (min-width: $main-breakpoint) {
            display: none !important;
        }
    }

    &__dropdown {
        display: none;
        position: fixed;
        top: $navbar-height-mobile;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: $grey5;

        @media (min-width: $grid-float-breakpoint) {
            display: block;
            top: 0;
            position: relative;
            background-color: transparent;
        }
    }

    &__account {
        background-color: $grey10;
        padding: 10px;
    }

    &__account-info {
        // control max width of variables items
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 100px;
    }

    .navbar-collapse {
        @media (min-width: $main-breakpoint) {
            display: none;
        }
    }

    .u-hide-down {
        @media (max-width: $main-breakpoint - 1) {
            display: inherit;
        }
        @media (max-width: $grid-float-breakpoint - 1) {
            display: none !important;
        }
    }

    .c-logo {
        height: $logo-height-mobile;
        margin-top: calc((#{$navbar-height-mobile} - #{$logo-height-mobile}) / 2);

        @media (min-width: $grid-float-breakpoint) {
            height: $logo-height;
            margin-top: calc((#{$navbar-height} - #{$logo-height}) / 2);
        }
    }

    .c-link {
        display: block;
        padding: 20px 10px;
        font-size: $font-size-base;
        text-align: center;
        color: $navbar-default-link-color;
        text-transform: uppercase;
        border-bottom: 1px solid $grey20;

        @media (min-width: $grid-float-breakpoint) {
            padding: 0;
            border-bottom: 0;
        }
    }

    .c-navbar {
        @media (min-width: $grid-float-breakpoint) {
            @include clearfix();
            float: right;
            list-style: none;
            > li {
                line-height: $navbar-height;
                height: $navbar-height;
                float: left;
                margin-right: 20px;

                .c-btn {
                    margin-top: calc((#{$navbar-height} - #{$badge-size}) / 2);
                }
            }
        }
    }

    .c-btn-badge {
        font-size: $font-icon-size-large;
        margin-top: calc((#{$navbar-height-mobile} - #{$badge-size}) / 2);

        @media (min-width: $grid-float-breakpoint) {
            margin-top: calc((#{$navbar-height} - #{$badge-size}) / 2);
        }
    }

    .c-btn-badge--navbar {
        color: $white !important;

        &:before {
            transform: scale(2);
        }

        .c-icon--collapsed {
            display: none;
        }

        // Note .collapsed it s used for Bootstrap dropdown.
        &.collapsed {
            color: $grey60 !important;

            &:before {
                transform: scale(0);
            }

            .c-icon--collapsed {
                display: block;
            }

            .c-icon--uncollapsed {
                display: none;
            }
        }
    }
}
