<!-- section parameter :
	link,
	img,
	imgTitle,
	imgAlt,
	title,
	text,
	tags
-->

{% macro cardDetailed(section, modifierClass) %}

	<a class="c-card-detailed" href="{{ section.link }}">
		<header class="c-card-detailed__header">
			<img src="{{ section.img }}"
				 title="{{ section.imgTitle }}"
				 alt="{{ section.imgAlt }}"
				 class="c-img js-lazyload">
		</header>

		<div class="c-card-detailed__content">
			<h2 class="c-card-detailed__title">{{ section.title }}</h2>
			<p> {{ section.text | raw }} </p>
		</div>

		<p class="c-card-detailed__tags">
			{% for tag in section.tags %}
				<span class="c-tag">{{ tag | raw }}</span>
			{% endfor %}
		</p>
	</a>

{% endmacro %}
