{% extends "main.layout" %}
{% set asideContext = 'admin.memberships.index' %}
{% block main %}
    <div class="l-container u-pd">
        <h1 class="c-h1 u-grey25 u-normal-weight u-mg-bottom-sm">Liste des adhésions</h1>
        <div class="c-card u-mg-bottom">
            <form class="u-pd-hz l-grid-row u-mg-bottom" method="GET" action="{{ route('admin.memberships.index') }}">
                <div class="l-col-3 l-col-6-sm">
                    <div class="c-form-group u-mg-bottom-sm">
                        <label class="c-form-label" for="group">Statut</label>
                        <div class="c-addon-container">
                            <select id="group"
                                    class="c-form-control c-form-control--select js-form-control"
                                    name="status">
                                <option value="all" {{ request('status', 'all')  == 'all' ? 'selected="selected"' : '' }}>
                                    Valide / Expiré
                                </option>
                                <option value="valid" {{ request('status') == 'valid' ? 'selected="selected"' : '' }}>
                                    Valide
                                </option>
                                <option value="expired" {{ request('status') == 'expired' ? 'selected="selected"' : '' }}>
                                    Expiré
                                </option>
                            </select>
                            <span class="c-icon icon-chevron-down" aria-hidden="true"></span>
                        </div>
                    </div>
                </div>
                <div class="l-col-3 l-col-6-sm u-vertical-bottom u-mg-bottom-sm">
                    <label class="c-form-label u-invisible" for="">validation</label>
                    <button type="submit" class="c-btn c-btn--primary c-btn--stroke c-btn--squeeze c-btn--full-width">
                        Filtrer
                    </button>
                </div>
            </form>
            {% include 'main.components.nav-pagination' with {
                linkPrev: route('admin.memberships.index', request().toArray() | merge({page: request('page', 1) - 1,})),
                linkNext: route('admin.memberships.index', request().toArray() | merge({page: request('page', 1) + 1})),
                conditionPrev: request('page', 1) <= 1,
                conditionNext: isLastPage,
            } %}
            <div class="c-table">
                <div class="c-table__thead">
                    <div class="c-table__cell c-label">Nom</div>
                    <div class="c-table__cell c-label u-inline-center">Statut</div>
                    <div class="c-table__cell c-label u-inline-center">Action</div>
                </div>
                <div class="c-table__tbody">
                    {% for user in users %}
                        <div class="c-table__row">
                            <div class="c-table__cell">
                                <span class="c-icon u-mg-right-sm {{ user.group.internalName == 'professional' ? 'icon-briefcase' : 'icon-user' }}"
                                      aria-hidden="true"></span>
                                <a href="{{ route('admin.users.show',{id: user.id}) }}" class="c-link">
                                    {{ user.name }}
                                </a>
                            </div>
                            <div class="c-table__cell">
                                <div class="u-inline-center">
                                    {% if usersMemberships[user.id] and usersMemberships[user.id].succeed_at %}
                                        Valide
                                    {% else %}
                                        Expiré
                                    {% endif %}
                                </div>
                            </div>
                            <div class="c-table__cell">
                                <div class="u-inline-center">
                                    <div class="u-inline-block u-vertical-center">
                                        <a href="{{ route('admin.memberships.show', {userId: user.id}) }}" type="submit"
                                           title="Consulter la fiche d'adhésion de {{ user.name }}"
                                           class="c-btn c-btn--thin c-btn--stroke c-btn--secondary u-mg-bottom-xs u-large">
                                            <span class="c-icon fa fa-eye"></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            {% include 'main.components.nav-pagination' with {
                linkPrev: route('admin.memberships.index', request().toArray() | merge({page: request('page', 1) - 1,})),
                linkNext: route('admin.memberships.index', request().toArray() | merge({page: request('page', 1) + 1})),
                conditionPrev: request('page', 1) <= 1,
                conditionNext: isLastPage,
            } %}
        </div>
        <div class="c-card u-mg-bottom">
            <h2 class="c-h2 u-mg-bottom">Exports</h2>
            <a href="{{ route('admin.memberships.export.members') }}" class="c-btn c-btn--green">
                <span class="c-icon icon-download"></span> Export des membres
            </a>
        </div>
    </div>
{% endblock %}
