{% extends "main.layout" %}
{% set asideContext = 'admin.memberships.operations' %}
{% block main %}
    <div class="l-container u-pd">
        <h1 class="c-h1 u-grey25 u-normal-weight u-mg-bottom-sm">Liste des opérations</h1>
        <div class="c-card u-mg-bottom">
            <form class="u-pd-hz l-grid-row u-mg-bottom"
                  method="GET"
                  action="{{ route('admin.memberships.operations') }}">
                <div class="l-col-6 l-col-4-sm">
                    <div class="c-form-group u-mg-bottom-sm">
                        <label class="c-form-label" for="group">Type</label>
                        <div class="c-addon-container">
                            <select id="group"
                                    class="c-form-control c-form-control--select js-form-control"
                                    name="type">
                                <option value="all" {{ request('type', 'all')  == 'all' ? 'selected="selected"' : '' }}>
                                    Dons / Adhésions
                                </option>
                                <option value="{{ constant('App\\Models\\Transaction::REGISTER_TYPE_DONATE') }}" {{ request('type') == constant('App\\Models\\Transaction::REGISTER_TYPE_DONATE') ? 'selected="selected"' : '' }}>
                                    Dons
                                </option>
                                <option value="{{ constant('App\\Models\\Transaction::CONTEXT_MEMBERSHIP') }}" {{ request('type') == constant('App\\Models\\Transaction::CONTEXT_MEMBERSHIP') ? 'selected="selected"' : '' }}>
                                    Adhésions
                                </option>
                            </select>
                            <span class="c-icon icon-chevron-down" aria-hidden="true"></span>
                        </div>
                    </div>
                </div>
                <div class="l-col-6 l-col-4-sm">
                    <div class="c-form-group u-mg-bottom-sm">
                        <label class="c-form-label" for="group">Mois - Année</label>
                        <div class="c-addon-container">
                            <select id="group"
                                    class="c-form-control c-form-control--select js-form-control"
                                    name="month">
                                <option value="-">
                                    Tous
                                </option>
                                {% for monthKey, monthLabel in monthOptions %}
                                    <option value="{{ monthKey }}" {{ request('month') == monthKey ? 'selected="selected"' : '' }}>
                                        {{ monthLabel }}
                                    </option>
                                {% endfor %}
                            </select>
                            <span class="c-icon icon-chevron-down" aria-hidden="true"></span>
                        </div>
                    </div>
                </div>
                <div class="l-col-12 l-col-4-sm u-vertical-bottom u-mg-bottom-sm">
                    <button type="submit"
                            class="c-btn c-btn--primary c-btn--stroke c-btn--squeeze c-btn--full-width u-mg-top">
                        Filtrer
                    </button>
                </div>
            </form>
            <div class="u-right u-mg-vt">
                <h2>Total : {{ (total / 100) | number_format(2, ',', ' ') }}&nbsp;€</h2>
            </div>
            {% include 'main.components.nav-pagination' with {
                linkPrev: route('admin.memberships.operations', request().toArray() | merge({page: request('page', 1) - 1,})),
                linkNext: route('admin.memberships.operations', request().toArray() | merge({page: request('page', 1) + 1})),
                conditionPrev: request('page', 1) <= 1,
                conditionNext: isLastPage,
            } %}
            <div class="c-table">
                <div class="c-table__thead">
                    <div class="c-table__cell c-label">Utilisateur</div>
                    <div class="c-table__cell c-label u-inline-center">Type</div>
                    <div class="c-table__cell c-label u-inline-center">Montant</div>
                    <div class="c-table__cell c-label u-inline-center">Date</div>
                </div>
                <div class="c-table__tbody">
                    {% for transaction in transactions %}
                        <div class="c-table__row">
                            <div class="c-table__cell">
                                {% if transaction.cyclos_user_id and transaction.cyclos_user_id in (users | keys) %}
                                    <a href="{{ route('admin.users.show',{id: transaction.cyclos_user_id}) }}" class="c-link">
                                        {{ users[transaction.cyclos_user_id][0].name }}
                                    </a>
                                {% else %}
                                    <span class="u-grey25">Utilisateur non trouvé</span>
                                {% endif %}
                            </div>
                            <div class="c-table__cell">
                                <div class="u-inline-center">
                                    {{ transaction.transaction_type_label }}
                                </div>
                            </div>
                            <div class="c-table__cell">
                                <div class="u-inline-center">
                                    {{ (transaction.amount / 100) | number_format(2, ',', ' ') }}
                                </div>
                            </div>
                            <div class="c-table__cell">
                                {{ transaction.created_at | date('d/m/Y - H:i') }}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            {% include 'main.components.nav-pagination' with {
                linkPrev: route('admin.memberships.operations', request().toArray() | merge({page: request('page', 1) - 1,})),
                linkNext: route('admin.memberships.operations', request().toArray() | merge({page: request('page', 1) + 1})),
                conditionPrev: request('page', 1) <= 1,
                conditionNext: isLastPage,
            } %}
        </div>
        <div class="c-card u-mg-bottom">
            <h2 class="c-h2 u-mg-bottom">Exports</h2>
            <a href="{{ route('admin.memberships.export.operations') }}" class="c-btn c-btn--green">
                <span class="c-icon icon-download"></span> Export des opérations
            </a>
        </div>
    </div>
{% endblock %}
