{% extends "main.layout" %}

{% set asideContext = 'admin.memberships.show' %}

{% block main %}
    <div class="l-container u-pd">
        <h1 class="c-h1 u-grey25 u-normal-weight u-mg-bottom-sm">Historique des adhésions de {{ user.name }}</h1>
        <div class="c-card u-mg-bottom">
            <div class="c-table">
                <div class="c-table__thead">
                    <div class="c-table__cell c-label">N°</div>
                    <div class="c-table__cell c-label u-inline-center">Statut</div>
                    <div class="c-table__cell c-label u-inline-center">Date de création</div>
                    <div class="c-table__cell c-label u-inline-center">Date de validation</div>
                    <div class="c-table__cell c-label u-inline-center">Valider l'adhésion</div>
                </div>
                <div class="c-table__tbody">
                    {% for membership in memberships %}
                        <div class="c-table__row ">
                            <div class="c-table__cell">
                                {{ loop.index }}
                            </div>
                            <div class="c-table__cell">
                                <div class="u-inline-center">
                                    {{ membership.succeed_at != null ? 'Valide' : 'Invalide' }}
                                </div>
                            </div>
                            <div class="c-table__cell">
                                <div class="u-inline-center">
                                    {{ membership.created_at }}
                                </div>
                            </div>
                            <div class="c-table__cell">
                                <div class="u-inline-center">
                                    {{ membership.succeed_at != null ? membership.succeed_at : '' }}
                                </div>
                            </div>
                            <div class="c-table__cell">
                                <div class="u-inline-center">
                                    <div class="u-inline-block u-vertical-center">
                                        <a href="{{ route('admin.memberships.validate', {membershipId: membership.id}) }}"
                                           title="Valider l'adhésion de {{ user.name }}"
                                           class="c-btn c-btn--thin {{ membership.succeed_at == null ? 'c-btn--stroke' : '' }}
                                           c-btn--green u-mg-bottom-xs u-large" {{ membership.succeed_at != null ? 'data-disabled="true"' : '' }}>
                                            <span class="c-icon fa fa-check"></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
