html,
body,
.l-main {
    position: relative;
    height: 100%;
}

html,
body {
    // root font size for rem unit
    font-size: 11px;
    @media (min-width: $main-breakpoint) {
        font-size: $font-size-base;
    }
}

body {
    // Reset browser margin
    margin: 0;
    // Default styling
    font-family: $font-family-base;
    line-height: $line-height-base;
    color: $text-color;
    background-color: $body-bg;
    max-width: 100vw;
}

a {
    text-decoration: none;
}

// hide arrows on input number
input[type=number] {
    -moz-appearance: textfield;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
