// Colors
// ------------------------
$red-lighten: lighten($red, 30%);
$red-light: lighten($red, 15%);
$red-dark: darken($red, 15%);
$blue-lighten: mix(white, $blue, 90%);
$blue-light: mix(white, $blue, 70%);

$green: #4caf50;

//Grey
// ------------------------
$white: #fff;

$grey5: #fafafa;
$grey10: #f4f4f4;
$grey20: #eaeaea;
$grey25: #aeaeae;
$grey30: #ccc;
$grey40: #adadad;
$grey50: #888;
$grey55: #666;
$grey60: #444;

$black: #222;
$black-opaque: rgba(0, 0, 0, 0.75);

// Special colors
// ------------------------
$primary-dark: lighten($primary, 15%);

$secondary-dark: darken($secondary, 15%);
$secondary-darkest: darken($secondary, 30%);

$tertiary-dark: darken($tertiary, 15%);
$tertiary-darkest: darken($tertiary, 30%);

// Brand colors
// ------------------------
$business-dark: darken($business, 15%);
$business-darkest: darken($business, 30%);

$customer-dark: darken($customer, 15%);
$customer-darkest: darken($customer, 15%);

$admin-dark: darken($admin, 15%);
$admin-darkest: darken($admin, 30%);

// Social Colors
// ------------------------

// $facebook-color: 	      #3b5998;
// $twitter-color:         #00aced;
// $google-plus-color:     #dd4b39;
// $youtube-color:         #bb0000;
// $linkedin-color:        #007bb6;
// $instagram-color: 	#517fa4;
// $pinterest-color: 	#cb2027;
// $quora-color: 		#a82400;
// $flickr-color: 		#ff0084;
// $tumblr-color: 		#32506d;
// $vimeo-color: 		#aad450;
// $foursquare-color: 	#0072b1;
//
// $social-list:     (facebook, $facebook-color),
//                   (twitter, $twitter-color),
//                   (linkedin, $linkedin-color),
//                   (google-plus, $google-plus-color);
