@import "./custom-data/current/assets/fonts/fonts";

@font-face {
    font-family: 'somoney-font';
    src: url('../fonts/somoney-font.eot?jf5wwe');
    src: url('../fonts/somoney-font.eot?jf5wwe#iefix') format('embedded-opentype'),
    url('../fonts/somoney-font.ttf?jf5wwe') format('truetype'),
    url('../fonts/somoney-font.woff?jf5wwe') format('woff'),
    url('../fonts/somoney-font.svg?jf5wwe#somoney-font') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'somoney-font' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-money:before {
    content: "\e900";
}

.icon-star-filled:before {
    content: "\e901";
}

.icon-facebook:before {
    content: "\e902";
}

.icon-instagram:before {
    content: "\e903";
}

.icon-twitter:before {
    content: "\e904";
}

.icon-briefcase:before {
    content: "\e911";
}

.icon-calendar:before {
    content: "\e914";
}

.icon-checkmark:before {
    content: "\e91a";
}

.icon-chevron-down:before {
    content: "\e91b";
}

.icon-chevron-left:before {
    content: "\e91c";
}

.icon-chevron-right:before {
    content: "\e91d";
}

.icon-chevron-up:before {
    content: "\e91e";
}

.icon-cross:before {
    content: "\e926";
}

.icon-document-edit:before {
    content: "\e929";
}

.icon-document:before {
    content: "\e92b";
}

.icon-download:before {
    content: "\e92c";
}

.icon-enter:before {
    content: "\e92d";
}

.icon-exit:before {
    content: "\e92e";
}

.icon-folder-open:before {
    content: "\e934";
}

.icon-folder:before {
    content: "\e935";
}

.icon-information:before {
    content: "\e940";
}

.icon-menu:before {
    content: "\e94a";
}

.icon-message:before {
    content: "\e94b";
}

.icon-photo:before {
    content: "\e951";
}

.icon-plus:before {
    content: "\e954";
}

.icon-preview:before {
    content: "\e955";
}

.icon-print:before {
    content: "\e956";
}

.icon-question:before {
    content: "\e958";
}

.icon-star:before {
    content: "\e95d";
}

.icon-swap:before {
    content: "\e961";
}

.icon-tags:before {
    content: "\e963";
}

.icon-user-group:before {
    content: "\e96c";
}

.icon-user:before {
    content: "\e96e";
}
