@each $prop, $abbrev in (margin: m, padding: p) {
    @each $size, $length in ('5': 5px, '10': 10px, '15': 15px, '20': 20px) {

        .#{$abbrev}-#{$size} {
            #{$prop}: $length !important;

            @each $breakpoint, $width in $grid-breakpoints {
                &--#{$breakpoint} {
                    @include media-breakpoint-down($breakpoint) {
                        #{$prop}: $length !important;
                    }
                }
            }
        }

        .#{$abbrev}t-#{$size},
        .#{$abbrev}y-#{$size} {
            #{$prop}-top: $length !important;

            @each $breakpoint, $width in $grid-breakpoints {
                &--#{$breakpoint} {
                    @include media-breakpoint-down($breakpoint) {
                        #{$prop}-top: $length !important;
                    }
                }
            }
        }
        .#{$abbrev}r-#{$size},
        .#{$abbrev}x-#{$size} {
            #{$prop}-right: $length !important;

            @each $breakpoint, $width in $grid-breakpoints {
                &--#{$breakpoint} {
                    @include media-breakpoint-down($breakpoint) {
                        #{$prop}-right: $length !important;
                    }
                }
            }
        }
        .#{$abbrev}b-#{$size},
        .#{$abbrev}y-#{$size} {
            #{$prop}-bottom: $length !important;

            @each $breakpoint, $width in $grid-breakpoints {
                &--#{$breakpoint} {
                    @include media-breakpoint-down($breakpoint) {
                        #{$prop}-bottom: $length !important;
                    }
                }
            }
        }
        .#{$abbrev}l-#{$size},
        .#{$abbrev}x-#{$size} {
            #{$prop}-left: $length !important;

            @each $breakpoint, $width in $grid-breakpoints {
                &--#{$breakpoint} {
                    @include media-breakpoint-down($breakpoint) {
                        #{$prop}-left: $length !important;
                    }
                }
            }
        }
    }
}