// Bootstrap core overriden variables
@import "bootstrap-variables";
// Bootstrap core default variables
@import "./node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables";

$main-breakpoint: $screen-sm-min;

// -----------------------------
// Font
// -----------------------------
$font-icon: 'somoney-font';
$font-size-icon: $font-size-base;
$font-icon-size-large: 20px;

// -----------------------------
// Box shadow
// -----------------------------
$shadow-default: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
$shadow-large: 0 0 10px 0 rgba(0, 0, 0, 0.25);
$shadow-inset: inset 0 -1px 0;

// -----------------------------
// Transition
// -----------------------------
$transition-time-fast: 0.2s;
$transition-time-default: 0.4s;
$transition-time-slow: 0.6s;

$transition-easing-default: ease-out;

$transition: $transition-time-default $transition-easing-default;

// -----------------------------
// Size variables
// -----------------------------
$aside-width: 280px;
$band-height: 60px;

// -----------------------------
// Badge size
// -----------------------------
$badge-size-sm: 30px;
$badge-size: 40px;
$badge-size-lg: 100px;

// -----------------------------
// z-index - use for instance map-get($z-index, badge);
// -----------------------------
$z-index: (
    // Header
    header: 1000,
    // aside
    aside: 1,
    // Interactive
    modal-backdrop: 1001,
    modal: 1002,
    // band
    band: 1000,
    // Form
    input-file: 1,
    // Table
    table-btn: 2,
    // Cards
    card-detailed-shadow: 1,
    card-detailed-ribbon: 1,
    card-detailed-close: 1,
    // Buttons
    btn-badge-anim: -1,
    // Tachometer
    tachometer-bar: 1
);
