@each $prop, $abbrev in (width: w, height: h) {
    @each $size, $length in ('100': 100%, '50': 50%) {
        .#{$abbrev}-#{$size} {
            #{$prop}: $length !important;

            @each $breakpoint, $width in $grid-breakpoints {
                &--#{$breakpoint} {
                    @include media-breakpoint-down($breakpoint) {
                        #{$prop}: $length !important;
                    }
                }
            }
        }
    }
}