{% extends "main.templates.register.professional.layout" %}

{% set stepTitle = 'Identifiant et Mot de passe' %}
{% set pageStep = 1 %}

{% block formContent %}
    <form method="post" action="{{ route('register.professional.informations.account.post') }}"
          id="register-account-form">

        {{ csrf_field() }}

        <div class="c-form-group">
            <label class="c-form-label" for="email">E-mail</label>
            <input type="email"
                   class="c-form-control js-form-control"
                   id="email"
                   name="email"
                   placeholder="example@{{ config('somoney.domain.landing') }}"
                   value="{{ old('email',localUser.email) }}">
        </div>
        <div class="c-form-group">
            <label class="c-form-label" for="password">Mot de passe</label>
            <input type="password"
                   class="c-form-control js-form-control"
                   id="password"
                   name="password"
                   value="{{ old('password') }}">
            <span id="password-toggler" class="c-form-icon--clickable"><i class="fa fa-eye"></i></span>
            <div class="u-small u-grey60">
                Caractères autorisés : caractères alphanumériques + caractères spéciaux suivants : « <code>@!#%'*+-.:;<=>?</code>
                ».
            </div>
        </div>

        {% if config('registration.available.professional.category') %}
            <div class="c-form-group">
                <label class="c-form-label" for="category">Catégorie</label>
                <div class="c-addon-container">
                    <select id="category"
                            name="category"
                            class="c-form-control c-form-control--select js-form-control">
                        <option value="">Choix de la catégorie</option>
                        {% for category in professionalCategories %}
                            <option value="{{ category.id }}"
                                {{ old('category',localUser.customValues.catpro[0].id) == category.id or request().category == category.slug ? 'selected="selected"' : '' }}>
                                {{ category.value }}
                            </option>
                        {% endfor %}
                    </select>
                    <span class="c-icon icon-chevron-down" aria-hidden="true"></span>
                </div>
            </div>
        {% endif %}

        <button type="submit" class="c-btn c-btn--primary c-btn--full-width u-mg-top">Valider &amp; continuer</button>
    </form>

    {% include "main.partials.modals.registration" %}
{% endblock %}
