{% extends "main.templates.register.professional.layout" %}

{% set stepTitle = 'Adresse de la structure' %}
{% set pageStep = 3 %}

{% block formContent %}
    <form method="POST"
          action="{{ route('register.professional.informations.address.post') }}"
          id="register-address-form">

        {{ csrf_field() }}

        {% include 'framework.components.form.address' with {'user': localUser} %}

        <button type="submit" class="c-btn c-btn--primary c-btn--full-width u-mg-top">Suivant</button>
    </form>
{% endblock %}