{% extends "main.templates.register.professional.layout" %}

{% set stepTitle = 'Votre structure' %}
{% set pageStep = 2 %}

{% block formContent %}
    <form method="post" action="{{ route('register.professional.informations.society.post') }}"
          id="register-society-form">
        {{ csrf_field() }}
        {% if config('registration.available.professional.siren') %}
            <div class="c-form-group c-form-group--inline">
                <label class="c-form-label" for="search-insee-field">
                    Saisir SIREN ou nom de la structure et valider
                </label>
                <div class="c-input-group">
                    <input type="text"
                           class="c-form-control js-form-control insee-search-field"
                           id="search-insee-field"
                           name="search"
                           value="{{ old('search',localUser.siren) }}">
                    <button id="btn-search-insee" type="button" class="c-btn c-btn--green">
                        <span class="c-icon icon-checkmark" aria-hidden="true"></span>
                    </button>
                </div>
                <div id="message-search-insee" class="c-input-message"></div>
                <div id="results-search-insee" class="u-full-width u-inline-center u-mg-top"></div>
                <div id="loading-search-insee" class="u-hide u-full-width u-inline-center u-mg-top u-mg-bottom">
                    <i class="fa fa-spinner fa-spin"></i>
                </div>
            </div>

            <hr />
        {% endif %}

        <div class="c-form-group">
            <label class="c-form-label" for="field-employeenumber">Type de structure et nombre de salariés</label>
            <div class="c-addon-container">
                <select id="field-employeenumber"
                        class="c-form-control c-form-control--select js-form-control"
                        name="employeenumber">
                    {% for type in structureTypes %}
                        <option value="{{ type.id }}"
                            {% if old('employeenumber', localUser.customValues.employeenumber) == type.id %}
                        selected
                            {% endif %}>{{ type.value }}</option>
                    {% endfor %}
                </select>
                <span class="c-icon icon-chevron-down" aria-hidden="true"></span>
            </div>
        </div>

        <div class="c-form-group">
            <label class="c-form-label" for="field-name">Raison sociale</label>
            <input type="text"
                   class="c-form-control js-form-control"
                   id="field-name"
                   name="name"
                   autocomplete="organization"
                   value="{{ old('name', localUser.name) }}">
        </div>

        <div class="c-form-group">
            <label class="c-form-label" for="mailpro">E-mail de contact de la structure</label>
            <input type="email"
                   class="c-form-control js-form-control"
                   id="mailpro"
                   name="mailpro"
                   value="{{ old('mailpro', localUser.mail_pro) }}">
        </div>

        {#        <div class="c-form-group u-mg-vt">#}
        {#            <input class="c-checkbox"#}
        {#                   type="checkbox"#}
        {#                   id="tpeconfig"#}
        {#                   name="tpeconfig"#}
        {#                   value="1"#}
        {#                   {% if old('tpeconfig', localUser.customValues.tpeconfig) %}checked{% endif %}>#}
        {#            <label for="tpeconfig" class="c-p u-small">Je souhaite être contacté pour un terminal de paiement</label>#}
        {#        </div>#}

        <h4 class="u-mg-bottom">Informations référent de la structure</h4>

        <div class="c-form-group">
            <label class="c-form-label" for="gender">Civilité</label>
            {% for gender in genders %}
                <input class="c-radio c-radio--btn u-inline-block u-mg-right"
                       type="radio"
                       id="radio-{{ gender.internalName }}"
                       name="gender"
                       value="{{ gender.id }}"
                        {% if old('gender', localUser.customValues.gender) == gender.id %}
                        checked="checked"
                        {% endif %}>
                    <label for="radio-{{ gender.internalName }}"
                           class="c-btn-brick--thin {% if old('gender', localUser.customValues.gender) == gender.id %}is-active{% endif %}">
                        <i class="fa fa-2x fa-{{ gender.internalName == 'man' ? 'male' : 'female' }}"></i>
                    </label>
            {% endfor %}
        </div>

        <div class="c-form-group">
            <label class="c-form-label" for="first_name">Prénom</label>
            <input type="text"
                   class="c-form-control js-form-control"
                   id="first_name"
                   name="firstname"
                   autocomplete="given-name"
                   placeholder="Jean"
                   value="{{ old('firstname', localUser.customValues.firstname) }}">
        </div>

        <div class="c-form-group">
            <label class="c-form-label" for="last_name">Nom</label>
            <input type="text"
                   class="c-form-control js-form-control"
                   id="last_name"
                   name="lastname"
                   autocomplete="family-name"
                   placeholder="Dupont"
                   value="{{ old('lastname', localUser.customValues.lastname) }}">
        </div>

        <div class="l-col-6 l-col-12-sm l-col-6-xs c-form-group c-form-group--half c-form-group--half_left">
            <label class="c-form-label" for="birthday">Date de naissance</label>
            <input type="text"
                   name="birthday"
                   id="birthday"
                   class="c-form-control c-form-control--date date-picker"
                   autocomplete="bday"
                   placeholder="12/02/1985"
                   value="{{ old('birthday', localUser.customValues.birthday | date('d/m/Y')) }}">
        </div>

        <div class="l-col-6 l-col-12-sm l-col-6-xs c-form-group c-form-group--half c-form-group--half_right u-mg-bottom">
            <label class="c-form-label" for="phone">Téléphone</label>
            <input type="tel"
                   class="c-form-control c-form-control--phone js-form-control js-phone"
                   id="phone"
                   name="phone"
                   placeholder="02 54 38 15 64"
                   value="{{ old('phone', localUser.phone) | replace({'+33':'0'}) }}">
        </div>

        <button type="submit" class="c-btn c-btn--primary c-btn--full-width u-mg-top">Suivant</button>
    </form>
{% endblock %}

{% block scriptBefore %}
    <script type="application/javascript">
        window.insee = {
            values: {
                trancheEffectifsEtablissement: {{ config('insee.values.number_units') | json_encode | raw }}
            }
        };
    </script>
{% endblock %}
