@mixin headings() {
    font-family: $font-family-sans-serif;
    color: $black;
    margin: 0;
}

.c-h1 {
    @include headings();
    font-size: calc-rem($font-size-h1);
}

.c-h2 {
    @include headings();
    font-size: calc-rem($font-size-h2);
}

.c-h4 {
    @include headings();
    font-size: calc-rem($font-size-h4);
}
