$tag-height: 30px;

.c-tag {
    display: inline-block;
    font-family: $font-family-sans-serif;
    color: $grey40;
    background: $grey20;
    border-radius: $border-radius-base;
    padding: 0 10px;
    height: $tag-height;
    line-height: $tag-height;
}
