{% extends "main.layout" %}

{% block main %}
    <div class="l-container u-pd">
        <div class="l-grid-row">
            <div class="l-col-8">
                <h1 class="c-h1 u-grey25 u-normal-weight u-mg-bottom-sm">Contact</h1>

                <div class="c-card">
                    <h2 class="c-h2 u-mg-bottom">Ecrivez-nous !</h2>

                    <form method="POST"
                        {% if user.group.internalName == 'individual' %}
                        action="{{ route('contact.adviser.individual') }}"
                    {% else %}
                        action="{{ route('contact.adviser.professional') }}"
                        {% endif %}>

                        <div class="c-form-group">
                            <label class="c-form-label c-form-label--required" for="form-info">
                                Message
                            </label>
                            <textarea rows="3"
                                      class="c-form-control c-form-control--textarea js-form-control"
                                      id="form-info"
                                      placeholder="Rédigez votre message"
                                      name="message">{{ old('message') }}</textarea>
                        </div>

                        <div class="u-inline-right u-mg-top-lg">
                            <button type="submit" class="c-btn c-btn--stroke c-btn--green">envoyer</button>
                        </div>
                        {{ csrf_field() }}
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
