{% extends "main.layout" %}

{% set asideContext = 'home' %}

{% block main %}
    <div class="l-container u-pd">

        <h1 class="c-h1 u-grey25 u-normal-weight u-mg-bottom-sm">
            Bonjour {% if viewModifier == 'individual' %}{{ session('auth.user.name') }}{% endif %}</h1>
        <div class="l-grid-row">
                {% if notification.message is defined %}
                    <div class="c-card l-grid-table u-pd-reset u-pd-hz l-col-12">
                        <div class="l-grid-table__cell l-grid-table__cell--main u-pd-vt">
                            <p class="u-sans-serif u-pd-left">{{ notification.message | raw }}</p>
                        </div>
                    </div>
                {% endif %}
                <div class="l-col-4 l-push-8-md">
                    <div class="c-card u-mg-vt">
                        <h2 class="c-h2 u-mg-bottom-sm">Mon solde</h2>

                        <div class="l-grid-table">
                            <div class="l-grid-table__cell">
                                <p class="c-label">{{ session('auth.user.name') }}</p>
                            </div>
                            <div class="l-grid-table__cell u-inline-right">
                                <p class="c-h1">{{ session('auth.user.account.status.balance') | number_format(2, ',', ' ') }}
                                    <span class="c-icon icon-money"></span></p>
                            </div>
                        </div>

                        <div class="u-flex-center">
                            <div class="c-tachometer js-tachometer u-mg-sm" data-progress="{{ progress }}">
                                <div class="c-tachometer__center-circle"></div>
                                <div class="c-tachometer__hand"></div>
                                <svg viewBox="-20 30 341 130.5" class="c-tachometer__progress">
                                    <path class="c-tachometer__main c-tachometer__progress-bar"
                                          d="M0,170 a1,1 0 0,1 300,0"/>
                                    <path class="c-tachometer__progress-value" d="M0,170 a1,1 0 0,1 300,0"/>
                                </svg>
                            </div>
                        </div>

                        <hr>

                        <h2 class="c-h2 u-mg-bottom-sm">Synthèse</h2>
                        <p class="c-label">capacité de dépense</p>
                        <p class="c-p u-bold">{{ (session('auth.user.account.status.creditLimit') + session('auth.user.account.status.balance')) | number_format(2, ',', ' ') }}
                            <span class="c-icon icon-money"></span></p>

                        <hr>

                        <div class="l-grid-table u-mg-bottom-sm">
                            <div class="l-grid-table__cell">
                                <p class="c-label">plancher</p>
                                <p class="c-p u-bold">{{ session('auth.user.account.status.creditLimit') | number_format(2, ',', ' ') }}
                                     <span class="c-icon icon-money"></span></p>
                            </div>
                            <div class="l-grid-table__cell u-inline-right">
                                <p class="c-label">plafond</p>
                                <p class="c-p u-bold">
                                    + {{ session('auth.user.account.status.upperCreditLimit') | number_format(2, ',', ' ') }}
                                     <span class="c-icon icon-money"></span></p>
                            </div>
                        </div>

                        <a href="{{ route('operations.transfer.index') }}"
                           title=""
                           class="c-btn c-btn--current-color c-btn--full-width u-mg-top">
                            Payer en {{ config('somoney.money') }}
                        </a>
                        {% if viewModifier == 'individual' and config('somoney.available.services.show-credit') %}
                            <a href="{{ route('operations.credit.index') }}"
                               title=""
                               class="c-btn c-btn--current-color c-btn--stroke c-btn--full-width u-mg-top-sm">
                                Créditer mon compte
                            </a>
                        {% endif %}
                    </div>
                </div>
                <div class="l-col-8 l-pull-4-md">
                    <div class="c-card u-mg-vt u-pd-hz-reset">
                        <h2 class="c-h2 u-pd-hz">Historique des opérations</h2>

                        {% if transactions.total %}
                            <div class="c-table">
                                <div class="c-table__thead">
                                    <div class="c-table__cell c-label">Date</div>
                                    <div class="c-table__cell c-label">Débiteur/Créditeur</div>
                                    <div class="c-table__cell c-label u-inline-right">Montant</div>
                                </div>

                                <div class="c-table__tbody">
                                    {% for transaction in operations %}
                                        <div class="c-table__row">
                                            <div class="c-table__cell">{{ transaction.date | date('d/m/Y') }}</div>
                                            <div class="c-table__cell">
                                                {% if transaction.relatedAccount.kind == 'user' %}
                                                    {{ transaction.relatedAccount.user.display }}
                                                {% elseif transaction.relatedAccount.kind == 'system' %}
                                                    {{ transaction.relatedAccount.type.name }}
                                                {% endif %}
                                            </div>
                                            <div class="c-table__cell u-inline-right u-bold {{ transaction.amount > 0 ? 'u-green' : '' }}">
                                                {{ transaction.amount | number_format(2, ',', ' ') }}
                                                 <span class="c-icon icon-money"></span>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>

                            <div class="u-inline-center">
                                <a href="{{ route('operations.historic.index') }}"
                                   class="c-btn c-btn--stroke c-btn--current-color u-mg-top">Voir toutes les opérations
                                </a>
                            </div>
                        {% else %}
                            <div class="u-inline-center">
                                <p class="c-label">Vous n'avez pas encore de transactions</p>
                            </div>
                        {% endif %}
                    </div>
                </div>
        </div>
    </div>
{% endblock %}
