{% import "framework.macros.card-detailed" as cardDetailed %}
{% extends "framework.layout" %}

{% set asideContext = 'favorite' %}

{% block content %}
    <div class="l-dashboard">
        <div class="l-dashboard__aside">
            {% if viewModifier == config('cyclos.internal-names.admin') %}
                {% include 'main.partials.aside.admin' %}
            {% else %}
                {% include 'main.partials.aside.user' %}
            {% endif %}
        </div>
        <div class="l-dashboard__main u-bg-grey60 u-mg-navbar">
            <div class="c-band c-band--dashboard">
                <form method="GET"
                      action="{{ route('dashboard.favorites.index') }}"
                      class="l-grid-table u-bg-grey u-pd-hz-sm u-full-height">
                    <div class="l-grid-table__cell l-grid-table__cell--main">
                        {{ favorites|length }}<span class="u-bold"> adhérent(s)</span><br>mis en favoris
                    </div>
                    <div class="l-grid-table__cell">
                        <div class="c-form-group c-form-group--minwidth">
                            <div class="c-addon-container">
                                <select id="form-category"
                                        name="category"
                                        class="u-bg-white c-form-control c-form-control--select js-form-control">
                                    <option {% if app.request.query.get('category') is null %}selected{% endif %}
                                            value="null">Toutes les categories
                                    </option>
                                    <option {% if app.request.query.get('category') == 'Bars / Restaurants' %}selected{% endif %}
                                            value="Bars / Restaurants">Bars / Restaurants
                                    </option>
                                    <option {% if app.request.query.get('category') == 'Santé / Services / Artisans' %}selected{% endif %}
                                            value="Santé / Services / Artisans">Santé / Services / Artisans
                                    </option>
                                    <option {% if app.request.query.get('category') == 'Loisirs / Culture' %}selected{% endif %}
                                            value="Loisirs / Culture">Loisirs / Culture
                                    </option>
                                    <option {% if app.request.query.get('category') == 'Boutiques / Commerces' %}selected{% endif %}
                                            value="Boutiques / Commerces">Boutiques / Commerces
                                    </option>
                                    <option {% if app.request.query.get('category') == 'BTP / Construction / Energie / Transport' %}selected{% endif %}
                                            value="BTP / Construction / Energie / Transport">BTP / Construction /
                                                                                             Energie / Transport
                                    </option>
                                    <option {% if app.request.query.get('category') == 'Informatique / Web / Télécom' %}selected{% endif %}
                                            value="Informatique / Web / Télécom">Informatique / Web / Télécom
                                    </option>
                                    <option {% if app.request.query.get('category') == 'Conseil / Formation / Ressources humaines' %}selected{% endif %}
                                            value="Conseil / Formation / Ressources humaines">Conseil / Formation /
                                                                                              Ressources humaines
                                    </option>
                                    <option {% if app.request.query.get('category') == 'Gestion / Finances / Comptabilité' %}selected{% endif %}
                                            value="Gestion / Finances / Comptabilité">Gestion / Finances / Comptabilité
                                    </option>
                                    <option {% if app.request.query.get('category') == 'Autres services aux professionnels' %}selected{% endif %}
                                            value="Autres services aux professionnels">Autres services aux
                                                                                       professionnels
                                    </option>
                                    <option {% if app.request.query.get('category') == 'Industrie / Manufacture / Distributeur' %}selected{% endif %}
                                            value="Industrie / Manufacture / Distributeur">Industrie / Manufacture /
                                                                                           Distributeur
                                    </option>
                                    <option {% if app.request.query.get('category') == 'Producteur / Agriculture / Agroalimentaire' %}selected{% endif %}
                                            value="Producteur / Agriculture / Agroalimentaire">Producteur / Agriculture
                                                                                               / Agroalimentaire
                                    </option>
                                    <option {% if app.request.query.get('category') == 'Communication / Évènementiel' %}selected{% endif %}
                                            value="Communication / Évènementiel">Communication / Évènementiel
                                    </option>
                                    <option {% if app.request.query.get('category') == 'Immobilier / Architecture' %}selected{% endif %}
                                            value="Immobilier / Architecture">Immobilier / Architecture
                                    </option>
                                    <option {% if app.request.query.get('category') == 'Réseaux' %}selected{% endif %}
                                            value="Réseaux">Réseaux
                                    </option>
                                    <option {% if app.request.query.get('category') == 'Professionnel' %}selected{% endif %}
                                            value="Professionnel">Professionnel
                                    </option>
                                </select>
                                <span class="c-icon icon-chevron-down" aria-hidden="true"></span>
                            </div>
                        </div>

                    </div>
                    <div class="l-grid-table__cell">
                        <button type="submit" class="c-btn c-btn--primary c-btn--stroke c-btn--squeeze u-mg-left">
                            Filtrer
                        </button>
                    </div>
                </form>
            </div>

            <form class="l-grid-row" method="POST" action="{{ route('dashboard.favorites.store') }}">
                <div class="c-card u-mg-band">
                    <div class="l-grid-table recipientChooser">
                        <div class="l-grid-table__cell">
                            <div class="c-form-group">
                                <label class="c-form-label" for="add-favorite">Ajouter un professionnel aux
                                                                               favoris</label>
                                <select
                                    class="c-form-control c-form-control--select autocomplete-professional-users select2"
                                    name="pro_email"
                                    id="add-favorite"
                                    data-exclude="{{ session('auth.user.id') }}">
                                </select>
                            </div>
                        </div>
                        <div class="l-grid-table__cell u-inline-right">
                            <button type="submit" class="c-btn c-btn--green c-btn--squeeze">Ajouter</button>
                        </div>
                        {{ csrf_field() }}
                    </div>
                </div>
            </form>

            <div class="l-grid-row u-pd">
                <div class="u-mg-top-sm">
                    {% for favorite in favorites %}
                        <div class="l-col-4 l-col-6-sm l-col-3-lg">
                            <form method="POST"
                                  action="{{ route('dashboard.favorites.delete', {favoriteId: favorite.id}) }}">
                                {{ csrf_field() }}

                                <input type="hidden" name="_method" value="DELETE">
                                <button type="submit" class="c-card-close"><span aria-hidden="true">×</span></button>
                            </form>

                            {{ cardDetailed.cardDetailed({
                                link: '//' ~ config('somoney.domain.directory') ~ '/' ~ str_slug(favorite.name),
                                img: favorite.profile|default('/assets/img/placeholder.png'),
                                title: favorite.name,
                                text: favorite.customValues.aboutMe|u.truncate(80, true, '...'),
                                tags: favorite.customValues.keywords|split(','),
                            },
                                {
                                    modifierClass: ""
                                }) }}

                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
