{% extends "main.layout" %}

{% set asideContext = 'fidelity' %}

{% block main %}
    <div class="l-container u-pd">

        <h1 class="c-h1 u-grey25 u-normal-weight u-mg-bottom-sm">
            Fidélité
        </h1>
        <div class="l-grid-row">
            <div class="l-col-8">

                <div class="c-card">

                    <div class="c-h2 u-mg-bottom u-mg-top u-inline-left">
                        {% if fidelity is not null %}
                            {% if fidelity.active %}
                                <p>
                                    Un client recevra {{ fidelity.discount }}
                                    {{ fidelity.discount_as_percent ? '%' : '<span class="c-icon icon-money"></span>' }}
                                    de réduction tous les {{ fidelity.counter }}
                                    {{ not fidelity.counter_as_price ? 'achats' : '<span class="c-icon icon-money"></span>' }}
                                </p>
                            {% else %}
                                <p>Règle inactive !</p>
                            {% endif %}
                        {% else %}
                            <p>Créer votre programme fidélité</p>
                        {% endif %}
                    </div>

                    <form id="fidelity-form" method="POST" action="{{ route('fidelity.update') }}">
                        {{ csrf_field() }}

                        {% include 'main.partials.form-errors' %}

                        <div class="c-form-group">
                            <label for="counter" class="c-form-label c-form-label--required">
                                Nombre d'achats
                            </label>
                            <input class="c-form-control js-form-control"
                                   type="number"
                                   id="counter"
                                   name="counter"
                                   placeholder="Valeur à atteindre"
                                   value="{{ old('counter', fidelity.counter) }}">
                        </div>

                        <div class="c-form-group u-inline-block u-mg-right">
                            <div class="c-form-group">
                                <input class="c-radio"
                                       type="radio"
                                       id="counter-as-price"
                                       name="counter_as_price"
                                       value="on"
                                       {% if fidelity and old('counter_as_price', fidelity.counter_as_price) %}checked{% endif %}>
                                <label for="counter-as-price"><span class="c-icon icon-money"></span> dépensés</label>
                            </div>
                        </div>

                        <div class="c-form-group u-inline-block u-mg-reset">
                            <div class="c-form-group">
                                <input class="c-radio"
                                       type="radio"
                                       id="counter-as-nb-purchase"
                                       name="counter_as_price"
                                       value="off"
                                       {% if fidelity and not old('counter_as_price', fidelity.counter_as_price) %}checked{% endif %}>
                                <label for="counter-as-nb-purchase">Achats</label>
                            </div>
                        </div>

                        <div class="c-form-group">
                            <label for="discount" class="c-form-label c-form-label--required">Réduction</label>
                            <input class="c-form-control js-form-control"
                                   id="discount"
                                   type="number"
                                   name="discount"
                                   placeholder="Montant"
                                   value="{{ old('discount', fidelity.discount) }}">
                        </div>

                        <div class="c-form-group u-inline-block u-mg-right">
                            <input class="c-radio"
                                   type="radio"
                                   id="discount-as-amount"
                                   name="discount_as_percent"
                                   value="off"
                                   {% if fidelity and not old('discount_as_percent',fidelity.discount_as_percent) %}checked{% endif %}>
                            <label for="discount-as-amount">Remise en <span class="c-icon icon-money"></span></label>
                        </div>

                        <div class="c-form-group u-inline-block u-mg-reset">
                            <input class="c-radio"
                                   type="radio"
                                   id="discount-as-percent"
                                   name="discount_as_percent"
                                   value="on"
                                   {% if fidelity and old('discount_as_percent',fidelity.discount_as_percent) %}checked{% endif %}>
                            <label for="discount-as-percent">% de la remise</label>
                        </div>

                        <div class="discount-groups-type u-mg-vt">
                            <p class="c-form-label">Type d'utilisateur bénéficiaire</p>
                            <div class="c-form-group u-inline-block u-mg-right">
                                <input class="c-radio"
                                       type="radio"
                                       id="all-groups"
                                       name="groups_type"
                                       value="all"
                                       {% if old('groups_type',fidelity.groups_type) == 'all' %}checked{% endif %}>
                                <label for="all-groups">Tous</label>
                            </div>
                            <div class="c-form-group u-inline-block u-mg-right">
                                <input class="c-radio"
                                       type="radio"
                                       id="only-individual"
                                       name="groups_type"
                                       value="{{ config('cyclos.internal-names.groups.individual') }}"
                                       {% if old('groups_type', fidelity.groups_type) == config('cyclos.internal-names.groups.individual') %}checked{% endif %}>
                                <label for="only-individual">Particuliers</label>
                            </div>
                            <div class="c-form-group u-inline-block u-mg-reset">
                                <input class="c-radio"
                                       type="radio"
                                       id="only-professional"
                                       name="groups_type"
                                       value="{{ config('cyclos.internal-names.groups.professional') }}"
                                       {% if old('groups_type', fidelity.groups_type) == config('cyclos.internal-names.groups.professional') %}checked{% endif %}>
                                <label for="only-professional">Professionnels</label>
                            </div>
                        </div>
                        <div class="c-form-group">
                            <input class="c-checkbox c-checkbox--bigger"
                                   type="checkbox"
                                   id="is-active"
                                   name="active"
                                   {% if old('active', fidelity.active) %}checked{% endif %}>
                            <label for="is-active" class="">Actif</label>
                        </div>
                    </form>

                    <div class="u-inline-right u-mg-top-lg">
                        <button form="fidelity-form" class="u-vertical-center c-btn c-btn--green" type="submit">
                            {% if fidelity %}
                                Valider
                            {% else %}
                                Créer
                            {% endif %}
                        </button>
                        {% if fidelity %}
                            <a href="{{ route('fidelity.delete', { fidelity: fidelity.id }) }}"
                               class="u-vertical-center u-inline-block c-btn c-btn--red">
                                Supprimer
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
