{% extends "framework.layout" %}

{% block content %}
    <div class="l-container-flex u-pd-navbar l-view">
        <div class="l-container-flex__center">
            <div class="l-container u-inline-center u-pd-hz-mobile">
                <h1 class="c-h1 u-mg-bottom-lg">Qui êtes-vous ?</h1>

                <div id="disclaimer-btn-individual"
                     class="c-btn-brick c-btn-brick--customer u-mg-top u-mg-hz-sm u-inline-block disclaimer-toggler"
                     data-user-type="individual">
                    <div class="c-table">
                        <div class="c-table__row">
                            <div class="c-btn-badge c-btn-badge--icon">
                                <span class="c-icon icon-user"></span>
                            </div>
                        </div>
                        <div class="c-table__row u-vertical-center">
                            <div class="c-table__cell">
                                Particulier
                            </div>
                        </div>
                    </div>
                </div>

                <div id="disclaimer-btn-professional"
                     class="c-btn-brick c-btn-brick--business u-mg-top u-mg-hz-sm u-inline-block disclaimer-toggler"
                     data-user-type="professional">
                    <div class="c-table">
                        <div class="c-table__row">
                            <div class="c-btn-badge c-btn-badge--icon">
                                <span class="c-icon icon-briefcase"></span>
                            </div>
                        </div>
                        <div class="c-table__row u-vertical-center">
                            <div class="c-table__cell">
                                Professionnel : Entreprise et Association
                            </div>
                        </div>
                    </div>
                </div>

                <div id="disclaimer-individual" class="disclaimer u-hide l-container-8 u-pd-hz u-mg-top">
                    <div class="c-alert u-mg-vt u-inline-left">
                        {% set individualNeedIdDocument = config('registration.available.individual.id_document') %}
                        <div class="{{ individualNeedIdDocument ? 'u-mg-bottom' : '' }}">
                            {{ config('somoney.content.signup.individual.info') | raw }}
                        </div>
                        {% if individualNeedIdDocument %}
                            <p class="c-p u-bold">
                                Avant de poursuivre, pensez à vous doter de :
                            </p>
                            <ul class="c-list">
                                <li class="c-list__item">
                                    Votre pièce d'identité (copie numérisée de votre passeport ou carte d’identité recto/verso sur un seul document)
                                </li>
                            </ul>
                        {% endif %}
                    </div>
                    <div class="u-inline-center u-mg-top">
                        <a href="{{ route('register.individual.informations.account') }}"
                           class="c-btn c-btn--current-color">
                            S'inscrire
                        </a>
                    </div>
                </div>

                <div id="disclaimer-professional" class="disclaimer u-hide l-container-8 u-pd-hz u-mg-top">
                    <div class="c-alert u-mg-vt u-inline-left">
                        <div class="u-mg-bottom">
                            {{ config('somoney.content.signup.professional.info') | raw }}
                        </div>
                        {% if config('registration.available.professional.justification_documents') %}
                            <p class="c-p u-bold">
                                Avant de poursuivre, pensez à vous doter des pièces suivantes :
                            </p>
                            <ul class="c-list">
                                <li class="c-list__item">
                                    La pièce d'identité du dirigeant de la structure recto-verso sur un seul document
                                </li>
                                <li class="c-list__item">
                                    Un RIB
                                </li>
                            </ul>
                            <p class="c-p u-bold">
                                Puis en fonction du statut juridique de la structure :
                            </p>
                            <ul class="c-list">
                                <li class="c-list__item">
                                    Extrait de K-Bis de moins de 3 mois pour les sociétés
                                </li>
                                <li class="c-list__item">
                                    Copie du récépissé de déclaration en Préfecture pour les associations
                                </li>
                                <li class="c-list__item">
                                    Copie de l’inscription au sein d’une organisation professionnelle pour les
                                    professions
                                    libérales
                                </li>
                                <li class="c-list__item">
                                    Copie de l’immatriculation au Répertoire des Métiers pour les artisans
                                </li>
                                <li class="c-list__item">
                                    Copie de la situation au répertoire SIRENE de l’INSEE pour les
                                    auto-entrepreneurs
                                </li>
                            </ul>
                        {% endif %}
                    </div>
                    <div class="u-inline-center u-mg-top">
                        <a class="c-btn c-btn--current-color"
                           href="{{ route('register.professional.informations.account') }}">
                            S'inscrire
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="l-grid-row u-inline-center">
            <p class="c-p u-pd">Vous avez déjà un compte ?
                <a href="{{ route('auth.login') }}" class="c-link">Connectez-vous</a>
                                .
            </p>
        </div>
    </div>

{% endblock %}
