{% extends "main.layout" %}

{% set asideContext = 'sponsor' %}

{% block main %}
    <div class="l-container u-pd">
        <div class="l-grid-row">
            <div class="l-col-8">

                <h1 class="c-h1 u-grey25 u-normal-weight u-mg-bottom-sm">Parrainage</h1>

                <div class="c-card">
                    <h2 class="c-h2 u-mg-bottom">Inviter de nouveaux adhérents</h2>

                    <form method="POST" action="{{ route('sponsor.sendMail') }}">
                        {% include 'main.partials.form-errors' %}

                        <div class="c-form-group c-form-group--inline">
                            <label class="c-form-label c-form-label--required" for="form-name">
                                Nom du destinataire</label><br>
                            <input type="text"
                                   class="c-form-control js-form-control"
                                   id="form-name"
                                   name="name"
                                   value="{{ old('name') }}">
                        </div>
                        <div class="c-form-group c-form-group--inline">
                            <label class="c-form-label c-form-label--required" for="form-email">
                                E-mail du destinataire</label><br>
                            <input type="email"
                                   class="c-form-control js-form-control"
                                   id="form-email"
                                   placeholder="exemple@gmail.com"
                                   name="email"
                                   value="{{ old('email') }}">
                        </div>

                        <div class="c-form-group">
                            <label class="c-form-label" for="form-info">Message</label>
                            <textarea rows="3"
                                      class="c-form-control c-form-control--textarea js-form-control"
                                      id="form-info"
                                      name="message">{{ old('message', 'Je vous invite à rejoindre la monnaie locale '~(config('somoney.money'))~' pour valoriser notre territoire et favoriser le développement de l’économie de proximité. ') }}</textarea>
                        </div>

                        <div class="u-inline-right u-mg-top-lg">
                            <button type="submit" class="c-btn c-btn--stroke c-btn--green">
                                Envoyer une invitation
                            </button>
                        </div>

                        {{ csrf_field() }}

                    </form>
                </div>

            </div>
        </div>
    </div>

{% endblock %}
