.c-btn-badge {
    @include badge();
    font-weight: bold;
    transition: color $transition;
    // perspective hack for animation background effect
    transform: perspective(1px) translateZ(0);

    // Animation
    &:before {
        content: '';
        position: absolute;
        z-index: map-get($z-index, btn-badge-anim);
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: $secondary;
        border-radius: 100%;
        transform: scale(0);
        transition: transform $transition;

        .l-view--individual & {
            background-color: $customer;
        }

        .l-view--professional & {
            background-color: $business;
        }
    }

    &.is-success:before {
        background-color: $green !important;
    }

    &.is-current:before {
        background-color: $secondary !important;
    }

    &:hover,
    &:focus,
    &.is-active,
    &.is-current,
    &.is-success {
        color: $white !important;

        &:before {
            transform: scale(2);
        }
    }

    &:disabled,
    &[data-disabled='true'] {
        opacity: 0.3;
        pointer-events: none;
    }

    &--icon {
        border: 1px solid $grey20;
        background-color: $white;
        transition: border $transition, color $transition;
        color: $grey60;

        &:hover,
        &:focus,
        &.is-active {
            border: 1px solid transparent;
        }
    }

    &--reverse {
        &:before {
            transform: scale(2);
        }

        &:hover,
        &:focus,
        &.is-active,
        &.is-current,
        &.is-success {
            &:before {
                transform: scale(0);
            }
        }

        &.c-btn-badge--icon {
            border: 1px solid transparent;
            transition: border $transition, color $transition;
            color: $white;

            &:hover,
            &:focus,
            &.is-active {
                border: 1px solid $grey20;
                color: $grey60 !important;
            }
        }
    }
}
