$btn-brick-width: 180px;
$brick-badge-width: 40px;

.c-btn-brick {
    position: relative;
    width: $btn-brick-width;
    padding: 20px;
    border: 2px solid $secondary;
    border-radius: $border-radius-base;
    overflow: hidden;
    font-family: $font-family-sans-serif;
    font-weight: bold;
    font-size: $font-size-large;
    text-align: center;
    transition: color $transition, background-color $transition;

    &:hover,
    &:focus,
    &.is-active {
        color: $white;
        background-color: $secondary;
        cursor: pointer;

        .c-btn-badge {
            color: $grey60 !important;

            &:before {
                transform: scale(2);
            }
        }
    }

    &:disabled,
    &.disabled,
    &[data-disabled='true'] {
        opacity: 0.3;
        pointer-events: none;
    }

    .c-btn-badge {
        margin: 0 auto 10px;
        border: 0;
        color: $white;
        width: $brick-badge-width;
        height: $brick-badge-width;

        &:before {
            background-color: $white;
        }
    }

    &--customer {
        border-color: $customer;

        &:hover,
        &:focus,
        &.is-active,
        .c-btn-badge {
            background-color: $customer;
        }
    }

    &--business {
        border-color: $business;

        &:hover,
        &:focus,
        &.is-active,
        .c-btn-badge {
            background-color: $business;
        }
    }

    &--customer, &--business {
        height: 170px;

        .c-table {
            background: none;

            .c-table__row {
                height: 50px;
                background: none !important;

                .c-table__cell {
                    white-space: normal;
                    overflow: auto;
                    text-overflow: unset;
                    padding: 0;
                }
            }
        }
    }

    &--thin {
        @extend .c-btn-brick;
        width: $btn-brick-width / 2;
        padding: 10px;
    }
}
