$button-height: 40px;

@mixin button() {
    display: inline-block;
    font-family: $font-family-sans-serif;
    padding: 0 calc-rem(20px);
    height: $button-height;
    min-width: 200px;
    text-align: center;
    text-transform: uppercase;
    border-radius: $btn-border-radius-base;
    transition: background-color $transition, color $transition;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &:disabled,
    &.disabled,
    &[data-disabled='true'] {
        opacity: 0.3;
        pointer-events: none;
    }

    &:hover {
        cursor: pointer;
    }
}

// ------------------------
// Mixin Button Classic
// ------------------------
@mixin button-variant($color-main, $color-text: $white, $button-shadow: darken($color-main, 10%)) {
    color: $color-text;
    background-color: $color-main;
    // -2 equals to the border*2
    line-height: calc(#{$button-height} - 2px);
    box-shadow: inset 0 -2px 0 $button-shadow;
    border: solid 1px transparent;

    &:focus,
    &:hover {
        background-color: transparent;
        color: $color-main;
        border-color: $color-main;
        box-shadow: none;
        cursor: pointer;
    }

    &:disabled {
        color: $color-text;
        background-color: $color-main;
    }
}

// ------------------------
// Mixin Stroked Button
// ------------------------
@mixin button-variant-stroke($color-main, $color-text: $white) {
    color: $color-main;
    background-color: transparent;
    border: solid 2px $color-main;
    // -4 equals to the border*2
    line-height: calc(#{$button-height} - 4px);
    box-shadow: none;

    &:focus,
    &:hover {
        color: $color-text;
        background-color: $color-main;
        cursor: pointer;
    }

    &:disabled {
        color: $color-main;
        background-color: transparent;
    }
}

.c-btn {
    @include button();
    @include button-variant($grey60);

    &--primary {
        @include button-variant($primary);
    }

    &--secondary {
        @include button-variant($secondary);
    }

    &--tertiary {
        @include button-variant($tertiary);
    }

    &--green {
        @include button-variant($green);
    }

    &--red {
        @include button-variant($red);
    }

    &--current-color {
        @include button-variant($secondary);

        .l-view--individual & {
            @include button-variant($customer);
        }

        .l-view--professional & {
            @include button-variant($business);
        }
    }

    &--stroke {
        @include button-variant-stroke($grey60);

        &.c-btn--current-color {
            @include button-variant-stroke($secondary);

            .l-view--individual & {
                @include button-variant-stroke($customer);
            }

            .l-view--professional & {
                @include button-variant-stroke($business);
            }
        }

        &.c-btn--primary {
            @include button-variant-stroke($primary);
        }

        &.c-btn--secondary {
            @include button-variant-stroke($secondary);
        }

        &.c-btn--tertiary {
            @include button-variant-stroke($tertiary);
        }

        &.c-btn--green {
            @include button-variant-stroke($green);
        }

        &.c-btn--red {
            @include button-variant-stroke($red);
        }
    }

    &--full-width {
        display: block;
        width: 100%;
    }

    &--max-width {
        min-width: unset;
        width: 200px;
        max-width: 100%;
    }

    &--squeeze {
        min-width: auto;
    }

    &--thin {
        min-width: unset;
    }
}
