.c-file-button {
    padding: 0 10px;
    height: $button-height;
    // 2px equals to the border
    line-height: calc(#{$button-height} - 2px);
    border-radius: $border-radius-small;
    background-color: $grey10;
    border: solid 1px $grey30;

    .c-icon {
        vertical-align: middle;
    }

    & + & {
        margin-top: calc-rem(10px);
    }
}
