.c-link {
    font-family: $font-family-sans-serif;
    color: $secondary;

    &:hover,
    &:focus {
        text-decoration: underline;
    }

    &:disabled,
    &[data-disabled='true'] {
        pointer-events: none;
        color: inherit;
        opacity: 0.3;

        &:hover,
        &:focus {
            text-decoration: none;
        }
    }
}
