{% extends "main.templates.register.professional.layout" %}

{% set stepTitle = "Conditions générales d’utilisation" %}
{% set pageStep = 5 %}

{% block formContent %}
    <form method="POST" action="{{ route('register.professional.cgu.post') }}">
        {{ csrf_field() }}
        {% if(config('registration.available.common.comment')) %}
            <div class="c-form-group">
                <label class="c-form-label">Commentaire</label>
                <textarea
                    placeholder="Si vous le souhaitez, vous pouvez nous poser une question, nous laisser un message"
                    rows="3"
                    class="c-form-control c-form-control--textarea js-form-control"
                    name="user[customValues][comment]"
                >{{ old('comment',user.customValues.comment) }}</textarea>
            </div>
        {% endif %}
        <div class="c-form-group u-mg-bottom-sm">
            <button type="button"
                    class="c-btn--secondary u-inline-center u-full-width"
                    data-toggle="modal"
                    data-target="#modal-cgu">
                Accepter les CGU
            </button>
        </div>
        {% if config('registration.available.professional.newsletter') %}
            {% include 'main.components.register.optinnewsletter' %}
        {% endif %}
        {% if config('registration.available.professional.association-membership') %}
            {% include 'main.components.register.membership' %}
        {% endif %}
        <div class="modal fade"
             id="modal-cgu"
             tabindex="-1"
             role="dialog"
             data-show
             aria-labelledby="modal-cgu">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="u-inline-center">
                        <iframe class="u-iframe-pdf" src="{{ config('somoney.cgu.professional') }}">
                        </iframe>
                        <div class="c-form-group u-pd-hz u-full-width">
                            <input class="c-checkbox c-checkbox--btn"
                                   type="checkbox"
                                   id="checkbox-cgu"
                                   name="cgu"
                                   value="true"
                                {% if old('cgu', localUser.acceptAgreement) %}
                                checked="checked"
                                {% endif %}>
                            <label for="checkbox-cgu"
                                   data-dismiss="modal"
                                {% if not config('registration.available.professional.newsletter')
                                    and not config('registration.available.professional.association-membership') %}
                                    data-submit
                                {% endif %}
                                   class="c-btn-brick c-btn--secondary u-large--important {% if old('cgu', localUser.acceptAgreement) %}is-active{% endif %}">
                                Accepter les CGU de {{ config('somoney.money') }}
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button type="submit" class="c-btn c-btn--primary c-btn--full-width u-mg-top">Suivant</button>
    </form>

{% endblock %}
