{% extends "framework.layout" %}

{% block content %}
    <div class="l-container-12 u-pd-navbar l-view l-view--professional">
        <div class="l-grid-row l-grid-row--no-gutter">

            <div class="l-col-6">
                <div class=" u-pd-lg c-full-img-container u-bg-main">
                    <div class="l-container-5">
                        <img src="{{ asset('/assets/img/signup.svg') }}" alt="" class="c-img u-object-fit-contain">
                    </div>
                </div>
            </div>

            <div class="l-col-6-sm u-mg-vt-lg">
                <div class="l-container-4 u-pd-hz u-inline-center">

                    <h1 class="c-h1 u-inline-center u-mg-bottom-lg">Adhésion Professionnel&nbsp;: Entreprise et Association</h1>

                    <div class="c-badge c-badge--lg c-badge--red c-badge--stroke u-inline-block  u-mg-vt-lg">
                        <span class="c-icon icon-cross"></span>
                    </div>

                    <p class="c-p u-large u-mg-bottom">
                        Une erreur est survenue lors de la finalisation de la création de votre compte.<br/>
                        Vous serez contacté prochainement par les administrateur.
                    </p>

                    <hr class="u-mg-vt">

                    <a href="{{ getProtocol() ~ config('somoney.domain.directory') }}"
                       class="c-btn c-btn--primary c-btn--full-width u-mg-top-lg">
                        Accéder à l'annuaire
                    </a>
                </div>
            </div>

            <div class="l-col-6">
                <div class=" u-pd-lg c-full-img-container u-bg-main">
                    <div class="l-container-5">
                        <img src="{{ asset('assets/img/signup.svg') }}" alt="" class="c-img u-object-fit-contain">
                    </div>
                </div>
            </div>

        </div>
    </div>

{% endblock %}



