{% extends "main.templates.register.professional.layout" %}

{% set stepTitle = 'Pièces justificatives' %}
{% set pageStep = 4 %}

{% block formContent %}
    <form method="POST"
          action="{{ route('register.professional.files.post') }}"
          enctype="multipart/form-data"
          id="register-files-form">

        {{ csrf_field() }}

        <div class="c-form-group">
            <label class="c-form-label" for="idattachment">
                Pièce d'identité du dirigeant
                {% if localUser.idattachment_path %}
                    <a class="c-link" href="{{ localUser.customValues.idattachment }}" target="_blank">
                        <i class="fas fa-external-link-alt"></i>
                    </a>
                {% endif %}
            </label>
            <div class="u-relative">
                <input id="idattachment"
                       name="idattachment"
                       type="file"
                       class="c-form-control c-form-control--file js-file-input">
                <div class="c-addon-container">
                    <input class="c-form-control js-file-input-display"
                           placeholder="Parcourir..."
                           name="idattachment_path"
                           value="{{ localUser.idattachment_path }}">
                    <span class="c-icon icon-folder-open"></span>
                </div>
            </div>
            {% include 'main.partials.form-file-constraints' with config('somoney.form_constraints.file') %}
        </div>
        <div class="c-form-group">
            <label class="c-form-label" for="ribattachment">
                Rib Associée à la structure
                {% if localUser.ribattachment_path %}
                    <a class="c-link" href="{{ localUser.customValues.ribattachment }}" target="_blank">
                        <i class="fas fa-external-link-alt"></i>
                    </a>
                {% endif %}
            </label>
            <div class="u-relative">
                <input id="ribattachment"
                       name="ribattachment"
                       type="file"
                       class="c-form-control c-form-control--file js-file-input">
                <div class="c-addon-container">
                    <input class="c-form-control js-file-input-display"
                           placeholder="Parcourir..."
                           name="ribattachment_path"
                           value="{{ localUser.ribattachment_path }}">
                    <span class="c-icon icon-folder-open"></span>
                </div>
            </div>
            {% include 'main.partials.form-file-constraints' with config('somoney.form_constraints.file') %}
        </div>
        {% if config('registration.available.professional.justification_documents') %}
            <div class="c-form-group">
                <label class="c-form-label" for="organisationattachmenttype">
                    Type du document relatif à la structure
                </label>
                <div class="c-addon-container">
                    <select id="organisationattachmenttype"
                            class="c-form-control c-form-control--select js-form-control"
                            name="organisationattachmenttype">
                        <option></option>
                        {% for organisationattachmenttype in organisationAttachmentTypes %}
                            <option value="{{ organisationattachmenttype.id }}"
                                {% if old('organisationattachmenttype', localUser.customValues.organisationattachmenttype) == organisationattachmenttype.id %}
                            selected
                                {% endif %}>
                                {{ organisationattachmenttype.value }}
                            </option>
                        {% endfor %}
                    </select>
                    <span class="c-icon icon-chevron-down" aria-hidden="true"></span>
                </div>
            </div>
            <div class="c-form-group">
                <label class="c-form-label" for="organisationattachment">
                    Document relatif à la structure
                    {% if  localUser.organisationattachment_path %}
                        <a class="c-link" href="{{ localUser.customValues.organisationattachment }}" target="_blank">
                            <i class="fas fa-external-link-alt"></i>
                        </a>
                    {% endif %}
                </label>
                <div class="u-relative">
                    <input id="organisationattachment"
                           name="organisationattachment"
                           type="file"
                           class="c-form-control c-form-control--file js-file-input">
                    <div class="c-addon-container">
                        <input class="c-form-control js-file-input-display"
                               placeholder="Parcourir..."
                               name="organisationattachment_path"
                               value="{{ localUser.organisationattachment_path }}">
                        <span class="c-icon icon-folder-open"></span>
                    </div>
                </div>
                {% include 'main.partials.form-file-constraints' with config('somoney.form_constraints.file') %}
            </div>

            <div class="c-alert u-mg-vt">
                <p class="c-p u-bold">Pièces justificatives à fournir :</p>

                <ul class="c-list">
                    <li class="c-list__item">La pièce d'identité du dirigeant de la structure recto-verso sur un seul
                                             document
                    </li>
                    <li class="c-list__item">Extrait de K-Bis de moins de 3 mois pour les sociétés</li>
                    <li class="c-list__item">Récépissé de déclaration en Préfecture pour les associations</li>
                    <li class="c-list__item">Inscription au sein d’une organisation professionnelle pour les professions
                                             libérales
                    </li>
                    <li class="c-list__item">Immatriculation au Répertoire des Métiers pour les artisans</li>
                    <li class="c-list__item">Situation au répertoire SIRENE de l’INSEE pour les auto-entrepreneurs</li>
                </ul>
            </div>
        {% endif %}

        <button type="submit" class="c-btn c-btn--primary c-btn--full-width u-mg-top">Suivant</button>
    </form>
{% endblock %}
