{% extends "framework.layout" %}

{% block content %}
    <div class="l-grid-row l-grid-row--no-gutter u-pd-navbar l-view--professional">
        <div class="l-col-6-sm">
            <div class=" u-pd-lg c-full-img-container u-bg-main">
                <div class="l-container-5">
                    <img src="{{ asset('/assets/img/signup.svg') }}" alt="" class="c-img u-object-fit-contain">
                </div>
            </div>
        </div>

        <div class="l-col-6-sm u-mg-vt-lg">
            <div class="l-container-4">

                <h1 class="c-h1 u-inline-center u-mg-bottom-lg">Adhésion Professionnel&nbsp;: Entreprise et Association</h1>

                <div class="u-pd-hz">
                    {% include 'main.partials.registrationTunnel' with {
                        steps: config('registration.steps.professional.nav'),
                        currentStep: session('registration.currentStep'),
                        pageStep: pageStep
                    } only %}

                    <h2 class="c-h2 u-inline-center u-mg-top">{{ stepTitle }}</h2>
                    <hr class="u-mg-bottom-lg">

                    {% if errors.any() %}
                        <div class="c-alert c-alert--error">
                            <ul class="c-list">
                                {% for error in errors.all() %}
                                    <li>{{ error | raw }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}

                    {% block formContent %}{% endblock %}

                    <div class="u-inline-center">
                        <p class="c-p u-bold u-mg-top-sm">Vous avez déjà un compte ?</p>
                        <a href="{{ route('auth.login') }}" class="c-link">Connectez-vous.</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scriptAfter %}
    {{ validator | raw }}
{% endblock %}
