{% extends "framework.layout" %}

{% set refreshUrl = session_pull('url.intended') %}

{% block content %}

<div class="l-grid-row l-grid-row--no-gutter u-full-height u-pd-navbar">
	<div class="l-col-6-sm u-full-height">
		<div class="l-container-flex">
			<div class="l-container-flex__center">
				<div class="l-container-4 u-inline-center">

					<div class="c-badge c-badge--lg c-badge--stroke c-badge--green u-inline-block u-mg-bottom-lg">
						<span class="c-icon icon-checkmark"></span>
					</div>
					<p class="c-p">Bienvenue sur {{ config('somoney.money') }} </p>

				</div>
			</div>
		</div>
	</div>

	<div class="l-col-6-sm">
		<div class="c-full-img-container">
			<img src="/assets/img/background1.jpg" alt="" class="c-img u-object-fit-cover">
		</div>
	</div>
</div>
{% endblock %}
