{% extends "framework.layout" %}

{% block content %}

    <div class="l-grid-row l-grid-row--no-gutter u-full-height u-pd-navbar">
        <div class="l-col-6-sm u-full-height">
            <div class="l-container-flex w-100--xs">
                <div class="l-container-flex__center w-100--xs">
                    <div class="l-container-4 u-inline-center w-100--xs">

                        <h1 class="c-h1 u-mg-bottom">Connexion</h1>

                        {% autoescape false %}
                            {% if notification.message is defined %}
                                <div class="l-grid-row--no-gutter mx-15--xs">
                                    <div class="c-card l-grid-table u-pd-reset u-pd-hz l-col-12">
                                        <div class="l-grid-table__cell l-grid-table__cell--main u-pd-vt">
                                            <p class="u-sans-serif u-pd-left">{{ notification.message | raw }}</p>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endautoescape %}

                        <div class="l-grid-row--no-gutter mx-15--xs">
                            {% if errors.any() %}
                                <div class="c-alert c-alert--error">
                                    <ul class="c-list">
                                        {% for error in errors.all() %}
                                            {% if error == 'loginError' %}
                                                <li>Identifiants invalides</li>
                                            {% elseif error == 'emailValidationError' %}
                                                <li>
                                                    Merci de valider votre adresse e-mail en cliquant sur le lien reçu
                                                    par e-mail.<br>
                                                    <a href="{{ route('auth.validation.email', {userId: session('user_id')}) }}"
                                                       class="c-link">Renvoyer l'e-mail de validation ?
                                                    </a>
                                                </li>
                                            {% elseif error == 'isLeavingValidationError' %}
                                                <li>
                                                    Votre compte est en cours de suppression, pour toutes questions
                                                    veuillez contacter un administrateur {{ config('somoney.money') }}.
                                                </li>
                                            {% elseif error == 'needsValidationError' %}
                                                <li>
                                                    Votre compte est en cours de validation
                                                    par {{ config('somoney.money') }}, vous recevrez un e-mail à son
                                                    approbation.
                                                </li>
                                            {% elseif error == 'passwordExpired' %}
                                                <li>
                                                    Votre mot de passe est expiré.<br/>
                                                    Veuillez suivre la procédure pour le mettre à jour.<br>
                                                    <a href="{{ route('password.request', {type: config('auth.passwords.reset.expired')}) }}"
                                                       class="c-link">
                                                        Changer mon mot de passe
                                                    </a>
                                                </li>
                                            {% else %}
                                                <li>{{ error }}</li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}

                            {% if session('message') %}
                                <div class="c-alert">
                                    <p>{{ session('message') }}</p>
                                </div>
                            {% endif %}

                            <form method="POST" action="{{ route('auth.postLogin') }}">
                                {{ csrf_field() }}

                                <div class="c-form-group u-inline-left u-mg-vt">
                                    <label class="c-form-label" for="mail">E-mail</label>
                                    <input type="text"
                                           class="c-form-control js-form-control"
                                           id="mail"
                                           placeholder="prenom@mail.fr"
                                           name="login">
                                </div>

                                <div class="c-form-group u-inline-left">
                                    <label class="c-form-label" for="form-password">Mot de passe</label>
                                    <input type="password"
                                           class="c-form-control js-form-control"
                                           id="form-password"
                                           placeholder="Mot de passe"
                                           name="password">
                                    <span id="password-toggler"
                                          class="c-form-icon--clickable"><i class="fa fa-eye"></i></span>
                                </div>

                                <button type="submit" class="c-btn c-btn--primary c-btn--full-width u-mg-top">
                                    Se connecter
                                </button>
                            </form>

                            <div class="u-inline-center u-mg-top-sm">
                                <p class="c-p u-pd-hz">
                                    Vous avez oublié votre mot de passe ?
                                    <br>
                                    <a href="{{ route('password.request',{type: config('auth.passwords.reset.forgot')}) }}"
                                       class="c-link">
                                        Réinitialisez-le ici
                                    </a>
                                    .
                                </p>
                                {% if config('somoney.available.services.register') %}
                                    <hr>
                                    <p class="c-p u-pd-hz">
                                        Vous n'avez pas encore de compte ?
                                        <br>
                                        <a href="{{ config('somoney.custom-url.services.register') | default(route('register')) }}"
                                           class="c-link">
                                            Inscrivez-vous dès maintenant
                                        </a>
                                        .
                                    </p>
                                {% endif %}
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="l-col-6-sm">
            <div class="c-full-img-container">
                <img src="/assets/img/background1.jpg" alt="" class="c-img u-object-fit-cover">
            </div>
        </div>
    </div>

    {% include "main.partials.modals.registration" %}
    {% include "main.partials.modals.validation" %}
{% endblock %}
