{% extends "framework.layout" %}

{% block content %}
    <div class="l-container-12 u-pd-navbar">
        <div class="l-grid-row l-grid-row--no-gutter">
            <div class="l-col-6 u-mg-vt-lg">
                <div class="l-container-4 u-pd-hz u-inline-center">

                    <h1 class="c-h1 u-mg-bottom-lg">E-mail de validation envoyé</h1>

                    <div class="c-badge c-badge--lg c-badge--green c-badge--stroke u-inline-block  u-mg-vt-lg">
                        <span class="c-icon icon-checkmark"></span>
                    </div>

                    <p class="c-p u-large">
                        Vous allez recevoir un e-mail, merci de cliquer sur le lien de confirmation pour accéder à votre
                        compte.
                    </p>

                    <a href="{{ getProtocol() ~ config('somoney.domain.directory') }}"
                       class="c-btn c-btn--primary c-btn--full-width u-mg-top-lg">Accéder à l'annuaire
                    </a>
                </div>
            </div>

            <div class="l-col-6">
                <div class=" u-pd-lg c-full-img-container u-bg-main">
                    <div class="l-container-5">
                        <img src="/assets/img/signup.svg" alt="" class="c-img u-object-fit-contain">
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
