<h2 class="c-h2 u-mg-bottom">Informations personnelles</h2>
<div class="l-grid-row">
    <div class="l-col-6">

        <div class="c-form-group u-mg-bottom-sm">
            <label class="c-form-label" for="gender">Civilité</label>

            {% for gender in genders %}
                <div class="c-form-group u-inline-block u-mg-right">
                    <input class="c-radio c-radio--btn"
                           type="radio"
                           id="radio-{{ gender.internalName }}"
                           name="user[customValues][gender]"
                           value="{{ gender.id }}"
                        {% if old('user.customValues.gender', user.customValues.gender.id) == gender.id %}
                        checked="checked"
                        {% endif %}>
                    <label for="radio-{{ gender.internalName }}"
                           class="c-btn-brick--thin {% if old('user.customValues.gender', user.customValues.gender.id) == gender.id %}is-active{% endif %}">
                        <i class="fa fa-2x fa-{{ gender.internalName == 'man' ? 'male' : 'female' }}"></i>
                    </label>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

<div class="l-grid-row">
    <div class="l-col-6">
        <div class="c-form-group u-mg-bottom-sm">
            <label class="c-form-label c-form-label--required" for="lastname">Nom</label>
            <input type="text"
                   class="c-form-control js-form-control"
                   id="lastname"
                   name="user[customValues][lastname]"
                   placeholder="Nom"
                   value="{{ old('user.customValues.lastname',user.customValues.lastname) }}">
        </div>
    </div>
    <div class="l-col-6">
        <div class="c-form-group u-mg-bottom-sm">
            <label class="c-form-label c-form-label--required" for="firstname">Prénom</label>
            <input type="text"
                   class="c-form-control js-form-control"
                   id="firstname"
                   name="user[customValues][firstname]"
                   placeholder="Prénom"
                   value="{{ old('user.customValues.firstname',user.customValues.firstname) }}">
        </div>
    </div>
</div>

<div class="l-grid-row">
    <div class="l-col-6">
        <div class="c-form-group u-mg-bottom-sm">
            {% include 'framework.components.form.fields.born-date' %}
        </div>
    </div>
    <div class="l-col-6">
        <div class="c-form-group u-mg-bottom-sm">
            <label class="c-form-label c-form-label--required" for="email">E-mail</label>
            <input type="email"
                   class="c-form-control js-form-control"
                   id="email"
                   name="user[email]"
                   placeholder="contact@mail.fr"
                   value="{{ old('user.email',user.email) }}">
        </div>
    </div>
</div>

<div class="l-grid-row">
    <div class="l-col-6">
        <div class="c-form-group u-mg-bottom-sm">
            {% include 'framework.components.form.fields.phone' %}
        </div>
    </div>
</div>

<hr class="u-mg-vt">

<h2 class="c-h2 u-mg-bottom">Adresse postale</h2>

{% include 'framework.components.form.address' with {forceHideAddressNotFound: true} %}
