{% extends "main.layout" %}

{% set asideContext = 'sdgs' %}

{% block main %}
    <div class="l-dashboard__main u-bg-grey u-pd-navbar">
        <div class="l-container u-pd">
            <h1 class="c-h1 u-grey25 u-mg-bottom u-normal-weight">
                {% if sdg %}
                    Modifier l'objectif - {{ sdg.title }}
                {% else %}
                    Créer un objectif
                {% endif %}
            </h1>

            <div class="l-grid-row">
                <div class="c-card-report">
                    {% if sdg %}
                        <div class="u-right">
                            <form method="POST" action="{{ route('admin.sdgs.destroy', {sdg: sdg.id}) }}">
                                {{ csrf_field() }}
                                <input type="hidden" name="_method" value="DELETE">
                                <button type="submit" class="c-btn c-btn--stroke c-btn--red c-btn--squeeze">
                                    <span class="c-icon fa fa-fw fa-trash-alt u-mg-right-xs"></span> Supprimer
                                </button>
                            </form>
                        </div>
                    {% endif %}
                    <form method="POST"
                        {% if sdg %}
                            action="{{ route('admin.sdgs.update', {sdg: sdg.id }) }}"
                        {% else %}
                            action="{{ route('admin.sdgs.store', {sdgCategory: sdgCategory.slug}) }}"
                        {% endif %}
                    >
                        {{ csrf_field() }}
                        {% if sdg %}
                            <input type="hidden" name="_method" value="PUT">
                        {% endif %}
                        {% include 'main.partials.form-errors' %}

                        <div class="l-col-12 u-mg-bottom-sm">
                            <div class="c-form-group">
                                <label class="c-form-label c-form-label--required" for="title">Titre</label>
                                <input class="c-form-control js-form-control"
                                       id="title"
                                       placeholder="Titre de l'objectif"
                                       name="title"
                                       value="{{ old('title', sdg.title) }}"
                                />
                            </div>
                        </div>

                        <div class="l-col-12 u-mg-bottom-sm">
                            <div class="c-form-group">
                                <label class="c-form-label c-form-label--required" for="description">Description</label>
                                <textarea class="c-form-control c-form-control--textarea js-form-control"
                                          id="description"
                                          placeholder="Description de l'objectif"
                                          name="description"
                                          rows="3">{{ old('description', sdg.description) }}</textarea>
                            </div>
                        </div>

                        <div class="l-col-12 u-mg-bottom-sm">
                            <div class="c-form-group u-inline-block u-mg-right">
                                <input class="c-radio c-radio--btn"
                                       type="radio"
                                       id="radio-active"
                                       name="active"
                                       value="1"
                                    {% if old('active', sdg.active) %}
                                    checked="checked"
                                    {% endif %}>
                                <label for="radio-active"
                                       class="c-btn-brick u-w-80px {% if old('active', sdg.active) %}is-active{% endif %}">
                                    Activé
                                </label>
                                <input class="c-radio c-radio--btn"
                                       type="radio"
                                       id="radio-deactive"
                                       name="active"
                                       value="0"
                                    {% if not old('active', sdg.active) %}
                                    checked="checked"
                                    {% endif %}>
                                <label for="radio-deactive"
                                       class="c-btn-brick u-w-80px {% if not old('active', sdg.active) %}is-active{% endif %}">
                                    Désactivé
                                </label>
                            </div>
                            <div class="u-inline-block u-right">
                                <a href="{{ route('admin.sdgs.index', {categorie: sdgCategory.slug}) }}"
                                   class="c-btn c-btn--red u-mg-top-sm u-vertical-middle">
                                    Annuler
                                </a>
                                <button type="submit"
                                        class="c-btn c-btn--green u-mg-top-sm u-vertical-middle">
                                    Valider
                                </button>
                            </div>
                        </div>

                        <div class="u-clear"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
