{% extends "main.layout" %}

{% set asideContext = 'sdgs' %}

{% block main %}
    <div class="l-container u-pd">
        <h1 class="c-h1 u-grey25 u-normal-weight u-mg-bottom-sm">
            Liste des Objectifs de Développement Durable (ODD)
        </h1>

        <div class="c-card u-mg-bottom">
            <h2 class="u-mg-bottom">Choisir une catégorie</h2>
            <form class="u-pd-hz l-grid-row u-mg-bottom" method="GET" action="{{ route('admin.sdgs.index') }}">
                <div class="c-form-group u-mg-bottom-sm">
                    <label class="c-form-label" for="category">Catégorie</label>
                    <div class="c-addon-container">
                        <select id="category"
                                class="c-form-control c-form-control--select js-form-control"
                                name="categorie"
                                data-submit
                        >
                            <option value="">-</option>
                            {% for categorySlug, sdgCategory in config('sdg.categories.slug_raw') %}
                                    <option value="{{ categorySlug }}"
                                        {{ categorySelected == categorySlug ? 'selected="selected"' : '' }}
                                    >
                                        {{ sdgCategory.label }}
                                    </option>
                                {% endfor %}
                            </select>
                            <span class="c-icon icon-chevron-down" aria-hidden="true"></span>
                        </div>
                    </div>
            </form>

            {% if categorySelected %}
                <div class="c-table">
                    <div class="c-table__thead">
                        <div class="c-table__cell c-label">Objectif</div>
                        <div class="c-table__cell c-label">Statut</div>
                        <div class="c-table__cell c-label">Actions</div>
                    </div>
                    <div class="c-table__tbody">
                        {% if sdgs is not empty %}
                            {% for sdg in sdgs %}
                                <div class="c-table__row">
                                    <div class="c-table__cell u-pd-right">
                                        {{ sdg.title }}
                                    </div>
                                    <div class="c-table__cell u-pd-right">
                                        {% if sdg.active %}
                                            <span class="c-icon fa fa-2x fa-toggle-on u-green"></span>
                                        {% else %}
                                            <span class="c-icon fa fa-2x fa-toggle-off u-red"></span>
                                        {% endif %}
                                    </div>
                                    <div class="c-table__cell">
                                        <a href="{{ route('admin.sdgs.edit',{sdg: sdg.id}) }}"
                                           title="Editer {{ sdg.title }}"
                                           class="c-btn c-btn--stroke c-btn--squeeze c-btn--primary">
                                            <span class="c-icon fa fa-edit" aria-hidden="true"></span>
                                        </a>
                                        <a href="{{ route('admin.sdgs.professionals',{sdg: sdg.id}) }}"
                                           title="Liste de professionnels"
                                           class="c-btn c-btn--stroke c-btn--squeeze c-btn--primary">
                                            <span class="c-icon fa fa-tasks" aria-hidden="true"></span>
                                        </a>
                                    </div>
                                </div>
                            {% endfor %}
                            <div class="c-table__row u-h-6r u-bg-transparent">
                                <div class="u-absolute u-full-width u-pd-top-sm">
                                    <a href="{{ route('admin.sdgs.create',{sdgCategory: categorySelected}) }}"
                                       title="Créer un objectif"
                                       class="c-btn c-btn--stroke c-btn--squeeze c-btn--secondary u-right">
                                        Créer un objectif
                                    </a>
                                </div>
                            </div>

                        {% else %}
                            <div class="c-table__row">
                                <div class="c-table__cell u-pd-right">
                                    Il n'y a aucun objectif dans cette catégorie.
                                </div>
                                <div class="c-table__cell">
                                </div>
                                <div class="c-table__cell">
                                    <a href="{{ route('admin.sdgs.create',{sdgCategory: categorySelected}) }}"
                                       title="Créer un objectif"
                                       class="c-btn c-btn--squeeze c-btn--secondary">
                                        Créer un objectif
                                    </a>
                                </div>
                            </div>

                        {% endif %}
                    </div>
                </div>
            {% endif %}
        </div>

        <div class="c-card">
            <h2 class="u-mg-bottom">Exports des professionnels</h2>
            <div class="u-flex">
                <form action="{{ route('admin.sdgs.exportPdf') }}" method="POST">
                    {{ csrf_field() }}
                    <button class="c-btn c-btn--primary">
                        Export en PDF
                    </button>
                </form>
                <form action="{{ route('admin.sdgs.exportXls') }}" method="POST">
                    {{ csrf_field() }}
                    <button class="c-btn c-btn--primary u-mg-left">
                        Export en XLS
                    </button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
