{% extends "main.layout" %}

{% set asideContext = 'sdgs' %}

{% block main %}
    <div class="l-container u-pd">
        <h1 class="c-h1 u-grey25 u-normal-weight u-mg-bottom-sm">
            Liste des professionnels sur l'Objectifs : {{ sdg.title }}
        </h1>

        <div class="c-card u-mg-bottom">
            <div class="l-col-9">
                <h2 class="c-h2 u-mg-bottom">Consulter</h2>
            </div>
            <div class="l-col-3">
                <form class="u-pd-hz l-grid-row u-mg-bottom"
                      method="GET"
                      action="{{ route('admin.sdgs.professionals',{sdg: sdg.id}) }}">
                    <div class="c-form-group u-mg-bottom-sm">
                        <label class="c-form-label" for="group">Statut</label>
                        <div class="c-addon-container">
                            <select id="group"
                                    class="c-form-control c-form-control--select js-form-control"
                                    name="status"
                                    data-submit
                            >
                                <option value="">Tous</option>
                                <option value="ended"
                                    {{ app.request.status == 'ended' ? 'selected="selected"' : '' }}
                                >
                                    Terminé
                                </option>
                                <option value="ongoing"
                                    {{ app.request.status  == 'ongoing' ? 'selected="selected"' : '' }}
                                >
                                    En cours
                                </option>
                            </select>
                            <span class="c-icon icon-chevron-down" aria-hidden="true"></span>
                        </div>
                    </div>
                </form>
            </div>

            <div class="l-container">
                <div class="c-table">
                    <div class="c-table__thead">
                        <div class="c-table__cell c-label">Nom</div>
                        <div class="c-table__cell c-label">Commencé le</div>
                        <div class="c-table__cell c-label">Atteint le</div>
                        <div class="c-table__cell c-label">Actions</div>
                    </div>
                    <div class="c-table__tbody">
                        {% if professionals is not empty %}
                            {% for professional in professionals %}
                                <div class="c-table__row">
                                    <div class="c-table__cell u-pd-right">
                                        <a href="{{ route('admin.users.show',{id: professional.cyclos_user.id}) }}"
                                           class="c-link"
                                        >
                                            {{ professional.cyclos_user.name }}
                                        </a>
                                    </div>
                                    <div class="c-table__cell">
                                        {{ professional.created_at | date('d/m/Y') }}
                                    </div>
                                    <div class="c-table__cell">
                                        {% if professional.ended_at %}
                                            {{ professional.ended_at | date('d/m/Y') }}
                                        {% else %}
                                            <span class="c-icon far fa-hourglass"></span> En cours
                                        {% endif %}
                                    </div>
                                    <div class="c-table__cell">
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            <div class="c-table__row u-h-2r">
                                <div class="u-absolute u-full-width u-pd-top-sm">
                                    {% if app.request.status is empty or app.request.status == 'ongoing' %}
                                        Il n'y a aucun professionnel engagé pour réaliser cet objectif.
                                    {% else %}
                                        {% if app.request.status == 'ended' %}
                                            Il n'y a aucun professionnel ayant atteint cet objectif.
                                        {% endif %}
                                    {% endif %}
                                </div>
                            </div>

                        {% endif %}
                    </div>
                </div>

                <div class="l-grid-row u-mg-top">
                    <div class="l-col-12">
                        {% set sdgCatgory = config('sdg.categories.id_raw.'~sdg.category_id) %}
                        <a href="{{ route('admin.sdgs.index', {categorie: sdgCatgory.slug}) }}"
                           class="c-btn c-btn--secondary u-full-width"
                        >
                            Voir les autres objectifs - {{ sdgCatgory.label }}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
