<!DOCTYPE html>
<html lang="fr">

    <head>
        {% include 'framework.partials.head' %}

		<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">

		{% if config('app.env') == 'production' %}
			<link rel="stylesheet" href="{{ mix('css/somoney-main.min.css', 'assets') }}" media="screen" charset="utf-8">
			<link rel="stylesheet" href="{{ mix('css/somoney-styleguide.min.css', 'assets') }}" media="screen" charset="utf-8">
			<!--[if lte IE 9 ]>
			<script src="{{ mix('js/somoney-ieSupport.min.js', 'assets') }}"></script>
			<![endif]-->
		{% else %}
			<link rel="stylesheet" href="/assets/css/somoney-main.css" media="screen" charset="utf-8">
			<link rel="stylesheet" href="/assets/css/somoney-styleguide.css" media="screen" charset="utf-8">
			<!--[if lte IE 9 ]>
			<script src="/assets/js/somoney-ieSupport.js"></script>
			<![endif]-->
		{% endif %}

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.4.1/themes/prism.css">
    </head>

    <body>

        <main class="sg-main">
            {% block content %}
            {% endblock %}
        </main>

		{# Script that stop the html from being interpreted when it's between special tags #}
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.4.1/prism.js" data-manual></script>
        <script>
            document.addEventListener("DOMContentLoaded", function(event) {
                var highlightScope = document.getElementsByClassName('language-markup'),
                    highlightScopeLen = highlightScope.length;
                function escapeHtml(string) {
                    var escaped = {
                        '&': '&amp;',
                        '<': '&lt;',
                        '>': '&gt;',
                        "'": '&#39;',
                        '"': '&quot;',
                        '   ' : ' ',
                        ' ': ' ',
                    };
                    return string.replace(/[&<>'"   ]/g, function(character) {
                        return escaped[character];
                    });
                }
                for (var i = 0; i < highlightScopeLen; i++) {
                    var innerHTML = highlightScope[i].innerHTML,
                        newInnerHTML = escapeHtml(innerHTML);
                    highlightScope[i].innerHTML = newInnerHTML;
                }
                Prism.highlightAll();
            });
        </script>

		{% if config('app.env') == 'production' %}
            <script src="{{ mix('js/somoney-framework.min.js', 'assets') }}"></script>
            <script src="{{ mix('js/somoney-styleguide.min.js', 'assets') }}"></script>
        {% else %}
            <script src="/assets/js/somoney-framework.js"></script>
            <script src="/assets/js/somoney-styleguide.js"></script>
		{% endif %}

    </body>
</html>
