{% extends "framework.layout" %}

{% block content %}
    <div class="l-container-12 u-pd-navbar l-view l-view--professional">
        <div class="l-grid-row l-grid-row--no-gutter">
            <div class="l-col-6">
                <div class=" u-pd-lg c-full-img-container u-bg-main">
                    <div class="l-container-5">
                        <img src="{{ asset('/assets/img/signup.svg') }}" alt="" class="c-img u-object-fit-contain">
                    </div>
                </div>
            </div>
            <div class="l-col-6-sm u-mg-vt-lg">
                <div class="l-container-4 u-pd-hz u-inline-center">
                    <h1 class="c-h1 u-mg-bottom-lg">Adhésion Professionnel&nbsp;: Entreprise et Association</h1>
                    {% if errors.any() %}
                        <div class="c-alert c-alert--error">
                            <ul class="c-list">
                                {% for error in errors.all() %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                    <form method="POST" action="{{ route('register.professional.credit.membership.post') }}">
                        {{ csrf_field() }}
                        <div class="c-form-group">
                            <div class="c-form-group">
                                <label class="c-form-label" for="amount">
                                    {{ config('somoney.content.signup.professional.membership.registration_price_grid') | raw }}
                                </label>
                                <div class="c-addon-container">
                                    <input type="number"
                                           class="c-form-control js-form-control"
                                           step="0.01"
                                           min="{{ config('somoney.credit.membership.min.registration.professional') }}"
                                           id="amount"
                                           name="amount"
                                           value="{{ config('somoney.credit.membership.min.registration.professional') }}">
                                    <i class="c-icon fas fa-euro-sign"></i>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="c-btn c-btn--primary c-btn--full-width u-mg-top">Suivant</button>
                    </form>
                    {% if config('somoney.content.signup.professional.membership.registration_price_grid_bottom_information') %}
                        {{ config('somoney.content.signup.professional.membership.registration_price_grid_bottom_information') | raw }}
                    {% endif %}
                </div>
            </div>
            <div class="l-col-6">
                <div class=" u-pd-lg c-full-img-container u-bg-main">
                    <div class="l-container-5">
                        <img src="{{ asset('assets/img/signup.svg') }}" alt="" class="c-img u-object-fit-contain">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}



