{% extends "framework.layout" %}

{% set asideContext = 'ads' %}

{% block content %}

    <div class="l-dashboard">
        <div class="l-dashboard__aside">
            {% if viewModifier == config('cyclos.internal-names.admin') %}
                {% include 'main.partials.aside.admin' %}
            {% else %}
                {% include 'main.partials.aside.user' %}
            {% endif %}
        </div>
        <div class="l-dashboard__main u-bg-grey u-pd-navbar">
            <div class="l-container u-pd">
                <h1 class="c-h1 u-grey25 u-mg-bottom u-normal-weight">Ajouter un bon plan</h1>

                <div class="l-grid-row">
                    <div class="l-col-8">
                        <div class="c-card-report">

                            <img class="c-img" title="" alt="" src="/assets/img/placeholder.png">

                            <h2 class="c-h2 u-mg-bottom-sm">Description</h2>

                            <form method="POST"
                                  action="{{ viewModifier == 'admin' ? route('admin.users.ads.store', {userId : user.id}) : route('ads.store', {userId : user.id}) }}"
                                  enctype="multipart/form-data">
                                {{ csrf_field() }}
                                <input type="hidden" name="max_item" value="5"/>
                                <input type="hidden" name="currency" value="{{ currency }}"/>
                                {% include 'main.partials.form-errors' %}
                                <div class="l-col-12 u-mg-bottom-sm">
                                    <div class="c-form-group">
                                        <label class="c-form-label" for="profile">Ajouter des images (jusqu'à 5)</label>
                                        <div class="u-relative">
                                            <input name="images[]"
                                                   type="file"
                                                   class="c-form-control c-form-control--file js-file-multiple-input"
                                                   multiple>
                                            <div class="c-addon-container">
                                                <input class="c-form-control js-file-input-display"
                                                       placeholder="Parcourir...">
                                                <span class="c-icon icon-folder-open"></span>
                                            </div>
                                        </div>
                                        {% include 'main.partials.form-file-constraints' with config('somoney.form_constraints.image') %}
                                    </div>
                                </div>

                                <div class="l-col-6 u-mg-bottom-sm">
                                    <div class="c-form-group">
                                        <label class="c-form-label c-form-label--required" for="name">Titre</label>
                                        <input type="text"
                                               class="c-form-control js-form-control"
                                               id="name"
                                               placeholder=""
                                               value="{{ old('name') }}"
                                               name="name">
                                    </div>
                                </div>

                                <div class="l-col-6 u-mg-bottom-sm">
                                    <div class="c-form-group">
                                        <label class="c-form-label c-form-label--required"
                                               for="category">Catégorie</label>
                                        <div class="c-addon-container">
                                            <select id="category"
                                                    name="category"
                                                    class="c-form-control c-form-control--select js-form-control">
                                                {% for category in categories %}
                                                    {% set sel = category.id == old('category') ? 'selected="selected"' : '' %}
                                                    <option value="{{ category.id }}" {{ sel }}>{{ category.name }}</option>
                                                {% endfor %}
                                            </select>
                                            <span class="c-icon icon-chevron-down" aria-hidden="true"></span>
                                        </div>
                                    </div>
                                </div>

                                <div class="l-col-12 u-mg-bottom-sm">
                                    <div class="c-form-group">
                                        <label class="c-form-label c-form-label--required" for="description">
                                            Description
                                        </label>
                                        <textarea rows="3"
                                                  class="c-form-control c-form-control--textarea js-form-control"
                                                  id="description"
                                                  placeholder="Description..."
                                                  name="description">{{ old('description') | raw }}</textarea>
                                    </div>
                                </div>

                                <div class="l-col-6 u-mg-bottom-sm">
                                    <div class="c-form-group">
                                        <label class="c-form-label c-form-label--required" for="start-date">
                                            Date de début
                                        </label>
                                        <input id="start-date"
                                               name="start_date"
                                               type="text"
                                               class="c-form-control c-form-control--date date-picker"
                                               placeholder="{{ today | date('d/m/Y') }}"
                                               value="{{ old('start_date') }}">
                                    </div>
                                </div>

                                <div class="l-col-6 u-mg-bottom-sm">
                                    <div class="c-form-group">
                                        <label class="c-form-label c-form-label--required" for="end-date">
                                            Date de fin
                                        </label>
                                        <input id="end-date"
                                               name="end_date"
                                               type="text"
                                               class="c-form-control c-form-control--date date-picker"
                                               placeholder="{{ today | date('d/m/Y') }}"
                                               value="{{ old('end_date') }}">
                                    </div>
                                </div>

                                <div class="l-col-12 u-mg-bottom-sm">
                                    <div class="c-form-group">
                                        <label class="c-form-label" for="tag">Mots clés</label>
                                        <input name="tags"
                                               type="text"
                                               class="c-form-control js-form-control"
                                               id="tag"
                                               value="{{ old('tags') }}"
                                               placeholder="tag, other">
                                    </div>
                                </div>
                                <div class="u-inline-right u-mg-top-lg">
                                    <div class="u-inline-block">
                                        <button type="button" class="c-btn c-btn--stroke c-btn--red u-mg-top-sm">
                                            Annuler
                                        </button>
                                        <button type="submit" class="c-btn c-btn--stroke c-btn--green u-mg-top-sm">
                                            Ajouter
                                        </button>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock %}
