{% extends "framework.layout" %}

{% set asideContext = 'ads' %}

{% block content %}

    <div class="l-dashboard">
        <div class="l-dashboard__aside">
            {% if viewModifier == config('cyclos.internal-names.admin') %}
                {% include 'main.partials.aside.admin' %}
            {% else %}
                {% include 'main.partials.aside.user' %}
            {% endif %}
        </div>
        <div class="l-dashboard__main u-bg-grey u-pd-navbar">
            <div class="l-container u-pd">
                <h1 class="c-h1 u-grey25 u-mg-bottom u-normal-weight">Modifier le bon plan</h1>

                <div class="l-grid-row">
                    <div class="l-col-8">
                        {% for image in images %}
                            <div title="" class="c-card u-mg-bottom">
                                <img src="{{ image.url }}" alt="" class="c-img js-js-lazyload">
                                <div class=" u-inline-center">
                                    <form method="POST"
                                          action="{{ viewModifier == 'admin' ? route('admin.users.ads.deleteImage', {userId: userId, imageId: image.id}) : route('ads.deleteImage', {imageId: image.id}) }}">
                                        {{ csrf_field() }}
                                        <button type="submit"
                                                class="u-mg-top c-btn c-btn--stroke c-btn--red c-btn--squeeze">
                                            Supprimer
                                        </button>
                                    </form>
                                </div>
                            </div>
                        {% endfor %}
                        <div class="c-card-report">
                            <h2 class="c-h2 u-mg-bottom-sm">Mettre à jour les informations</h2>
                            <form method="POST"
                                  action="{{ viewModifier == 'admin' ? route('admin.users.ads.update', {userId: userId, adId: adId}) : route('ads.update',{adId: adId}) }}"
                                  enctype="multipart/form-data">
                                {{ csrf_field() }}
                                <input type="hidden" name="max_item" value="{{ 5 - images|length }}"/>
                                {% include 'main.partials.form-errors' %}
                                <div class="l-col-12 u-mg-bottom-sm">
                                    <div class="c-form-group">
                                        <label class="c-form-label" for="form-name">Changer les images (5 max)</label>
                                        <div class="u-relative">
                                            <input name="images[]"
                                                   type="file"
                                                   class="c-form-control c-form-control--file js-file-multiple-input"
                                                   multiple>
                                            <div class="c-addon-container">
                                                <input class="c-form-control js-file-input-display"
                                                       placeholder="Parcourir...">
                                                <span class="c-icon icon-folder-open"></span>
                                            </div>
                                        </div>
                                        {% include 'main.partials.form-file-constraints' with config('somoney.form_constraints.image') %}
                                    </div>
                                </div>

                                <div class="l-col-6 u-mg-bottom-sm">
                                    <div class="c-form-group">
                                        <label class="c-form-label c-form-label--required" for="title">Titre</label>
                                        <input type="text"
                                               class="c-form-control js-form-control"
                                               id="title"
                                               name="name"
                                               value="{{ old('name',advertisement.name) }}">
                                    </div>
                                </div>

                                <div class="l-col-6 u-mg-bottom-sm">
                                    <div class="c-form-group">
                                        <label class="c-form-label c-form-label--required"
                                               for="category">Catégorie</label>
                                        <div class="c-addon-container">
                                            <select id="category"
                                                    name="category"
                                                    class="c-form-control c-form-control--select js-form-control">
                                                {% for category in categories %}
                                                    <option {% if category.id == old('category', advertisement.categories[0]) %}selected{% endif %}
                                                            value="{{ category.id }}">{{ category.name }}</option>
                                                {% endfor %}
                                            </select>
                                            <span class="c-icon icon-chevron-down" aria-hidden="true"></span>
                                        </div>
                                    </div>
                                </div>

                                <div class="l-col-12 u-mg-bottom-sm">
                                    <div class="c-form-group">
                                        <label class="c-form-label c-form-label--required"
                                               for="description">Description</label>
                                        <textarea rows="3"
                                                  class="c-form-control c-form-control--textarea js-form-control"
                                                  id="description"
                                                  placeholder="Description..."
                                                  name="description">{{ old('description', advertisement.description) | raw }}</textarea>
                                    </div>
                                </div>

                                <div class="l-col-6 u-mg-bottom-sm">
                                    <div class="c-form-group">
                                        <label class="c-form-label c-form-label--required" for="start-date">
                                            Date de début
                                        </label>
                                        <input id="start-date"
                                               name="start_date"
                                               type="text"
                                               class="c-form-control c-form-control--date date-picker"
                                               placeholder="{{ today | date('d/m/Y') }}"
                                               value="{{ old('start_date', advertisement.publicationPeriod.begin | date('d/m/Y')) }}">
                                    </div>
                                </div>

                                <div class="l-col-6 u-mg-bottom-sm">
                                    <div class="c-form-group">
                                        <label class="c-form-label c-form-label--required" for="end-date">
                                            Date de fin
                                        </label>
                                        <input id="end-date"
                                               name="end_date"
                                               type="text"
                                               class="c-form-control c-form-control--date date-picker"
                                               placeholder="{{ today | date('d/m/Y') }}"
                                               value="{{ old('end_date',advertisement.publicationPeriod.end | date('d/m/Y')) }}">
                                    </div>
                                </div>

                                <div class="l-col-12 u-mg-bottom-sm">
                                    <div class="c-form-group">
                                        <label class="c-form-label" for="tag">Mots clés</label>
                                        <input name="tags"
                                               type="text"
                                               class="c-form-control js-form-control"
                                               id="tag"
                                               placeholder="tag, other"
                                               value="{{ old('tags',advertisement.customValues.tags) }}">
                                    </div>
                                </div>
                                <div class="u-inline-right u-mg-top-lg">
                                    <a href="{{ viewModifier == 'admin' ? route('admin.users.ads.index', {userId: userId}) : route('ads.index') }}"
                                       class="c-btn c-btn--stroke c-btn--red">
                                        Annuler
                                    </a>
                                    <button type="submit" class="u-vertical-top c-btn c-btn--stroke c-btn--green">
                                        Mettre à jour
                                    </button>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock %}
