{% extends "main.layout" %}

{% set asideContext = 'ads' %}

{% block main %}
    <div class="l-container u-pd">
            <h1 class="c-h1 u-grey25 u-mg-bottom u-normal-weight">{{ (viewModifier == 'admin') ? ('Bons plans de ' ~ user.name) : ('Mes bons plans') }}</h1>
        <div class="l-grid-row">
            <div class="l-col-8">
                {% for advertisement in ads %}
                    <div class="c-card-report u-mg-bottom">
                        {% if advertisement.image.url %}
                            <img class="c-img" alt="{{ advertisement.name }}" src="{{ advertisement.image.url }}">
                        {% endif %}

                        <h2 class="c-h2 u-mg-bottom-sm">{{ advertisement.name }}</h2>
                        <p class="c-p u-mg-bottom">{{ advertisement.description | raw }}</p>
                        {% if  advertisement.customValues[0].stringValue %}
                            {% for tag in advertisement.customValues[0].stringValue|split(',') %}
                                <div class="c-tag">#{{ tag }}</div>
                            {% endfor %}
                        {% endif %}
                        <br>
                        <p class="c-p u-mg-bottom">
                            Du {{ advertisement.publicationPeriod.begin | date('d/m/Y') }}
                            au {{ advertisement.publicationPeriod.end | date('d/m/Y') }}
                        </p>
                        <div class="u-inline-right">
                            <a href="{{ viewModifier == 'admin' ? route('admin.users.ads.edit', {userId: user.id, adId: advertisement.id}): route('ads.edit', {adId: advertisement.id}) }}"
                               class="u-vertical-center u-inline-block u-mg-top c-btn c-btn--green c-btn--stroke c-btn--squeeze">
                                Modifier
                            </a>
                            <form method="POST"
                                  action="{{ viewModifier == 'admin' ? route('admin.users.ads.delete',{adId: advertisement.id}) : route('ads.delete',{adId: advertisement.id}) }}"
                                  class="u-inline-block u-mg-top u-vertical-center">
                                {{ csrf_field() }}
                                <button type="submit" class="c-btn c-btn--stroke c-btn--red c-btn--squeeze">
                                    Supprimer
                                </button>
                            </form>
                        </div>
                    </div>
                {% else %}
                    <div class="c-card-report u-mg-bottom">
                        <h2 class="c-h2 u-mg-bottom-sm">Aucun bons plans à afficher</h2>
                    </div>
                {% endfor %}
            </div>

            <div class="l-col-4">
                <div class="c-card">
                    <h3 class="c-h3">Proposer des bons plans</h3>
                    <p class="c-p u-mg-bottom">
                        Créer un Bon Plan en {{ config('somoney.money') }} pour développer vos échanges.
                    </p>
                    <a href="{{ viewModifier == 'admin' ? route('admin.users.ads.create', {userId: user.id}) : route('ads.create') }}"
                       title=""
                       alt=""
                       class="c-btn c-btn--green c-btn--stroke c-btn--squeeze c-btn--full-width">Ajouter un bon plan
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
