<section class="sg-section badge-buttons">

	<h2 id="badges" class="c-h2 sg-h2">Badge Button</h2>

	<p class="c-p u-mg-bottom-sm">The badge button component is used for form step or as nav buttons.</p>
	<p class="c-p u-mg-bottom-sm">You can inverse color with the <code>--reverse</code> modifier.</p>

	<br>

	<h3 class="c-h3 sg-h3">Basic badge buttons</h3>

	<div class="sample">

		<button type="button" class="c-btn-badge" style="margin: 0 10px 0 0; display: inline-block;">
			<p class="c-p">1</p>
		</button>
		<button type="button" disabled class="c-btn-badge" style="margin: 0 10px 0 0; display: inline-block;">
			<p class="c-p">1</p>
		</button>
		<button type="button" class="c-btn-badge is-active" style="margin: 0 10px 0 0; display: inline-block;">
			<p class="c-p">2</p>
		</button>
		<button type="button" class="c-btn-badge is-success" style="margin: 0 10px 0 0; display: inline-block;">
			<p class="c-p">3</p>
		</button>

	</div>

	<br>

	<div class="code">
		<pre>
			<code class="language-markup">

				<button type="button" class="c-btn-badge">
					<p class="c-p">1</p>
				</button>
				<button type="button" disabled class="c-btn-badge">
					...
				</button>
				<button type="button" class="c-btn-badge is-active">
					...
				</button>
				<button type="button" class="c-btn-badge is-success">
					...>
				</button>

			</code>
		</pre>
	</div>

	<br>

	<h3 class="c-h3 sg-h3">Badge buttons with an icon</h3>

	<div class="sample">

		<button type="button" class="c-btn-badge c-btn-badge--icon" style="margin: 0 10px 0 0; display: inline-block;">
			<div class="icon-cross c-icon"></div>
		</button>
		<button type="button" disabled class="c-btn-badge c-btn-badge--icon" style="margin: 0 10px 0 0; display: inline-block;">
			<div class="icon-cross c-icon"></div>
		</button>
		<button type="button" class="c-btn-badge c-btn-badge--icon is-active" style="margin: 0 10px 0 0; display: inline-block;">
			<div class="icon-cross c-icon"></div>
		</button>

		<br>

		<div class="l-main l-view--professional">
			<button type="button" class="c-btn-badge c-btn-badge--icon c-btn-badge--reverse" style="margin: 0 10px 0 0; display: inline-block;">
				<div class="icon-cross c-icon"></div>
			</button>
			<button type="button" disabled class="c-btn-badge c-btn-badge--icon c-btn-badge--reverse" style="margin: 0 10px 0 0; display: inline-block;">
				<div class="icon-cross c-icon"></div>
			</button>
			<button type="button" class="c-btn-badge c-btn-badge--icon c-btn-badge--reverse is-active" style="margin: 0 10px 0 0; display: inline-block;">
				<div class="icon-cross c-icon"></div>
			</button>
		</div>

	</div>

	<br>

	<div class="code">
		<pre>
			<code class="language-markup">

				<button type="button" class="c-btn-badge c-btn-badge--icon">
					<div class="icon-cross c-icon"></div>
				</button>
				<button type="button" disabled class="c-btn-badge c-btn-badge--icon">
					...
				</button>
				<button type="button" class="c-btn-badge c-btn-badge--icon is-active">
					...
				</button>


				<button type="button" class="c-btn-badge c-btn-badge--icon c-btn-badge--reverse">
					...
				</button>
				<button type="button" disabled class="c-btn-badge c-btn-badge--icon c-btn-badge--reverse">
					...
				</button>
				<button type="button" class="c-btn-badge c-btn-badge--icon c-btn-badge--reverse is-active">
					...
				</button>

			</code>
		</pre>
	</div>
</section>
