<section class="sg-section brick-buttons">

	<h2 id="badges" class="c-h2 sg-h2">Brick Button</h2>

	<p class="c-p u-mg-bottom-sm">The brick button is composed with a simple text and a <code>c-btn-badge</code>.</p>
	<p class="c-p u-mg-bottom-sm">It is used to make important call-to-action or tab.</p>

	<br>

	<div class="sample">

		<button type="button" class="c-btn-brick c-btn-brick--customer">
			<div class="c-btn-badge c-btn-badge--icon">
				<div class="icon-user c-icon"></div>
			</div>
			<p class="c-p">Particulier</p>
		</button>

		<button type="button" class="c-btn-brick c-btn-brick--business">
			<div class="c-btn-badge c-btn-badge--icon">
				<div class="icon-cross c-icon"></div>
			</div>
			<p class="c-p">Pro</p>
		</button>

	</div>

	<br>

	<div class="code">
		<pre>
			<code class="language-markup">

				<button type="button" class="c-btn-brick c-btn-brick--customer">
					<div class="c-btn-badge c-btn-badge--icon">
						<div class="icon-user c-icon"></div>
					</div>
					<p class="c-p">Particulier</p>
				</button>

				<button type="button" class="c-btn-brick c-btn-brick--business">
					<div class="c-btn-badge c-btn-badge--icon">
						<div class="icon-cross c-icon"></div>
					</div>
					<p class="c-p">Pro</p>
				</button>

			</code>
		</pre>
	</div>

</section>
