<section class="sg-section">

	<h2 class="c-h2 sg-h2">Buttons</h2>

	<p class="c-p u-mg-bottom-sm">Button can be used in both <code>a</code> or <code>button</code> tag</p>

	<br>

	<div class="sample">
		<a href="#" class="c-btn">Valider &amp; continuer</a>

		<a href="#" class="c-btn c-btn--primary">Valider &amp; continuer</a>

		<a href="#" class="c-btn c-btn--secondary">Valider &amp; continuer</a>

		<a href="#" class="c-btn c-btn--tertiary">Valider &amp; continuer</a>

		<a href="#" class="c-btn c-btn--green">Valider &amp; continuer</a>
	</div>

	<div class="code">
		<pre>
			<code class="language-markup">
				<a href="#" class="c-btn">Valider &amp; continuer</a>

				<a href="#" class="c-btn c-btn--primary">Valider &amp; continuer</a>

				<a href="#" class="c-btn c-btn--secondary">Valider &amp; continuer</a>

				<a href="#" class="c-btn c-btn--tertiary">Valider &amp; continuer</a>

				<a href="#" class="c-btn c-btn--green">Valider &amp; continuer</a>
			</code>
		</pre>
	</div>

	<br>

	<h3 class="c-h3 sg-h3">Button Stroke</h3>

	<div class="sample">

		<a href="#" class="c-btn c-btn--stroke">Valider &amp; continuer</a>

		<a href="#" class="c-btn c-btn--stroke c-btn--primary">Valider &amp; continuer</a>

		<a href="#" class="c-btn c-btn--stroke c-btn--secondary">Valider &amp; continuer</a>

		<a href="#" class="c-btn c-btn--stroke c-btn--tertiary">Valider &amp; continuer</a>

		<a href="#" class="c-btn c-btn--stroke c-btn--green">Valider &amp; continuer</a>
	</div>

	<div class="code">
		<pre>
			<code class="language-markup">
				<a href="#" class="c-btn c-btn--stroke">Valider &amp; continuer</a>

				<a href="#" class="c-btn c-btn--stroke c-btn--primary">Valider &amp; continuer</a>

				<a href="#" class="c-btn c-btn--stroke c-btn--secondary">Valider &amp; continuer</a>

				<a href="#" class="c-btn c-btn--stroke c-btn--tertiary">Valider &amp; continuer</a>

				<a href="#" class="c-btn c-btn--stroke c-btn--green">Valider &amp; continuer</a>
			</code>
		</pre>
	</div>

	<br>

	<h3 class="c-h3 sg-h3">Button utilities</h3>

	<p class="c-p u-mg-bottom-sm">If you need your button to take all the available space of a container, add the <code>.c-btn--full-width</code> class.</p>
	<p class="c-p u-mg-bottom-sm">To adapt the width depending of the content, add the <code>.c-btn--squeeze</code> class.</p>

	<div class="sample">
		<a href="#" class="c-btn c-btn--full-width c-btn--stroke c-btn--primary">Valider &amp; continuer</a>
		<br>
		<a href="#" class="c-btn c-btn--squeeze c-btn--green">S'inscrire</a>
	</div>

	<div class="code">
		<pre>
			<code class="language-markup">
				<a href="#" class="c-btn c-btn--full-width c-btn--stroke c-btn--primary">Valider &amp; continuer</a>

				<a href="#" class="c-btn c-btn--squeeze c-btn--green">S'inscrire</a>
			</code>
		</pre>
	</div>
</section>
