<section class="sg-section">

	<h2 class="c-h2 sg-h2">File button</h2>

	<div class="sample">
		<div class="c-file-button">
			<div class="c-addon-container c-addon-container--clickable">
				<button type="button" class="c-icon icon-cross"></button>

				<p class="c-p"><span class="c-icon icon-photo u-mg-right-sm"></span>photo-id-recto.jpg</p>
			</div>
		</div>
	</div>

	<br>

	<div class="code">
		<pre>
			<code class="language-markup">
				<div class="c-file-button">
					<div class="c-addon-container c-addon-container--clickable">
						<button type="button" class="c-icon icon-cross"></button>

						<p class="c-p"><span class="c-icon icon-photo u-mg-right-sm"></span>photo-id-recto.jpg</p>
					</div>
				</div>
			</code>
		</pre>
	</div>
</section>
