<section class="sg-section">

	<h2 class="c-h2 sg-h2">Links</h2>

	<p class="c-p u-mg-bottom-sm">The <code>c-link</code> component is used to highlight a link.</p>

	<br>

	<div class="sample">
		<a href="#" title="" class="c-link">Link lorem</a>
		<br>
		<br>
		<button type="button" class="c-link">Link lorem</button>
	</div>

	<br>

	<div class="code">
		<pre>
			<code class="language-markup">
				<a href="#" title="" class="c-link">Link lorem</a>

				<button type="button" class="c-link">Link lorem</button>
			</code>
		</pre>
	</div>
</section>
