<soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/">
    <soap:Body>
        <ns2:doPaymentResponse xmlns:ns2="http://payments.webservices.cyclos.strohalm.nl/">
            <return>
                <status>{{ status }}</status>
                {% if transfer %}
                <transfer>
                    <id>{{ transfer.id }}</id>
                    <date>{{ transfer.date }}</date>
                    <formattedDate>{{ transfer.date | date('d/m/Y') }}</formattedDate>
                    <processDate>{{ transfer.date }}</processDate>
                    <formattedProcessDate>{{ transfer.date | date('d/m/Y') }}</formattedProcessDate>
                    <amount>{{ transfer.amount | number_format(2, '.', '') }}</amount>
                    <formattedAmount>{{ transfer.amount | number_format(2, '.', '') }} SN</formattedAmount>
                    <status>{{ status }}</status>
                    <description>{{ transfer.description }}</description>
                    <fromMember>
                        <id>{{ transfer.fromUser.id }}</id>
                        <name>{{ transfer.fromUser.display }}</name>
                        <username>{{ transfer.fromUser.username }}</username>
                    </fromMember>
                    <member>
                        <id>{{ transfer.toUser.id }}</id>
                        <name>{{ transfer.toUser.display }}</name>
                        <username>{{ transfer.toUser.username }}</username>
                    </member>
                </transfer>
                {% endif %}
            </return>
        </ns2:doPaymentResponse>
    </soap:Body>
</soap:Envelope>
