<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	{# <link type="text/css" rel="stylesheet" href="/cyclos/services/?stylesheet=1"> #}
	<meta http-equiv=content-type content="text/html; charset=UTF-8">
	<title>CXF - Service list
	</title>
</head>
<body>
	<span class="heading">Available SOAP services:</span>
	<br/>
	<table cellpadding="1" cellspacing="1" border="1" width="100%">
		<tr>
			<td>
				<span class="porttypename">AccessWebService</span>
				<ul>
					<li>changeCredentials</li>
					<li>changeChannels</li>
					<li>checkChannel</li>
					<li>isChannelEnabledForMember</li>
					<li>checkCredentials</li>
				</ul>
			</td>
			<td>
				<span class="field">Endpoint address:</span>
				<span class="value">http://localhost:8601/cyclos/services/access</span>
				<br/>
				<span class="field">WSDL :</span>
				<a href="http://localhost:8601/cyclos/services/access?wsdl">{http://access.webservices.cyclos.strohalm.nl/}access</a>
				<br/>
				<span class="field">Target namespace:</span>
				<span class="value">http://access.webservices.cyclos.strohalm.nl/</span>
			</td>
		</tr>
		<tr>
			<td>
				<span class="porttypename">AccountWebService</span>
				<ul>
					<li>searchAccountHistory</li>
					<li>searchMultipleAccountHistories</li>
					<li>searchTransferTypes</li>
					<li>loadTransfer</li>
					<li>getMemberAccounts</li>
				</ul>
			</td>
			<td>
				<span class="field">Endpoint address:</span>
				<span class="value">http://localhost:8601/cyclos/services/account</span>
				<br/>
				<span class="field">WSDL :</span>
				<a href="http://localhost:8601/cyclos/services/account?wsdl">{http://accounts.webservices.cyclos.strohalm.nl/}account</a>
				<br/>
				<span class="field">Target namespace:</span>
				<span class="value">http://accounts.webservices.cyclos.strohalm.nl/</span>
			</td>
		</tr>
		<tr>
			<td>
				<span class="porttypename">AdWebService</span>
				<ul>
					<li>listCategoryTree</li>
					<li>listCategories</li>
					<li>loadCategory</li>
					<li>load</li>
					<li>fullTextSearch</li>
					<li>search</li>
				</ul>
			</td>
			<td>
				<span class="field">Endpoint address:</span>
				<span class="value">{{ url('/') }}/api/webhooks/ads</span>
				<br/>
				<span class="field">WSDL :</span>
				<a href="{{ url('/') }}/api/webhooks/ads?wsdl">{http://ads.webservices.cyclos.strohalm.nl/}ads</a>
				<br/>
				<span class="field">Target namespace:</span>
				<span class="value">http://ads.webservices.cyclos.strohalm.nl/</span>
			</td>
		</tr>
		<tr>
			<td>
				<span class="porttypename">FieldWebService</span>
				<ul>
					<li>possibleValuesForMemberFieldGivenParent</li>
					<li>possibleValuesForMemberField</li>
					<li>paymentFields</li>
					<li>memberFieldsForAdSearch</li>
					<li>adFieldsForAdSearch</li>
					<li>possibleValuesForAdField</li>
					<li>possibleValuesForAdFieldGivenParent</li>
					<li>memberFieldsForMemberSearch</li>
					<li>memberFields</li>
					<li>allMemberFields</li>
					<li>possibleValuesForPaymentFields</li>
					<li>allAdFields</li>
				</ul>
			</td>
			<td>
				<span class="field">Endpoint address:</span>
				<span class="value">{{ url('/') }}/api/webhooks/fields</span>
				<br/>
				<span class="field">WSDL :</span>
				<a href="{{ url('/') }}/api/webhooks/fields?wsdl">{http://fields.webservices.cyclos.strohalm.nl/}fields</a>
				<br/>
				<span class="field">Target namespace:</span>
				<span class="value">http://fields.webservices.cyclos.strohalm.nl/</span>
			</td>
		</tr>
		<tr>
			<td>
				<span class="porttypename">InfoTextWebService</span>
				<ul>
					<li>loadById</li>
					<li>search</li>
					<li>loadByAlias</li>
				</ul>
			</td>
			<td>
				<span class="field">Endpoint address:</span>
				<span class="value">{{ url('/') }}/api/webhooks/infoTexts</span>
				<br/>
				<span class="field">WSDL :</span>
				<a href="{{ url('/') }}/api/webhooks/infoTexts?wsdl">{http://infotexts.webservices.cyclos.strohalm.nl/}infoTexts</a>
				<br/>
				<span class="field">Target namespace:</span>
				<span class="value">http://infotexts.webservices.cyclos.strohalm.nl/</span>
			</td>
		</tr>
		<tr>
			<td>
				<span class="porttypename">MemberWebService</span>
				<ul>
					<li>loadByUsername</li>
					<li>registerMember</li>
					<li>updateMemberGroup</li>
					<li>loadByPrincipal</li>
					<li>updateMember</li>
					<li>search</li>
					<li>listManagedGroups</li>
					<li>load</li>
					<li>fullTextSearch</li>
				</ul>
			</td>
			<td>
				<span class="field">Endpoint address:</span>
				<span class="value">http://localhost:8601/cyclos/services/members</span>
				<br/>
				<span class="field">WSDL :</span>
				<a href="http://localhost:8601/cyclos/services/members?wsdl">{http://members.webservices.cyclos.strohalm.nl/}members</a>
				<br/>
				<span class="field">Target namespace:</span>
				<span class="value">http://members.webservices.cyclos.strohalm.nl/</span>
			</td>
		</tr>
		<tr>
			<td>
				<span class="porttypename">PaymentWebService</span>
				<ul>
					<li>confirmPayment</li>
					<li>requestPaymentConfirmation</li>
					<li>doPayment</li>
					<li>doBulkReverse</li>
					<li>expireTicket</li>
					<li>doBulkChargeback</li>
					<li>simulatePayment</li>
					<li>reverse</li>
					<li>chargeback</li>
					<li>doBulkPayment</li>
				</ul>
			</td>
			<td>
				<span class="field">Endpoint address:</span>
				<span class="value">{{ url('/') }}/api/webhooks/payment</span>
				<br/>
				<span class="field">WSDL :</span>
				<a href="{{ url('/') }}/api/webhooks/payment?wsdl">{http://payments.webservices.cyclos.strohalm.nl/}payment</a>
				<br/>
				<span class="field">Target namespace:</span>
				<span class="value">http://payments.webservices.cyclos.strohalm.nl/</span>
			</td>
		</tr>
		<tr>
			<td>
				<span class="porttypename">PosWebService</span>
				<ul>
					<li>makePayment</li>
					<li>getAccountStatus</li>
					<li>searchAccountHistory</li>
					<li>chargeback</li>
					<li>getInitializationData</li>
					<li>receivePayment</li>
				</ul>
			</td>
			<td>
				<span class="field">Endpoint address:</span>
				<span class="value">{{ url('/') }}/api/webhooks/pos</span>
				<br/>
				<span class="field">WSDL :</span>
				<a href="{{ url('/') }}/api/webhooks/pos?wsdl">{http://pos.webservices.cyclos.strohalm.nl/}pos</a>
				<br/>
				<span class="field">Target namespace:</span>
				<span class="value">http://pos.webservices.cyclos.strohalm.nl/</span>
			</td>
		</tr>
		<tr>
			<td>
				<span class="porttypename">SmsWebService</span>
				<ul>
					<li>sendSms</li>
				</ul>
			</td>
			<td>
				<span class="field">Endpoint address:</span>
				<span class="value">{{ url('/') }}/api/webhooks/sms</span>
				<br/>
				<span class="field">WSDL :</span>
				<a href="{{ url('/') }}/api/webhooks/sms?wsdl">{http://sms.webservices.cyclos.strohalm.nl/}sms</a>
				<br/>
				<span class="field">Target namespace:</span>
				<span class="value">http://sms.webservices.cyclos.strohalm.nl/</span>
			</td>
		</tr>
		<tr>
			<td>
				<span class="porttypename">WebShopWebService</span>
				<ul>
					<li>get</li>
					<li>generate</li>
				</ul>
			</td>
			<td>
				<span class="field">Endpoint address:</span>
				<span class="value">{{ url('/') }}/api/webhooks/webshop</span>
				<br/>
				<span class="field">WSDL :</span>
				<a href="{{ url('/') }}/api/webhooks/webshop?wsdl">{http://webshop.webservices.cyclos.strohalm.nl/}webshop</a>
				<br/>
				<span class="field">Target namespace:</span>
				<span class="value">http://webshop.webservices.cyclos.strohalm.nl/</span>
			</td>
		</tr>
	</table>
	<br/>
	<br/>
	<span class="heading">Available RESTful services:</span>
	<br/>
	<table cellpadding="1" cellspacing="1" border="1" width="100%">
	</table>
</body>
</html>
