{% if errors.any() %}
    <div class="c-alert c-alert--error u-mg-bottom">
        <ul class="c-list">
            {% for error in errors.all() %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    </div>
{% endif %}
