{% if errors.has(fields) %}
    <div class="c-alert c-alert--error u-mg-bottom">
        <ul class="c-list">
            {% for error in array_intersect(errors.keys(),fields) %}
                {% for message in errors.get(error) %}
                    <li>{{ message }}</li>
                {% endfor %}
            {% endfor %}
        </ul>
    </div>
{% endif %}
