<nav class="c-header">
    <div class="c-header__head u-justify">
        <div class="u-hide-up u-vertical-middle u-inline-block">

            <button type="button"
                    class="{% if session_has('auth') %}c-header__nav{% endif %} c-btn-badge c-btn-badge--icon c-btn-badge--navbar collapsed js-singleCollapseBtn"
                    data-toggle="collapse"
                    data-target="#navbar-collapse"
                    aria-expanded="false"
                    aria-controls="navbar-collapse">
                <span class="icon-menu c-icon c-icon--collapsed"></span>
                <span class="icon-cross c-icon c-icon--uncollapsed"></span>
            </button>
        </div>
        <a href="{{ getProtocol() ~  config('somoney.domain.landing') }}"
           title="Accueil"
           class="c-logo u-vertical-middle u-inline-block">
            <div class="u-hide-down">
                <img src="/assets/img/logo.svg" alt="" style="height: 80px;">
            </div>
            <div class="u-hide-up">
                <img src="/assets/img/logo-mobile.svg" alt="" style="height: 40px;">
            </div>
        </a>

        <div class="u-hide-up u-vertical-middle u-inline-block">
            {% if session_has('auth') and viewModifier != 'admin' %}
                {% if userQrCodeImage %}
                    <div class="u-inline-block u-vertical-center">
                        <button type="button"
                                class="c-btn c-btn--stroke c-btn--secondary c-btn--thin u-mg-top-sm"
                                data-toggle="modal"
                                data-target="#qr-code-modal">
                            <i class="fas fa-qrcode u-large"></i>
                        </button>
                    </div>
                {% endif %}
            {% endif %}
            <div class="u-inline-block">
                <button type="button"
                        class="c-btn-badge c-btn-badge--icon c-btn-badge--navbar collapsed js-singleCollapseBtn"
                        data-toggle="collapse"
                        data-target="#user-collapse"
                        aria-expanded="false"
                        aria-controls="user-collapse">
                    <span class="icon-user c-icon c-icon--collapsed"></span>
                    <span class="icon-cross c-icon c-icon--uncollapsed"></span>
                </button>
            </div>
        </div>
    </div>

    <div class="c-header__dropdown collapse js-singleCollapse" id="user-collapse">
        {% if session_has('auth') %}
            <div class="c-header__account u-hide-up">
                <div class="l-grid-table">
                    <div class="l-grid-table__cell">
                        <a href="{{ route('account.information') }}" class="c-badge" title="Mon profil">
                            <img src="{{ session('auth.user').image.url|default('/assets/img/user.jpg') }}"
                                 alt=""
                                 class="c-img js-lazyload">
                        </a>
                    </div>
                    <div class="l-grid-table__cell l-grid-table__cell--main u-pd-left-sm">
                        <p class="c-p">{{ session('auth.user.name') }}</p>
                        <p class="c-p u-mg-reset u-current-color"> {{ session('auth.user.account.status.balance') | number_format(2, ',', ' ') }}
                            <span class="c-icon icon-money"></span></p>
                    </div>
                    <div class="l-grid-table__cell">
                        <a href="{{ route('auth.logout') }}"
                           class="u-mg-reset c-btn-badge c-btn-badge--icon"
                           title="Se déconnecter">
                            <span class="icon-exit c-icon"></span>
                        </a>
                    </div>
                </div>
            </div>
        {% endif %}
        <ul class="c-navbar">

            {% for item in navbar %}
                <li class="u-hide-down">
                    <a href="{{ item.url }}" class="c-link">{{ item.name }}</a>
                </li>
            {% endfor %}

            {% if session_has('auth') %}
                <!-- Connected : account on desk -->
                <li class="u-hide-down u-vertical-separator u-pd-left u-mg-right-sm">
                    {% if viewModifier != 'admin' %}
                        {% if userQrCodeImage %}
                            <button type="button"
                                    class="c-btn c-btn--stroke c-btn--secondary c-btn--thin"
                                    data-toggle="modal"
                                    data-target="#qr-code-modal">
                                <i class="fas fa-qrcode u-large"></i>
                            </button>
                        {% endif %}

                        <a href="{{ route('account.information') }}"
                           class="c-badge u-vertical-middle u-inline-block"
                           title="Mon profil">
                            <img src="{{ session('auth.user').image.url|default('/assets/img/user.jpg') }}"
                                 alt=""
                                 class="c-img js-lazyload">
                        </a>
                    {% endif %}
                </li>
                <li class="u-hide-down">
                    <div class="u-vertical-middle u-inline-left u-inline-block">
                        <p class="c-p u-large u-line-height-reset c-header__account-info">{{ session('auth.user.name') }}</p>
                        {% if viewModifier != 'admin' %}
                            <a href="{{ route('operations.historic.index') }}"
                               class="c-link u-line-height-reset c-header__account-info"
                               title=""> {{ session('auth.user.account.status.balance') | number_format(2, ',', ' ') }}
                                <span class="c-icon icon-money"></span></a>
                        {% endif %}
                    </div>
                </li>
                <li class="u-hide-down">
                    <a href="{{ route('auth.logout') }}" class="c-btn-badge c-btn-badge--icon" title="Se déconnecter">
                        <span class="icon-exit c-icon"></span>
                    </a>
                </li>
            {% else %}
                <!-- Disconnected : log in / out on desk -->
                <li class="u-vertical-separator u-pd-left">
                    <a href="{{ route('auth.login') }}" class="c-link">se connecter</a>
                </li>
                {% if config('somoney.available.services.register') %}
                    <li class="u-hide-up">
                        <a href="{{ config('somoney.custom-url.services.register') | default(route('register')) }}"
                           class="c-link">
                            S'inscrire
                        </a>
                    </li>
                    <li class="u-hide-down">
                        <a href="{{ config('somoney.custom-url.services.register') | default(route('register')) }}"
                           class="c-btn c-btn--stroke c-btn--primary c-btn--squeeze">
                            S'inscrire
                        </a>
                    </li>
                {% endif %}
            {% endif %}
        </ul>
    </div>
    <div class="c-header__dropdown collapse u-hide-up js-singleCollapse" id="navbar-collapse">
        {% if session_has('auth') %}

            {% if viewModifier == config('cyclos.internal-names.admin') %}
                {% include 'main.partials.aside.admin'  with {'preId' : 'nav'} %}
            {% else %}
                {% include 'main.partials.aside.user' with {'preId' : 'nav'} %}
            {% endif %}
        {% else %}
            <ul class="c-navbar">
                {% for item in navbar %}
                    <li>
                        <a href="{{ item.url }}" class="c-link">{{ item.name }}</a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}

    </div>
</nav>
