<div class="u-inline-center">
    {% set break = 0 %}
    {% for step, route in steps %}
        {% if break == 0 %}
            {% if steps[loop.index+1] ends with '.success' %}
                {% set break = 1 %}
            {% endif %}
            <a href="{{ currentStep >= step ? route(route) : '' }}"
               class="u-inline-block u-mg-right-sm u-vertical-center
                {{ (step <= currentStep) ? 'c-btn-badge c-btn-badge-sm ' :'c-badge c-badge-sm u-bold' }}
                {{ currentStep == step ? ' is-active' : (currentStep > step ? ' is-success' : '') }}">
                {% if currentStep > step %}
                    {% if step == pageStep %}
                        <i class="fas fa-pen"></i>
                    {% else %}
                        <i class="fas fa-check"></i>
                    {% endif %}
                {% else %}
                    {{ step }}
                {% endif %}
            </a>
        {% endif %}
    {% endfor %}
</div>
