{% extends "main.layout" %}

{% set asideContext = 'home' %}

{% block main %}
    <div class="l-container u-pd">

        <h1 class="c-h1 u-grey25 u-normal-weight u-mg-bottom-sm">Statistiques</h1>

        <div class="l-grid-row">
            <div class="l-col-12">
                <div class="c-card u-mg-bottom">
                    <h2>Transactions
                        <small class="u-small u-grey25 u-right">
                            Dernière maj {{ cached_at | date('d/m à G:i:s') }}
                        </small>
                    </h2>
                    <div class="u-mg-top-sm">
                        <form action="{{ route('admin.home') }}" method="get">
                            <div class="u-flex u-flex-center u-flex-items-end">
                                <div class="c-form-group u-flex-grow-1">
                                    <label class="c-form-label c-form-label--required"
                                           for="transactions-user-type">Type d'utilisateurs</label>
                                    <select id="transactions-user-type"
                                            class="c-form-control c-form-control--select js-form-control"
                                            name="user_type">
                                        <option>Tous</option>
                                        <option value="individual"
                                            {{ request().user_type == 'individual' ? 'selected="selected"' : '' }}
                                        >
                                            Particulier
                                        </option>
                                        <option value="professional"
                                            {{ request().user_type == 'professional' ? 'selected="selected"' : '' }}
                                        >
                                            Professionnel
                                        </option>
                                    </select>
                                </div>
                                <div class="c-form-group u-relative u-mg-hz-sm u-mg-top-reset {{ formErrors['transactions_date_begin'] != null ? 'has-error' : '' }}">
                                    <label class="c-form-label c-form-label--required"
                                           for="send_date">Date de début</label>
                                    <input id="transactions-date-begin"
                                           name="transactions_date_begin"
                                           type="text"
                                           class="c-form-control c-form-control--date date-picker"
                                           data-position="bottom left"
                                           value="{{ old('transactions_date_begin',dateBegin) | date('d/m/Y') }}">
                                    {% for error in formErrors['transactions_date_begin'] %}
                                        <small>{{ error }}</small>
                                    {% endfor %}
                                </div>
                                <div class="c-form-group u-relative u-mg-hz-sm u-mg-top-reset {{ formErrors['transactions_date_end'] != null ? 'has-error' : '' }}">
                                    <label class="c-form-label c-form-label--required"
                                           for="send_date">Date de fin</label>
                                    <input id="transactions-date-end"
                                           name="transactions_date_end"
                                           type="text"
                                           class="c-form-control c-form-control--date date-picker"
                                           data-position="bottom left"
                                           value="{{ old('transactions_date_end', dateEnd) | date('d/m/Y') }}">
                                    {% for error in formErrors['transactions_date_end'] %}
                                        <small>{{ error }}</small>
                                    {% endfor %}
                                </div>
                                <button type="submit"
                                        class="c-btn--brick c-btn--green c-btn--thin u-pd-hz u-mg-top-auto">
                                    <i class="c-icon fa fa-sync-alt"></i>
                                </button>
                            </div>
                            <div class="u-flex u-flex-wrap u-full-width u-mg-vt">
                                <p class="c-p u-w-50p">
                                    Nombre de transactions: <b>{{ nbTransactions | sum }}</b>
                                </p>
                                <p class="c-p u-w-50p">
                                    Somme des transactions:
                                    <b>
                                        {{ ( totalAmounts | sum )  | number_format(2,',',' ') }}
                                        &nbsp;<i class="icon-money"></i></b>
                                </p>
                            </div>
                            <div class="u-flex u-flex-wrap u-full-width u-mg-vt">
                                <div class="u-w-50p u-mg-bottom-sm">
                                    <div class="u-inline-block u-pd-sm u-bg-grey">
                                        <h4>Professionnels vers particuliers</h4>
                                        <div>
                                            Somme des transactions:
                                            <b>{{ totalAmounts.BtoC | number_format(2,',',' ') }}
                                                &nbsp;<i class="icon-money"></i></b>
                                        </div>
                                        <div>Nombre de transactions: <b>{{ nbTransactions.BtoC }}</b></div>
                                    </div>
                                </div>
                                <div class="u-w-50p u-mg-bottom-sm">
                                    <div class="u-inline-block u-pd-sm u-bg-grey">
                                        <h4>Particuliers vers professionnels</h4>
                                        <div>
                                            Somme des transactions:
                                            <b>{{ totalAmounts.CtoB | number_format(2,',',' ') }}
                                                &nbsp;<i class="icon-money"></i></b>
                                        </div>
                                        <div>Nombre de transactions: <b>{{ nbTransactions.CtoB }}</b></div>
                                    </div>
                                </div>
                                <div class="u-w-50p u-mg-bottom-sm">
                                    <div class="u-inline-block u-pd-sm u-bg-grey">
                                        <h4>Professionnels vers professionnels</h4>
                                        <div>
                                            Somme des transactions:
                                            <b>{{ totalAmounts.BtoB | number_format(2,',',' ') }}
                                                &nbsp;<i class="icon-money"></i></b>
                                        </div>
                                        <div>Nombre de transactions: <b>{{ nbTransactions.BtoB }}</b></div>
                                    </div>
                                </div>
                                <div class="u-w-50p u-mg-bottom-sm">
                                    <div class="u-inline-block u-pd-sm u-bg-grey">
                                        <h4>Particuliers vers particuliers</h4>
                                        <div>
                                            Somme des transactions:
                                            <b>{{ totalAmounts.CtoC | number_format(2,',',' ') }}
                                                &nbsp;<i class="icon-money"></i></b>
                                        </div>
                                        <div>Nombre de transactions: <b>{{ nbTransactions.CtoC }}</b></div>
                                    </div>
                                </div>
                            </div>
                            <div class="u-flex u-flex-wrap u-full-width u-mg-vt">
                                <p class="c-p u-w-50p">
                                    Crédit de compte des particuliers: <b>{{ creditAmounts.individual | number_format(2,',',' ') }}
                                        &nbsp;<i class="icon-money"></i></b>
                                </p>
                                <p class="c-p u-w-50p">
                                    Crédit de compte des professionnels: <b>{{ creditAmounts.professional | number_format(2,',',' ') }}
                                        &nbsp;<i class="icon-money"></i></b>
                                </p>
                            </div>
                            <div class="u-flex u-flex-wrap u-full-width u-mg-vt">
                                <p class="c-p u-w-50p">
                                    Reconversion de compte des particuliers: <b>{{ reconversionAmounts.individual | number_format(2,',',' ') }}
                                        &nbsp;<i class="icon-money"></i></b>
                                </p>
                                <p class="c-p u-w-50p">
                                    Reconversion de compte des professionnels: <b>{{ reconversionAmounts.professional | number_format(2,',',' ') }}
                                        &nbsp;<i class="icon-money"></i></b>
                                </p>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="c-card u-mg-bottom">
                    <h2>Historique des transactions</h2>
                    <div class="u-mg-bottom">
                        <div class="c-table">
                            <div class="c-table__thead">
                                <div class="c-table__cell c-label">Date</div>
                                <div class="c-table__cell c-label">Opération</div>
                                <div class="c-table__cell c-label">Débiteur/Créditeur</div>
                                <div class="c-table__cell c-label u-inline-right">Montant</div>
                            </div>

                            <div class="c-table__tbody">
                                {% for operation in historic %}
                                    <div class="c-table__row">
                                        <div class="c-table__cell">{{ operation.date | date('d/m/Y') }}</div>
                                        <div class="c-table__cell">{{ operation.description }}</div>
                                        <div class="c-table__cell">

                                            <span class="c-icon {{ operation.type.internalName starts with 'professional' or operation.type.internalName ends with 'Professional'  ? 'icon-briefcase' : 'icon-user' }}"
                                                  aria-hidden="true"></span>
                                            {{ operation.toKind == 'system'  ? operation.fromUser.display : operation.toUser.display }}
                                        </div>
                                        <div class="c-table__cell u-inline-right u-bold {{ operation.toKind == 'system' ? 'u-green' : 'u-red' }}">
                                            {{ operation.toKind == 'system' ? '' : '-' }}
                                            &nbsp;{{ operation.amount | number_format(2, ',', ' ') }}
                                            &nbsp;<span class="c-icon icon-money"></span>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                    <h3>Montant journalier des opérations de crédit (30 derniers jours)</h3>
                    <canvas id="creditOperationsChart" width="400" height="200" class="u-mg-bottom"></canvas>
                    <h3>Montant journalier des opérations de debit (30 derniers jours)</h3>
                    <canvas id="debitOperationsChart" width="400" height="200" class="u-mg-bottom"></canvas>
                    <h3>Proportion de professionnels / particuliers (depuis le début)</h3>
                    <div height="400" height="400" class="u-mg-bottom">
                        <canvas id="usersRepartitionChart" width="400" height="400"></canvas>
                    </div>

                    <h3>Nombre de transactions par jour (30 derniers jours)</h3>
                    <canvas id="registersChart" width="400" height="200"></canvas>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
