{% extends "framework.layout" %}

{% block content %}
    <div class="l-container-12 u-pd-navbar l-view l-view--individual">
        <div class="l-grid-row l-grid-row--no-gutter">
            <div class="l-col-6 u-mg-vt-lg">
                <div class="l-container-4 u-pd-hz u-inline-center">
                    <h1 class="c-h1 u-mg-bottom-lg">Soutenir {{ config('somoney.money') }}</h1>
                    {% include 'main.partials.form-errors' %}
                    <form method="POST" action="{{ route('register.individual.credit.donate.post') }}">
                        {{ csrf_field() }}
                        <div class="c-form-group">
                            <div class="c-form-group">
                                <label class="c-form-label" for="amount">
                                    Montant de don à la structure
                                </label>
                                <div class="c-addon-container">
                                    <input type="number"
                                           class="c-form-control js-form-control"
                                           step="0.01"
                                           min="0"
                                           id="amount"
                                           name="amount"
                                           value="0">
                                    <span class="c-icon icon-info" aria-hidden="true"></span>
                                </div>
                            </div>
                        </div>
                        <div class="c-alert u-mg-vt">
                            <div class="c-addon-container">
                                <span class="c-icon icon-information"></span>
                                <p class="c-p u-bold">
                                    Libre à vous de faire un don pour contribuer au développement de notre structure.
                                    Merci
                                </p>
                            </div>
                        </div>
                        <button type="submit" class="c-btn c-btn--primary c-btn--full-width u-mg-top">Suivant</button>
                    </form>
                </div>
            </div>
            <div class="l-col-6">
                <div class=" u-pd-lg c-full-img-container u-bg-main">
                    <div class="l-container-5">
                        <img src="{{ asset('assets/img/signup.svg') }}" alt="" class="c-img u-object-fit-contain">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
