{% extends "framework.layout" %}

{% block content %}
    <div class="l-container-12 u-pd-navbar l-view l-view--individual">
        <div class="l-grid-row l-grid-row--no-gutter">
            <div class="l-col-6 u-mg-vt-lg">
                <div class="l-container-4 u-pd-hz u-inline-center">
                    <h1 class="c-h1 u-mg-bottom-lg">Adhésion compte particulier</h1>
                    {% include 'main.partials.form-errors' %}
                    <form method="POST" action="{{ route('register.individual.credit.membership.post') }}">
                        {{ csrf_field() }}
                        {% if config('somoney.credit.membership.min') %}
                            <div class="c-form-group">
                                <label class="c-form-label" for="amount">
                                    {{ config('somoney.content.signup.individual.membership.registration_price_grid') | raw }}
                                </label>
                                <div class="c-addon-container">
                                    <input type="number"
                                           class="c-form-control js-form-control"
                                           step="0.01"
                                           min="{{ config('somoney.credit.membership.min.individual') }}"
                                           id="amount"
                                           name="amount"
                                           value="{{ config('somoney.credit.membership.min.individual') }}">
                                    <i class="c-icon fas fa-euro-sign"></i>
                                </div>
                            </div>
                        {% else %}
                            <div class="c-alert u-mg-vt">
                                <div class="c-addon-container">
                                    <p class="c-p u-bold">
                                        L'adhésion à l'association {{ config('somoney.money') }} est
                                        de {{ config('somoney.credit.membership.individual') }}&nbsp;€
                                    </p>
                                </div>
                            </div>
                        {% endif %}
                        <button type="submit" class="c-btn c-btn--primary c-btn--full-width u-mg-top">Suivant</button>
                    </form>
                    {% if config('somoney.content.signup.individual.membership.registration_price_grid_bottom_information') %}
                        {{ config('somoney.content.signup.individual.membership.registration_price_grid_bottom_information') | raw }}
                    {% endif %}
                </div>
            </div>
            <div class="l-col-6">
                <div class=" u-pd-lg c-full-img-container u-bg-main">
                    <div class="l-container-5">
                        <img src="{{ asset('assets/img/signup.svg') }}" alt="" class="c-img u-object-fit-contain">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
