<section class="sg-section">

	<h2 class="c-h2 sg-h2">CSS Architecture</h2>

	<p class="c-p u-pd-bottom-sm">To make this design system accessible to all, the CSS selectors follow a specific naming convention making it more legible and easier to use.</p>

	<br>

	<h3 class="c-h3 sg-h3">CSS principles</h3>

	<p class="c-p u-pd-bottom-sm">The design system follows the <a href="http://bradfrost.com/blog/post/css-architecture-for-design-systems/" title="Brad Frost website" target="_blank">CSS principles</a> established by Brad Frost :</p>

	<ol class="u-pd-left">
		<li><span class="u-bold">"Make it modular"</span>&nbsp;: the components should be independent to insure that the design system is really flexible&nbsp;;</li>
		<li><span class="u-bold">"Legibility is key"</span>&nbsp;: the naming and coding of a component should be explicit and let the developer easily understand its structure and its purpose&nbsp;;</li>
		<li><span class="u-bold">"Clarity trumps succinctness"</span>&nbsp;: a component should not sacrifice its legibility in order to be less verbose or to have a shorter syntax. Legibility must remains the key&nbsp;;</li>
		<li><span class="u-bold">"Keep things flat"</span>&nbsp;: independence between components should be avoided as often as possible, meaning that selector should not be too long and too deep and as DOM-independent as possible&nbsp;;</li>
		<li><span class="u-bold">"Avoid conflicts"</span>&nbsp;: the components should not conflict with other libraries and systems, or with components from the same design system.</li>
	</ol>

	<br>

	<h3 class="c-h3 sg-h3">Class prefixes</h3>

	<p class="c-p u-pd-bottom-sm">In addition to this global namespace, we add another limited prefixes to specify the purpose of the element.</p>
	<p class="c-p u-pd-bottom-sm">There are 6 different prefixes in our design system :</p>

	<ul class="u-pd-left">
		<li>the <span class="u-bold">UI components</span> are prefixes with <code>-c</code>&nbsp;;</li>
		<li>the <span class="u-bold">layouts</span> are prefixes with <code>-l</code>&nbsp;;</li>
		<li>the <span class="u-bold">utilities</span> are prefixes with <code>-u</code>&nbsp;;</li>
		<li>the <span class="u-bold">behaviours</span> are prefixes with <code>-js</code> (JavaScript functionalities)&nbsp;;</li>
		<li>the <span class="u-bold">states</span> are prefixes with <code>-is</code> and <code>-has</code>&nbsp;;</li>
		<li>the <span class="u-bold">views</span> are prefixes with <code>-view</code>&nbsp;;</li>
	</ul>

	<br>

	<h3 class="c-h3 sg-h3">Class naming</h3>

	<p class="c-p u-pd-bottom-sm">The selectors from the design system follow the <a href="http://getbem.com/introduction/" title="BEM website" target="_blank">BEM</a> syntax, meaning&nbsp;:</p>

	<ul class="u-pd-left">
		<li><span class="u-bold">Block</span> is the primary independent component block, corresponding to the only name of the element, such as <code>c-card</code>&nbsp;;</li>
		<li><span class="u-bold">Element</span> designates an element FROM the block, meaning a direct or indirect child of the primary block. It is designated by a double underscore <code>__</code> separator, such as <code>c-card__title</code>&nbsp;;</li>
		<li><span class="u-bold">Modifier</span> is the variation of a block style. it is designated by a double dash <code>--</code>, such as <code>c-card--primary</code>&nbsp;.</li>
	</ul>

</section>
