{% extends "styleguide.layout" %}

{% set title = "Styleguide" %}
{% set context = ["main-styleguide"] %}
{% set viewClass = "view-styleguide" %}

{% block content %}
	<aside class="sg-aside js-sg-menu">
		<div class="sg-aside__overflow">
			<!-- Aside Header -->
			<div class="sg-aside__header">
				<a href="/" title="" class="sg-a">
					<span class="sg-logo">
						<img src="/assets/img/logo.svg" alt="">
					</span>
				</a>
				<div class="sg-sublogo">
					Styleguide
				</div>
			</div>
			<!-- Aside navigation -->
			<ul id="sg-navbar" class="sg-aside__nav">
				<li>
					<a role="button" data-toggle="collapse" data-parent="#sg-navbar" href="#sg-navbar-overview" title="collapse" class="open sg-a">
						Overview
						<svg width="8" height="4" viewBox="0 0 8 4" class="collapse-caret"><path d="M7.76,1L4.46,3.84a0.73,0.73,0,0,1-.92,0L0.24,1A0.56,0.56,0,0,1,.1.24,0.55,0.55,0,0,1,.7,0H7.3A0.55,0.55,0,0,1,8,.41,0.56,0.56,0,0,1,7.76,1Z" ></path></svg>
					</a>
					<ul id="sg-navbar-overview" class="sg-aside__subnav collapse in">
						<li class="active">
							<a href="#sg-introduction" title="introduction" data-toggle="tab" class="sg-aside__tab-trigger sg-a">Introduction</a>
						</li>
						<li>
							<a href="#sg-css-architecture" title="css architecture" data-toggle="tab" class="sg-aside__tab-trigger sg-a">CSS architecture</a>
						</li>
						<li>
							<a href="#sg-colors" title="colors" data-toggle="tab" class="sg-aside__tab-trigger sg-a">Colors</a>
						</li>
						<li>
							<a href="#sg-icons" title="icons" data-toggle="tab" class="sg-aside__tab-trigger sg-a">Icons</a>
						</li>
						<li>
							<a href="#sg-mixins" title="mixins" data-toggle="tab" class="sg-aside__tab-trigger sg-a">Mixins</a>
						</li>
					</ul>
				</li>
				<li>
					<a role="button" data-toggle="collapse" data-parent="#sg-navbar" href="#sg-navbar-grids" title="collapse" class="sg-a">
						Layout
						<svg width="8" height="4" viewBox="0 0 8 4" class="collapse-caret"><path d="M7.76,1L4.46,3.84a0.73,0.73,0,0,1-.92,0L0.24,1A0.56,0.56,0,0,1,.1.24,0.55,0.55,0,0,1,.7,0H7.3A0.55,0.55,0,0,1,8,.41,0.56,0.56,0,0,1,7.76,1Z" ></path></svg>
					</a>
					<ul id="sg-navbar-grids" class="sg-aside__subnav collapse">
						<li>
							<a href="#sg-container" title="container" data-toggle="tab" class="sg-aside__tab-trigger sg-a">Container</a>
						</li>
						<li>
							<a href="#sg-grid" title="grid" data-toggle="tab" class="sg-aside__tab-trigger sg-a">Grid</a>
						</li>
						<li>
							<a href="#sg-grid-nav" title="grid-nav" data-toggle="tab" class="sg-aside__tab-trigger sg-a">Grid nav</a>
						</li>
						<li>
							<a href="#sg-grid-table" title="grid-table" data-toggle="tab" class="sg-aside__tab-trigger sg-a">Grid table</a>
						</li>
					</ul>
				</li>
				<li>
					<a role="button" data-toggle="collapse" data-parent="#sg-navbar" href="#sg-navbar-typography" title="collapse" class="sg-a">
						Typography
						<svg width="8" height="4" viewBox="0 0 8 4" class="collapse-caret"><path d="M7.76,1L4.46,3.84a0.73,0.73,0,0,1-.92,0L0.24,1A0.56,0.56,0,0,1,.1.24,0.55,0.55,0,0,1,.7,0H7.3A0.55,0.55,0,0,1,8,.41,0.56,0.56,0,0,1,7.76,1Z" ></path></svg>
					</a>
					<ul id="sg-navbar-typography" class="sg-aside__subnav collapse">
						<li>
							<a href="#sg-headings" title="headings" data-toggle="tab" class="sg-aside__tab-trigger sg-a">Headings</a>
						</li>
						<li>
							<a href="#sg-paragraphs" title="paragraphs" data-toggle="tab" class="sg-aside__tab-trigger sg-a">Paragraphs</a>
						</li>
						<li>
							<a href="#sg-labels" title="labels" data-toggle="tab" class="sg-aside__tab-trigger sg-a">Labels</a>
						</li>
						<li>
							<a href="#sg-tags" title="tags" data-toggle="tab" class="sg-aside__tab-trigger sg-a">Tags</a>
						</li>
						<li>
							<a href="#sg-lists" title="lists" data-toggle="tab" class="sg-aside__tab-trigger sg-a">Lists</a>
						</li>
						<li>
							<a href="#sg-typography-utilities" title="typography-utilities" data-toggle="tab" class="sg-aside__tab-trigger sg-a">Utilities</a>
						</li>
					</ul>
				</li>
				<li>
					<a role="button" data-toggle="collapse" data-parent="#sg-navbar" href="#sg-navbar-buttons" title="collapse" class="sg-a">
						Buttons
						<svg width="8" height="4" viewBox="0 0 8 4" class="collapse-caret"><path d="M7.76,1L4.46,3.84a0.73,0.73,0,0,1-.92,0L0.24,1A0.56,0.56,0,0,1,.1.24,0.55,0.55,0,0,1,.7,0H7.3A0.55,0.55,0,0,1,8,.41,0.56,0.56,0,0,1,7.76,1Z" ></path></svg>
					</a>
					<ul id="sg-navbar-buttons" class="sg-aside__subnav collapse">
						<li>
							<a href="#sg-buttons" title="buttons" data-toggle="tab" class="sg-aside__tab-trigger sg-a">Buttons</a>
						</li>
						<li>
							<a href="#sg-file-buttons" title="file-buttons" data-toggle="tab" class="sg-aside__tab-trigger sg-a">File buttons</a>
						</li>
						<li>
							<a href="#sg-brick-buttons" title="brick-buttons" data-toggle="tab" class="sg-aside__tab-trigger sg-a">Brick buttons</a>
						</li>
						<li>
							<a href="#sg-badge-buttons" title="badge-buttons" data-toggle="tab" class="sg-aside__tab-trigger sg-a">Badge buttons</a>
						</li>
						<li>
							<a href="#sg-links" title="links" data-toggle="tab" class="sg-aside__tab-trigger sg-a">Links</a>
						</li>
					</ul>
				</li>
				<li>
					<a role="button" data-toggle="collapse" data-parent="#sg-navbar" href="#sg-navbar-forms" title="collapse" class="sg-a">
						Forms
						<svg width="8" height="4" viewBox="0 0 8 4" class="collapse-caret"><path d="M7.76,1L4.46,3.84a0.73,0.73,0,0,1-.92,0L0.24,1A0.56,0.56,0,0,1,.1.24,0.55,0.55,0,0,1,.7,0H7.3A0.55,0.55,0,0,1,8,.41,0.56,0.56,0,0,1,7.76,1Z" ></path></svg>
					</a>
					<ul id="sg-navbar-forms" class="sg-aside__subnav collapse">
						<li>
							<a href="#sg-form-input" title="form-input" data-toggle="tab" class="sg-aside__tab-trigger sg-a">Form input</a>
						</li>
						<li>
							<a href="#sg-checkbox-radio" title="checkbox" data-toggle="tab" class="sg-aside__tab-trigger sg-a">Checkbox &amp; Radio</a>
						</li>
						<li>
							<a href="#sg-autocomplete" title="autocomplete" data-toggle="tab" class="sg-aside__tab-trigger sg-a">Autocomplete</a>
						</li>
					</ul>
				</li>
				<li>
					<a role="button" data-toggle="collapse" data-parent="#sg-navbar" href="#sg-navbar-illustration" title="collapse" class="sg-a">
						Illustration
						<svg width="8" height="4" viewBox="0 0 8 4" class="collapse-caret"><path d="M7.76,1L4.46,3.84a0.73,0.73,0,0,1-.92,0L0.24,1A0.56,0.56,0,0,1,.1.24,0.55,0.55,0,0,1,.7,0H7.3A0.55,0.55,0,0,1,8,.41,0.56,0.56,0,0,1,7.76,1Z" ></path></svg>
					</a>
					<ul id="sg-navbar-illustration" class="sg-aside__subnav collapse">
						<li>
							<a href="#sg-images" title="images" data-toggle="tab" class="sg-aside__tab-trigger sg-a">Images</a>
						</li>
						<li>
							<a href="#sg-badge" title="badge" data-toggle="tab" class="sg-aside__tab-trigger sg-a">Badge</a>
						</li>
						<li>
							<a href="#sg-tachometer" title="tachometer" data-toggle="tab" class="sg-aside__tab-trigger sg-a">Tachometer</a>
						</li>
					</ul>
				</li>
				<li>
					<a role="button" data-toggle="collapse" data-parent="#sg-navbar" href="#sg-navbar-blocks" title="collapse" class="sg-a">
						Bricks
						<svg width="8" height="4" viewBox="0 0 8 4" class="collapse-caret"><path d="M7.76,1L4.46,3.84a0.73,0.73,0,0,1-.92,0L0.24,1A0.56,0.56,0,0,1,.1.24,0.55,0.55,0,0,1,.7,0H7.3A0.55,0.55,0,0,1,8,.41,0.56,0.56,0,0,1,7.76,1Z" ></path></svg>
					</a>
					<ul id="sg-navbar-blocks" class="sg-aside__subnav collapse">
						<li>
							<a href="#sg-card" title="card" data-toggle="tab" class="sg-aside__tab-trigger sg-a">Card</a>
						</li>
						<li>
							<a href="#sg-card-detailed" title="card-detailed" data-toggle="tab" class="sg-aside__tab-trigger sg-a">Card detailed</a>
						</li>
						<li>
							<a href="#sg-alert" title="alert" data-toggle="tab" class="sg-aside__tab-trigger sg-a">Alert</a>
						</li>
						<li>
							<a href="#sg-nav-aside" title="file" data-toggle="tab" class="sg-aside__tab-trigger sg-a">Nav aside</a>
						</li>
						<li>
							<a href="#sg-band" title="band" data-toggle="tab" class="sg-aside__tab-trigger sg-a">Band</a>
						</li>
					</ul>
				</li>
				<li>
					<a role="button" data-toggle="collapse" data-parent="#sg-navbar" href="#sg-navbar-interactive" title="collapse" class="sg-a">
						Interactive
						<svg width="8" height="4" viewBox="0 0 8 4" class="collapse-caret"><path d="M7.76,1L4.46,3.84a0.73,0.73,0,0,1-.92,0L0.24,1A0.56,0.56,0,0,1,.1.24,0.55,0.55,0,0,1,.7,0H7.3A0.55,0.55,0,0,1,8,.41,0.56,0.56,0,0,1,7.76,1Z" ></path></svg>
					</a>
					<ul id="sg-navbar-interactive" class="sg-aside__subnav collapse">
						<li>
							<a href="#sg-modal" title="modal" data-toggle="tab" class="sg-aside__tab-trigger sg-a">Modal</a>
						</li>
						<li>
							<a href="#sg-tooltip" title="tooltip" data-toggle="tab" class="sg-aside__tab-trigger sg-a">Tooltip</a>
						</li>
						<li>
							<a href="#sg-accordion" title="accordion" data-toggle="tab" class="sg-aside__tab-trigger sg-a">Accordion</a>
						</li>
					</ul>
				</li>
				<li>
					<a role="button" data-toggle="collapse" data-parent="#sg-navbar" href="#sg-navbar-table" title="collapse" class="sg-a">
						Table
						<svg width="8" height="4" viewBox="0 0 8 4" class="collapse-caret"><path d="M7.76,1L4.46,3.84a0.73,0.73,0,0,1-.92,0L0.24,1A0.56,0.56,0,0,1,.1.24,0.55,0.55,0,0,1,.7,0H7.3A0.55,0.55,0,0,1,8,.41,0.56,0.56,0,0,1,7.76,1Z" ></path></svg>
					</a>
					<ul id="sg-navbar-table" class="sg-aside__subnav collapse">
						<li>
							<a href="#sg-table-basic" title="table-basic" data-toggle="tab" class="sg-aside__tab-trigger sg-a">Table basic</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</aside>

	<!-- Mobile header -->
	<div class="sg-mobile-header">
		<div class="sg-menu-burger js-sg-menu-trigger">
			<span></span>
			<span></span>
			<span></span>
		</div>
		<a href="/" title="" class="sg-a">
			<span class="sg-logo">
				<img src="/assets/img/logo.svg" alt="">
			</span>
		</a>
		<div class="sg-sublogo">
			Styleguide
		</div>
	</div>

	<!-- Main tabs -->
	<div class="sg-main-content">
		<div class="tab-content">
			<!-- -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_ -->
			<!-- Overview -->
			<!-- -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_ -->
			<div role="tabpanel" class="tab-pane fade in active" id="sg-introduction">
				{% include 'styleguide.templates.overview' %}
			</div>

			<div role="tabpanel" class="tab-pane fade" id="sg-css-architecture">
				{% include 'styleguide.templates.css-architecture' %}
			</div>

			<div role="tabpanel" class="tab-pane fade" id="sg-colors">
				{% include 'styleguide.templates.global.colors' %}
			</div>

			<div role="tabpanel" class="tab-pane fade" id="sg-icons">
				{% include 'styleguide.templates.global.icons' %}
			</div>

			<div role="tabpanel" class="tab-pane fade" id="sg-mixins">
				{% include 'styleguide.templates.global.mixins' %}
			</div>
			<!-- -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_ -->
			<!-- Layouts -->
			<!-- -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_ -->
			<div role="tabpanel" class="tab-pane fade" id="sg-container">
				{% include 'styleguide.templates.layout.container' %}
			</div>
			<div role="tabpanel" class="tab-pane fade" id="sg-grid">
				{% include 'styleguide.templates.layout.grid' %}
			</div>
			<div role="tabpanel" class="tab-pane fade" id="sg-grid-table">
				{% include 'styleguide.templates.layout.grid-table' %}
			</div>
			<div role="tabpanel" class="tab-pane fade" id="sg-grid-nav">
				{% include 'styleguide.templates.layout.grid-nav' %}
			</div>
			<!-- -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_ -->
			<!-- Typography -->
			<!-- -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_ -->
			<div role="tabpanel" class="tab-pane fade" id="sg-headings">
				{% include 'styleguide.templates.typography.headings' %}
			</div>
			<div role="tabpanel" class="tab-pane fade" id="sg-paragraphs">
				{% include 'styleguide.templates.typography.paragraphs' %}
			</div>
			<div role="tabpanel" class="tab-pane fade" id="sg-tags">
				{% include 'styleguide.templates.typography.tags' %}
			</div>
			<div role="tabpanel" class="tab-pane fade" id="sg-labels">
				{% include 'styleguide.templates.typography.labels' %}
			</div>
			<div role="tabpanel" class="tab-pane fade" id="sg-lists">
				{% include 'styleguide.templates.typography.lists' %}
			</div>
			<div role="tabpanel" class="tab-pane fade" id="sg-typography-utilities">
				{% include 'styleguide.templates.typography.typography-utilities' %}
			</div>
			<!-- -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_ -->
			<!-- Buttons -->
			<!-- -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_ -->
			<div role="tabpanel" class="tab-pane fade" id="sg-buttons">
				{% include 'styleguide.templates.buttons.buttons' %}
			</div>
			<div role="tabpanel" class="tab-pane fade" id="sg-file-buttons">
				{% include 'styleguide.templates.buttons.file-buttons' %}
			</div>
			<div role="tabpanel" class="tab-pane fade" id="sg-badge-buttons">
				{% include 'styleguide.templates.buttons.badge-buttons' %}
			</div>
			<div role="tabpanel" class="tab-pane fade" id="sg-brick-buttons">
				{% include 'styleguide.templates.buttons.brick-buttons' %}
			</div>
			<div role="tabpanel" class="tab-pane fade" id="sg-links">
				{% include 'styleguide.templates.buttons.links' %}
			</div>
			<!-- -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_ -->
			<!-- Forms -->
			<!-- -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_ -->
			<div role="tabpanel" class="tab-pane fade" id="sg-form-input">
				{% include 'styleguide.templates.forms.form-input' %}
			</div>
			<div role="tabpanel" class="tab-pane fade" id="sg-checkbox-radio">
				{% include 'styleguide.templates.forms.checkbox-radio' %}
			</div>
			<div role="tabpanel" class="tab-pane fade" id="sg-autocomplete">
				{% include 'styleguide.templates.forms.autocomplete' %}
			</div>
			<!-- -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_ -->
			<!-- Illustrations -->
			<!-- -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_ -->
			<div role="tabpanel" class="tab-pane fade" id="sg-images">
				{% include 'styleguide.templates.illustration.images' %}
			</div>
			<div role="tabpanel" class="tab-pane fade" id="sg-badge">
				{% include 'styleguide.templates.illustration.badge' %}
			</div>
			<div role="tabpanel" class="tab-pane fade" id="sg-tachometer">
				{% include 'styleguide.templates.illustration.tachometer' %}
			</div>
			<!-- -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_ -->
			<!-- Bricks -->
			<!-- -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_ -->
			<div role="tabpanel" class="tab-pane fade" id="sg-card">
				{% include 'styleguide.templates.bricks.card' %}
			</div>
			<div role="tabpanel" class="tab-pane fade" id="sg-card-detailed">
				{% include 'styleguide.templates.bricks.card-detailed' %}
			</div>
			<div role="tabpanel" class="tab-pane fade" id="sg-alert">
				{% include 'styleguide.templates.bricks.alert' %}
			</div>
			<div role="tabpanel" class="tab-pane fade" id="sg-nav-aside">
				{% include 'styleguide.templates.bricks.nav-aside' %}
			</div>
			<div role="tabpanel" class="tab-pane fade" id="sg-band">
				{% include 'styleguide.templates.bricks.band' %}
			</div>
			<!-- -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_ -->
			<!-- Interactive -->
			<!-- -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_ -->
			<div role="tabpanel" class="tab-pane fade" id="sg-modal">
				{% include 'styleguide.templates.interactive.modal' %}
			</div>
			<div role="tabpanel" class="tab-pane fade" id="sg-tooltip">
				{% include 'styleguide.templates.interactive.tooltip' %}
			</div>
			<div role="tabpanel" class="tab-pane fade" id="sg-accordion">
				{% include 'styleguide.templates.interactive.accordion' %}
			</div>
			<!-- -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_ -->
			<!-- Tables -->
			<!-- -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_ -->
			<div role="tabpanel" class="tab-pane fade" id="sg-table-basic">
				{% include 'styleguide.templates.table.table-basic' %}
			</div>

		</div>
	</div>

{% endblock %}
