<section class="sg-section">

	<h2 class="c-h2 sg-h2">Introduction</h2>

	<p class="c-p c-p--lead">Welcome to our styleguide !</p>

	<p class="c-p u-pd-bottom-sm">It provide base styles and all the HTML (Twig) / CSS (SCSS) components used in our website.</p>
	<p class="c-p u-pd-bottom-sm">A styleguide fosters and offers many advantages :</p>

	<ul class="u-pd-left">
		<li>consistency and logic in visual identity, leading to a better UX;</li>
		<li>fast and easy component testing and prototyping;</li>
		<li>better and more methodical workflow with easier modular components design and faster view assembly;</li>
		<li>extensible and scalable as much as you want, for improved functionalities or new views;</li>
		<li>common system vocabulary and basis definition, facilitating communication to all the actors, team members as well as clients;</li>
		<li>facilitate the arrival of new designers and developpers in the project.</li>
	</ul>

	<br>

	<p class="c-p">This styleguide is mobile responsive and has cross-browser support (we no longer support IE 9 or lower), built on top of <a href="https://github.com/twbs/bootstrap-sass" target="_blank" title="Bootstrap sass">Bootsrap Sass</a>, the official port of <a href="http://getbootstrap.com/" target="_blank" title="Bootstrap sass">Bootstrap 3</a>.</p>

</section>
