{% extends "main.layout" %}

{% set asideContext = 'sdgs' %}

{% block main %}
    <div class="l-dashboard__main u-bg-grey u-pd-navbar">
        <div class="l-container u-pd">
            <h1 class="c-h1 u-grey25 u-mg-bottom u-normal-weight">
                Fixer un nouvel objectif
            </h1>

            <div class="l-grid-row">
                <div class="c-card-report">
                    <form method="POST" action="{{ route('sdgs.professional.store') }}">
                        {{ csrf_field() }}
                        {% include 'main.partials.form-errors' %}

                        <div class="l-col-12 u-mg-bottom-sm">
                            <div class="c-form-group u-mg-bottom-sm">
                                <label class="c-form-label c-form-label--required" for="category">
                                    Choisir une catégorie {{ old('category_id') }}
                                </label>
                                <div class="c-addon-container">
                                    <select id="category"
                                            class="c-form-control c-form-control--select js-form-control"
                                            name="category_id"
                                    >
                                        <option value="">-</option>
                                        {% for categoryId, sdgCategory in sdgCategories %}
                                            <option value="{{ categoryId }}"
                                                {{ old('category_id', request().category) == categoryId ? 'selected="selected"' : '' }}
                                            >
                                                {{ sdgCategory.label }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                    <span class="c-icon icon-chevron-down" aria-hidden="true"></span>
                                </div>
                            </div>
                        </div>

                        <div class="l-col-12 u-mg-bottom-sm">
                            <div class="c-form-group u-mg-top u-mg-bottom-sm desc is-individual">
                                <label class="c-form-label" for="sdg">Choisir un objectif</label>
                                <select class="c-form-control autocomplete-sdg select2"
                                        name="sdg_id"
                                        id="sdg"
                                        data-professional-id="{{ session('auth.user.id') }}">
                                </select>
                            </div>
                        </div>

                        <div id="sdg-description" class="l-col-12 u-mg-bottom-sm u-hide">
                            <div class="c-form-group">
                                <label class="c-form-label" for="description">Description</label>
                                <div id="sdg-description-content"
                                     class="c-alert"
                                >

                                </div>
                            </div>
                        </div>

                        <div class="l-col-12 u-mg-bottom-sm">
                            <div class="u-inline-block u-right">
                                <a href="{{ route('sdgs.professional.index') }}"
                                   class="c-btn c-btn--red u-mg-top-sm u-vertical-middle">
                                    Annuler
                                </a>
                                <button type="submit"
                                        class="c-btn c-btn--green u-mg-top-sm u-vertical-middle">
                                    Fixer
                                </button>
                            </div>
                        </div>
                        <div class="u-clear"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
