{% extends "main.layout" %}

{% set asideContext = 'sdgs' %}

{% block main %}
    <div class="l-container u-pd">
        <h1 class="c-h1 u-grey25 u-normal-weight u-mg-bottom-sm">
            Liste des Objectifs de Développement Durable (ODD)
        </h1>

        <div class="c-card u-mg-bottom">
            <div class="l-col-6">
                <div class="u-full-width u-pd-left-sm">
                    <a href="{{ route('sdgs.professional.begin') }}" class="c-btn c-btn--primary">
                        Fixer un nouvel objectif
                    </a>
                </div>
            </div>
            <div class="l-col-6">
                <div class="u-full-width u-pd-left-sm">
                    <form action="{{ route('sdgs.professional.exportPdf') }}" method="POST">
                        {{ csrf_field() }}
                        <button class="c-btn c-btn--primary">
                            Export des objectifs réalisés en PDF
                        </button>
                    </form>
                </div>
            </div>
            <div class="u-clear"></div>
        </div>

        <div class="c-card u-flex-center u-flex-wrap u-mg-bottom">
            <div class="u-full-width u-mg-bottom">
                <h2 class="c-h4">Catégories avec des objectifs</h2>
                <small class="u-small">(En gris s'il y a aucun objectif que vous ne vous êtes fixé)</small>
            </div>
            {% for categorySlug, sdgCategory in sdgCategories %}
                <a href="{{ route('sdgs.professional.show',{sdgCategory: categorySlug}) }}"
                   class="c-sdg-card"
                   title="Voir vos objectifs fixé"
                >
                    <img src="{{ asset('assets/img/sdgs/'~categorySlug~'.png') }}"
                         class="c-img js-lazyload {{ sdgCategory.none_begin ? 'u-wb-img-filter' : '' }}"
                         alt="{{ sdgCategory.label }}"/>
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}
