{% extends "main.layout" %}

{% set asideContext = 'sdgs' %}

{% block main %}
    <div class="l-container u-pd">
        <h1 class="c-h1 u-grey25 u-normal-weight u-mg-bottom-sm">
            Liste des ODD : {{ sdgCategory.label }}
        </h1>

        <div class="c-card u-mg-bottom">
            <div class="c-table c-table--layout-fixed">
                <div class="c-table__thead">
                    <div class="c-table__cell c-label">Objectif</div>
                    <div class="c-table__cell c-label">Statut</div>
                    <div class="c-table__cell c-label">Actions</div>
                </div>
                <div class="c-table__tbody">
                    {% if sdgs.isNotEmpty() %}
                        {% for sdg in sdgs %}
                            <div class="c-table__row">
                                <div class="c-table__cell u-pd-right">
                                    {{ sdg.title }}
                                </div>
                                <div class="c-table__cell u-pd-right">
                                    {% if sdg.connected_professional.ended_at %}
                                        Atteint le {{ sdg.connected_professional.ended_at | date('d/m/Y') }}
                                    {% else %}
                                        Commencé le {{ sdg.connected_professional.created_at | date('d/m/Y') }}
                                    {% endif %}
                                </div>
                                <div class="c-table__cell">
                                    <div class="u-flex u-flex-wrap">
                                        {% if not sdg.connected_professional.ended_at %}
                                            <form action="{{ route('sdgs.professional.finish', {sdg: sdg.id}) }}"
                                                  method="POST"
                                                  class="u-inline-block"
                                            >
                                                {{ csrf_field() }}
                                                <input type="hidden" name="_method" value="PUT"/>
                                                <button class="c-btn c-btn--thin c-btn--primary c-btn--green u-mg-bottom u-mg-right-xs"
                                                        title="Objectif {{ sdg.title }} atteint"
                                                >
                                                    Objectif atteint
                                                </button>
                                            </form>
                                            <form action="{{ route('sdgs.professional.stop', {sdg: sdg.id}) }}"
                                                  method="POST"
                                                  class="u-inline-block"
                                            >
                                                {{ csrf_field() }}
                                                <input type="hidden" name="_method" value="PUT"/>
                                                <button class="c-btn c-btn--thin c-btn--primary c-btn--red u-mg-bottom"
                                                        title="Abandonner l'objectif {{ sdg.title }}"
                                                >
                                                    Abandonner
                                                </button>
                                            </form>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="l-grid-row u-mg-top">
            <div class="l-col-6">
                <a href="{{ route('sdgs.professional.begin', {category: sdgCategory.id}) }}"
                   class="c-btn c-btn--secondary u-full-width"
                >
                    Fixer un nouvel objectif
                </a>
            </div>
            <div class="l-col-6">
                <a href="{{ route('sdgs.professional.index', {categorie: sdgCategory.slug}) }}"
                   class="c-btn c-btn--secondary u-full-width"
                >
                    Voir les autres catégories d'Objectif de Développement Durable
                </a>
            </div>
        </div>
    </div>
{% endblock %}


