<section class="sg-section">

	<h2 class="c-h2 sg-h2">Headings</h2>

	<p class="c-p u-mg-bottom-sm">Use tags for semantics and classes for styles.</p>

	<br>

	<div class="sample">
		<h1 class="c-h1">h1 default title</h1>
		<h2 class="c-h2">h2 default title</h2>
	</div>

	<div class="code">
		<pre>
			<code class="language-markup">
				<h1 class="c-h1">h1 default title</h1>
				<h2 class="c-h2">h2 default title</h2>
			</code>
		</pre>
	</div>

</section>
