<section class="sg-section">

	<h2 class="c-h2 sg-h2">Labels</h2>

	<p class="c-p u-mg-bottom-sm">Labels are for table and subtitle.</p>

	<br>

	<div class="sample">
		<label class="c-label">label default</label>
		<p class="c-label">label default text</p>
	</div>

	<div class="code">
		<pre>
			<code class="language-markup">
				<label class="c-label">label default</label>
				<p class="c-label">label default text</p>
			</code>
		</pre>
	</div>

</section>
