<section class="sg-section">

	<h2 class="c-h2 sg-h2">List</h2>

	<p class="c-p u-mg-bottom-sm">c-list defines a styled list.</p>

	<br>

	<div class="sample">
		<ul class="c-list">
			<li>Item list</li>
			<li>Item list</li>
			<li>Item list</li>
		</ul>
	</div>

	<div class="code">
		<pre>
			<code class="language-markup">
				<ul class="c-list">
					<li>Item list</li>
					<li>Item list</li>
					<li>Item list</li>
				</ul>
			</code>
		</pre>
	</div>

</section>
