<section class="sg-section">

	<h2 class="c-h2 sg-h2">Paragraphs</h2>

	<p class="c-p u-mg-bottom-sm">Note: you can add other style with <a href="#">utilities</a> (color, underline...).</p>
	<p class="c-p u-mg-bottom-sm">Note: every following <code>.c-p</code> has a margin-top.</p>

	<br>

	<div class="sample">
		<p class="c-p">Default paragraph : Lorem ipsum dolor sit amet</p>
		<p class="c-p">Long paragraph : Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo a molestias, accusantium nihil, incidunt quasi quia necessitatibus inventore aliquam ab commodi veniam ipsum ipsa, quod repellendus blanditiis dolorum et deserunt.</p>
	</div>

	<div class="code">
		<pre>
			<code class="language-markup">
				<p class="c-p">Default paragraph : Lorem ipsum dolor sit amet, consectetur...</p>
				<p class="c-p">Long paragraph : Lorem ipsum dolor sit amet.... </p>
			</code>
		</pre>
	</div>

</section>
