<section class="sg-section">

	<h2 class="c-h2 sg-h2">Tags</h2>

	<p class="c-p u-mg-bottom-sm">Tags is usefull to add key words. It stacks naturally in inline-block.</p>

	<br>

	<div class="sample">
		<div class="c-tag">#tags</div>
		<div class="c-tag">#information</div>
		<p class="c-tag">#item</p>
		<p class="c-tag">#other</p>
	</div>

	<div class="code">
		<pre>
			<code class="language-markup">
				<div class="c-tag">#tags</div>
				<div class="c-tag">#information</div>
				<p class="c-tag">#item</p>
				<p class="c-tag">#other</p>
			</code>
		</pre>
	</div>

</section>
