<section class="sg-section">

	<h2 class="c-h2 sg-h2">Utilities</h2>

	<h3 class="c-h3 sg-h3">Alignement</h3>

	<div class="sample">
		<p class="c-p">default text</p>
		<p class="c-p u-inline-center">center text</p>
		<p class="c-p u-inline-right">right text</p>
	</div>

	<div class="code">
		<pre>
			<code class="language-markup">
				<p class="c-p">default text</p>
				<p class="c-p u-inline-center">center text</p>
				<p class="c-p u-inline-right">right text</p>
			</code>
		</pre>
	</div>

	<br>

	<h3 class="c-h3 sg-h3">Style</h3>

	<div class="sample">
		<p class="c-p u-uppercase">Uppercase text</p>
		<p class="c-p u-serif">Serif text</p>
		<p class="c-p u-bold">bold text</p>
		<p class="c-p u-italic">italic text</p>
		<p class="c-p u-small">Small text</p>
	</div>

	<div class="code">
		<pre>
			<code class="language-markup">
				<p class="c-p u-uppercase">Uppercase text</p>
				<p class="c-p u-serif">serif text</p>
				<p class="c-p u-bold">bold text !</p>
				<p class="c-p u-italic">italic text</p>
				<p class="c-p u-small">small text</p>
			</code>
		</pre>
	</div>

</section>
