<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet">
        <style type="text/css">
            * {
                font-family: "Roboto Condensed", sans-serif;
                box-sizing: border-box;
            }

            img {
                display: inline-block;
                max-height: 100px;
                max-width: 200px;
            }

            h1 {
                display: inline-block;
                font-size: 25px;
                margin-left: 20px;
                text-transform: uppercase;
                line-height: 100px;
            }

            h3 {
                font-size: 20px;
            }

            .text-right {
                text-align: right;
            }

            .text-left {
                text-align: left;
            }

            .text-center {
                text-align: center;
            }

            th {
                border-bottom: solid 1px gray;
                text-transform: uppercase;
            }

            .w-50 {
                width: 50%;
                display: inline-block;
                vertical-align: top;
            }

            .mt-20 {
                margin-top: 20px;
            }

            .mt-30 {
                margin-top: 30px;
            }

            .py-20 {
                padding: 20px 0;
            }

            .pl-20 {
                padding-left: 20px;
            }

            .pt-20 {
                padding-top: 20px;
            }

            table {
                width: 100%;
                border-collapse: collapse;
            }

            table th {
                text-align: left;
                font-weight: 300;
            }

            table td {
                padding: 5px 0;
            }

            .sdg-category-row > td {
                padding-top: 15px;
                font-size: 18px;
            }

            .sdg-row > td {
                border-bottom: 1px solid lightgray;
            }

            .sdg-row > td:first-child {
                padding-left: 20px;
            }

            .sdg-row > td > .icon {
                margin-left: 20px;
                font-size: 30px;
            }

            .no-break {
                page-break-inside: avoid;
            }
        </style>
    </head>
    <body>
        <div>
            <div class="pl-20 pt-20">
                <img src="{{ public_path('assets/img/meta/favicon-196x196.png') }}">
                <h1 class="py-20">Objectifs de Développement Durable</h1>
            </div>
        </div>
        <div class="mt-30">
            <h3>{{ user.name }}</h3>
        </div>

        <div class="mt-20">
            <table>
                {% for sdgCategory,sdgs in sdgCategories %}
                    <tr class="sdg-category-row">
                        <td colspan="2"><b>{{ config('sdg.categories.id_raw.'~sdgCategory).label }}</b></td>
                    </tr>
                    {% for sdg in sdgs %}
                        <tr class="sdg-row">
                            <td>{{ sdg.title }}</td>
                            <td>
                                <div class="icon">
                                    <img src="{{ public_path('assets/img/icons/checkbox-marked-circle-outline.png') }}">
                                </div>
                            </td>
                        </tr>

                    {% endfor %}
                {% endfor %}
            </table>
        </div>

        <div class="mt-30 no-break">
            <div class="w-50">
                <p>
                    {{ config('somoney.contact.title') }}<br>
                    {{ config('somoney.contact.address') }}
                    {{ config('somoney.contact.zipcode') }}
                    {{ config('somoney.contact.city') }}<br>
                </p>
            </div>

            <div class="w-50 u-mg-top">
                <p>
                    {% if config('somoney.contact.phone') %}
                        {{ config('somoney.contact.phone') }} |
                    {% endif %}
                    {{ config('somoney.contact.email') }}<br>
                    <a href="{{ getProtocol() ~  config('somoney.domain.landing') }}">
                        {{ config('somoney.domain.landing') }}
                    </a>
                </p>
            </div>
            <div class="w-50">
                <p class="text-right">
                    {% if config('somoney.contact.siret') %}
                        {{ config('somoney.contact.siret') }}
                    {% endif %}
                    {% if config('somoney.contact.siret') and config('somoney.contact.naf') %} | {% endif %}
                    {% if config('somoney.contact.naf') %}
                        {{ config('somoney.contact.naf') }}
                    {% endif %}
                </p>
            </div>
        </div>
    </body>
</html>
