// Styleguide variables
// --------------------------
@import "../../../custom-data/current/assets/variables";
@import "../global/colors";
@import "../global/variables";

// Styleguide colors
$sg-aside-header-mobile: 120px;
$sg-aside-width: 260px;
$sg-grey-border: #eaeaea;
$sg-grey-background: #fafafa;
$sg-black-title: #444;
$sg-black-text: #888;
$sg-darken-black-text: darken($sg-black-text, 15%);
$sg-blue: #337ab7;
$sg-white: #fff;
$sg-black: #000;

// Styleguide breakpoints
$sg-breakpoint: $screen-sm-min;
$sg-breakpoint-max: $screen-md-min;

// Styleguide dependencies
// --------------------------

// Needed Bootstrap Mixins
@import "~bootstrap-sass/assets/stylesheets/bootstrap/mixins/reset-filter";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/mixins/vendor-prefixes";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/mixins/nav-divider";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/mixins/border-radius";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/mixins/clearfix";
// Needed Bootstrap components
@import "~bootstrap-sass/assets/stylesheets/bootstrap/component-animations";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/dropdowns";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/navs";

// Styleguide core CSS
// --------------------------

.container,
.container-fluid {
    padding: 0;
}

$dev-remove-aside: false;

@if ($dev-remove-aside == true) {
    .sg-aside {
        display: none !important;
    }
    .sg-section {
        padding: 0 !important;
    }
}

//Header
.sg-main {
    .sg-logo,
    .sg-logo > svg {
        height: 50px;
        display: block;
        margin: 0 auto 10px;
    }

    .sg-sublogo {
        font-size: 10px;
        text-transform: uppercase;
        letter-spacing: 3px;
        color: $sg-black-title;
        text-align: center;
    }

    .sg-a {
        text-decoration: none;
    }

    .sg-color {
        font-size: 16px;
        margin-bottom: 10px;
        width: 100%;
        height: 50px;
        text-transform: none;

        &:before {
            content: ' ';
            display: block;
            width: 50px;
            height: 50px;
            border-radius: 4px;
            float: left;
            margin-right: 10px;
            border: 1px solid $black;
        }

        //Colors
        &.sg-color-bkg-primary:before {
            background: $primary;
        }

        &.sg-color-bkg-primary-dark:before {
            background: $primary-dark;
        }

        &.sg-color-bkg-secondary:before {
            background: $secondary;
        }

        &.sg-color-bkg-secondary-dark:before {
            background: $secondary-dark;
        }

        &.sg-color-bkg-tertiary:before {
            background: $tertiary;
        }

        &.sg-color-bkg-tertiary-dark:before {
            background: $tertiary-dark;
        }

        &.sg-color-bkg-green:before {
            background: $green;
        }

        &.sg-color-bkg-red:before {
            background: $red;
        }

        &.sg-color-bkg-grey10:before {
            background: $grey10;
        }

        &.sg-color-bkg-grey20:before {
            background: $grey20;
        }

        &.sg-color-bkg-grey30:before {
            background: $grey30;
        }

        &.sg-color-bkg-grey40:before {
            background: $grey40;
        }

        &.sg-color-bkg-grey50:before {
            background: $grey50;
        }

        &.sg-color-bkg-grey60:before {
            background: $grey60;
        }
    }

    .sg-h2 {
        margin-top: 0;
        margin-bottom: 40px;
        //	color: $brand-secondary;
        font-size: 32px;
    }

    .sg-h3 {
        margin-bottom: 30px;
    }

    .sg-hr {
        margin: 60px 0 50px;
    }

    pre {
        padding: 0 15px;
    }

    code {
        color: $secondary;
    }
}

//Header mobile
.sg-mobile-header {
    padding: 20px 0;
    border-bottom: 1px solid $sg-grey-border;
    background: $sg-white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    transform: translateX(0);
    transition: transform 0.4s;
    display: block;
    @media (min-width: $sg-breakpoint) {
        display: none;
    }

    .sg-menu-burger {
        width: 40px;
        height: 40px;
        position: absolute;
        left: 15px;
        top: 50%;
        transform: translateY(-50%);
        padding: 20px;

        span {
            display: block;
            height: 2px;
            width: 20px;
            background: $secondary;
            border-radius: 2px;
            position: absolute;
            left: 10px;
            transition: transform 0.8s, opacity 0.2s;

            &:nth-child(1) {
                top: 21px;
                transform: translateY(-7px);
            }

            &:nth-child(2) {
                top: 21px;
            }

            &:nth-child(3) {
                top: 21px;
                transform: translateY(7px);
            }
        }

        &:hover {
            cursor: pointer;

            span {
                background: darken($secondary, 15%);
            }
        }
    }
}

//Aside
.sg-aside {
    border-right: 1px solid $primary-dark;
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    width: $sg-aside-width;
    height: 100%;
    background: $primary;
    overflow: hidden;
    @media (min-width: $sg-breakpoint) {
        transform: none;
        z-index: 1;
    }

    .sg-aside__overflow {
        height: 100%;
        overflow: auto;
    }
}

.sg-aside__header {
    padding: 40px 0;
    border-bottom: 1px solid $primary-dark;
    background: $sg-white;
    position: relative;
    display: none;
    @media (min-width: $sg-breakpoint) {
        display: block;
    }
}

.sg-aside__nav {
    padding: 0;
    margin: 0;
    list-style: none;

    li {
        a {
            padding: 15px 40px 15px 15px;
            display: block;
            border-bottom: 1px solid $primary-dark;
            color: $sg-white;
            position: relative;
            font-size: 16px;

            .collapse-caret {
                fill: $sg-white;
                position: absolute;
                right: 30px;
                top: 50%;
                transform: translateY(-50%) rotate(0);
                transition: transform 0.4s;
            }

            &.open {
                .collapse-caret {
                    transform: translateY(-50%) rotate(-540deg);
                }
            }
        }
    }
}

.sg-aside__subnav {
    padding: 0;
    list-style: none;
    background: $primary-dark;
    border-bottom: 1px solid $primary-dark;

    li {
        a {
            padding: 10px 40px;
            border: none;
            color: $sg-white;
            font-size: 14px;

            &:hover {
                color: $sg-darken-black-text;
            }
        }

        &.active {
            a {
                color: $secondary;
            }
        }
    }
}

.sg-table {
    width: 100%;
    max-width: 700px;
    background-color: $sg-white;

    td {
        border: 1px solid $sg-grey-border;
        padding: 15px;
    }
}

//Main content
.sg-main-content {
    min-height: 100vh;
    background: $sg-white;
    transition: transform 0.4s;

    .sg-section {
        padding: 40px + $sg-aside-header-mobile 40px 40px 40px;
        @media (min-width: $sg-breakpoint) {
            padding: 80px 80px 80px calc(#{$sg-aside-width} + 80px);
        }
    }
}

//Mobile behavior
.sg-menu-is-open {
    overflow: hidden;

    .sg-menu-burger {
        span {
            &:nth-child(1) {
                transform: translateY(0) rotate(45deg);
            }

            &:nth-child(2) {
                opacity: 0;
            }

            &:nth-child(3) {
                transform: translateY(0) rotate(-45deg);
            }
        }
    }

    .sg-mobile-header,
    .sg-main-content {
        transform: translateX(#{$sg-aside-width});
        overflow: hidden;
    }

    .sg-aside {
        transform: none;
    }
}
