<div class="modal fade"
     id="{{ id | default('qr-code-modal') }}"
     tabindex="-1"
     role="dialog"
     aria-labelledby="qr-code-modal">
    <div class="modal-dialog modal-lg u-mg-hz-auto" role="document">
        <div class="modal-content">
            <button type="button" class="c-modal-content__close-btn" data-dismiss="modal" aria-label="Close"><span
                    aria-hidden="true">×</span></button>
            <div class="u-inline-center u-mg-top-lg u-mg-bottom">
                <h3 class="c-h2 u-pd-top">{{ label }}</h3>
            </div>
            <div class="u-inline-center u-w-auto u-mg-bottom">
                <img src="{{ userQrCodePoster }}" class="u-w-800px u-max-w-100 u-inline-block" alt="Affiche Qr code"/>
            </div>
            <div class="u-inline-center u-mg-bottom">
                <a href="{{ userQrCodeImage }}"
                   download="{{ 'qr-code-'~config('somoney.money') }}.png"
                   class="c-btn c-btn--primary u-mg-hz-sm"
                >
                    Télécharger le QR code <i class="fas fa-download"></i>
                </a>
                <a href="{{ userQrCodePoster }}"
                   download="{{ 'qr-code-poster-'~config('somoney.money') }}.jpg"
                   class="c-btn c-btn--primary u-mg-hz-sm"
                >
                    Télécharger l'affiche <i class="fas fa-download"></i>
                </a>
            </div>
        </div>
    </div>
</div>
