{% if session('registerAccountExist') %}
    {% include "main.components.modal" with {
        'id' : 'accountExistModal',
        'attributes' : 'data-show',
        'color' : 'secondary',
        'icon' : 'information',
        'message' : "Votre adresse e-mail est lié à une inscription non terminée.<hr/>
        Nous vous avons envoyé un e-mail pour terminer cette inscription.<hr/>",
    } %}
{% endif %}

{% if session('registerNotFinished') %}
    {% include "main.components.modal" with {
        'id' : 'registerNotFinishedModal',
        'attributes' : 'data-show',
        'color' : 'secondary',
        'icon' : 'information',
        'message' : "Votre inscription n'est pas terminée !<hr/>
        Nous vous avons envoyé un e-mail pour terminer cette inscription.<hr/>",
    } %}
{% endif %}

{% if session('registerNeedMembership') %}
    {% include "main.components.modal" with {
        'id' : 'registerNeedMembershipModal',
        'attributes' : 'data-show',
        'color' : 'secondary',
        'icon' : 'information',
        'message' : "Votre inscription n'est pas terminée !<hr/>
        Vous devez adhérer à l'association pour finaliser votre compte<br/>
        Nous vous avons envoyé un e-mail pour terminer cette inscription.<hr/>",
    } %}
{% endif %}

{% if session('registerNotValidated') %}
    {% include "main.components.modal" with {
        'id' : 'registerNotValidatedModal',
        'attributes' : 'data-show',
        'color' : 'secondary',
        'icon' : 'information',
        'message' : "Votre inscription n'est pas terminée !<hr/>
        Vous devez valider votre adresse e-mail pour la terminer<br>
        Nous vous avons envoyé un e-mail pour terminer cette inscription.<hr/>",
    } %}
{% endif %}