{% if session('validationTokenExpired') %}
    {% include "main.components.modal" with {
        'id' : 'validationTokenExpired',
        'attributes' : 'data-show',
        'color' : 'secondary',
        'icon' : 'information',
        'message' : "Le token a expiré",
    } %}
{% endif %}