{% extends "main.layout" %}

{% set asideContext = 'admin.notifications.index' %}

{% block main %}
    <div class="l-container u-pd">
        <h1 class="c-h1 u-grey25 u-normal-weight u-mg-bottom-sm">Liste des notifications</h1>
        <div class="c-card u-mg-bottom">
            <div class="l-container">
                <h2 class="c-h2 u-mg-bottom">Nouvelle notification</h2>
                <form method="POST"
                      action="{{ route('admin.notification.store',{notification: notification.id}) }}"
                      class="u-mg-top u-vertical-center">
                    {{ csrf_field() }}
                    {% include 'main.partials.form-errors' %}

                    <div class="l-col-6 u-mg-bottom-sm">
                        <div class="c-form-group">
                            <label class="c-form-label" for="message">Message</label>
                            <textarea rows="3"
                                      class="c-form-control c-form-control--textarea js-form-control"
                                      id="message"
                                      name="message">{{ old('message') }}</textarea>
                        </div>
                    </div>

                    <div class="l-col-3 u-mg-bottom-sm">
                        <div class="c-form-group">
                            <label class="c-form-label" for="groups">Groupes</label>
                            <div class="c-addon-container">
                                <select id="groups"
                                        class="c-form-control c-form-control--select js-form-control"
                                        name="groups">
                                    {% for group in config('notifications.groups') %}
                                        <option value="{{ group }}">{{ __('notifications.groups.'~group) }}</option>
                                    {% endfor %}
                                </select>
                                <span class="c-icon icon-chevron-down" aria-hidden="true"></span>
                            </div>
                        </div>
                    </div>
                    <div class="u-inline-right u-mg-top-lg">
                        <div class="u-inline-block">
                            <button type="submit" class="c-btn c-btn--stroke c-btn--green u-mg-top-sm">Ajouter</button>
                        </div>
                    </div>
                    <div class="u-clear"></div>
                </form>
            </div>
        </div>

        <div class="c-card u-mg-bottom">
            <div class="l-container">
                <div class="c-table">
                    <div class="c-table__thead">
                        <div class="c-table__cell c-label">Date</div>
                        <div class="c-table__cell c-label">Message</div>
                        <div class="c-table__cell c-label">Groupes</div>
                        <div class="c-table__cell c-label">Display</div>
                        <div class="c-table__cell c-label"></div>
                    </div>
                    <div class="c-table__tbody">
                        {% for notification in notifications %}
                            <div class="c-table__row">
                                <div class="c-table__cell">
                                    {{ notification.updated_at|date('d/m/Y') }}
                                </div>
                                <div class="c-table__cell">
                                    {{ notification.message }}
                                </div>
                                <div class="c-table__cell">
                                    {{ __('notifications.groups.'~notification.groups) }}
                                </div>
                                <div class="c-table__cell">
                                    {{ notification.display ? 'Oui' : 'Non' }}
                                </div>
                                <div class="c-table__cell">
                                    <form method="POST"
                                          action="{{ route('admin.notification.destroy', {notification: notification.id}) }}"
                                          class="u-inline-block u-mg-top u-vertical-center">
                                        <input type="hidden" name="_method" value="DELETE">
                                        {{ csrf_field() }}
                                        <button type="submit" class="c-btn c-btn--stroke c-btn--red c-btn--squeeze">
                                            Supprimer
                                        </button>
                                    </form>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
