{% extends "main.layout" %}

{% set asideContext = 'operations.credit.payment.bank-card' %}

{% block main %}
    <div class="l-container u-pd">
        <div class="l-grid-row">
            <div class="l-col-8">

                <h1 class="c-h1 u-grey25 u-normal-weight u-mg-bottom-sm">Créditer mon compte</h1>

                <div class="c-card">
                    {% if(config('somoney.payment-gateway') == 'lemonway') %}
                        <iframe src="{{ initPayment }}"
                                class="u-full-width"
                                style="height: 1000px"
                                frameborder="0"></iframe>
                    {% elseif(config('somoney.payment-gateway') == 'system-pay') %}
                        <iframe src="{{ route('system_pay.form', [initPayment]) }}"
                                class="u-full-width"
                                style="height: 500px"
                                frameborder="0"></iframe>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    {% include "main.components.modal" with {
        id : 'payment-lock',
        color : 'red',
        icon : 'cross',
        message : "Le temps pour le paiment est dépassé!<br/>Veuillez recharger la page.",
    } %}
{% endblock %}
