{% extends "main.layout" %}

{% set asideContext = 'operations.credit.payment.sepa' %}

{% block main %}
    <div class="l-container u-pd">
        <div class="l-grid-row">
            <div class="l-col-8">

                <div class="l-grid-row u-mg-bottom">
                    <div class="l-col-8 u-mg-top">
                        <h1 class="c-h1 u-grey25 u-normal-weight u-mg-bottom-sm">Créditer mon compte en SEPA</h1>
                    </div>
                    <div class="l-col-4">
                        <img src="{{ asset('assets/img/logo-sepa.png') }}"
                             alt="logo SEPA"
                             height="100"
                             class="c-img u-object-fit-contain">
                    </div>
                </div>

                <div class="c-card">
                    <form method="POST" action="{{ route('operations.credit.payment.sepa.store') }}">

                        {{ csrf_field() }}

                        {% include 'main.partials.form-errors' %}
                        <input type="hidden" name="max_amount" value="{{ maxAmount }}" />

                        {% include 'main.components.form-amount-converted' with {type: 'simple.minimal-sepa'} %}

                        {% include 'main.components.form-sepa' %}

                        <div class="u-inline-right u-mg-top">
                            <button type="submit" class="c-btn c-btn--green">Valider</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>

{% endblock %}
