<h2 class="c-h2 u-mg-bottom">Ma structure</h2>
<div class="l-grid-row">
    <div class="l-col-6">
        <div class="c-form-group u-mg-bottom-sm">
            <label class="c-form-label c-form-label--required" for="name">Raison sociale ou identifiant</label>
            <input type="text"
                   class="c-form-control js-form-control"
                   id="name"
                   name="user[name]"
                   placeholder="Raison sociale"
                   value="{{ user.name }}">
        </div>
    </div>
    <div class="l-col-6">
        <div class="c-form-group u-mg-bottom-sm">
            <label class="c-form-label" for="website">Site web</label>
            <input type="text"
                   class="c-form-control js-form-control"
                   id="website"
                   name="user[customValues][website]"
                   placeholder="http://www.monsiteweb.fr/"
                   value="{{ user.customValues.website }}">
        </div>
    </div>
    <div class="l-col-6">
        <div class="c-form-group u-mg-bottom-sm">
            <label class="c-form-label c-form-label--required" for="mailpro">E-mail de la structure</label>
            <input type="email"
                   class="c-form-control js-form-control"
                   id="mailpro"
                   name="user[customValues][mailpro]"
                   placeholder="contact@monentreprise.fr"
                   value="{{ user.customValues.mailpro }}">
        </div>
    </div>
</div>

<hr class="u-mg-vt">

<h2 class="c-h2 u-mg-bottom">Référent</h2>

{% include 'framework.components.form.gender' %}
{% include 'framework.components.form.names' %}



<div class="l-grid-row">
    <div class="l-col-6">
        <div class="c-form-group u-mg-bottom-sm">
            {% include 'framework.components.form.fields.born-date' %}
        </div>
    </div>
    <div class="l-col-6">
        <div class="c-form-group u-mg-bottom-sm">
            <label class="c-form-label c-form-label--required" for="email">E-mail</label>
            <input type="email"
                   class="c-form-control js-form-control"
                   id="email"
                   name="user[email]"
                   placeholder="contact@monentreprise.fr"
                   value="{{ user.email }}">
        </div>
    </div>
</div>

<div class="l-grid-row">
    <div class="l-col-6">
        <div class="c-form-group u-mg-bottom-sm">
            {% include 'framework.components.form.fields.phone' %}
        </div>
    </div>
</div>

<hr class="u-mg-vt">

<h2 class="c-h2 u-mg-bottom">Adresse postale</h2>

{% include 'framework.components.form.address' with {forceHideAddressNotFound: true} %}

<hr class="u-mg-vt">

<h2 class="c-h2 u-mg-bottom">Mon activité</h2>
<div class="c-form-group">
    <label class="c-form-label" for="category">Catégorie *</label>
    <div class="c-addon-container">
        <select id="category"
                name="user[customValues][catpro]"
                class="c-form-control c-form-control--select js-form-control">
            <option>Choix de la catégorie</option>
            {% for category in professionalCategories %}
                <option value="{{ category.id }}"
                        {% if user.customValues.catpro[0].id == category.id %}selected="selected"{% endif %}>{{ category.value }}</option>
            {% endfor %}
        </select>
        <span class="c-icon icon-chevron-down" aria-hidden="true"></span>
    </div>
</div>
<div class="c-form-group u-mg-bottom-sm">
    <label class="c-form-label" for="aboutMe">Descriptif du professionnel</label>
    <textarea rows="3"
              class="c-form-control c-form-control--textarea js-form-control"
              id="aboutMe"
              name="user[customValues][aboutMe]">{{ user.customValues.aboutMe }}</textarea>
</div>
<div class="c-form-group u-mg-bottom-sm">
    <label class="c-form-label" for="keyword">Mots clés
        <span class="c-icon icon-information js-tooltip-trigger c-tooltip-trigger"
              tabindex="0"
              aria-hidden="true"
              title=""
              data-original-title="séparé par une virgule"></span></label>
    <input type="text"
           class="c-form-control js-form-control"
           id="keyword"
           name="user[customValues][keywords]"
           data-tagify
           value="{{ user.customValues.keywords }}" />
</div>

<hr class="u-mg-vt">

<h2 class="c-h2 u-mg-bottom">Réseaux sociaux</h2>
<div class="l-grid-row">
    <div class="l-col-6">
        <div class="c-form-group u-mg-bottom-sm">
            <label class="c-form-label" for="facebookurl">Facebook</label>
            <input type="url"
                   class="c-form-control js-form-control"
                   id="facebookurl"
                   name="user[customValues][facebookurl]"
                   placeholder="https://facebook.com/nompage"
                   value="{{ user.customValues.facebookurl }}">
        </div>
    </div>
    <div class="l-col-6">
        <div class="c-form-group u-mg-bottom-sm">
            <label class="c-form-label" for="twitterurl">Twitter</label>
            <input type="url"
                   class="c-form-control js-form-control"
                   id="twitterurl"
                   name="user[customValues][twitterurl]"
                   placeholder="https://twitter.com/nompage"
                   value="{{ user.customValues.twitterurl }}">
        </div>
    </div>
</div>
