// badge mixin
// basic style for badge
// -------------------------

@mixin badge() {
    position: relative;
    display: block;
    width: $badge-size;
    height: $badge-size;
    line-height: $badge-size;
    border-radius: 50%;
    text-align: center;
    overflow: hidden;
    background-color: $grey30;
    color: $white;

    .c-p,
    .c-icon {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
    }

    &--sm {
        width: $badge-size-sm;
        height: $badge-size-sm;
        line-height: $badge-size-sm;
    }
}
