// Container mixin
// Add container properties to an element
// -------------------------

@mixin container($column) {
    margin-right: auto;
    margin-left: auto;
    max-width: 100%;

    @media (min-width: $screen-sm-min) {
        width: ($container-sm * $column) / 12;
    }
    @media (min-width: $screen-md-min) {
        width: ($container-md * $column) / 12;
    }
    @media (min-width: $screen-lg-min) {
        width: ($container-lg * $column) / 12;
    }
}
