//# ------------------------
//# Special colors
//# ------------------------
$red: #e43439;
$green: #4caf50;
$orange: #ffa500;
$blue: #71bdc7;
$primary: #71bdc7;
$secondary: #dece11;
$tertiary: #cbbb9d;

//# ------------------------
//# Brand colors
//# ------------------------

$business: #dece11;
$customer: #cbbb9d;
$admin: #71bdc7;

//# ------------------------
//# Font
//# ------------------------
$font-sans-serif: Adonide, Arial, Helvetica, sans-serif;
$font-base: Open Sans, Arial, Helvetica, sans-serif;
