{% extends "main.layout" %}

{% set asideContext = 'admin.cev.index' %}

{% block main %}
	<div class="l-container u-pd">
		<h1 class="c-h1 u-grey25 u-normal-weight u-mg-bottom-sm">Liste des erreurs CEV</h1>

		<div class="c-card u-mg-bottom">
			<h2 class="c-h2 u-mg-bottom">Consulter</h2>
			<div class="l-container">
				<div class="c-table">
					<div class="c-table__thead">
						<div class="c-table__cell c-label">Date</div>
						<div class="c-table__cell c-label">Fichier</div>
						<div class="c-table__cell c-label">Description</div>
						<div class="c-table__cell c-label">Ligne</div>
					</div>
					<div class="c-table__tbody">
						{% for cevEvent in cevEvents.items %}
						<div class="c-table__row">
							<div class="c-table__cell">{{ cevEvent.created_at }}</div>
							<div class="c-table__cell">{{ cevEvent.file_name }}</div>
							<div class="c-table__cell">{{ cevEvent.label }}</div>
							<div class="c-table__cell">{{ cevEvent.line }}</div>
						</div>
						{% endfor %}
					</div>
				</div>
			</div>

			<div class="l-grid-table u-pd-sm">
				<div class="l-grid-table__cell">
					{% if cevEvents.currentPage > 1 %}
					<a href="{{ route('admin.cev.index', {'page' : cevEvents.currentPage - 1}) }}" class="c-label c-link u-uppercase">
						<span class="c-icon icon-chevron-left"></span> Page précédente
					</a>
					{% endif %}
				</div>
				<div class="l-grid-table__cell u-inline-right">
					{% if cevEvents.currentPage < cevEvents.lastPage %}
					<a href="{{ route('admin.cev.index', {'page' : cevEvents.currentPage + 1}) }}" class="c-link c-label u-uppercase">
						Page suivante<span class="c-icon icon-chevron-right"></span>
					</a>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
