// Import production variables
// ------------------
@import "../../../custom-data/current/assets/variables";
@import "../global/colors";
@import "../global/variables";
@import "../global/bootstrap-variables";

// Reassign Zurb variables
// ------------------

$primary-color: $primary;
$secondary-color: $secondary;

$success-color: $green;
$warning-color: $blue;
$alert-color: $red;

// $light-gray: #f3f3f3 !default;
// $medium-gray: #cacaca !default;
// $dark-gray: #8a8a8a !default;

// $black: #0a0a0a !default;
// $white: #fefefe !default;

// $pre-color: #ff6908 !default;

// $global-width: 580px !default;
// $global-width-small: 95% !default;
// $global-gutter: 16px !default;

// $body-background: $light-gray !default;
// $container-background: $white !default;

// $global-padding: 16px !default;
// $global-margin: 16px !default;
// $global-radius: 3px !default;
// $global-rounded: 500px !default;

// $global-breakpoint: $global-width + $global-gutter !default;

// .wrapper {
// 	idth: 100%;
// }
