// Import Foundation
@import "~foundation-emails/scss/foundation-emails";
// Import SoMoney styles
@import "../components/typography/headings";
@import "../components/buttons/buttons";

a {
    color: $black;
}

// Global
a:not(.c-btn) {
    text-decoration: underline;
}

strong {
    font-size: $font-size-large;
}

// Typography
.c-p {
    font-family: $font-family-sans-serif;
    font-size: $font-size-base;
    line-height: 1.5;
    margin-bottom: 0;

    & + & {
        margin-top: 10px;
    }
}

// Buttons
.c-btn a {
    min-width: 200px;
    text-align: center;
}

.newsletter-image img {
    max-height: 200px;
    width: auto;
}

.text-center {
    text-align: center;
}
