<section class="sg-section">

	<h2 id="container" class="c-h2 sg-h2">Container</h2>

	<p class="c-p u-mg-bottom-sm">A container can be used to reduce the <code>width</code> of a content in the view, and center it.</p>
	<p class="c-p u-mg-bottom-sm">The default <code>l-container</code> which sets a different width to the contain according tho the media queries.</p>
	<p class="c-p u-mg-bottom-sm">5 other sizes are made available for smaller containers.</p>

	<br>

	<div class="sample">

		<div class="l-container">
			<div style="width: 100%; height: 60px; background-color: #f5f5f5; border: 1px solid #d5d5d5; margin-bottom: 30px;"></div>
		</div>

		<div class="l-container-10">
			<div style="width: 100%; height: 60px; background-color: #f5f5f5; border: 1px solid #d5d5d5; margin-bottom: 30px;"></div>
		</div>

		<div class="l-container-8">
			<div style="width: 100%; height: 60px; background-color: #f5f5f5; border: 1px solid #d5d5d5; margin-bottom: 30px;"></div>
		</div>

		<div class="l-container-6">
			<div style="width: 100%; height: 60px; background-color: #f5f5f5; border: 1px solid #d5d5d5; margin-bottom: 30px;"></div>
		</div>

		<div class="l-container-4">
			<div style="width: 100%; height: 60px; background-color: #f5f5f5; border: 1px solid #d5d5d5; margin-bottom: 30px;"></div>
		</div>

		<div class="l-container-2">
			<div style="width: 100%; height: 60px; background-color: #f5f5f5; border: 1px solid #d5d5d5; margin-bottom: 30px;"></div>
		</div>

	</div>

	<div class="code">

		<pre>
			<code class="language-markup">
				<div class="l-container">...</div>

				<div class="l-container-10">...</div>

				<div class="l-container-8">...</div>

				<div class="l-container-6">...</div>

				<div class="l-container-4">...</div>

				<div class="l-container-2">...</div>
			</code>
		</pre>

	</div>

</section>
