<section class="sg-section">

	<h2 class="c-h2 sg-h2">Grid nav</h2>

	<p class="c-p u-mg-bottom-sm">The nav grid is used to display a navigation aside menu.</p>

	<br>

	<div class="sample">

		<div class="l-dashboard">
			<div class="l-dashboard__aside" style="position: absolute; top: 0;">
				<div style="height: 200px; background-color: #fafafa; border: 1px solid #d5d5d5; padding: 15px;">Lorem ipsum</div>
			</div>
			<div class="l-dashboard__main">
				<div style="height: 200px; background-color: #f5f5f5; border: 1px solid #d5d5d5; padding: 15px;">Dolor sic amet</div>
			</div>
		</div>

	</div>


	<div class="code">
		<pre>
 			<code class="language-markup">
				<div class="l-dashboard">
					<div class="l-dashboard__aside">
						<div>Lorem ipsum</div>
					</div>
					<div class="l-dashboard__main">
						<div>Dolor sic amet</div>
					</div>
				</div>
 			</code>
		</pre>
	</div>

</section>
