<section class="sg-section">

	<h2 class="c-h2 sg-h2">Grid</h2>

	<p class="c-p u-mg-bottom-sm">l-col-X classes define the number of colums used in one column and break at <code>main-breakpoint</code> to make a unique column.</p>
	<p class="c-p u-mg-bottom-sm">You can add <code>-sm</code> or <code>-lg</code> at the end of the class to add another breakpoint</p>
    <p class="c-p u-mg-bottom-sm">Every grid need to be inside a <code>l-container.</code></p>

	<br>

	<div class="sample">

			<div class="l-container">
				<div class="l-grid-row">
					<div class="l-col-6 l-col-3-sm">
						<div style="width: 100%; height: 50px; background-color: #f5f5f5; border: 1px solid #d5d5d5; margin-bottom: 20px;"></div>
					</div>
					<div class="l-col-6 l-col-3-sm">
						<div style="width: 100%; height: 50px; background-color: #f5f5f5; border: 1px solid #d5d5d5; margin-bottom: 20px;"></div>
					</div>
					<div class="l-col-6 l-col-3-sm">
						<div style="width: 100%; height: 50px; background-color: #f5f5f5; border: 1px solid #d5d5d5; margin-bottom: 20px;"></div>
					</div>
					<div class="l-col-6 l-col-3-sm">
						<div style="width: 100%; height: 50px; background-color: #f5f5f5; border: 1px solid #d5d5d5; margin-bottom: 20px;"></div>
					</div>
				</div>

    			<div class="l-grid-row">
    				<div class="l-col-4">
    					<div style="width: 100%; height: 50px; background-color: #f5f5f5; border: 1px solid #d5d5d5; margin-bottom: 20px;"></div>
    				</div>
    				<div class="l-col-4">
    					<div style="width: 100%; height: 50px; background-color: #f5f5f5; border: 1px solid #d5d5d5; margin-bottom: 20px;"></div>
    				</div>
    				<div class="l-col-4">
    					<div style="width: 100%; height: 50px; background-color: #f5f5f5; border: 1px solid #d5d5d5; margin-bottom: 20px;"></div>
    				</div>
    			</div>

    			<div class="l-grid-row">
    				<div class="l-col-4">
    					<div style="width: 100%; height: 50px; background-color: #f5f5f5; border: 1px solid #d5d5d5; margin-bottom: 20px;"></div>
    				</div>
    				<div class="l-col-8">
    					<div style="width: 100%; height: 50px; background-color: #f5f5f5; border: 1px solid #d5d5d5; margin-bottom: 20px;"></div>
    				</div>
    			</div>
            </div>

	</div>

	<div class="code">
		<pre>
 			<code class="language-markup">

                <div class="l-container">
                    <div class="l-grid-row">
    					<div class="l-col-6 l-col-3-sm">
    						...
    					</div>
    					<div class="l-col-6 l-col-3-sm">
    						...
    					</div>
    					<div class="l-col-6 l-col-3-sm">
    						...
    					</div>
    					<div class="l-col-6 l-col-3-sm">
    						...
    					</div>
    				</div>
                </div>

                <div class="l-container">
                    <div class="l-grid-row">
    					<div class="l-col-4">
    						...
    					</div>
    					<div class="l-col-4">
    						...
    					</div>
    					<div class="l-col-4">
    						...
    					</div>
    				</div>
                </div>

                <div class="l-container">
                    <div class="l-grid-row">
    					<div class="l-col-4">
    						...
    					</div>
    					<div class="l-col-8">
    						...
    					</div>
    				</div>
                </div>
 			</code>
		</pre>
	</div>

</section>
