<section class="sg-section">

	<h2 class="c-h2 sg-h2">Grid table</h2>

	<p class="c-p u-mg-bottom-sm">The table grid is useful to place some element as if they were in a table. The use of the <code>table</code> CSS display property can, <span class="u-bold">in some specific cases</span>, facilitate the positionning of some elements, letting the browser automatically calculate the width or allowing the use of the <code>vertical-align: middle;</code> CSS property.</p>
	<p class="c-p u-mg-bottom-sm">Beware the fact that a table display is not a responsive layout.</p>
	<p class="c-p u-mg-bottom-sm">The table grid is not a table.</p>
	<p class="c-p u-mg-bottom-sm">Note that the <code>.l-grid-table</code> is made of <code>.l-grid-table__cell</code> that can have a <code>--main</code> modifier, so the cell occupies all the available space (see the second sample).</p>

	<br>

	<div class="sample">

	<div class="l-grid-table">
		<div class="l-grid-table__cell">
			<div style="background-color: #f5f5f5; border: 1px solid #d5d5d5; padding: 15px;">Lorem ipsum</div>
		</div>
		<div class="l-grid-table__cell">
			<div style="background-color: #f5f5f5; border: 1px solid #d5d5d5; padding: 15px;">Dolor sic amet</div>
		</div>
		<div class="l-grid-table__cell">
			<div style="background-color: #f5f5f5; border: 1px solid #d5d5d5; padding: 15px;">Consectetur adipisicing</div>
		</div>
		<div class="l-grid-table__cell">
			<div style="background-color: #f5f5f5; border: 1px solid #d5d5d5; padding: 15px;">Facilis</div>
		</div>
	</div>

	<br>

	<div class="l-grid-table">
		<div class="l-grid-table__cell">
			<div style="background-color: #f5f5f5; border: 1px solid #d5d5d5; padding: 15px;">Lorem ipsum</div>
		</div>
		<div class="l-grid-table__cell">
			<div style="background-color: #f5f5f5; border: 1px solid #d5d5d5; padding: 15px;">Dolor sic amet</div>
		</div>
		<div class="l-grid-table__cell l-grid-table__cell--main">
			<div style="background-color: #f5f5f5; border: 1px solid #d5d5d5; padding: 15px;">Facilis</div>
		</div>
	</div>

	</div>

	<div class="code">
		<pre>
 			<code class="language-markup">
				<div class="l-grid-table">
					<div class="l-grid-table__cell">
						...
					</div>
					...
				</div>

				<div class="l-grid-table">
					<div class="l-grid-table__cell">
						...
					</div>
					...
					<div class="l-grid-table__cell l-grid-table__cell--main">
						...
					</div>
				</div>
 			</code>
		</pre>
	</div>

</section>
