{% extends 'framework.layout' %}

{% block content %}
    <div class="l-dashboard u-full-height">
        <div class="l-dashboard__aside">
            {% if viewModifier == config('cyclos.internal-names.admin') %}
                {% include 'main.partials.aside.admin' %}
            {% else %}
                {% include 'main.partials.aside.user' %}
            {% endif %}
        </div>
        <div class="l-dashboard__main u-bg-grey u-pd-navbar">
            {% block main %}
            {% endblock %}
        </div>

        {% if userQrCodeImage and  userQrCodePoster %}
            {% include "main.partials.modals.qr-code" with {
                label: 'Votre Qr Code'
            } %}
        {% endif %}
    </div>
{% endblock %}
