// sass-lint:disable-all
// Import
@import "../../../custom-data/current/assets/variables";
@import "../global/colors";
@import "../global/variables";

$button-height: 40px;
$button-shadow: darken($primary, 10%);

// Reset
.sips_cryptogram_table,
.sips_cryptogram_message {
    border: 0;
}

.sips_shop_name_table {
    display: none;
}

body {
    font-family: $font-family-base;
    color: $black;
    font-style: normal;
    font-weight: normal;
}

i {
    font-style: normal;
    font-weight: bold;
}

b,
.span_sips_error_trans_message {
    font-weight: normal;
}

// form
input,
select {
    background-color: $input-bg;
    box-shadow: $shadow-inset $grey30;
    border: 0;
    width: 100%;
    height: $input-height-base;
    line-height: $line-height-base;
    padding-left: calc-rem(10px);
    padding-right: calc-rem(10px);
    transition: background-color $transition, box-shadow $transition;

    &:focus {
        box-shadow: $shadow-inset $secondary;
        background-color: $grey10;
        outline: 0;
    }
}

// Select
select {
    width: 40%;
}

.sips_expiry_month_card_input,
.sips_expiry_year_card_input {

}

// label
.sips_card_number_title,
.sips_expiry_date_card_title {
    display: block;
    color: $grey50;
    font-size: calc-rem($font-size-small);
    font-weight: bold;
    text-transform: uppercase;
    transition: color $transition;
    margin-bottom: 5px;
    margin-top: 20px;
}

#ID_SLASH {
    display: inline-block;
    margin: 0 20px;
}

// Link
.sips_popup_message {
    color: $secondary;
    display: block;
}

// Hr
hr {
    height: 0;
    border: 0;
    border-top: 1px solid #eee;
}

// Btn
.sips_submit_button,
.sips_customer_return_button {
    display: inline-block;
    font-family: $font-family-sans-serif;
    padding: 0 calc-rem(20px);
    height: $button-height;
    width: 250px;
    text-align: center;
    text-transform: uppercase;
    border-radius: $btn-border-radius-base;
    transition: background-color $transition, color $transition;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: $white;
    background-color: $primary;
    // -2 equals to the border*2
    line-height: calc(#{$button-height} - 2px);
    box-shadow: inset 0 -2px 0 $button-shadow;

    &:focus,
    &:hover {
        background-color: transparent;
        color: $primary;
        border: solid 1px $primary;
        box-shadow: none;
    }
}

// Stroke
.sips_customer_return_button {
    color: $primary;
    background-color: transparent;
    border: solid 2px $primary;
    // -4 equals to the border*2
    line-height: calc(#{$button-height} - 4px);
    box-shadow: none;

    &:focus,
    &:hover {
        color: $white;
        background-color: $primary;
    }
}

// Footer
.sips_footer_message {
    font-size: $font-size-small;
    color: $grey50;
}

// Position
.sips_submit_button {
    display: block;
    margin: 20px auto;
}

.sips_card_cvv2_message {
    display: inline-block;
    width: 80%;
}

.sips_cvvkey_mandatory_text_input {
    float: right;
    width: 19%
}

.sips_secure_message img {
    padding-bottom: 10px;
}
